[2017-02-01 18:57] averissimo commented on #536
pps. client_generated_id should be the same number and `segs` should include the content of the unsent message

[2017-02-02 05:47] smkent opened #573 "Typing a URL right before a close parenthesis results in the parenthesis incorrectly being added to the link target"
Frequently I type messages in this format:

Google Hangouts doesn't append the trailing ) to the URL:

![hangouts](https://cloud.githubusercontent.com/assets/2831985/22538460/56b89d10-e8c7-11e6-9759-0d4ff327429f.png)

yakyak does, which usually results in the link target being broken (since it's different than intended):

![yakyak](https://cloud.githubusercontent.com/assets/2831985/22538474/688a96

[2017-02-02 13:03] KusioST opened #574 "Failed to load resource: the server responded with a status of 403 () - To many new lines in message"
I get error when I paste message with more new lines than can be visible in window. For example I make YakYak window very small and paste:

sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg
sssssss
ffffff
gggggg

![yakyak_error2](https://cloud.githubusercontent.com/assets/2

[2017-02-02 18:28] TimmyzBeach opened #575 "Ubuntu 16.10 Tray Icon Issues - Square with X & Unread Message Behavior"
When switching between conversations, the tray icon flashes to a black box with a red "X" in it, and then back to the normal grey icon.

Additionally, the tray icon only illuminates to the green (you have an unread message) color _after_ selecting that unread conversation, which of course in a couple of seconds returns to the normal grey icon after the application determines that the message has n

[2017-02-02 21:34] msphair opened #576 "windows 10 1.4.2 pre-release freezes windows explorer"
when I try to start it, explorer locks up and i have to kill explorer through task manager

[2017-02-02 21:38] msphair commented on #568
@averissimo Cannot test because of https://github.com/yakyak/yakyak/issues/576

[2017-02-03 10:53] averissimo commented on #575
I confirm this. It is an electron issue where changing the trayicon image (even to the same) will have a transitional stage where the black box with the red 'X' appears.

I believe I minimized the number of times this happens in the #567 pull request (by only changing the icon if the state changes)

Things to test before submitting to electron/electron:

- [x] Using a `native image` instead of a p

[2017-02-03 10:54] averissimo commented on #576
crap, v1.4.1 works?

[2017-02-03 14:00] averissimo commented on #576
I can't figure out how this change in font would impact explorer

Link for v1.4.1

https://github.com/yakyak/yakyak/releases/tag/v1.4.1

Link for a custom build of v1.4.2 (with a previous version of electron 1.4.10)

https://github.com/averissimo/yakyak/releases/tag/v1.4.2-win10

[2017-02-03 16:04] averissimo commented on #575
Created issue in electron/electron https://github.com/electron/electron/issues/8582

[2017-02-03 16:44] msphair commented on #576
Whoops. Looks like it was on my end. Smart Screen was preventing it from booting up (and preventing the older executable that I upgraded over from being deleted). Once I killed Smart Screen it booted up fine.

[2017-02-03 16:46] msphair commented on #568
![image](https://cloud.githubusercontent.com/assets/1900880/22599852/23ea814c-e9ed-11e6-9603-c95398a6cba7.png)

Not great. Nothing shows up.

[2017-02-03 18:56] averissimo commented on #568
Can you check the output of the Inspector's console?

plus I gotta get my hands on a windows 8.1 or/and 10 VM :)

[2017-02-03 18:56] averissimo commented on #576
ahh cool!! I'm closing the issue then

[2017-02-03 21:00] AlaaAlShammaa commented on #61
+1 to this. Please please please do this.

[2017-02-04 04:39] axxelh opened #577 "Reading/focusing a message does not dismiss Android"
Using YakYak the read status of messages does not appear synchronized as it does with the Hangouts web client. When a message is focused in the web client it marks the message as read on Android (dismissing the related notification).

YakYak doesn't appear to perform this status sync, leaving the message unread on Android (and presumably other clients).

[2017-02-04 13:38] averissimo commented on #568
Got my hands on a Win10 and saw that nothing really appears. (same with console)

It is a stupid behavior, as the font itself cannot be installed, but electron accepts it (when win7 does not) but as it is not usable it creates an empty palette.

Good news is that windows default font can be used without any problems :)

We just have to find a way to detect the OS and prevent the installation of No

[2017-02-06 01:27] smkent commented on #573
I looked slightly deeper. yakyak seems to pass of URL parsing to [gajus/url-regexp](https://github.com/gajus/url-regexp), which exhibits the same behavior. The URL parsing regex just consumes characters until a whitespace character is found: https://github.com/gajus/url-regexp/blob/master/src/url-regexp.js#L56

I'm not sure what the correct solution is here. url-regexp hasn't been updated since 20

[2017-02-06 10:42] dragos commented on #536
I am using 1.4.2 for the last few days and haven't seen this error yet. I'll post back if it happens again.

[2017-02-06 15:56] averissimo commented on #573
https://github.com/kevva/url-regex seems to do the trick

[2017-02-06 16:25] averissimo commented on #573
@smkent can you see if the implementation is correct?

I also added support for links in messages without protocol. Example: `www.github.com`

[2017-02-06 16:31] averissimo commented on #577
Can't reproduce this with either gmail hangouts client and android.

Conversation is marked as read correctly.

YakYak 1.4.2
Android 15.0.14110477

[2017-02-06 16:34] averissimo commented on #574
that error should not be related with the text, but with a strange profile image of one of your contacts that require authentication.

@KusioST Is this a duplicate of #242 ?

[2017-02-06 16:37] averissimo commented on #536
Current v1.4.2 might have solved this by sending an available signal to hangouts on every connection-related event.

Can't stress enough the 'might', as it would be awesome, but not intended lol

[2017-02-06 17:31] KusioST commented on #574
I can reproduce this error at any moment. When I send shorter message to this person everything is OK. I even don't need to send anything to get error. I just paste sample text and it appears.

[2017-02-07 05:24] droidberg opened #579 "Google Voice"
any chance of getting this to work with google voice?

[2017-02-07 11:49] mguare commented on #422
Sorry but, i have a same "bug" in linux mint 18.1 - KDE 5.8.5

Left click, dont restore the window, only can restore when i do right click and choose "Toggle minimized to tray"

How i can fix it?

[2017-02-07 12:07] HeikoTietze commented on #422
Left click in systray works for 1.4.0 under LXQt but not when I run Plasma (KDE). So it might be not Yakyak what is to blame.

[2017-02-07 12:16] mguare commented on #422
Yes, I guessed it.
Does anyone know how to fix it?  :(

[2017-02-07 12:46] clrg opened #580 "YakYak named 'Electron' in Windows 10 Task Manager"
Problem described in title. :)

Severity: as minor as it gets!

[2017-02-07 12:49] averissimo commented on #422
This is something that is window-manager dependant, I can't use it in Unity, but gnome, xfce, mate works fine :\

[2017-02-07 12:49] averissimo commented on #579
we need a developer that uses Google Voice :)

[2017-02-07 12:51] averissimo commented on #579
if this is a duplicate of #330 please close this issue and continue the discussion there :)

[2017-02-07 12:52] mguare commented on #422
ok ;(

i'll try find that use this software in kde

Thanks for all!!

[2017-02-07 13:33] averissimo commented on #422
If you find a workaround please let us know!!

In unity at least, I think the default action is to right click, regardless os which mouse button you use.

[2017-02-07 13:33] averissimo commented on #580
thanks for reporting!

[2017-02-07 13:46] averissimo commented on #574
This error will always appear. It is a private user image that YakYak cannot retrieve.

We perform the authentication process with the hangouts client _(a library called hangupsjs)_ and don't share the login with the window itself. Which gives 403 when trying to access this type of user images.

[2017-02-07 14:45] alienlike opened #581 "Window stays off screen after transition from dual display to single display remote desktop"
On Windows 10, if I transition from my dual display setup at work to a single display remote desktop connection, I can no longer use YakYak because the window remains off screen.

None of these tricks bring the window back into view:
- `Shift+Right Click` > Move
- `Win+Shift+Arrow`
- Restarting the app

[2017-02-07 16:45] KusioST commented on #574
Ok. So there is nothing what can I do to prevent YakYak crush?

[2017-02-07 16:53] averissimo commented on #574
How does it crash? is there any problems with the UI?

[2017-02-07 16:59] averissimo commented on #568
@msphair can you test this build: https://github.com/averissimo/yakyak/releases/tag/v1.4.2-win10

It should remove the NotoColorEmoji font when using windows and default to 'Segoe UI Emoji'

[2017-02-07 18:44] droidberg commented on #579
thanks for the help @averissimo im not sure aboutt issue #330. ill close this thread.

[2017-02-07 18:44] #579 closed

[2017-02-07 22:34] msphair commented on #568
Looks like it's fixed.

_I'm fine testing stuff out  (don't think I volunteered though, I just started posting issues =P). That being said, I've got my own software to write, so don't be upset when I'm not really responsive._

[2017-02-07 22:38] msphair commented on #576
@averissimo I think this should be re-opened. With the release you sent me in #568 every time I close down YakYak, and then try to re-open it, `SmartScreen` starts up and blocks YakYak from re-opening. I end up having to manually kill `SmartScreen` and then YakYak opens up.

[2017-02-07 22:39] msphair opened #582 "right click on windows 10 taskbar shows "Electron""
![image](https://cloud.githubusercontent.com/assets/1900880/22714855/4a64273e-ed43-11e6-9fe5-7f50ff7d684e.png)

[2017-02-07 22:43] msphair commented on #582
to fix it I needed to "unblock" it: https://www.tenforums.com/tutorials/5357-unblock-file-windows-10-a.html

[2017-02-08 04:15] axxelh commented on #577
I've done more testing, and I think the bug title is correct (Android dismissal), but my original comment is wrong by focusing on read status.

If I focus a conversation in YakYak, I do see the read status indicator on Android change (conversation is no longer bold). However, the associated notification is not dismissed. Focusing the same conversation in the web client both changes the read status

[2017-02-08 07:58] smkent commented on #573
This is definitely an improvement but it's not handling all the cases correctly. I wrote a more detailed comment on #573.

[2017-02-08 10:54] #565 closed

[2017-02-08 10:56] davibe commented on #580
strange. Electron-packager bug ?

[2017-02-08 13:03] averissimo commented on #580
probably need to add some properties (see PR #583)

https://github.com/electron-userland/electron-packager/issues/30

solved with

https://github.com/electron-userland/electron-packager/pull/63

[2017-02-08 13:16] averissimo commented on #580
@clrg can you test current pre-release v1.4.2 it has been updated with PR  #583 that could fix this issue

it can be found: https://github.com/yakyak/yakyak/releases

cheers!

[2017-02-08 14:00] classicboss302 opened #585 "Online presence dot in dark theme is very hard to see"
It needs to stand out more, rather than being black on a dark background. It could be a colorful border around it or making it stand out more on its own.

[2017-02-08 15:20] averissimo commented on #585
@classicboss302 can you propose a pair of colors (inside and border) :)

[2017-02-08 15:21] averissimo commented on #582
v1.4.2 newest build should fix this.

[2017-02-08 15:23] averissimo commented on #581
hummm, this could be as YakYak tries to restore the position of the window and does it off screen

[2017-02-08 15:23] classicboss302 commented on #585
I would lean towards using the original colors as that keeps things consistent and would stand out fairly well. I think a border would only be needed if the color wasn't changed to something that stood out. In that case, a white border would provide contrast and help it stand out.

[2017-02-08 15:25] averissimo commented on #577
Seems "stupid" if they are separate states :)

I'll try to replicate this as soon as I can

[2017-02-08 15:32] averissimo commented on #585
How about

Normal sidebar

![image](https://cloud.githubusercontent.com/assets/211358/22743885/dc1c7662-ee1b-11e6-9cee-c253ee30b138.png)

Hover/Selected conversation

![image](https://cloud.githubusercontent.com/assets/211358/22743901/ee5b137e-ee1b-11e6-9cfa-be6f220d612f.png)

[2017-02-08 15:34] classicboss302 commented on #585
That looks good to me. Much easier to see.

[2017-02-08 15:46] averissimo commented on #585
pull request #586

thanks for reporting :)

[2017-02-08 15:46] #585 closed

[2017-02-08 16:04] andresmargalef commented on #13
+1000

[2017-02-09 21:01] TwisterMc commented on #382
I would love a visual notification that wasn't in the console. Like a little red dot, or banner.

Auto update would be amazing, but some sort of other indicator would be nice too.

[2017-02-10 09:08] NvrBst commented on #167
Heya!

I'm still seeing this issue. I have upgraded to the latest pre-release (v1.4.2 - 9ade528) released 1 day ago.  I confirmed the change you made to set the presence on every _"update:connection"_ is in the code on my system:
[code]
I deleted all the other YakYak's on my system, and ran this one. However, when I leave YakYak in the "Closed to Tray" state, my online status is set to Offline aft

[2017-02-10 15:40] KusioST commented on #574
This is how my chat window start to look after error. My contact list is cut to 5 people and I have big error notification.

![yakyak_crushed_window](https://cloud.githubusercontent.com/assets/25057693/22832758/961f2516-efaf-11e6-8c1e-99ef12d54cb9.jpg)
![yakyak_crushed_window2](https://cloud.githubusercontent.com/assets/25057693/22832687/51297556-efaf-11e6-9c63-0d1e094d49b3.jpg)

[2017-02-10 22:44] pdeslaur commented on #120
I troubleshooted the issue a little bit. The short answer is that those affected should unselect "Show Animated Thumbnai" from the "View -> Conversation List" menu.

The issue affects a very specific subset of users when the "?sz=" parameter is not provided in the image URL.

[2017-02-10 23:20] Japegrape commented on #120
Good enough stop-gap for me, thanks!

~Jk

On Fri, Feb 10, 2017 at 2:44 PM, pdeslaur <notifications@github.com> wrote:

[2017-02-11 03:06] repros commented on #568
hi should I still wait? or what is the situation around emoji in win7 now? thanks

[2017-02-11 16:21] mauricecox opened #588 "No Contact List"
would be nice if there was a contact list. I can't see/search for my friends.

[2017-02-12 19:37] SapphireTactician commented on #557
I'm not using 2FA and I'm still stuck Loading Contacts. I'm using the Linux x86-64 binary with version 1.4.1. If I use the pre-release 1.4.2 then it's stuck on Connecting. Regardless, I haven't had a successful login.

[2017-02-12 20:48] capcla commented on #415
I don't understand. I have created the file fonts.conf in ~/.config/fontconfig/
[code]$ fc-match 'Noto Color Emoji'
DejaVuSans.ttf: "DejaVu Sans" "Book"[/code]
And now?

[2017-02-13 11:10] MTheile opened #589 "Feature Request: Blinking tray icon when new message arrives"
Hi,
I think a new message popup will only shown for a few seconds, but a blinking tray icon will be seen every time. Before I find this great tool I have used Pidgin for Hangout messages and it was able to show a blinking tray icon. Maybe it is possible to implement this feature.

[2017-02-13 15:12] CHoorel opened #590 "Failure to Load"
I have three installations of the most recent build using different accounts and they are all stuck at "loading".  They worked at first but after a few minutes they all went to loading. Different networks in different goegraphic locations as well.

[2017-02-13 16:09] ladafiala opened #591 "FEATURE REQUEST: Video chat and share screen would be great impovement"
I'm using hangouts as my main instant messenger. The present state of application is great, but I used to provide suport to mostly my family via videochat. So I would appreciate if anybody with the needed knowledge could add this feature to this project. Thank you Láďa

[2017-02-13 21:30] veasnalkj opened #592 "show status as online or show last seen timestamp"
Can YakYak report that I am online?  For users using anything other than the new hangouts app, I appear to be offline when I'm using YakYak, although I will still receive messages sent to me.

[2017-02-14 00:46] nerijus opened #593 "URL parsing problem"
I paste URL http://www.maps.lt/map/default.aspx#q=Pociuno%20g, then I click it in yakyak, http://www.maps.lt/map/default.aspx is opened.

[2017-02-14 18:53] a-maze-d opened #594 "Forgetting user names in user list"
For some reason the user list is sometimes forgetting about the users in the list and instead of showing the name of the person just shows `unknown`. Usually there are quite a few names that disappear.

It is possible to get the names back, but for that every single name needs to be clicked on (and the conversation opened). Once that's done the `unknown` name changes in the list back to the correc

[2017-02-14 20:20] CHoorel commented on #590
I had success connecting to accounts that have a long chat history, but the accounts I was trying to use had never chatted with anyone.
As soon as I sent an invite to chat with someone from the browser, YakYak logged in immediately.  On another account that was hanging, the instant someone else sent me a message it logged in.  Must be looking for some sort of connection history to verify hangouts.

[2017-02-15 04:24] cdeneen commented on #61
+1

[2017-02-15 11:43] Sakarias-Longhorn opened #595 "YakYak Breaking when pasting "C# Code""
Hello there,

I tried to send a snippet to my coworker and YakYak "didn't like it"

Here's the text I tried to send :
[code]
![error1](https://cloud.githubusercontent.com/assets/4887819/22972955/43d75c3a-f37c-11e6-8a60-baa8254713e4.PNG)
![error2](https://cloud.githubusercontent.com/assets/4887819/22972954/43d20e42-f37c-11e6-9ab8-59f6c1c12a53.PNG)

[2017-02-15 15:36] cyruscuenca commented on #251
I'm having the same problem with 64 bit Ubuntu 16.04 LTS.
![screenshot from 2017-02-15 07-35-00](https://cloud.githubusercontent.com/assets/18109870/22981504/6a215de4-f351-11e6-8ef0-e177e526f659.png)

[2017-02-15 16:39] #590 closed

[2017-02-15 23:35] cdeneen commented on #13
+1

[2017-02-16 10:53] darrenmcentee commented on #592
Similar to me, some of my contacts show an online status, even though i know they are offline.

[2017-02-16 13:13] TwisterMc commented on #61
This was shared with me. Maybe it helps?

https://github.com/electron-userland/electron-spellchecker
electron-spellchecker is a library to help you implement spellchecking in your Electron applications, as well as handle default right-click Context Menus (since spell checking shows up in them). This library intends to solve the problem of spellchecking in a production-ready, international-friendly

[2017-02-16 17:48] averissimo commented on #61
__Will this require to compile libraries under specific operating systems?__ I believe @monchote had a solution

The problem is that the dictionary libraries needed to be compiled separately in windows / linux / osx (@monchote, correct me if i'm mistaken)

[2017-02-16 17:50] averissimo commented on #592
Different bugs you guys are reporting :)

@veasnalkj yours is probably a duplicate of #167 that I'm attempting to correct in #596

@darrenmcentee i've noticed yours recently with some of my test contacts being online (which haven't been online for more than a week)

[2017-02-16 17:52] averissimo commented on #594
Can you provide a screenshot?

[2017-02-16 17:55] averissimo commented on #595
it's not the code part, it's the number of lines in a single message.

it messes the ui :\

duplicate of #242 (i'm closing this issue in favor of 242)

[2017-02-16 17:55] #595 closed

[2017-02-16 17:57] averissimo commented on #415
@capcla current v1.4.2 pre-release should have out of the box support for colored emoji

If you want to have it systemwide you also need to install noto color emoji from https://github.com/googlei18n/noto-emoji/

[2017-02-16 19:28] averissimo commented on #590
Strange scenario but valid one.

Yakyak also lacks support to accept invites I think :\

[2017-02-16 19:53] averissimo commented on #593
this is a bad conversion of the google redirect to a link, it seems to be scrapping the `#` portion

[2017-02-16 19:55] averissimo commented on #557
@SapphireTactician can you try starting with the console `./yakyak` and screenshot it?

Also open the inspector `ctrl + alt + i` and screenshot it

thanks

[2017-02-16 21:06] veasnalkj commented on #592
Thank you!  Yes, you’re correct.  Mine appears to be the same as #167.  Also, thanks for the response.  Just found YakYak about two weeks ago and I’m really enjoying using it.  Great product.

Lucas

[2017-02-17 00:40] a-maze-d commented on #594
I tried that while creating the ticket... but I only got an error back. So here is a picture (I took the part that does not contain sensitive information)
As you can see it impacts both the Favorite and the Recent list

Let me know if you need any more information

Cheers
Maze

On 16 February 2017 at 09:52:49 -08:00, André Veríssimo <notifications@github.com> wrote:

[2017-02-17 08:54] monchote commented on #61
@averissimo That was the main issue, indeed.

[2017-02-17 15:40] averissimo commented on #594
Can you upload the screenshot in github.com? _when doing it via email it does not show it_

![image](https://cloud.githubusercontent.com/assets/211358/23071791/71d141b2-f527-11e6-9803-98bc5bb0a285.png)

[2017-02-17 16:52] a-maze-d commented on #594
![screen shot 2017-02-16 at 16 38 25](https://cloud.githubusercontent.com/assets/988563/23074663/6778a13a-f4ee-11e6-91c3-eebc0c09a094.png)

[2017-02-17 16:54] a-maze-d commented on #594
System is MacOS (10.12.2), I have the impression that it happens especially after sleep/hibernate/restart/...

[2017-02-17 16:59] averissimo commented on #594
can you open the inspector (ctrl + alt + i) and screenshot the console tab?

[2017-02-17 17:21] a-maze-d commented on #594
I think a screenshot is overkill: It only states:
[code]

As you probably have realized from the screenshot, I have disabled all visual gimmicks in the name list, i.e. only the name is shown

[2017-02-17 17:28] averissimo commented on #594
Lol ok, are these your options?

![image](https://cloud.githubusercontent.com/assets/211358/23075943/51d22638-f536-11e6-9db3-2601dd147c10.png)

I'll try to test on the next couple of days, but if it is dependant on Mac OS then it's @davibe territory :p

[2017-02-18 17:06] draeath opened #597 "Windows 8.1 /w 1.4.2 - volume mixer icon oversized"
As you can see in this screenshot, the icon is rendered oversize in the volume mixer, leading to some... interesting effects when YakYak is running.

![2017-02-18_1205](https://cloud.githubusercontent.com/assets/987449/23095118/a5b129ec-f5d2-11e6-9165-cee0cbfd19f0.png)

[2017-02-18 19:59] wjcarpenter commented on #478
I don't know about other OSs, but most modern flavors of Linux desktops let you set your own list of auto-start applications. I use that together with the "start minimized to tray" option (right click the tray icon to find that).

[2017-02-18 20:09] wjcarpenter commented on #442
I agree. The only ways I have found to do it so far are pretty clumsy. (Maybe I just haven't found the non-clumsy way.) Cut-and-paste from giphy.com only gets the still image. To get the animation, I have to download to a file, and then drag that file into yakyak.

Anyone know any easier way?

[2017-02-18 20:13] wjcarpenter commented on #402
WFM on Ubuntu 12.04 with mate desktop. Normal inidividual gmail account.

(If anyone is still broken, have you tried using an application password that Google offers as an alternative for applications that don't support MFA? Not as good as a working MFA, but something.)

[2017-02-18 20:25] wjcarpenter commented on #330
I confirm the behavior for a new SMS. However, if I send an SMS from a different Hangouts client, that conversation shows up in yakyak, and replies from yakyak seem to go back as expected. (I say "seems" because it's possible I'm being fooled by the 1 million combinations of GV, SMS, and Hangouts that I have lashed together.)

[2017-02-18 20:27] bwiernik commented on #330
SMS Replies don't send for me.

[2017-02-18 21:14] wjcarpenter opened #599 "screen clipper"
It would be quite handy if there were some button (or whatever) that would let you sweep out a rectangular area of the screen and paste it into the conversation. I have this in another IM tool, and it is amazingly handy.

[2017-02-19 19:50] SapphireTactician commented on #557
@averissimo My apologies for the late reply. These were taken with the pre-built binary of 1.4.1. Two screenshots of the terminal output, and the inspector output as instructed.

![2017-02-19--144421_1600x900](https://cloud.githubusercontent.com/assets/24427487/23105790/c3bc17ae-f6b2-11e6-8cd9-89663a04c044.png)
![2017-02-19--144434_1600x900](https://cloud.githubusercontent.com/assets/24427487/2310

[2017-02-20 09:46] a-maze-d commented on #594
yes those are my options:
![screen shot 2017-02-20 at 01 44 09](https://cloud.githubusercontent.com/assets/988563/23119755/57af5bc8-f70e-11e6-95ba-a81f43a34167.png)

[2017-02-20 13:11] davibe commented on #581
we should check the bounds of the window are inside the bounds of the screen before restoring.

[2017-02-20 13:26] #581 closed

[2017-02-20 14:42] mcanonic opened #600 "Notification problem with systray"
Hi,
in fedora 25 with classic Gnome, when I receive a new message I can see the pop-up notification and the systray icon becomes green. The problem is that in gnome classic, the systray did not show up even when the systray icon is green,
In the same situation, with pidgin, the systray icon has a blinking icon and the systray is not hiddden.
Last but not least: the icon in systray is really really

[2017-02-20 15:44] stdavis commented on #402
I just tried again this morning and I was able to log in with my two-step google apps account! Not sure what has changed on our end or with the app.

[2017-02-21 15:51] brendanlong opened #601 "Consider using electron-builder for packaging"
I found this after finishing my rpm/deb pull request. [electron-builder](https://github.com/electron-userland/electron-builder) can generate a bunch of package formats (including all of them that you currently generate) with significantly less code than you're using now.

It also automates signing and uploading releases, if that's useful to you.

[2017-02-21 16:12] brendanlong commented on #542
Seems like a problem with Electron: https://github.com/electron/electron/issues/6344

[2017-02-21 16:14] gdamjan commented on #542
I did comment on that issue there. But at the same time it doesn't happen in Atom using the same Electron.

[2017-02-21 17:33] seanfrisbey opened #602 "Emojis Showing Up In Other Conversation Threads"
This is quite strange.  I am seeing emojis that I have sent in one conversation appear in another conversation.  The string of heart emoji in the screenshot was sent several days ago and is for some reason showing up in every conversation today.

![untitled](https://cloud.githubusercontent.com/assets/19792336/23176621/bd85aeb0-f818-11e6-890f-5738db1b9fc4.png)

This happens often, actually.  Like I

[2017-02-21 19:30] averissimo commented on #602
What is your Operating System?

This is something that has been reported in the past in Windows.

I believe that has been fixed with v1.4.2 (pre-release) and emojis are still available from Windows 8.1 and above

Below that version they are appearing in black and white (until a fix is performed)

[2017-02-21 19:33] averissimo commented on #601
That would be awesome!!

[2017-02-21 19:33] averissimo commented on #600
Can you provide screenshots?

What version of gnome are you using?

[2017-02-21 19:34] averissimo commented on #597
lol

[2017-02-21 19:44] seanfrisbey commented on #602
I'm on Windows 10 x64, Build 10586, using version 1.4.1.  I'll check out the pre-release.

[2017-02-21 19:57] seanfrisbey commented on #602
That did it ;) Thanks!

[2017-02-21 20:04] averissimo commented on #593
This should be fixed by pull request #604

Nice catch!

[2017-02-21 20:04] #593 closed

[2017-02-21 20:06] averissimo commented on #402
@stdavis I don't believe we changed anything that is related

[2017-02-21 20:09] averissimo commented on #557
try to replace the first two screenshots and censor the link that starts with `https://accounts...` (just to be safe)

I'll try to create a more verbose version of yakyak to see if we can find out why the screen does not change (as you are connected)

[2017-02-21 20:10] averissimo commented on #557
but before doing that can you try to remove the yakyak folder as @davibe suggested? `~/.config/yakyak`

[2017-02-21 21:03] repros commented on #568
still nothing for win7?

[2017-02-21 22:43] SapphireTactician commented on #557
I've purged the config folder multiple times on my own when trying to troubleshoot it. No dice :(

[2017-02-22 00:06] averissimo commented on #568
nop, sorry

[2017-02-22 15:35] averissimo commented on #592
@darrenmcentee this should be fixed in latests v1.4.2 pre-release, please try it.

Closing this issue as @veasnalkj is a duplicate of #167

[2017-02-22 15:35] #592 closed

[2017-02-22 19:17] averissimo commented on #577
Can't reproduce. Did I miss any step on my test?

__System:__

- Open private browser with test account
- Open YakYak with main account
- Have main account setup in an android (4.4.2 -- Wiko)

__What I've tested:__

- Sent message from test account to main
- Unlocked phone to see if a notification was appearing
  - It was!
- Focused on conversation in YakYak
- Unlocked phone again to see that noti

[2017-02-22 19:19] averissimo commented on #582
Does it still appear as Electron with latest build of 1.4.2 prerelease?

[2017-02-22 19:19] averissimo commented on #580
@clrg can you test current pre-release v1.4.2?

[2017-02-22 19:22] averissimo commented on #547
can't reproduce problem with initials, maybe it wasn't real

[2017-02-22 19:22] #547 closed

[2017-02-22 19:58] clrg commented on #580
It works properly in terms of it appears in the Task Manager as YakYak. However now I'm getting a random shortcut 'toast' appearing in my start menu which seems to be from the YakYak folder.

[2017-02-22 20:24] ruzz311 commented on #61
I have only been using yakyak for a little bit on mac and I used to think I could live without some spell-checking (either via node or leveraging the system).

Wouldn't support for some be better than none?  If it's a problem for some systems they deserve more planning rather than weigh down obtainable solutions.  Are there docker containers we could make that we could leverage for builds so nativ

[2017-02-22 20:30] austin-guevara opened #605 "UI Improvements ["YakYak 2.0"]"
Hi, fellow Yak-ers!

I'd say it's high time to iterate on the UI design for YakYak (not to mention update a few UX interactions that are highly counter-intuitive).

I opened this thread as a starting point for myself (and others) to share some new design concepts. This won't look like a major overhaul but will begin to develop a new design language for YakYak that moves beyond just "imitating" Han

[2017-02-22 21:36] averissimo commented on #580
It is something that has been reported in the past and is related to notifications (a fallback notification system)

[2017-02-23 16:57] ozbarshalom opened #606 "New Language - Hebrew"
Hello,
This issue is to mention a new translate for YakYak - Hebrew

[2017-02-23 16:59] ozbarshalom commented on #606
I have already translated YakYak to Hebrew, which branch should I push this to ?

[2017-02-24 00:54] averissimo commented on #606
master!

[2017-02-24 09:07] mcanonic commented on #600
![screenshot from 2017-02-24 10-04-34](https://cloud.githubusercontent.com/assets/4497546/23297184/ccefdc74-fa78-11e6-929b-2adb7a7860bc.png)
In the attachment you can see the difference between pidgin icon and yakyak icon: it is almost invisible. I use the last version of gnome classic.
I think that here the problem is that my monitor is HiDPI screen, so if you use fixed size in pixel, it could be

[2017-02-24 12:20] averissimo commented on #600
Lol great catch!! I always wondered why icon was a bit smaller when testing in gnome :)

fixed in pull request #607

(closing)

[2017-02-24 12:20] #600 closed

[2017-02-24 12:30] ozbarshalom commented on #606
I don`t have any permissions to push to Master branch..

[2017-02-24 12:52] classicboss302 commented on #582
I was seeing the same thing, and the latest build no longer shows Electron.

[2017-02-24 13:38] averissimo commented on #582
thanks @classicboss302 for the feedback, closing

[2017-02-24 13:38] #582 closed

[2017-02-24 13:41] #597 closed

[2017-02-24 13:47] averissimo commented on #597
This has been fixed in newest build of 1.4.2

I've tested in Windows 7, please let us know if it is solved

ps. using 32px icon in Windows (we were previously using 512px)

[2017-02-24 13:51] averissimo commented on #606
Ohhh sorry I misread your question.

You don't have permission to any branch, __you should create a pull request__ against master

See section "Creating the pull request" of  [this article](https://help.github.com/articles/creating-a-pull-request/#creating-the-pull-request) if you don't know how to.

[2017-02-24 13:51] averissimo commented on #600
@mcanonic test latest build of 1.4.2 to confirm that it has been fixed.

Thanks

[2017-02-24 14:15] #606 closed

[2017-02-24 14:16] averissimo commented on #605
looking forward for the mockups and discussion!! :D

[2017-02-24 14:45] mcanonic commented on #600
Yes it better, now the problem is that you are not able to see when a
new messagge arrived.

I can see the popup, but then it disappears and you are not able to
notice that it is an unread message.

M

On 02/24/2017 02:51 PM, André Veríssimo wrote:

[2017-02-24 15:11] averissimo commented on #600
The icon turns green when there are unread messages, I guess the problem is that the tray is not always visible in gnome.

How does that work in Gnome with other messaging apps, or other type, that requires user-attention?

[2017-02-24 15:12] averissimo commented on #600
Unread message

![image](https://cloud.githubusercontent.com/assets/211358/23308588/92d740b0-faa3-11e6-82f1-1832c1047c62.png)

Read message

![image](https://cloud.githubusercontent.com/assets/211358/23308611/9e17bb3a-faa3-11e6-85d1-37bb786f5ac3.png)

[2017-02-24 15:25] mcanonic commented on #600
Yes, you are right but in pidgin you are able to be notified about new
message since:

- it rises up the app window (it is a user option that you can switch
on/off)

- the title bar is blinking so if you have minimized the app window, you
can see the window title blinking (maybe you can just add an "*" in the
title bar. The best would be to have the possibility to choose between
"blinking title wi

[2017-02-25 22:40] sulbig opened #610 "Task Tray Icon Tiny on Linux Mint 18"
As the title suggests, the task tray icon for YakYak is tiny on Linux Mint 18 (see attached screenshot). Is there a way I can change the icon?

![tiny_yakyak_icon_on_linux_mint_18](https://cloud.githubusercontent.com/assets/20894156/23335324/f508ffdc-fb78-11e6-83c6-ae02897c3b02.png)

[2017-02-25 23:03] sulbig commented on #610
I forgot to mention in the original comment that I am using version 1.4.1 on Linux Mint 18.1 (Cinnamon).

I know nothing about Electron apps, but I think I just figured it out. I had to change lines 23 and 24 of yakyak-linux-ia32/resources/app/ui/views/trayicon.js...

from:
[code]

to:
[code]

I then quit and relaunched the application, and the resulting read and unread icons match the size of my

[2017-02-27 15:25] mcanonic opened #611 "online status in Pidgin (or other XMPP based apps)"
Hi,
my buddies from pidgin are not able to see me with "online" status. Are you going to fix it?
Thanks,
Massimo

[2017-02-27 20:36] averissimo commented on #400
@kli0rf @Arithmomaniac can you confirm that this is still happening?

@davibe made a correction in windows that should have solved this problem.

[2017-02-27 20:37] averissimo commented on #305
@ruzihao @aexmachina do you still experience this?

[2017-02-27 20:42] averissimo commented on #610
@sulbig great debugging, that's the exact fix!

This was reported a few days ago in #600 and I guess we already implement your fix in version 1.4.2 pre-release (or master branch)

We used a slightly bigger image than the @2x, __can you confirm that the solution works in Mint?__ (hopefully it won't appear huge :) )

ps. that's how you start understanding YakYak if you ever feel like helping out we

[2017-02-27 20:53] averissimo commented on #611
Hey,

Contacts are showing as online in google official hangouts clients and non-official. I think pidgin still uses the old and great XMPP before google switched to a proprietary protocol

I tried using last week, but could not login via pidgin, I guess we'll need a developer that can use XMPP and is able to figure this out

----

Some notes:

I guess the first step would be to use [hangups](http

[2017-02-27 20:54] averissimo commented on #580
closing as the issue is solved

[2017-02-27 20:54] #580 closed

[2017-02-28 04:14] axxelh commented on #577
Thanks for testing, that's the basic sequence I'm using where it doesn't work, with a few caveats:

- I'm not unlocking the phone. I have Hangouts notifications set to show on the lockscreen, where they will dismiss when read in the web client (but not YakYak). That said, unlocking the phone has no effect for me on dismissing the notification.

- Today paying close attention I did see some notific

[2017-02-28 11:15] kli0rf commented on #400
@averissimo i've just unpacked version 1.4.2 (released by You 4 days ago). Looks ok so far. Gonna let You know if that happens again. Thank You!

[2017-02-28 16:47] kli0rf commented on #400
@averissimo btw, now all emoticons are colourless. I'm not sure if that's intented though... Just sayin'. :)

[2017-02-28 20:16] Arithmomaniac commented on #400
Works for me now! And mine have color. Thanks!

[2017-02-28 21:21] kli0rf commented on #400
My bad, i thought yakyak's using it's own integrated emoticons... Just noticed it's an emoji font we're talking about, so colourless emojis are completely windows 7 problem. Please ignore my previous post.

[2017-03-01 02:33] sulbig commented on #610
I just downloaded and tried the current master (thank you for the excellent README.md!). It appears the task tray icon is slightly larger than the rest (see screenshot below). I believe the `@2x` icons were sized better on my computer.

![yakyak-big-icon-on-linux-mint-18](https://cloud.githubusercontent.com/assets/20894156/23443228/f73efffa-fdf2-11e6-901d-ad03b637c615.png)

I saw where @mcanonic m

[2017-03-01 03:00] PSiAU opened #612 "YakYak Helper high CPU usage"
The YakYak Helper process is using around 10% CPU when the window is active and someone on your Conversations list has an animated gif. It's enough to be a battery draining issue.
YakYak 1.4.2 on macOS 10.12.3

[2017-03-01 14:52] davibe commented on #612
I remember you could turn animated gif off.

View > Conversation List > Show Aniamted..

Does that work ?

[2017-03-01 16:19] averissimo commented on #610
Do you have git skills?

try my branch called fix-trayicon-border and see how it looks

[code]

[2017-03-01 16:23] averissimo commented on #400
Yeah, that is something we probably have to tackle before releasing 1.4.2

The way it was being done injected snippets in weird places and we removed and defaulted to windows emoji font (that is colorless)

anyway @kli0rf that is being tracked in #568

I'm closing this issue as it has been corrected

[2017-03-01 16:23] #400 closed

[2017-03-01 16:23] averissimo commented on #400
btw, major props to @davibe that corrected this bug! :)

[2017-03-01 16:29] averissimo commented on #577
I believe internally the read status is not per message, once the conversation is focused we say that to google and they return a last_read_timestamp

So I should test:

- Send several messages from test account to main
- See in phone if there is a new notification
- Focused on conversation in YakYak
- See in phone (unlocked stage) to see that notification disappeared

(do same test while yakyak c

[2017-03-01 16:30] averissimo commented on #611
@mcanonic I changed the title a bit to reflect the contents..

I hope it's ok, if not please change it back or to a more correct description of the problem

[2017-03-01 16:35] mcanonic commented on #611
The status is ok since even my buddies with empathy see me offline or with a weird status.

[2017-03-01 17:08] Arithmomaniac commented on #400
What commit fixed it?

[2017-03-01 18:26] averissimo commented on #400
I think this one: ec1c6b41583e712d3c2316f9812f7c832feeca34

[2017-03-02 16:54] natecox commented on #177
Confirming @hadees sentiments here. I love the idea of this client, but I can't currently see any of the names of my contacts I'm talking to via project fi.

![image](https://cloud.githubusercontent.com/assets/2782695/23517630/c76e0a1c-ff25-11e6-97ec-461069ac4910.png)

[2017-03-02 23:43] austin-guevara commented on #605
Hey again! Here are a few screens that show the updated UI. Many of these updates are not far from how things are in the current build, yet they would make for massive improvements. Take a look and leave some feedback below!

**Launch Screen**
See [this article](https://cyrilmottier.com/2012/05/03/splash-screens-are-evil-dont-use-them/) for an explanation of why we should do this. The example is a

[2017-03-03 15:47] stdavis opened #613 "Feature Request: Initialize new conversation using keyboard shortcuts"
I'd love to be able to start new conversations without having to use the mouse. Something like:
1. `cmd+n` would open the start new conversation view.
1. The focus should be placed in a search box where I can begin typing the name(s) of my contact(s). `return` should add them to the conversation.
1. `cmd+return` would open the new conversation and place focus in the message box to allow me to type

[2017-03-03 16:27] axxelh commented on #577
That sounds right, except I'd like to see you check with the phone locked and the notification on the lockscreen. I'm suspicious that the dismissal happens differently when Hangouts is in the foreground on the unlocked phone.

Also, is there any log I can capture here that might make the timing more clear? I'm happy to debug, just unsure where to start.

[2017-03-03 16:36] jboyens commented on #13
For those that continue to struggle, on Windows and Linux the config file storage path can be changed via an environment variable.

On Linux the variable is: ```$XDG_CONFIG_HOME```. On Windows it's ```%APPDATA%```.

So create two scripts:

One that references your "default" account
``` /usr/bin/electron /usr/share/yakyak/app ```

The other that uses the environment variable to redirect the config

[2017-03-06 07:35] Hongbo-Miao opened #615 "Unexpected notification when call others"
#When I try to call others using other devices. YakYak shows unexpected notification.
Check the screenshot. Note "Hongbo Miao" is me, and I am calling others.

![image](https://cloud.githubusercontent.com/assets/3375461/23600669/afd18d28-0215-11e7-9a7f-4e39bd59aedd.png)

[2017-03-07 10:07] kirill133 commented on #557
Similar behavior in my case - stack on "Connecting..." but when I've added one contact - connected successfully. So maybe it just hangs when new google account is used without any hangouts chats

[2017-03-08 01:02] natecox commented on #90
I'm having this issue now as well. Is this on the radar for being fixed?

[2017-03-08 11:41] Pharmasolin opened #618 "Add Ukrainian translation for yakyak"
Add Ukrainian translation for yakyak #616

[2017-03-08 20:23] austin-guevara commented on #605
@ariu any desire to take a stab at this one? 😉

[2017-03-08 20:26] amoeba commented on #536
New YakYak user and I'm seeing this. However, I am only seeing this when talking to a person using a corporate Google account (Google Apps for Domains?) and not someone using Hangouts via GMail. I didn't see anywhere in the readme about this not being support so hopefully I didn't miss that. My message sent via YakYak appear gray in YakYak and _do not_ show up ever in the GMail Hangouts interface.

[2017-03-09 15:53] TauZero opened #619 "Cannot see stickers sent by Chrome client"
YakYak 1.4.2, prebuilt binary

When receiving a sticker sent by someone using the standard Chrome client, only a small empty line is displayed. [example](http://i.imgur.com/TZ2UUsw.png)

If that user follows up immediately with a text comment, the empty line seems to disappear (i.e. there is no extra empty line). If I respond first, then the empty line remains.

[2017-03-09 16:53] cron410 opened #620 "Option to disable Inline Pictures"
This feature would be very useful for when using Yakyak in the workplace.

[2017-03-10 17:30] headius opened #621 "YakYak.desktop example on wiki is not valid"
I have successfully installed YakYak and I am now using it as my primary Hangouts client. Kudos on a great, simple, standalone app.

However I ran into trouble with the example YakYak.desktop file on the wiki at https://github.com/yakyak/yakyak/wiki

* The "Add" line is not valid .desktop syntax and until I removed that the file was not valid. I think this was an attempt to say "add these lines be

[2017-03-10 17:31] headius commented on #621
Oh, other issue: the exec line in the example is wrong and needs to be a full path to the yakyak executable.

[2017-03-10 17:32] headius commented on #621
Revised YakYak.desktop with a useful Comment:

[code]

[2017-03-10 19:42] robpetrin commented on #536
I'm seeing this, and it's preventing me from using YakYak.

As others have stated, I receive the SMS I sent from YakYak on all of my devices, but the recipient does not. Interestingly, when I click "View details" on my phone, it shows ME as the recipient, not the person I'm in the conversation with. This would explain why the text shows up on my devices, but the recipient doesn't report receiving

[2017-03-11 05:26] DavidJSmart opened #622 "Win 32 version not working?"
Hi, I've downloaded 1.4.2, 1.4.1 and 1.4.0 of YakYak onto my wife's XP computer.  I downloaded the win32-ia32.zip version, which I assume should be OK for XP.  Windows reports that it's not a 32-bit program.  I also tried the win32-x64.zip version, with the same result.

Should YakYak work with Windows XP?

[2017-03-11 05:29] DavidJSmart opened #623 "Archived hangouts are not hidden"
I have two archived hangouts.  These are not shown on any of the Google Hangouts programs/apps (except when I look for archived hangouts).  However, they are shown in YakYak and I can't find a way of hiding the archived groups.

Am I missing something?

[2017-03-11 19:52] cbanack commented on #104
Just installed YakYak.   This issue, while certainly not a showstopper, was the only part of the experience that  gave me pause.   If it's an easy fix, would probably be worth it.

[2017-03-12 11:12] davibe commented on #605
@austin-guevara you are good.

[2017-03-13 01:42] wjcarpenter opened #624 "what is the user-agent string?"
This is mostly a matter of curiosity. I was checking my Google account security settings and was surprised to find recent activity from an iOS device (I have no iOS devices). I'm pretty sure it's yakyak that triggers that. It claims to be Chrome 53.x. I poked around the sources a little bit but didn't turn up any info.

[2017-03-13 11:50] chrisbudden opened #625 "Application crash on startup (MacOS)"
I had an issue occur with my Mac last week where when I resumed from sleep, my system clock had advanced to the year 2040. Once I set it back to sync with network time (I don't know why it happened nor has it happened again), Yakyak failed to open and showed the following error.

`Uncaught Exception:
SyntaxError: Unexpected string in JSON at position 696
    at loadFromFile (/private/var/folders/h

[2017-03-14 12:41] chrisbudden commented on #625
To follow up -

I have deleted the folder /Users/USERNAME/Library/Application Support/yakyak and re-started the application which let me login again.

I have the old folder in its previous state if its of any interest for debugging.

[2017-03-14 13:44] davibe commented on #90
@natecox There is no radar, just issues and pull requests. I don't see any PR about this so for now it's a no

[2017-03-14 13:46] davibe commented on #624
yes, yakyak fakes a iOS client when it connects. This is an unofficial client so it does dirty things to get the job done.

[2017-03-14 13:46] #624 closed

[2017-03-14 13:47] davibe commented on #623
we don't have a way to reveal archived conversations so they just remain there for the moment. Feel free to improve this an submit a pull request

[2017-03-14 13:47] #623 closed

[2017-03-14 13:51] davibe commented on #621
i updated the wiki trusting you 100%

[2017-03-14 13:51] #621 closed

[2017-03-14 14:01] classicboss302 opened #626 "Messages not being received"
Sometimes while chatting with somebody, they will send a message that I get on my phone, but not in YakYak. Restarting YakYak will show the messages in the history.

I am using the latest 1.4.2 client on Windows 10.

[2017-03-14 14:16] infogulch opened #627 "Windows: Google Notification for "New sign-in from Google Hangouts on *iOS*""
I just ran and singed into YakYak (yakyak-1.4.2-win32-x64) for Windows (Windows 10 Pro Version 10.0.14393 Build 14393 x64) and subsequently got an email from Google about a new sign in. Which is good and exactly what I expected.

What I didn't expect was Google to say that the sign in came from *iOS*:
![image](https://cloud.githubusercontent.com/assets/133882/23904591/6ca49e96-0896-11e7-8ea7-32781

[2017-03-14 15:50] davibe commented on #626
not all connected clients are updated at the same time. It's possible that if you waited a bit longer the message was going to arrive.

If not then maybe there was a connection problem but either way it's difficult to track it down without more information or a reliable way to reproduce it.

[2017-03-14 15:50] #626 closed

[2017-03-14 15:51] davibe commented on #627
closin as duplicate of https://github.com/yakyak/yakyak/issues/104

[2017-03-14 15:51] #627 closed

[2017-03-14 18:10] averissimo commented on #618
merged!

[2017-03-14 18:10] #618 closed

[2017-03-14 18:12] averissimo commented on #619
I confirm this, thanks for reporting!

[2017-03-14 18:29] averissimo commented on #557
@kirill133 humm seems plausible and I think someone reported before, although I cannot pinpoint the issue.

Can you create a new issue with this particular bug (new account without any contacts)

[2017-03-14 18:30] averissimo commented on #557
@SapphireTactician sorry for not replying but I've been off "yakyak" since my last comment, I'm going to think this through to see how we're going to solve this problem :)

[2017-03-14 18:35] averissimo commented on #622
YakYak does not support Windows XP

Our underlying framework only support Windows 7 and up, see response here: https://github.com/electron/electron/issues/5676#issuecomment-221249905

[2017-03-14 18:35] #622 closed

[2017-03-14 18:39] averissimo commented on #536
@robpetrin this sms related issue is being tracked in a different issue #330

I believe with the client that we're using, the messages are sent to a conversation (id) and not to a specific recipient.

Can you post your comment there? It might be useful when someone picks the sms stuff

@amoeba I'll try testing this later with a google apps account that I have

[2017-03-14 18:41] averissimo commented on #625
wow this is some crazy stuff. @davibe macos is your thing 😛

[2017-03-14 18:44] averissimo commented on #621
yakyak does not install to any specific directory in linux if I'm not mistaken, shouldn't it be something like:

?

what are you using to install?

[code]

[2017-03-14 18:47] #515 closed

[2017-03-14 21:49] DavidJSmart commented on #623
Thanks for the reply.  I'll do that.

[2017-03-14 21:56] DavidJSmart commented on #622
Thanks for the response.  One more reason I need to get my wife's new PC up and running.  (It's sitting there.  I'm just being lazy.  :-)

[2017-03-14 23:59] headius commented on #621
@averissimo I did not see any canonical way to install yakyak until after I had just grabbed a prebuilt Linux tarball. I used the wiki to get it manually installed as a GNOME app and ran into this issue.

I installed yakyak under my applications dir just because I didn't know a better place. If there's a canonical place, that should be used in the .desktop file for packages, of course.

[2017-03-15 00:02] headius commented on #621
@davibe @averissimo I generified the paths in the wiki a bit.

[2017-03-15 07:15] davibe commented on #625
The cookiestore file was corrupted. No idea how it got corrupted. @chrisbudden it's very strange that your mac clock changed like that. Something may be wrong in your mac

[2017-03-15 13:40] averissimo commented on #621
yeah i understand your dilema, many places to place it `/opt/yakyak` or `/usr/local/yakyak` or `/usr/local/lib/yakyak`

Your changes seems great!

If we are able to switch our build framework to output deb, rpm, etc.. then this would become much better. There's a ticket open with that, hope someone picks it up!

[2017-03-15 13:50] averissimo commented on #622
lolol!! I have the same problem with a Vista computer, hope to get some motivation soon

[2017-03-15 15:16] LuizJa commented on #560
Same here with versión 1.4.2, can't log out either.

[2017-03-15 17:53] averissimo commented on #560
what happens when you loggout?

for me the window is closed and a login window appears. If I quit and open yakyak again the same login window appears.

![outs9zhs6fyq1](https://cloud.githubusercontent.com/assets/211358/23963022/db09027a-09a7-11e7-9c95-b950a9235730.gif)

@LuizJa @uman242 can you open Yakyak via the command line and screenshot it after logout

Something like this:

![image](https://

[2017-03-15 18:13] SmartCatalog commented on #104
I went through a moment of panic. Very disconcerting.

[2017-03-16 11:15] Beaupedia commented on #619
This one has been driving me a little crazy, the total loss of stickers. Thanks for reporting.

[2017-03-16 20:48] gordoncasey commented on #625
@chrisbudden, exact same error here. Not sure, but could 10.12.4 Public Beta 6, upgrading to 7 to fix (fingers crossed). @davibe, do you have a workaround or steps to resolve?

[2017-03-16 22:44] LuizJa commented on #560
![2017-03-16_15h29_38](https://cloud.githubusercontent.com/assets/629237/24021667/3f31d288-0a5f-11e7-9c21-47e421ae6d10.gif)
This is what happen, i don't know if this helps you.

[2017-03-17 07:07] uman242 commented on #560
it looks like this, after logout I get "WARN no SAPISID cookie"
![screenshot - 2017-03-17 08_05_41](https://cloud.githubusercontent.com/assets/22954424/24032526/c5b69242-0ae8-11e7-87df-4c8b5b71b369.png)

[2017-03-17 13:34] averissimo commented on #560
@LuizJa the idea was to launch from command line and to look at the messages as @uman242 shows.

@uman242 only those, no exception being thrown? :\

are you guys using a normal gmail.com account?

[2017-03-17 13:57] uman242 commented on #560
yes, only this. What do you mean normal? I think it's normal. I can do the same at home, if there's something more, I will put it here.

[2017-03-17 13:57] jonmartin345 commented on #232
Just wanted to chime in, I'm a Mac user, and would love this feature to become available.

My knowledge of web/app development is limited, but I'm available to test/debug if it would help.

Thanks for your awesome work, love the app.

[2017-03-17 14:55] ajhodges commented on #311
+1

[2017-03-17 15:19] #478 closed

[2017-03-17 15:57] davibe commented on #625
no

[2017-03-17 16:24] LuizJa commented on #560
Maybe is because is windows doesn't do it the same way but it shows nothing as you can see in the gif above.
The account is a GSuite account with 2 step verification.

[2017-03-17 20:29] Pharmasolin opened #632 "Update Ukrainian translation with new entry"
New entry was added to en.json.template:

- "startup": "Open on Startup"

This #631 pull request adds translation for this string in Ukrainian version.

[2017-03-18 00:01] jadengore commented on #249
I think we are sticking with new, closing this issue.

[2017-03-18 00:01] #249 closed

[2017-03-18 03:48] SapphireTactician commented on #557
@kirill133 I originally had no contacts, but then figured that might be the issue as well. I added a gmail user to my address book via Google Contacts but no change. I then logged into Hangouts via my browser, purged everything from yakyak and tried once more, no change.

[2017-03-19 01:45] lugg0 opened #633 "Video from iPhone"
Hi team,

When viewing a chat from another user that has posted an iPhone video the application simply shows an image of the video preview with play button. When selected it simply loads it as an image in popup, rather than loading video.

Hope this helps! Love the application.

Cheers!

[2017-03-19 16:54] DrDMoney commented on #81
It would be great if you could just rename the contacts inside the add if importing from google voice would be too difficult.

[2017-03-20 13:28] kirill133 commented on #557
@SapphireTactician Yes, sorry, I was using the wrong word - it actually started to show main window only after adding one conversation (from my another gmail account), not contact.

[2017-03-21 17:54] skovmand commented on #104
I had the same issue. I was very worried about it for several hours, couldn't figure out what that ios device was and how it got into my account. This should be fixed or be made very explicit.

[2017-03-21 18:06] mitchwillman opened #634 "Toggle accounts"
It would be nice to be able to toggle between different google accounts.

[2017-03-22 06:55] davibe commented on #634
If you expect multiple accounts to be connected at the same time (i.e. receiving notification of account 1 while using account 2) this is a duplicate of #13

If you suggest to have completely separated accounts and logging in one by one this could be easier to do but I am not sure how much appealing it would be

[2017-03-22 16:23] stealthgyro commented on #588
I would like to add as a google fi user, I have a bunch of phone numbers for SMS instead of contact names.

[2017-03-22 18:28] tiagonunocosta opened #635 "MAC - Missing Spelling when write message"

[2017-03-23 11:38] albert-prv opened #636 "Animated gifs are sent without animation"
When copying or dragging an animated gif from the browser, the gif is sent without animation

[2017-03-23 16:57] Sakarias-Longhorn commented on #493
in **\resources\app\ui\dispatcher.js** at line **64** add :
[code]

Note : This enables the option by default with no checkbox to disable it, simple implementation.

[2017-03-23 21:21] norbikaa commented on #13
+1

[2017-03-23 21:31] dhniels opened #637 "bug - requesting history on initial sign in"
Not sure if you'll be able to replicate the bug but on the first opening of the app and authenticating, chat histories would not load and this status was persistent until i quit and relaunched the app, at which point it would then work appropriately and load chat history.
![screen shot 2017-03-23 at 3 22 09 pm](https://cloud.githubusercontent.com/assets/7034022/24271111/8f66a142-0fdd-11e7-87ee-66e

[2017-03-24 09:36] durd commented on #311
+1

[2017-03-24 16:22] davibe commented on #635
#61 #149 #271 #276 #336

[2017-03-24 16:22] #635 closed

[2017-03-25 09:06] Sazpaimon commented on #211
So I decided to take a stab at this, and experimented with frameless windows and managed to come up with something that looks like this in Windows 10:
![image](https://cloud.githubusercontent.com/assets/247570/24320984/bb4959f4-1117-11e7-8002-e4fa54f740bd.png)
Clicking the hamburger menu will bring up the application menu as a context menu instead of displaying the menu as a separate row, and the

[2017-03-25 10:44] mrdimfox commented on #211
@Sazpaimon yeah, it looks pretty good!

[2017-03-25 15:41] that1communist commented on #556
Sorry to post here again, but is there any way I could do this just for myself? could someone point me to where alt is in the code, and could it just be changed to alt+m, which is pretty standard on linux, and would not mess up most peoples setups?

[2017-03-25 19:43] orion4444 opened #638 "Messages not received if "Attach image" dialog window is open"
Steps to reproduce:

1. Start a conversation with someone
2. Click "Attach image" icon and leave window open where you select image to insert
3. Have the other person send you a message
4. Close "Attach image" window
5. Message from other person while  "Attach image" window was open was not received (actually just not displayed).

Close and reopen YakYak to see "missing" message.

[2017-03-27 17:38] thumphreys commented on #613
Or if I could just type "@stdavis what's up duder" and it starts a new convo with stdavis and sends "what's up duder"

I'd like to help, but I don't know coffee script or webstack at all. :( ...maybe I'll learn.

[2017-03-28 04:52] mxyzplx commented on #621
Just wanted to add to this:

If you want to have YakYak appear in your menu, in the YakYak.desktop file, add this line under Type=Application;

`Categories=Network;WebBrowser;`

Then the app will appear under the Internet options in your menu.

[2017-03-30 16:49] jwhipp commented on #453
I am curious, how does Yakyak currently populate the chat list?   Seems that if I delete a chat it's gone, just not with archive.   I am wondering if Google exposes anything in the API that allows you to tell if a conversation is archived or active.

[2017-03-30 16:52] jwhipp opened #639 "Contact thumbnails - allow scale"
This is a feature request.

Currently, there is no way to scale or otherwise reduce the size of the thumbnail in the contact list.   This would be really nice because they take up a ton of space in the window and we could see more conversations by reducing size if desired.

[2017-03-31 11:41] averissimo commented on #632
@Pharmasolin thanks, it's merged

[2017-03-31 11:41] #632 closed

[2017-03-31 11:43] averissimo commented on #621
@mxyzplx thanks, updated the wiki :)

[2017-03-31 17:12] SapphireTactician commented on #557
@kirill133 You found the silver bullet! @averissimo After messaging my GF via the Hangouts website, I was able to launch YakYak successfully. Looks like @kirill133 isolated the bug for us. :1st_place_medal:

[2017-03-31 17:19] SapphireTactician opened #640 "YakYak fails to connect if the user hasn't had at least 1 conversation prior to usage"
Shout out to @kirill133 for isolating this one! See title, YakYak gets stuck at "Connecting..." if the user hasn't had at least 1 conversation in Hangouts prior to using YakYak.

[2017-03-31 19:59] jwhipp opened #641 "Support for hangouts built-in ascii emotes"
This is a feature request to support the Google Hangouts text emotes such as /tableflip or /facepalm.

As semi comprehensive list can be found in this news article:

https://www.engadget.com/2016/09/23/google-hangouts-adds-emoticon-shortcuts-for-easy-table-flipping/

[2017-04-01 21:29] Viper007Bond opened #642 "Feature Request: Unseen indicator for messages"
When viewing a conversation, it's not easy to tell which specific messages are new since last viewing. For example if I have it minimized to my tray and then open it, the conversation that opens is just shown in front of you and you're required to remember which messages you have read and which you haven't.

Potential solutions include different message colors for unseen messages or a horizontal l

[2017-04-03 01:05] sulbig commented on #610
I just tried the fix-trayicon-border branch. Could maybe have a tiny bit more border space, but it's looking better. Below is how it looks on my computer.

![fix-trayicon-border-test](https://cloud.githubusercontent.com/assets/20894156/24592633/7d36a68e-17df-11e7-98e2-c91fe2f09072.png)

[2017-04-04 21:39] rameshdharan commented on #120
@pdeslaur de-selecting "Show Animated Thumbnail" fixes the inverted avatar images but inline images in conversations are still inverted. Is there any other known workaround for that?

[2017-04-04 21:49] pdeslaur commented on #120
Not that I'm aware - that would require a code change as far as I know :( It's not bugging me enough to write a PR yet...

[2017-04-05 14:33] Arithmomaniac opened #644 "Add unread count to the tray icon tooltip"
I don't know how it works on other platforms, but on Windows, hovering over the tray icon shows "Yakyak - Hangouts Client".

It would be nice if this text showed how many unread messages or conversations you had in addition to or instead of that text. (e.g. "2 unread conversations").

[2017-04-06 16:30] dougunder opened #645 "Fails to connect on debian testing"
I can't get it to load. This is the output
Hangs at either connecting or loading contacts
hugh@peanut:~$ /opt/yakyak-1.4.2-linux-x64/yakyak
Gtk-Message: Failed to load module "atk-bridge"
hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
connected 0
2017-04-06 10:59:14 INFO subscribe failed ETIMEDOUT

[2017-04-09 18:14] lcrist commented on #594
Also on Mac (10.11.6) using current stable build and most users are unknown, even my favorites. I can create a new conversation with them including their names, pictures, etc.  but existing ones just show Unknown?

![screen shot 2017-04-09 at 2 04 41 pm](https://cloud.githubusercontent.com/assets/2856367/24839733/1532f750-1d2e-11e7-9bb3-da422d15fe48.png)

<img width="912" alt="screen shot 2017-04-

[2017-04-09 21:44] Cam0Cow opened #646 "Font gets larger when changing colour scheme"
The font size menu still shows the size as it was before (medium).

Version 1.4.2 on Mac OS

[2017-04-10 14:18] davidsedlar commented on #13
+1 bump

[2017-04-10 17:04] jwhipp opened #647 "Yakyak crashed on Ubuntu 16.10"
As of this morning, YakYak won't start up.  My system was updated this morning, package list is below.  Since nothing else has changed, I have to assume that one of these updates caused the issue.

YakYak Error:

A JavaScript error occurred in the main process
Uncaught Exception:
SyntaxError: Unexpected token � in JSON at position 0
    at loadFromFile (/usr/share/yakyak/resources/app/node_modules

[2017-04-10 17:06] jwhipp commented on #647
Right as I posted that, I looked closer at the error and it turns out some chrome extensions were also acting  like they were "corrupted".   Looks like I have a hard drive issue.

[2017-04-10 17:06] #647 closed

[2017-04-12 08:38] martinsik commented on #342
I was just thinking about the exact same feature but there's no recent activity in this thread so I'm curious how is it going :).

[2017-04-12 20:19] trevlewis opened #649 "Unexpected token < in JSON at position 0"
Has anyone ran into this issue when doing the ```npm install```?

[code]

[2017-04-13 13:00] slikts opened #650 ""A JavaScript error occured in the main process""
win10, yakyak-1.4.2-win32-x64
Uncaught exception: Syntax error

This went away after I deleted `%appdata%\yakyak`.

[2017-04-13 13:26] inliquid opened #651 "Clarify which SSL certificates used by messenger"
Does YakYak use system-wide certificate store such as Chrome? If so, possible injection of root certificate in the system may have serious implact on security inluding MITM. I think YakYak has to use own cert store with only trusted root certificates. The confusion can be because user does not percieve messenger is using same communication mechanism as browser. The second thing is that user may us

[2017-04-13 14:32] rberlew opened #652 "Window Position not remembered on non-primary monitor"
I'm able to move the window to my second monitor but it will not re-open it in that position. The 'y' position is remembered, but the 'x' position places it as far to the right (my second monitor is to the right of my primary) of my primary monitor as it can, so it renders between the two monitors spanning across both of them.

Let me know if you need more information here.

[2017-04-13 14:40] inliquid opened #653 "Logout does not work"
On my Windows 10 system this function just does not work. Nothing happens when pressed.

[2017-04-13 15:05] psouza4 commented on #252
I'd love to see some consideration on this.  Having messages from my ex wife show up there from a year ago is a bummer I see every day via YakYak.

[2017-04-13 15:07] davibe commented on #653
have you tried 1.4.2 pre-release ?

[2017-04-13 15:12] davibe commented on #252
Guys #351 #453 #623 #346

[2017-04-13 15:13] inliquid commented on #653
Well, I'm using 1.4.2 release.

![](https://i.gyazo.com/96d8c010f5f73ae2ed384d3193358d1e.png)

[2017-04-13 15:15] #453 closed

[2017-04-13 15:15] averissimo commented on #644
this should be easy to implement in the same update cycle as the tray icon.

[2017-04-13 15:16] psouza4 commented on #252
I'm not sure why you're linking those issues.  Half of them are closed and refer back to this one -- that's why I commented on this one.  Anyway, would like to see some progress here if possible.  Good luck, contributors!

[2017-04-13 15:17] davibe commented on #252
They refer to this one because i have just mentioned them here :D

[2017-04-13 15:18] averissimo commented on #81
@DrDMoney this is being tracked in this issue: #232

but to sum it up, none of the current developers uses google voice, so we would need someone that uses it and will be willing to develop yakyak :)

[2017-04-13 15:22] #346 closed

[2017-04-13 17:10] averissimo commented on #342
there is a pull request with all the code that @arnriu produced.. it is ready enough to use and needs a couple of tweaks to be merged

[2017-04-13 17:12] averissimo commented on #633
@lugg0 please test 1.4.2, I think it might have a new feature that opens the link in the browser

[2017-04-13 17:14] averissimo commented on #588
@mauricecox can't you add using the + button on the bottom left?

@stealthgyro YakYak does not support google fi very well, we need a dev that uses it in a regular basis ;)

[2017-04-13 17:16] averissimo commented on #636
this is an upstream problem :\ the framework that we use (elecron) does not support gif

![image](https://cloud.githubusercontent.com/assets/211358/25015781/34feb23c-2075-11e7-9ddd-dc216451946e.png)

I think it works if the file is uploaded using the upload selector, can you test this? @albert-prv

[2017-04-13 17:17] averissimo commented on #493
@Sakarias-Longhorn very cool!!

could you be interested in adding this as a general option?

[2017-04-13 17:19] averissimo commented on #637
can you open the inspector and see if there is any exception?

have you tried switching conversations and return to this one?

[2017-04-13 17:39] averissimo commented on #311
do you guys use simple http(s) proxies?

I've just tested and the HTTP_PROXY and (I hope) HTTPS_PROXY environment variables are respected

can someone try running yakyak by:

    HTTP_PROXY=http://proxy_ip:proxy_port ./yakyak

where `proxy_ip` is the ip or domain name of the proxy, and `proxy_port` the port.. switch to HTTP**S**_PROXY if using https

[2017-04-13 17:42] averissimo commented on #311
ps. seems like socks protocol (for tor) could eventually be used, but requires changes

see request/request:

https://github.com/request/request/blob/06e8f851ad460afc1094a622eec2b72f33489b3b/examples/README.md#proxys

[2017-04-13 17:44] averissimo commented on #211
looks nice!!

[2017-04-13 17:52] averissimo commented on #556
can you see if pull request #479 works for you?

[2017-04-13 17:55] averissimo commented on #557
@kirill133 this is a strange bug, thanks for workaround!!

[2017-04-13 17:58] averissimo commented on #641
can you build yakyak? I'm quite sure that you can just add this to src/ui/emojishortcode.coffee and then change the emoji regex expression src/ui/util.coffee

[2017-04-13 18:03] averissimo commented on #642
this would be a cool feature!!

There is a last_seen_timestamp information that is accessible in the client API (what we use to set the 'others' avatar in the conversation.

This could be used somehow and remembered for a while _(even after it is updated)_

[2017-04-13 18:04] averissimo commented on #645
@dougunder are you using a brand new account without any hangouts conversations?

[2017-04-13 18:12] averissimo commented on #649
seems like when retrieving the module, it gives out an http 404 instead of the contents.

I've just tried it on my ubuntu machine and worked.

do you have a specific npm proxy or server?

check in `/Users/trev/dev/yakyak/npm-debug.log` if it is retrieving the module from a non-standard url

[2017-04-13 18:13] averissimo commented on #650
please report it back if it evers happens again. with more information on the exception (location in code, what were you doing, anything relevant)

[2017-04-13 18:13] #650 closed

[2017-04-13 18:18] trevlewis commented on #649
Looks to be using a proxy for my company. I will look for away around this. Thank you!

[2017-04-13 18:21] averissimo commented on #651
I believe this is handled by hangupsjs client module that in turn uses the [request](https://github.com/request/request) module

I'm not that experienced in this, but due to lack of information I'm guessing it uses the system-wide, or none

how could your suggestion be implemented?

[2017-04-13 18:23] trevlewis commented on #649
Removed proxy, https-proxy, and registry. Now it works fine. Thank you for the response and help!

[2017-04-13 18:24] averissimo commented on #649
you're welcome!

[2017-04-13 18:24] #649 closed

[2017-04-13 18:34] slikts commented on #650
I would have reported it if there had been any more information.

If it helps, the problem started after I had to power cycle my PC, so it might be a corrupted file.

[2017-04-13 18:50] dougunder commented on #645
No, existing account with years of history.
I installed the dep to make the atk-bridge warning go away.

Still not loading

[2017-04-13 19:38] inliquid commented on #651
I am not very familiar with Electron (I suppose is YakYak is based on it) so actually have no idea. I'll try to look anyways on it later. Maybe someone from community can advice.

[2017-04-14 04:51] corealugly opened #655 "problem with drop-down menu"
opening menu when pushed alt+shift for change of language.
os: Linux Mint 18 Sarah #

[2017-04-14 08:23] #653 closed

[2017-04-14 22:58] joshuacant opened #657 "Conversation font bold after upgrade to 1.4.3"
System: Windows 10 x64

Hi, after upgrading to 1.4.3 from 1.4.2 the font seems very bold. I've attached an image showing a sample message, at the "Medium" size with no zoom applied. I'm not sure if this is intentional or not, but I kinda liked it the way it was. Thanks to all the contributors for all your hard work, and I like the new borderless window a lot.

![capture](https://cloud.githubuserco

[2017-04-15 07:44] nerijus commented on #593
It seems there is still a bug. If I open http://www.maps.lt/map/default.aspx#q=Pociūno%20g, it opens http://www.maps.lt/map/default.aspx#q=Poci%C3%85%C2%ABno%20g

[2017-04-17 02:35] Brothah-Heffay opened #659 "Can't text users by just using their phone number"
If I enter a number manually, I cant actually message that person whereas regular hangouts allows this.

This prevents messaging people who don't use hangouts.

[2017-04-17 11:42] aplocher opened #660 "1.4.4 pre-release Linux build not connecting"
The animated "Connecting..." screen just spins forever.  This is what I see in the console:

[code]

[2017-04-17 11:54] antosheek opened #661 "Notification pop-up position"
Hello, sorry if this isn't the right way to ask, but is it possible to move the pop-up notification from top right to bottom right, like most software does, including original hangouts?
Didn't find it in the options.

used on windows.

Thanks!

[2017-04-17 16:24] criscodex opened #663 "macOS: Duplicate notifications"
Reproduced on: YakYak v1.4.3 and v1.4.1

<img src="https://cloud.githubusercontent.com/assets/9448431/25095235/d0ac400a-2368-11e7-8d9e-41eff379a6a0.png">

Receiving duplicate notifications on macOS 10.12.4

[2017-04-17 23:50] jrmehle commented on #330
Definitely seeing this issue in version 1.4.3. I've been using both the Windows 64 bit client and the OS X client. My dad thought I was mad at him and not responding for 2 weeks because of it! Please fix ASAP!

[2017-04-18 00:01] PSiAU commented on #311
Could you clarify what you mean by simple http proxy?
We use a pac file here, along with proxy authentication as some destinations are proxied and some are not. The pac file handles that but the proxy requires authentication.

[2017-04-18 00:12] wjcarpenter commented on #330
Perhaps this problem will solve itself in a dramatic twist ending. Over the weekend, I got a notification in my Hangouts app that carrier SMS on my phone will no longer show up in Hangouts. Why? The usual Google reason: none of your business.

But this could also mean they have been fiddling around with the protocol on the server side and breaking something in yakyak.

[2017-04-18 01:40] hawksprite commented on #330
In case you're wondering I have this fixed on a local client.

That change in policy won't affect the SMS capabilities on desktop based
hangouts.  It was never totally supported in that medium.

I don't have the code directly in front of me, however in summary it has to
do with your ClientDeliveryMediumType when creating the request to send a
message.  By default, if you submit null as the sender

[2017-04-18 09:56] inliquid opened #664 "Implement disable/enable chat history"
I propose to implement it in the same way it is done in native Hangouts web app within chat setting. It's one of the key privacy features of Hangouts. Also there has to be some indicator whether it is enabled or not,

[2017-04-18 16:59] chazz422 commented on #211
How do I change it back to have native window borders?  I'm on linux and I don't like the new borderless look.  I prefer to shade my window at times and I can no longer do this without the native titlebar.  Is there an option I'm missing?

[2017-04-18 17:03] Sazpaimon commented on #211
Linux should have native window borders as of 1.4.4

[2017-04-18 17:05] averissimo commented on #660
works fine for me.

Have you:

- Ever used hangouts before? there is a known bug if you don't have any contacts already (use web interface to add just one should solve this)
- Another known bug is that sometimes YakYak requires a mouse hover over the UI to connect (this is a stupid one that we cannot trace -- yet)
- Try to delete your ~/.config/yakyak directory (the only caveat is that you lose yo

[2017-04-18 17:49] thumphreys opened #669 "Basic Keyboard Functionality"
Can we get a hotkey for "add new conversation"? When it goes to the new conversation page, can we focus the search box so we can start typing. Currently you have to click the plus, then click the search box.

Ideally, you can hotkey to add new conversation and just start typing the person's name, hit enter, then start typing a msg to that person.

This seems like its the natural flow of using a ch

[2017-04-18 18:21] averissimo commented on #653
nice @davibe !

[2017-04-18 18:35] averissimo commented on #311
This "simple" http(s) proxy is setup via environment variables, i.e. if you open a terminal and run the command below it will show something other than blank output

`echo http: $HTTP_PROXY -- https: $HTTPS_PROXY`

I don't think the module we use to connect to hangouts server supports a pac file. However if you know the proxy dns name (or ip), authentication and port then you can set it up manuall

[2017-04-18 18:47] averissimo commented on #645
there is another issue from way back that was related to a proxy issue #88 - could it be related?

2.

If not, try the first 'dumb' approach that is to remove `~/.config/yakyak` directory to see if it was a corrupted file

3.

Can you add a line with `client.loglevel('debug');` in yakyak/resources/app/main.js after line 52

and run it again which should output more debugging information.. then cop

[2017-04-18 18:49] averissimo commented on #651
electron has no part of it as it is only used as GUI, the `request` module actually connects to hangouts server

[2017-04-18 18:55] averissimo commented on #661
We use Windows native notification methods, not sure if this can be done.

with versions >=  8
https://github.com/mikaelbr/node-notifier#usage-windowstoaster

< windows 8

https://github.com/mikaelbr/node-notifier#usage-windowsballoon

__Which windows version are you using?__

ps.

![image](https://cloud.githubusercontent.com/assets/211358/25147894/ea5750c2-2470-11e7-9e33-96da70c28ba8.png)

[2017-04-18 19:05] antosheek commented on #661
I use windows 8.1 .)
I know the original google hangouts popped on right bottom, chrome does etc.

[2017-04-18 19:16] averissimo commented on #330
@hawksprite could you contribute in a PR (or share) the code? :D

for that change to be implemented in hangupsjs it would require to know the state of the conversation when sending the message, as the API is asynchronous that could be a problem.

[2017-04-18 19:19] averissimo commented on #659
this could be a duplicate of #330

google voice is not correctly implemented in YakYak and we are looking for solutions

[2017-04-18 19:19] #659 closed

[2017-04-18 19:23] averissimo commented on #661
We use a third party library that handles the notifications in each platform _(windows, mac os x and linux)_ and have little control on how they do this.

We like this solution as it gives native notifications in each operating system without any additional work.

However this also makes it less flexible to be configured. Probably the original google hangouts implements it from scratch (or via Chr

[2017-04-18 19:24] averissimo commented on #669
That part of the interface needs a revamp, I agree with you on all points!!

[2017-04-18 19:26] averissimo commented on #655
known bug: duplicate of #439

there is a workaround, see the issue and pull request that it references

[2017-04-18 19:26] #655 closed

[2017-04-18 20:10] antosheek commented on #661
Ah, so nothing ot do with that. Well, I guess I can get used to it. Thanks for the replies :-)

[2017-04-18 21:49] thumphreys commented on #669
Awesome, If I knew coffee script. I'd dive in:)

[2017-04-19 00:29] aplocher commented on #660
Argh, seems to be working now.  I'll go ahead and close this.

To answer your questions (although probably a moot point now):

- Yes, use YakYak on same machine, dual booted in Windows.  Also had an older build in this Linux instance although it had been months since I booted into it so it was a bit outdated.

- Don't think this was my issue, I'm pretty sure my self-diagnosed ADHD would have cause

[2017-04-19 00:29] #660 closed

[2017-04-19 00:44] hawksprite commented on #330
Yeah I'll setup a PR sometime in the next couple days.

That could be an issue, I suppose it's needed to do it at the yak yak level
then. Shouldn't be to much of an issue.

On Tue, Apr 18, 2017 at 3:16 PM André Veríssimo <notifications@github.com>
wrote:

--
Justin Barnyak,
justin@simulearn.net
(814)232.2894

[2017-04-19 18:36] jstraten opened #671 "Firewall Problem"
Is YakYak using any additional URLs, IPs or ports? Chrome Hangout is working fine on my desktop, but YakYak is stuck on the connecting screen.

My firewall is the home edition of Sophos XG.

Thank you!

[2017-04-20 02:06] oarking opened #672 "Contact Nicknames"
My Google Voice SMS contacts are either showing up as their phone numbers or "(Unnamed)". I've read the other issues that state needing a Fi or Voice dev to help with certain issues, but in the meantime is it possible to have locally stored nicknames for contacts?

[2017-04-20 08:08] Sjoo90 opened #673 "Add swedish language"
Add swedish language

[2017-04-20 09:22] darrenmcentee commented on #80
This is one of the reasons I can't use YakYak right now until this is 100% fixed.
@averissimo any chance this can be put higher up the priority list. There's no indication of online status when chatting. It's a show stopper for me, as i need to know specific contact are available :)
Thank you,
Darren.

[2017-04-20 14:36] averissimo commented on #673
Can you translate it?

All you need is to translate the right part of following json file:

for example _(in Portuguese)_:

     "description": "Cliente de Desktop para Google Hangouts",

https://github.com/yakyak/yakyak/blob/master/src/locales/en.json.template

[2017-04-20 14:58] Sjoo90 commented on #673
Hi!
I have already translated it, but I cannot commit and push it to master?

Skickat från min iPhone

[2017-04-20 16:20] averissimo commented on #673
You can submit a pull request from your fork of the project.

Do you know how to do it?

If not here are the steps:

- Create a fork of yakyak/yakyak
- Add a remote in your local git repository to the newly created fork
  - `$ git add remote sjoo90 <http/ssh link to fork>`
- Push changes to your fork
- Create a pull request from those changes
  - https://help.github.com/articles/about-pull-request

[2017-04-20 16:25] averissimo commented on #80
Hi @darrenmcentee

It is currently possible to view which contacts are online and which aren't as they should have a green dot in their avatar (see the first screenshot)

If you open the inspector (Ctrl + Alt + I) you can also see which users are not advertising their online status -- second screenshot

![image](https://cloud.githubusercontent.com/assets/211358/25241441/e80859f0-25ed-11e7-948a-378

[2017-04-20 16:27] averissimo commented on #672
this would be a very good intermediate solution.

Can anyone help on this?

[2017-04-20 19:37] darrenmcentee commented on #80
Thanks @averissimo ,
My issue here is that i know 3 people that are online, they all have a green status on Gmail browser chat, in Trillian windows app, and Hangouts on Android, but in yakyak, they never show the online green status.
Also, will yakyak show an orange away status?
My gmail/google handle is darren dot mcentee if you want to drop me an email, i will show you exactly what i mean.
Thank

[2017-04-20 23:52] averissimo commented on #80
so this is a new problem! :)

Can you check if those contacts available on gmail/etc.. are on the inspector list as _'*** does not show his/hers/it status'_ ?

[2017-04-20 23:53] averissimo commented on #80
if so please expand the object as much as you can (ignoring the _proto_ keys)

[2017-04-21 05:59] Sjoo90 commented on #673
Now i think I have solved it i right way :)

Skickat från min iPhone

[2017-04-21 08:09] darrenmcentee commented on #80
ok @averissimo, i did some tests... a few times, with the same results.
With 2 contacts in Gmail browser chat, and yakyak. See attached (gmail left, yakyak right.)
You'll see the 2 x green statuses in gmail, for both contacts. But in yakyak, only one green.
The inspector doesn't have either contact listed.
![untitled-2](https://cloud.githubusercontent.com/assets/2485782/25268823/1b3002e0-2672-11e7

[2017-04-21 09:55] inliquid opened #675 "'Do not save history' feature is not working with YakYak"
In Hangouts chat it is possible to turn off saving of chat history. It seems that when the feature is on, hangouts just periodically cleans up messages from chat, so they can resist for just few hours or 1-2 days. However when these messages sent via YakYak they seem to stay forever. Maybe there should be some special flag or something. The chat setting is only available in Hangouts web/mobile app

[2017-04-21 11:59] kirkerafael opened #676 "Create transparent interface (messenger-like)"
Hangouts allow for transparent user interface, when contacts are just avatar circles and conversation disappears when not focused. It is nice, minimalist look.

Would it be possible to have something similar with yakyak?

[2017-04-21 12:19] #673 closed

[2017-04-21 14:25] averissimo commented on #80
please try this build and expand Nicola's object as the screenshot shows.. please censor the user_id as no one needs to know that :)

https://github.com/averissimo/yakyak/releases/tag/fix-presence-0.1

![image](https://cloud.githubusercontent.com/assets/211358/25281400/2f446a0e-26a5-11e7-8e97-63ca1588d328.png)

[2017-04-21 14:34] averissimo commented on #676
Can you post a screenshot?

[2017-04-21 14:40] darrenmcentee commented on #80
I tested again, Nicola is showing now with green online status.
inspector item:
![2017-04-21_15-35-15](https://cloud.githubusercontent.com/assets/2485782/25282465/7757eb4c-26a8-11e7-9701-2eb4b72c3cf1.png)

[2017-04-21 14:55] averissimo commented on #80
Try to find one of your contacts that is not showing in YakYak and is showing.

My guess is that sometimes these contacts are only on `mobile: true` and `available` is set to false

ps. I can't replicate this with any of my contacts, that's why I'm asking :)

[2017-04-21 15:07] darrenmcentee commented on #80
Ah I think I see what's going on here. The opposite is happening now, my contact goes offline in gmail, but then still shows as online green in yakyak. Once I close yakyak, and reopen it, the correct status is shown.
I think the statuses are not getting updated in real-time, but maybe it's currently coded like that?
A yakyak restart seems to show the correct status at launch, but then not getting

[2017-04-22 13:29] #661 closed

[2017-04-24 06:58] Wasca commented on #13
+1 Would really like to see this functionality.

[2017-04-24 11:17] kirkerafael commented on #676
Sure so: http://imgur.com/a/D9YTa

[2017-04-24 23:47] PSiAU commented on #311
Is it possible to hook into macos's proxy settings and use whatever is in there? That would IMHO be the ideal way to do it.

[2017-04-25 20:33] jwhipp opened #677 "Connectivity Issues"
I'm seeing a lot of connectivity issues with YakYak today (which also happens to be the API take down day), wondering if anyone else is seeing them?

It's restricted to YakYak, nothing else on my machine is having any network issues, so I've been able to rule out my own network as a suspect.

[2017-04-25 21:10] jwhipp commented on #677
Forgot to note that, even when connectivity is there, I see delays in sending.   Like it's having trouble to connecting to an api gateway or w/e it is you connect to.

[2017-04-27 13:32] darrenmcentee commented on #80
Do you think real-time friend status changes will be applied to an update soon @averissimo
Thanks,
Darren.

[2017-04-28 13:36] averissimo commented on #80
someone needs to understand how to get that information from the server and update it.

I'll try to pick this up as it is an important issue, but not in the next week :\

if someone else wants to dab in yakyak and figure this out.

my hypothesis so far is that we are taking this information from the initial connection and that's it.

we either need to call `querypresence` for each user from time t

[2017-04-28 13:37] averissimo commented on #677
I saw that yesterday being unable to send messages.. had to restart yakyak and worked fine since.

I'll also try to monitor this

[2017-04-28 13:39] averissimo commented on #311
definitely.. defaulting to OS would be awesome, @davibe any clue on if this is possible?

[2017-04-28 13:50] averissimo commented on #676
I see now.

Yakyak has a design choice of keeping a single window instead of docking as old hangouts interface and seems like the new one is also doing (to some degree)

there has been some conversation on this issue: (about docking) #370

And improvements on UI are being discussed here: #605

To create a transparent interface (as an option or default) we would need someone that is passionate abou

[2017-04-28 13:57] averissimo commented on #605
launch screen sounds awesome and should be "easy" to implement as the previous iteration of yakyak's start-up was drawing an empty interface and waiting for the connection to hangouts

current "connecting" and "loading contact information" is there just to hide that barebone interface... changing it to have some mockup contacts could replace that with meaningful information

[2017-04-28 15:41] tiagonunocosta commented on #61
+1
If it is necessary I am willing to pay for a version with automatic correction

[2017-04-28 17:39] bmneely commented on #61
This would also be a feature I'd be very happy to pay for.

[2017-05-01 04:29] mantismu opened #678 "Sent images always saved to Google Photos account"
Would love an option to stop the app from saving every image sent through the client to my Google Photos account. I happened to check my Google photos account after using YakYak to find every silly meme or screen shot I'd sent sitting there in my Camera library.

[2017-05-01 21:06] jwhipp commented on #677
Well it's been almost a week and the problem hasn't happened so I guess it was just that particular day so I think we can close this out.

[2017-05-01 21:06] #677 closed

[2017-05-02 11:09] brankoenero commented on #324
Hey there!
I'm seeing that this issue is not closed.
I'll try to implement it. I doesn't seams difficult at all.
I didn't touch this technology but seams really similar to other multi-platforms frameworks.
Theres someone that can help me for installation. I cloned the project and I did "npm install", but shows a lot of error messages.

  CXX(target) Release/obj.target/bufferutil/src/bufferutil.o
I

[2017-05-03 10:55] averissimo commented on #324
there are some modules that do not compile and give warnings during `npm install`

bufferutil is one of them and utf-8-validate is another

it is expected, as long as it is a warning in the end:

![image](https://cloud.githubusercontent.com/assets/211358/25657774/d1d76cc2-2fff-11e7-8fcf-7a1433918903.png)

[2017-05-03 10:57] averissimo commented on #678
I believe this an hangouts feature, not much that can be done as the images are stored in google photos

do you think there's an alternative? I don't enjoy this either for the same reasons :)

[2017-05-03 13:35] daveman1000 opened #679 "Windows 7 - Minimize to Tray?"
Is there a way to minimize to tray rather than to keep the window open?

If there is, I can not seem to find it.

[2017-05-03 17:49] CodeAbuser commented on #81
I use google voice and some experience with CoffeeScript and NodeJS. If you guys wanted to point me in the right direction for where to start looking in regards to fixing this functionality, I would be willing to fork the code and take a look.

[2017-05-03 19:34] jwhipp opened #680 "Title bar dot menu draws over contact name in small window size"
I've only seen this on the Windows version, I am on Windows 10.   I recently updated YakYak, and I have always have used it in a small Window.   As of v1.4.3 the DOTs menu now draws over the contact name when the window size is small.

My suggestion, make the contact name always stay just to he left of the dots menu, so it would move with the screen size below a certain threshold or just keep it j

[2017-05-03 19:38] jwhipp commented on #646
I see this behavior on WIndows 10 and Linux, as well.  You can reset the font size just by selecting the font size again after changing the scheme.

[2017-05-03 19:40] jwhipp commented on #679
Right click on the Sys Tray icon and select "Close to tray".

This is of course after telling Yakyak to show the tray icon.  (Three bar menu > View > Show tray icon)

[2017-05-05 12:00] averissimo commented on #680
I can confirm the bug also in linux when window is very narrow.

You are noticing it on this update because we went borderless on windows thanks to @Sazpaimon great work

We need to figure out a way of tweaking the css to avoid this type of overlap

[2017-05-05 13:13] averissimo commented on #81
@hawksprite seems to have found a solution and is preparing the PR, you can find part of the right direction in his comments

Yakyak send messages via dispatcher.coffee with `sendmessage` handle.

From @hawksprite comments, I understand that we need to check in that step (or before) if it is a google voice contact and then send with the ipc message the type of contact that it is.

in `main.coffee`

[2017-05-05 16:37] Sazpaimon commented on #680
Yeah I knew this would be a problem going in, but I wasn't sure how many people would actually have their window that thin. I can try looking into it this weekend.

[2017-05-05 16:56] jwhipp commented on #680
I didn't see this on Linux, for me the latest build continues using the Mutter provided title bar (at least in Gnome Shell).

[2017-05-05 17:07] Sazpaimon commented on #680
That's intentional, only Windows will draw the window like this (see #211). Linux will draw the window border due to the unpredictability of how different window managers handle borderless windows.

[2017-05-05 19:18] fulltrucker commented on #591
Agreed, even if it was simply a button or icon that would initiate a video chat with that person in a browser. I believe this is how the Hangouts Chrome app currently works?

[2017-05-05 21:06] cjohnson92 opened #681 "Connecting..."
I cannot seem to establish a connection between the program and Google. After entering in my credentials, I am in a perpetual connecting phase with no option to reenter account information or otherwise.

OS: Windows 10 N
YakYak v14.4.4 and v1.4.3

What I have tried:

- Uninstall and reinstall with different versions
- Disabled all firewalls
- Installed on my macbook (macOS sierra) with same result

[2017-05-07 11:01] marculein3000 opened #683 "macOS: Spell checking while typing"
This is probably more of a question: Is it possible running Yak Yak on macOS to activate spelling correction of the OS?
THX

[2017-05-08 08:39] robkorv opened #684 "convert (y) to thumbsup emoticon before sending message"
Hi, I just switched to yakyak and it's great.

Are you interested in converting some chars to their emoticon alternative before sending the message. For example in WhatsApp and the Google Hangouts webclient, (y) gets converted to :+1:.

Would be great if yakyak would mimic this behavior. I'm sure there are more to add but (y) is the one I use frequently.

Tnx for yakyak :smile:

[2017-05-08 14:32] daniel-nicholson opened #685 "Windows 10: Duplicate Notifications on Single Message (v1.4.4)"
I've noticed that when one of my contacts messages me, the notification  has been duplicated after "x-ing" it out or a few seconds of inactivity. Just today, notifications are now being tripled on a single message. Yak Yak v1.4.4 is minimized on the taskbar.

Unfortunately I can't capture a screenshot as the message gets replaced with a new message after the old one is x'd or timed out.

[2017-05-08 22:25] conceptualspace commented on #683
yes,

`"chromium-args": "--enable-spell-checking"`

[2017-05-09 02:31] zaphod777 commented on #681
check this issue
https://github.com/yakyak/yakyak/issues/640

[2017-05-10 00:18] Coldblackice opened #686 "Single sign-on (SSO) isn't working"
I'm getting a blank page when trying to log in using the latest YakYak v1.4.4 Windows binaries (32/64 bit).

My guess is that the issue has to do with the Google account I'm using requiring single sign-on (SSO) authentication. Typically, there's a redirect to an authentication portal. Any chance SSO could be supported?

[2017-05-10 08:07] teicher commented on #104
Same thing here, wasted half an hour wondering, revoking access, then reconnecting YakYak.
What to do to get this going ? Putting unfixed issues to "Closed" is very disappointing to everyone.

[2017-05-10 18:14] clxcoltz opened #687 "[Linux Mint 18.1][yakyak 1.4.4 prebuilt binary] Does not run without sudo"
On Linux Mint MATE 18.1/amd64, running ./yakyak just returns... nothing (straight back to command line). Strangely sudo ./yakyak or gksudo ./yakyak works well, but for obvious reasons it's a bad idea to run my preferred chat client as root all the time. Since there's no output I don't even know where to look for clues, any idea?

In case it helps, terminal output from sudo ./yakyak:

hconnect
reco

[2017-05-10 20:01] davibe commented on #104
The README clearly states

"Yakyak may show up as iOS Device and Google may alert you that "some iOS Device is trying to use your account". This is normal as yakyak is an unofficial client and it mimics the behaviour of an iOS device in order to establish a communication with Google Hangout APIs."

Also, this issues is clearly open. Only duplicates are closed.

[2017-05-11 13:47] that1communist commented on #556
@averissimo No, that doesn't fix the issue at all.

On release, alt always toggles the menu. Simply binding this to alt+m or something would entirely fix this behavior for me.

[2017-05-11 18:17] dsemaya commented on #120
Turning off animated thumbnails solves the problem for avatars for me but the user icons in macOS notifications are still inverted.  Is there a way to just replace them all with the generic app icon?

[2017-05-12 22:54] abe312 commented on #541
maybe move to skype? They do have up to 25 people conference calls lol

[2017-05-15 12:15] TwisterMc commented on #61
There is another thread on spelling that offers up a solution to devs: https://github.com/yakyak/yakyak/issues/683

[2017-05-15 21:39] danpoulin commented on #82
Still having an issue with this. Any idea if it will be fixed?

[2017-05-16 09:51] tiagonunocosta commented on #683
Where can i put this line ? Thanks

[2017-05-16 16:54] conceptualspace commented on #683
needs to go in package.json

[2017-05-17 08:52] uman242 opened #688 "View options not saved after logout"
View options -
- view->show tray icon
- view->conversation list
- view->pop-up notifications
are not saved after logout. I have to set it again after next login.
Win7 x64 YakYak v.1.4.4

[2017-05-17 19:37] ruzz311 commented on #683
I've added the property to my package.json and tried running it ```npm run electron app``` and also tried building it ```npm run deploy:darwin``` and I do not get any spell-checking.   Runs and builds successfully and logged in fine.

![instruction unclear](https://cdn.meme.am/cache/instances/folder237/63955237.jpg)

[2017-05-18 18:11] flexbed opened #689 "Notification removal"
I'm using YakYak v1.4.4 on Ubuntu 16.04 with Gnome-shell v3.18.5 and noticed that desktop notifications aren't removed when you open/focus YakYak window, causing that when "notification center" is open, there's countless notifications from already "read" messages.
For the sake of clarity, I'll try to make an example out of Spotify notifications:
When a new song starts playing a notification appear

[2017-05-18 18:37] conceptualspace commented on #683
oops had a brain freeze and forgot yakyak is electron-based and not nwjs-based

evidently that command line switch is not supported in electron (https://xwartz.gitbooks.io/electron-gitbook/content/en/api/chrome-command-line-switches.html)

looks like electron has a low level way of implementing spellcheck support:

[2017-05-18 18:42] conceptualspace commented on #683
also for reference https://github.com/electron/electron/issues/3189

[2017-05-19 18:31] jwhipp commented on #680
I gave this some thought, it actually likely doesn't matter on Linux what window manager is being used.  You could do a little detection then provide your own borders just like this app does:

![selection_001](https://cloud.githubusercontent.com/assets/556332/26261528/bee3b4cc-3c8e-11e7-98c8-c49502f2ad9a.png)

App shown is Google Desktop Music Player: https://github.com/MarshallOfSound/Google-Play

[2017-05-21 03:06] DanaMW opened #690 "Linked google voice number."
When I send text to a text number with my linked google voice number through yakyak the message shows in yakyak greyed out like it was not sent yet. It DOES show in my account in say a browser hangouts box in gmail (Firefox) - but never arrives to the person intended. Is this a short coming of yakyak, a bug or intended? I imagine you don't support the voice number in any fashion since i cant pull

[2017-05-23 09:31] ptitboogy commented on #685
Hello I have the exact same things.
How can we help you to solve this issue?

[2017-05-26 01:02] ZackBoe commented on #690
Been seeing this occasionally.
Interestingly, messages via YakYak show up in Hangouts as being "to" myself, whereas messages sent via Hangouts itself are "to" the proper recipient. Dunno if this is related, but thought it'd be worth mentioning.

![yakyak-gvoice](https://cloud.githubusercontent.com/assets/904055/26476496/4c759afa-418d-11e7-9d02-74af2bc5b811.png)

[2017-05-26 01:17] DanaMW commented on #690
Yes this happens when i used it with my voice number but I assumed it was just the behavior of the program. Any sent or received text also includes a user entry for myself.

[2017-05-28 18:58] Refrash opened #691 "Messages with only images not sending notifications"
If a message is received that has no text, only an image, no notification will come up, including the sound. The official Hangouts extension will, however send a notification.

[2017-05-28 20:00] Refrash opened #692 ""x new messages" green line"
When checking for new messages in a conversation, Hangouts will show a green line at the point last checked with the amount of messages that have been posted since then. This is a useful feature to quickly know where to start reading new messages from.
![9newmessages](https://cloud.githubusercontent.com/assets/29023811/26531785/f52338c0-43ad-11e7-8e22-f857687000ce.PNG)

[2017-05-31 17:35] mxyzplx commented on #574
Often see the same thing. Noticed that if you open the inspector (to get the error code) and close it, everything goes back to normal.  This is with version. 1.4.4.

[2017-06-01 18:26] jeffgaynor opened #694 "Pasting text breaks UI"
Pasting more than 15-20 lines of text breaks the UI. The only way to recover is to restart the app. See attached screenshot.

<img width="700" alt="yakyak_and_new_issue_ _yakyak_yakyak_and_inbox_ _jgaynor1_gmail_com__12_530_messages_" src="https://cloud.githubusercontent.com/assets/508871/26694678/d9ecc7ec-46cd-11e7-8ed0-ae58b8acbfb9.png">

[2017-06-04 03:46] marcopaganini opened #695 "Feature request: Option to close current chat with ESC but keep window open"
Right now, ESC can do two things:
1) Close the window entirely
2) Clear the input

Ideally, we'd have a 3rd option: Close the current chat, and then close the window (or even just close the current chat would work).

[2017-06-06 16:43] matkam opened #696 "Request: Option to disable Mac OS X dock icon bounce"
It would be great to be able to disable the Mac dock icon bonce. The pop up notification is enough.

[2017-06-07 17:09] svanschalkwyk opened #697 "Hacking attempt on GMail within minutes of logging in. Linux 64-bit binary."
An attempt was made to log into my GMail account from a Comcast (IOS) customer, withing minutes of first install and logging in.
I don't have time to examine the security in this app, but am reporting it here. Has not happened before.

[2017-06-07 19:26] ivanatpr opened #698 "Support corporate proxies by allowing users to specify a trusted SSL root certificate"
For people behind HTTPS corporate proxies yakyak currently does not work. These proxies will dynamically generate replacement SSL certs for HTTPS connections which use the company's own root certificate, which is included as a trusted root certificate in the system-wide cert store of all of the company's PCs.

Since yakyak does not appear to use the systemwide cert store, the connection to hangout

[2017-06-07 19:48] dsemaya opened #699 "Can't create new conversation via keyboard (an error has occurred)"
I like Yakyak a lot but the process of creating new message threads has been challenging for me.

In iMessage you can create a new conversation by typing command-N, then start typing the person's name, then pressing return to confirm that person, then pressing the tab key to begin typing the message.

In Yakyak there appears to be no way to initiate a new message from the keyboard (command-N or ot

[2017-06-08 03:29] devhen opened #700 "Can't login using Google App Passwords"
I can't login using app passwords generated on this page

https://security.google.com/settings/security/apppasswords

Are they not supported? Thanks

[2017-06-08 04:50] eawtrey opened #701 "Authorization loop?"
I'm loading up YakYak for the first time on a new laptop (Windows 10), and after entering my password and my 2FA code, I get stuck in a loop where I have the "Connecting" screen, and then a brief flash on the main UI before shifting back to the separate "Connecting" screen.

I've installed this on a different win8 machine, so I'm pretty sure this isn't account related.  I've tried deleting the App

[2017-06-08 11:48] cron410 opened #702 "My messages showing in two different conversations"
I am in two different group hangouts and this tuesday, most of my replies in one hangout were duplicated into another group hangout, however the timestamps of the erraneous messages show a week prior (i think). This had not happened previous to using YakYak. I can send screenshots of the messages privately. I am using 1.4.4 after upgrading from 1.4.3

[2017-06-08 17:31] felixbores commented on #151
I'm having this issue on windows 10 x64

[2017-06-08 17:33] felixbores opened #703 "White page on startup"
When I run the app it does not do anything, only shows a white screen. I'm using Windows 10 64bit. The app version is 1.4.3

[2017-06-08 18:03] Hurricaaane commented on #104
As an UX enhancement, maybe it would help to display a warning inside the yakyak client on first login?

[2017-06-08 20:52] playerzero commented on #82
Is there an understanding of what would need to be done?

[2017-06-11 04:28] eawtrey commented on #701
To add to this, I ran it from the command prompt and saw this after entering my password:

2017-06-10 21:25:56 WARN no SAPISID cookie
2017-06-10 21:25:56 WARN no SAPISID cookie
2017-06-10 21:25:56 WARN no SAPISID cookie
2017-06-10 21:25:56 WARN no SAPISID cookie
2017-06-10 21:25:56 ERROR getAuth failed { Error: unable to verify the first certificate
    at TLSSocket.<anonymous> (_tls_wrap.js:1085:

[2017-06-11 04:47] eawtrey commented on #701
Never mind--I think this is due to a piece of proxy software that I am running that does not allow the certificate to verify.

[2017-06-12 14:05] sousa30 opened #704 "fatal error on main process"
don't know why this started appening.

http://prntscr.com/fiuy3q

[2017-06-13 12:59] KusioST commented on #574
But it isn't normal behaviour, right?

[2017-06-13 15:06] #697 closed

[2017-06-14 09:57] sneila opened #705 "Large string without spaces will push the entire conversation"
https://beemapp2.s3.amazonaws.com/2230840f-6265-4c6c-98b7-577abade09a0.jpg

self explanatory.

[2017-06-15 18:47] marsh3gbsd opened #706 "Pin conversation"
It would be amazing if you could pin conversations with specific people to the top of the list.  That way the commonly used ones don't move around.

[2017-06-15 18:47] augmentedfourth opened #707 "Re-order conversations?"
The Web client lets you pin conversations to the top, order by who's currently logged in, etc. Can YakYak implement that? I'm on OSX, but that probably doesn't matter for this particular feature request.

[2017-06-15 18:49] marsh3gbsd commented on #588
Contact list would be awesome!  It would be great to be able to have a list that doesn't constantly move around.

[2017-06-16 16:31] timothynott commented on #690
I see this behavior as well. The message is getting to Hangouts, but it is not also sent back to the originating phone number.

[Parrot](https://github.com/avaidyam/Parrot) has this figured out, so perhaps their approach can be implemented.

[2017-06-19 13:15] stonedonajax opened #708 "No Notifications in Windows 10"
Hello,

We aren't getting any notifications for new messages in Windows 10.

The notification options are enabled in the menu.

Is anyone else having this problem?

Regards,
stonedonajax

[2017-06-19 15:36] hcarrasc opened #709 "Error: invalid_scope"
Running Yakyak first time in a Windows PC 32 bits its give the follow error:

[code]

[2017-06-21 08:39] nenjordi commented on #13
#Linux
cp /usr/share/applications/yakyak.desktop ~/.local/share/applications/yakyak-bis.desktop
edit yakyak-bis.desktop following lines:
Name=YakYak-BIS
...
Exec=XDG_CONFIG_HOME=/home/PUTYOURUSERHERE/.config/yakyabis/ /usr/bin/electron /usr/share/yakyak/app
...

[2017-06-21 12:57] cjrobe opened #710 "Request: Classic Hangouts layout"
Man, this app is slick. Really nice work.

I would love if there was an option to have the classic Hangouts before it was "appified." You know, with the contacts list and the separate tiny window for each chat you have open that can expand or retract.

![old-hangouts](https://user-images.githubusercontent.com/5606066/27385084-5f797da6-565f-11e7-80a6-bf977f117b41.jpg)

I don't talk to many people a

[2017-06-21 12:59] cjrobe commented on #348
I would love this... Facebook chat search is top notch as well. It's annoying to have to go to GMail to check the chat history.

[2017-06-21 13:25] musasabi opened #711 "Google for Business account login failure"
I tried to log in using my work GMail address (works with pidgin, etc) and got the following error message:

`login: programmatic auth`
`connected 0`
`Error on YakYak window:`
` { columnNo: 18,`
`  error: {},`
`  lineNo: 126,`
`  msg: 'Uncaught TypeError: Failed to execute \'appendChild\' on \'Node\': parameter 1 is not of type \'Node\'.',`
`  url: '/usr/share/yakyak/resources/app/node_modules/tri

[2017-06-22 18:24] cjrobe opened #712 "Still shows notification after reading on another device/computer"
Google's Hangout client checks if messages have been read on another client so if I read the message on my phone, my computer will no longer be flashing at me. With YakYak I always think I have a new message but it's one I read a while ago on another computer or my phone.

[2017-06-23 19:45] cfjedimaster opened #713 "Possible to mute sounds?"
I don't want to mute notifications, I simply want to mute any and all sounds. I know I can mute individual conversations, but I still want the visual feedback. I just want YakYak to be quiet. ;)

[2017-06-23 19:50] cfjedimaster commented on #713
I'm sorry - this appeared to be a Windows notification. I disabled it. One oddity though and it may be a real bug - in Windows the app shows up as "toast".

[2017-06-24 19:59] ylluminate opened #714 "Homebrew formula"
A good way to get more adaptation for the app might be to create a Homebrew formula that allows easy installation and updating of the app for macOS:
https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

[2017-06-24 20:32] ylluminate commented on #683
Thanks for those references. This is a super important function to have implemented. Seems like we need to put some pressure upstream to show that at least people really are looking for this. Same thing plagues Rambox.

[2017-06-24 22:28] ylluminarious commented on #714
@ylluminate Looks like it's available as a cask: https://github.com/yakyak/yakyak/wiki#mac-os-x-alternative

[2017-06-25 09:54] MurKit opened #715 "Option to load message history"
Now I can see only one last message in the conversation.
Scrolling up does not load previous messages, and there is no obvious button for doing this.
Am I missing something? Or this should be a feature request?

[2017-06-26 04:06] jlp78 commented on #714
`brew cask install yakyak`

[2017-06-26 04:09] ylluminate commented on #714
Very cool guys. Thanks. Unfortunately it's a version behind at 1.4.3 @ylluminarious @jlp78...

[2017-06-26 06:04] jlp78 commented on #714
1.4.3 is the release version.  1.4.4 is tagged as pre-release.

[2017-06-27 17:03] dhitchcock commented on #689
It's clear, and bugs me too.

![screenshot from 2017-06-27 11-58-03](https://user-images.githubusercontent.com/2146072/27600049-486e7424-5b30-11e7-910b-0c569dd5166b.png)

those are not all separate conversations, that's just one conversation with one person.

[2017-06-27 17:57] DalaiDan commented on #708
Same Issue on OS Build 15063.413

[2017-06-28 06:02] samk14824 opened #716 "Can't sign in yakyak 1.4.3 osx?"
<img width="932" alt="screen shot 2017-06-28 at 1 03 29 am" src="https://user-images.githubusercontent.com/29746740/27622606-c2001dc0-5b9d-11e7-8ec9-9a4fcb445c62.png">
Just downloaded it and verified access via google 2 step but it keeps saying connecting and wont open? I'm new to Mac, am I missing something?

[2017-06-29 17:36] bcai opened #717 "Screen Wake-Up During Sleep Upon Notification"
When using an external Apple monitor hooked up to a Macbook Pro via Thunderbolt cable, I find that after I have put the laptop to sleep that YakYak occasionally wakes up the screen upon receipt of a new message and displays the YakYak notification (to the top right). The monitor subsequently goes back to sleep after a few seconds.

**This reveals the message content in the notification on the moni

[2017-06-29 20:39] hypercube33 commented on #710
I second this too, since 99% of the hangout users will be into this.

[2017-06-29 20:40] hypercube33 commented on #694
I've seen this too, thought it was related to PS code but this makes sense.

[2017-06-30 21:12] tych0 commented on #330
Ping, if you still have this code, can you push it somewhere? I'd like to fix this as well.

[2017-07-01 02:25] anirbanmu commented on #708
Yes I'm seeing this issue as well.

[2017-07-02 16:03] ideaman924 commented on #717
I haven't checked this behavior yet, but if YakYak uses the Notification Center to send out notifications, then it's not the problem of YakYak itself but rather Apple's macOS.

If YakYak uses a proprietary way of displaying notifications then yes this issue would be a problem.

FYI, if it's number 1 I think there was a way to not show notifications when the screen was being mirrored or something i

[2017-07-05 12:59] nkmittal opened #719 "Notifications not shown"
I have been using yakyak for about 6 weeks by now on my Apple (MacOS Sierra 10.12.3). Sometimes I see that it does not show the notification of a new message neither in pop-up on the top right corner nor in yakyak icon on the bottom bar. With this behavior I am missing out on new messages when I am away from my laptop.

[2017-07-07 00:10] mosspaper commented on #711
Also getting the same issue

[2017-07-07 12:24] tonyzorin opened #720 "Max number of conversation is 32"
All the older chats being hidden somehow and when I need to find the person I chatted with, I have to search.

[2017-07-07 12:28] tonyzorin opened #721 "New conversation"
I just reported another issue with limited to 32 number of chats, thus I need to search.
When i search and pick a contact to open a conversation it opens empty and when I send any text it sends it 2 times and in order to Yakyak to download the history I have to switch to another contact and then switch back.
![image](https://user-images.githubusercontent.com/20819916/27957854-ebf4b9f0-6328-11e7-8a

[2017-07-10 07:47] exebook opened #722 "Hangs on "Connecting" forever"
Yakyak does not start, it just displays it's logo, the word "Connecting" and the three animated dots underneath. I do not receive any timeouts, error messages, it just keeps animating three dots forever (or at least for 50 hours, as I left it open on Friday and it is still in the same state on Monday).

![selection_135](https://user-images.githubusercontent.com/3821217/28007730-c3aee74c-657e-11e7-

[2017-07-11 07:18] robco opened #723 "Add support for SOCKS/HTTP proxy"
Especially in the work environment where network is routed through various proxies the support for web proxy is a must.

Please add support for SOCKS/HTTP/HTTPS proxy

[2017-07-11 16:44] chazz422 commented on #90
This is a major problem with this app right now.  I've had several clients complain about not receiving my text messages.  Only happens with yakyak.  From hangouts client, it works fine.

Yes, it's strange how it shows up on the hangouts client on my phone as if they were sent, but they never get to the destination.

[2017-07-11 16:47] chazz422 commented on #292
Also having this problem here.  SMS messages look like they were sent, even showing up on other hangout clients, but never make it to the destination.  This problem only happens if the message was typed and submitted from the yakyak client.

[2017-07-11 22:48] bcai commented on #717
Awesome, I never realized that you can control notification options of different applications on Mac OS. I will uncheck "show notifications on lock screen" for YakYak and will update this thread if I continue to see the same screen wake-up issue in the future.

[2017-07-12 15:14] DavidBabel commented on #722
Same problem on macos Sierra

[2017-07-13 17:20] GamerClassN7 opened #724 "Notification"
on win 8.1 Notifications are displayed even if the window is visible which sometimes complains me the job would be super if the window is open so you only report the sound to the message.

PS: Will you in future implement Floating style Widget ?
like this: http://d0od.wpengine.netdna-cdn.com/wp-content/uploads/2014/10/hangouts.jpg

[2017-07-13 18:57] tsogkas commented on #687
I have been facing the same problem (UbuntuGnome 16.04) when trying to connect from work. Could it be anything firewall-related?

[2017-07-14 13:03] slackerbob commented on #706
You can "Favorite" conversations, using the 3 dot drop down, then selecting Favorite.

All your favorite conversations are pinned to the top, exactly like you're asking for.

[2017-07-14 17:45] DanLauer opened #725 "A JavaScript error occurred in the main process"
This seems to have shown up after a Windows 10 updates installed last night. Running YakYak 1.4.3 on Windows x64.

A screen shot is here: http://i.imgur.com/uwmXr4H.png

Text of the error:
---
A JavaScript error occurred in the main process

Uncaught Exception:
SyntaxError: Unexpected token

[2017-07-14 19:32] infool7 commented on #725
Have you tried deleting your Preferences file from %appdata%\yakyak folder?

https://goo.gl/HE7ooD

[2017-07-14 20:00] DanLauer commented on #725
I may have overreacted, but I just ditched the whole folder from AppData. Brilliant! It worked.

Thank you @infool7 !

[2017-07-14 20:00] #725 closed

[2017-07-17 07:16] DavidBabel commented on #716
Same here, not working on Mac Anymore

[2017-07-17 07:16] DavidBabel commented on #716
![image](https://user-images.githubusercontent.com/5599375/28258276-a84b27b6-6ad0-11e7-92bc-5fdea6a1685d.png)

[2017-07-17 20:35] fuzzbawl commented on #722
I was having the same issue, but after closing and opening again it works fine. I opened log console on macOS but didn't see anything jump out at me as an error.

[2017-07-20 07:02] orion4444 commented on #638
Me no like stale cookies.

[2017-07-20 07:06] zaphod777 commented on #61
Still hoping to have spellcheck on Mac before the new Allo web client comes out :-/

[2017-07-20 07:28] uman242 commented on #688
well, maybe I should refresh this issue somehow

[2017-07-20 08:33] darrenmcentee commented on #80
Any update on this guys? Do you think real-time friend status changes will be applied to an update soon @averissimo
Thanks,
Darren.

[2017-07-20 11:50] mxxcon commented on #318
This is still a relevant request.

[2017-07-20 13:14] xamphear commented on #657
Hi, not trying to be a pest, but I don't want this to get autoclosed. I've gotten used to the bold font since it's been 3 months now, so if this change was intentional then go ahead and close the ticket as wont-fix.

[2017-07-20 14:09] ctcpip commented on #389
Bump.  👎 `probot-stale` ^ 👎

[2017-07-20 14:10] ctcpip commented on #246
Bump.  👎 `probot-stale` ^ 👎

[2017-07-20 14:10] ctcpip commented on #238
Bump.  👎 `probot-stale` ^ 👎

[2017-07-20 14:22] ctcpip commented on #222
I believe we can close this issue.  (Well, maybe.)  The issue is resolved in latest source code for me, using:

[code]

Suggest opening up a separate issue if the `.nvmrc` solution is desired.

Also, the travis config specifies node 6, so does the documentation need to be updated or will this still build on node 4?

[2017-07-20 15:39] inliquid commented on #675
Wow please don't close.

[2017-07-20 15:40] inliquid commented on #651
Up

[2017-07-20 17:42] skawaii commented on #664
This is important to me. Please keep it open, all mighty probot!

[2017-07-21 09:50] acook commented on #289
No response?

[2017-07-21 15:13] davibe commented on #289
Your description was very accurate and useless, however, i don't think anybody is addressing this (writing code) at the moment. We lack contributors. If i'll have time I will be glad to do it.

[2017-07-21 15:13] #289 closed

[2017-07-21 15:52] iamacarpet commented on #708
This can be fixed by updating node-notifier to the latest.

They fixed the issue by switching the library they used for Toast Popups on Windows to a better supported one.

I've created a fork with the fix, plus some additional stuff for our use with G Suite.
https://github.com/a1comms/yakyak/commit/95b267622a5beb8903e0a51922cc80a7e502c8a5

[2017-07-24 23:21] averissimo commented on #698
thanks for reporting this.. yakyak itself does not implement or specify any store, this is done via npm request module under hangupsjs (the underlying library)

are you using a linux or mac? (i'm not 100% sure about windows)

if so, starting yakyak from a command line with the following should force the use of the proxy

[code]

note, it might require the full path to yakyak as in `/path/to/yakyak

[2017-07-24 23:29] averissimo commented on #82
When building the message to be sent, check the 'on the record' status of the conversation.

This is the line that forces all messages to be kept in history: https://github.com/yakyak/yakyak/blob/master/src/ui/models/userinput.coffee#L48

I'm currently behind a stupid setup that does not allow me to run yakyak and solve this in the short term, I can help with my knowledge of yakyak if someone want

[2017-07-24 23:57] averissimo commented on #574
that big error notification is not supposed to appear at all.. it is a placeholder for the "blank page" errors that we used to have

as soon as the application loads (i.e. connecting screen) this should never appear again.

can you guys trace anything you changed before this started to appear?

[2017-07-25 00:05] averissimo commented on #716
can you guys try: https://github.com/yakyak/yakyak/releases/tag/v1.4.4-connecting

I've been having this problem for a while but I thought it was due to my crappy connection... seems like something else

ps. if there are no binaries, just wait around 15 minutes

[2017-07-25 00:06] averissimo commented on #722
can you guys try: https://github.com/yakyak/yakyak/releases/tag/v1.4.4-connecting

I've been having this problem for a while but I thought it was due to my crappy connection... seems like something else

note: i'm not getting thumbnails.. not sure if this is generalized

ps. if there are no binaries, just wait around 15 minutes

[2017-07-25 00:07] averissimo commented on #723
HTTP/HTTPS proxy is already supported via HTTP_PROXY and HTTPS_PROXY environment variables.. socks indeed needs some work :)

[2017-07-25 00:07] averissimo commented on #704
Can you:

- Open yakyak using a command line a copy the exceptions appearing there
- Open the inspector inside yakyak and see if there are exceptions

thanks!

[2017-07-25 00:12] averissimo commented on #700
Seems like a no :\

Yakyak hangouts backend must use some api that does not allow for those.

[2017-07-25 00:12] #700 closed

[2017-07-25 05:01] KusioST commented on #574
You will get it when You paste large text, but I can also do it for You,. What info You need?

[2017-07-25 10:51] averissimo commented on #574
got it!! Thanks

**Corrected the problem with the error page in latest pull request. Download 1.4.4 again or pull from master to get update**

The too many new lines interface problem is tracked somewhere else and not corrected

....

@KusioST one offtopic issue here as I'm taking advantage of you being active :)

Is yakyak still working for you? I've been having problems in the last week, but I m

[2017-07-25 10:52] #574 closed

[2017-07-25 11:59] averissimo commented on #724
Do you mean just visible or only if focus? (it could be visible but burried behind other windows)

This could be a nice improvement :)

Floating style widget is a no, see #370 for the full discussion

[2017-07-25 12:01] averissimo commented on #720
Humm maybe this is a limitation of our backend, that syncs "recent" conversations, which could just mean up to last 32

[2017-07-25 12:05] averissimo commented on #713
Toast is a fallback system for displaying notifications :)

There is an option to mute sounds, view -> popup notifications -> disable sound in notifications

I'm closing the issue :)

[2017-07-25 12:05] #713 closed

[2017-07-25 12:06] averissimo commented on #719
all types of notifications or just specific (such as images, videos)

[2017-07-25 12:07] averissimo commented on #715
scrolling up should do this, does this happen to all your conversations?

[2017-07-25 12:09] averissimo commented on #709
This is super strange.

which version of yakyak? try the latest or the last pre-release please

This bug was supposed to be solved last september

[2017-07-25 12:18] averissimo opened #728 "Ui Improvement: Startup screen"
The current "Loading Contacts" phase is only for show, as all conversations have been loaded and it is waiting on the photo's of users to switch to the interface

Starting an implementation discussed on #605 there is a branch called stuck_in_connecting that skips this

![outrj7smpwcgv](https://user-images.githubusercontent.com/211358/28571567-bbfc480c-7143-11e7-9aa5-793938bd344b.gif)

Next step is

[2017-07-26 09:38] totov commented on #722
@averissimo that fix works for me 👍

[2017-07-26 11:49] averissimo commented on #722
@totov, a couple questions regarding your connection

- are you able to see all avatars?
- can you maintain a conversation? i.e. exchange messages back and forth?

Mine keep being shown as "sending" although they have been received on the other end

[2017-07-26 11:49] MurKit commented on #715
Yeah, it feels like scrolling up should do this, but when the latest showed part of conversation is too small to scroll somewhere, older messages just don't load.

[2017-07-26 12:12] totov commented on #722
@averissimo

Sorry, I haven't used it extensively, but from limited usage everything appears to be working as it should be (including avatars and message sending status).

[2017-07-26 12:56] averissimo commented on #722
cool!!

Nevertheless I think I traced down the "problem" and updated the backend a bit.. needs some more testing until released with yakyak though

Thanks for the feedback @totov _o_

[2017-07-26 23:44] austin-guevara commented on #728
@averissimo — All for this!

Thoughts for implementation – we could use a font like [Flow](http://danross.co/flow/#) to obscure the messages while all the images assets are loading in and then swap it out for Roboto when the images become available. This would give the appearance of everything appearing at once. It would look just like the above.

[2017-07-27 05:40] KusioST commented on #574
Now it look better, but there is still something to fix. When I paste long text and delete it then YakYak window start looks like this:
![error_yak_yak](https://user-images.githubusercontent.com/25057693/28655836-9ce6d480-729e-11e7-9932-9fe020666bf7.jpg)

[2017-07-27 05:43] KusioST opened #729 "#574 - I need to start new topic to continue?"

[2017-07-27 13:04] averissimo commented on #242
As @kusioST reported this bug is still active when pasting or writing long inputs

from #574

![](https://user-images.githubusercontent.com/25057693/28655908-098a3f8c-729f-11e7-8c83-8ff564bdf289.jpg)

[2017-07-27 13:05] averissimo commented on #729
@KusioST #574 and this issue are duplicates of #242 (reported a year ago :( )

Let's keep the conversation there, can you add your screenshot to that issue please?

ps. closing this as it is a duplicate

[2017-07-27 13:05] #729 closed

[2017-07-27 13:27] averissimo commented on #242
See pull request #730 for an implementation... I used maximum of 5 lines for the textarea.

It was an arbitrary choise, if you guys prefer more or less let me know :) @zuccs @KusioST

Please give feedback so I can merge the changes

[2017-07-27 13:30] averissimo commented on #242
Screencast with demo

![outfmkulac7za](https://user-images.githubusercontent.com/211358/28672594-7023eeaa-72e0-11e7-8616-78b4783b5ae0.gif)

[2017-07-27 13:42] averissimo commented on #728
Didn't know about that font, sounds perfect!!

I/we/someone just needs to figure out how to implement the sequence before what is already implemented *(in the screencast)*

I guess there are two options, creating a hardcoded animation or leverage the virtual DOM to create dummy conversations.

If I pick this up I would highly prefer the latter option, as it would (mostly) ensure forward compatibil

[2017-07-27 13:43] averissimo commented on #728
Anyway this is the timeline I can think up.

1. Yakyak app is loaded (b4 even starting to connect)
1. (optional) get an estimation on number of active conversations
1. Generate virtual dom with conversations
1. Get data from hangouts and replaces conversations in virtual DOM

**Any corrections or something I'm forgetting?**

[2017-07-27 15:30] danbob commented on #685
I just noticed the same problem on Linux (Ubuntu 17.04 x64). Looks like it happens on macOS as well per #663.

[2017-07-27 15:49] danbob commented on #689
It looks like this is an issue with the node-notifier library: https://github.com/mikaelbr/node-notifier/issues/188

[2017-07-27 16:19] flexbed commented on #689
I believe that the app should withdraw the notification when focused, as opposed as being transient.
At least that's the behaviour I'm familiar with.

PS: I'll take a shot to fix/add the code if someone point me in the right direction.

[2017-07-27 21:41] stacksjb opened #731 "Application crashes upon pasting large bodies of text"
I can reliably & repeatedly crash latest version of YakYak by pasting a large body of text into the message window.

For example, go to http://coolsig.com/proverbs5.html and select all & copy the page, then paste into the message box.

[2017-07-28 00:12] averissimo commented on #689
node-notifier module really needs an update in yakyak, the version we are using is very old ( https://goo.gl/x3KrV5 )

I believe the call to generate notifications is here: https://github.com/yakyak/yakyak/blob/master/src/ui/views/notifications.coffee#L80

[2017-07-28 07:58] averissimo commented on #731
Can you open yakyak using the command line and copy here the error if it .

And which operating system and version are you using?

I can't replicate it with latest pre-release 1.4.4

![outccsltasmxs](https://user-images.githubusercontent.com/211358/28708087-242fbdee-737b-11e7-87b2-ac7397554843.gif)

[2017-07-28 18:20] stacksjb commented on #731
I am running 1.4.4 on Mac OS X

The entire app does not crash, but I get the attached screenshot:

<img width="1510" alt="screenshot" src="https://user-images.githubusercontent.com/2865491/28730910-03cb025c-738f-11e7-99e3-af94228e3671.png">

I am forced to re-load the app to regain full functionality.

I checked the messages console but the following are the only ones that are there:

`Failed to d

[2017-07-29 05:02] nkmittal commented on #719
All types...and it happens at least once in a day.

On Tue, Jul 25, 2017 at 5:36 PM, André Veríssimo <notifications@github.com>
wrote:

[2017-07-31 22:38] stacksjb commented on #731
Can you give me instructions on how to launch or get more detailed debug info?

[2017-07-31 22:48] radix opened #732 ""unexpected token" on startup"
I can't start YakYak any more. I get a dialog with the following text:

"A JavaScript error occurred in the main process"

"Uncaught exception"
"SyntaxError: Unexpected token"

I've tried reinstalling the latest release and I'm still getting it.

[2017-08-01 10:17] KusioST commented on #242
At the request of a averissimo (#729) - screen from #574
![error_yak_yak](https://user-images.githubusercontent.com/25057693/28820764-209c5fbc-76b3-11e7-8838-803aad90a78a.jpg)

[2017-08-01 21:54] kopazetic opened #733 "No 'last active' timestamp as in hangouts"
![screen shot 2017-08-01 at 5 53 59 pm](https://user-images.githubusercontent.com/11838735/28848864-7c57579c-76e2-11e7-8a63-9761f8a88e9a.png)

[2017-08-02 00:04] austin-guevara commented on #728
@averissimo

This is great. We could even save some effort on step #2 by always loading in a set number of conversations (such as you see in the above mockup).

![Medium Loading UI Skeleton](https://cdn-images-1.medium.com/max/1600/0*cVpwSmvQgV8hcJUC)

Take Medium as an example – they show the same loading animation – it doesn't have to be the exact number and position of articles. Just a skeletal

[2017-08-02 10:10] kukulich commented on #732
I have same problem.

[2017-08-02 12:51] tesseract241 commented on #732
Same problem here, it happened after the lights went out in my apartment. I even deleted the entirety of the yakyak folder (Windows 10 here), but the same error happens.

[2017-08-02 13:34] kukulich commented on #732
I've removed all yakyak data in my user profile and now it works again :)

[2017-08-02 13:46] tesseract241 commented on #732
Thanks for mentioning it, it worked for me too.
To help other, under windows the profile data is stored in AppData/Roaming/YakYak in your personal folder.
AppData itself is a hidden folder, which you need to tell Windows you want to be able to see by going under Folder Preferences.

[2017-08-02 17:26] radix commented on #732
yes, deleting the folder does work around the problem.

I noticed that other people have filed a similar bug on the tracker, but for some reason they closed the bug again when they figured out how to reset their profile data. Of course, the bug is still there, so I'm not sure why they closed the bug...

[2017-08-02 20:44] LuizJa commented on #675
Actually I was here to say exactly the same but I was looking first in the previous issues before to make sure other people have the same problem.
Yes, even though the chat, one-to-one or a group one is marked as history off it keeps the record but only if people are using yak yak.
For instance. I have a multichat with other 4 people, 3 of them uses hangouts via web and other one and I uses yak ya

[2017-08-03 12:01] hmetin07 commented on #732
Have you tried deleting %AppData%\yakyak folder ?

https://goo.gl/HE7ooD

[2017-08-04 13:20] hypercube33 commented on #66
This happened to me on Windows 10 x64, 1703 using YakYak 1.4.3 - same exact symptoms.

[2017-08-04 14:01] bandophahita commented on #704
I just noticed this error on 1.4.2 and 1.4.3

[code]

[2017-08-08 17:52] psouza4 commented on #104
This is not stale, bot!  Unstalify it!  Sadly, it's still an issue.

[2017-08-08 23:49] justinforce commented on #722
I was able to get around this by reproducing [this change](https://github.com/yakyak/yakyak/commit/5d9b8338246de18ae9758e6a74ce4c90856b0913#diff-068bcf3f71a87e86883e2f6265d6e77aL51) by editing the compiled JavaScript locally.

[code]

YakYak v1.4.3 via [AUR](https://aur.archlinux.org/packages/yakyak/) on Manjaro 17.0.2

[code]

[2017-08-09 15:08] robpetrin commented on #330
I'm seeing this, and it's preventing me from using YakYak.

As others have stated, I receive the SMS I sent from YakYak on all of my devices, but the recipient does not. Interestingly, when I click "View details" on my phone, it shows ME as the recipient, not the person I'm in the conversation with. This would explain why the text shows up on my devices, but the recipient doesn't report receiving

[2017-08-09 23:56] projectfi commented on #177
Hi there! We are very impressed with your hangouts client! But can't help you from Google sorry due to the terms and conditions 😞.

[2017-08-10 00:21] hadees commented on #177
@projectfi really? that seems odd, why even respond?

[2017-08-11 15:38] Cutriss opened #734 "Yakyak quietly dropping messages"
I have two issues in yakyak which I suspect are related. I've typed some messages to a friend, and then later came back to the window to discover they were never sent, and are completely missing from the conversation.

Today, just after I experienced that issue again, I experienced another case where messages were not sent correctly, but at least they still show up in Hangout (without the black te

[2017-08-11 17:22] sousa30 commented on #704
sorry m8, I've uninstaled it.
maybe I'll try it again when it supports video calls

2017-08-04 15:02 GMT+01:00 bandophahita <notifications@github.com>:

[2017-08-13 03:22] Guardian9978 commented on #732
I had this problem to so I went into %appdata%/yakyak and I made a backup of all the files/folder and then tried to start it up with different combinations until i found the problem file "cookies.json" when I opened it with notepad++ it was full of "nul" entries. So for me the fix for this problem was to delete cookies.json from %appdata%/yakyak and the problem went away.

[2017-08-13 15:29] abemanian opened #735 "UI Not Starting on elementary OS"
YakYak successfully opened when I initially downloaded and extracted it.  After restarting my laptop the UI does not open, and when trying to open it in terminal it gives this error:

`A JavaScript error occurred in the main process
Uncaught Exception:
SyntaxError: Unexpected token T in JSON at position 0
    at JSON.parse (<anonymous>)
    at loadFromFile (/home/atashsiah/Applications/yakyak-linu

[2017-08-14 11:23] anjit6 commented on #734
I'm facing the same problem. I'm on Mac OS X 10.12.6.

[2017-08-15 01:25] uwu-uwu commented on #732
Same problem here, had to delete app data folder, during a sudden power interruption causing the pc to shut off.

[2017-08-15 01:25] uwu-uwu commented on #734
Same on windows 10 64 bit.

[2017-08-15 01:26] uwu-uwu commented on #731
Windows 7/10 64 bit, doesn't crash when pasting huge bodies of text but it DOES make the emojis list pop up

[2017-08-15 15:17] johnduhart commented on #245
Still relevant, for example my corporate policy prevents users from installing unsigned binaries.

[2017-08-16 13:32] mbinkhorst commented on #734
Chiming in. I'm on Mac OS X 10.12.6.

[2017-08-17 11:35] Sovkhoz opened #736 "Not loading on Linux Mint 18.2"
I'm using yakyak version 1.4.3. It has been working flawlessly for a week and a half, then suddenly stopped launching when I boot up my laptop. Manual double clicking also won't launch the program.

There are two instances of yakyak in the system monitor. one process name is just yakyak, the second is yakyak --type=zygote --no-sandbox

here is the output of ./yakyak

==================

A JavaScri

[2017-08-18 04:02] jjt commented on #734
Same here, MacOS 10.12.6

[2017-08-18 04:19] jjt opened #737 "Links don't open in browser right away [v1.4.3]"
When clicking on a link, YakYak seems to wait for the link to resolve before opening in a browser. This violates the principle of giving immediate user feedback when an action is taken.

The solution would be to do as almost every other application does and open the link in a browser immediately upon clicking.

To test, try this link from YakYak. It introduces a 10s delay before redirecting to goo

[2017-08-18 19:48] luni3359 commented on #732
I delete the folder constantly, it's becoming an issue.

[2017-08-20 14:50] shadowbottle commented on #13
Is YakYak no longer being developed?

[2017-08-20 19:35] creedda commented on #382
Would love to see an auto-update feature added

[2017-08-21 22:01] Aedaeum commented on #348
My opinion of that is that this project is becoming stale with the majority of updates being community pull requests.

[2017-08-22 17:05] miguel-nunes opened #740 "User icon not shown in notifications"
I think it should be a good improvement the notifications have the user icon.

I'm trying to implement this but it's the first time I'm seeing a Node code alive :)

I'll study a little more. If I have some success, I'll let you guys know!

Cheers,

--
Miguel Nunes

[2017-08-22 20:28] 5tefano commented on #734
Same. MacOS 10.12.6

[2017-08-23 10:14] OctoPenguin opened #741 "Can I get this into Ubuntu Software?"
YakYak is hard to install. Seriously. Can I attempt to get it into Ubuntu Software? Or even Snap it?

[2017-08-23 21:22] PMiner commented on #741
You could compile YakYak for your OS yourself. See: https://electron.atom.io/docs/all/#build-instructions-linux

[2017-08-23 21:23] PMiner commented on #741
I don't have Linux at the moment, but I could quickly install ubuntu on a test computer if somebody wants me to compile this.

[2017-08-23 21:39] PMiner commented on #736
Possibly related to #735 ?

[2017-08-23 21:43] PMiner commented on #733
+1

[2017-08-24 01:20] bk800 commented on #734
Hi,
All messages are dropping for me using yakyak since 8/16.  I'm stuck using gmail.  Hope you can fix this soon.  Yakyak is the best!

![image](https://user-images.githubusercontent.com/21371147/29645039-b6dbd006-882f-11e7-8dce-eeaa13f5da88.png)

[2017-08-24 06:56] OctoPenguin commented on #741
Can I take this as a yes? I can easily put it in Software

[2017-08-24 13:56] nayefc opened #743 "Mac OS X Sierra latest Yak loses connection"
After running Yak for a few minutes, all sent items are slightly greyed out and it stops receiving anything.

Is this a known problem?

[2017-08-25 22:02] augmentedfourth commented on #707
Any help here? Is this even possible? I'd like to keep this issue alive if there's a chance of implementing conversation re-ordering/grouping in YakYak.

[2017-08-28 20:50] JasonQG commented on #734
Also seeing this in Windows 7 64-bit

[2017-08-29 10:05] zubaki91 opened #745 "How can I help translating?"
Hello, I find this project very useful and I'd like to contribute by translating in italian, but I'm new to github and I don't know how to add a file to the repository and have it approved.
Can anyone help me? Can I simply upload a file and it will be added to the repository?

Edit: I tried to upload a file (it.json from the locales) but it tells me that i need push privileges...

Edit 2: I manage

[2017-08-29 13:34] #745 closed

[2017-08-29 14:08] averissimo commented on #745
Great work, we'll look into the pull request soon :)

[2017-08-29 18:59] bupkis opened #748 "Only 1px of scrollbar clickable when windowed"
When clicking the scroll bar, only the leftmost pixel is clickable before Windows switches to the horizontal resize cursor. (Using yakyak 1.4.4 win32 x64 on Windows 10)

![image](https://user-images.githubusercontent.com/10007918/29838949-8989f46c-8cb1-11e7-8ce4-5f3d22f23ceb.png)

![image](https://user-images.githubusercontent.com/10007918/29838958-8decf1da-8cb1-11e7-8eb6-d5f8257acc4c.png)

[2017-08-30 02:17] chronodm commented on #80
Is this issue about setting your own status or displaying friend status? It seems to change topics as of @darrenmcentee's comment on April 20.

[2017-08-30 18:01] austelly commented on #734
Same on windows 10 64 bit.
It used to work perfectly until a couple of weeks ago.

[2017-08-30 18:26] mbinkhorst commented on #734
Updating my post: it seems to work fine now for several days. Could have been a network/routing hiccup somewhere? I have changed DNS providers, am no longer on Google's DNS. (OS X 10.12.6)

[2017-08-30 19:51] froon opened #749 "Ability to easily switch accounts."
Would like to make a feature request. I would like to see the ability to quickly and easily switch google accounts. i.e. how mobile hangouts allows this via a quick drop down menu.

![screenshot_20170830-125201](https://user-images.githubusercontent.com/2131939/29892119-3d2d42a0-8d82-11e7-90de-c34a1b97042a.png)

[2017-08-30 19:56] VickG commented on #13
+1

[2017-08-30 20:07] froon commented on #13
+1

[2017-08-30 20:10] froon commented on #749
Sorry see this is a duplicate.

https://github.com/yakyak/yakyak/issues/13#issuecomment-326101164

[2017-08-30 20:10] #749 closed

[2017-08-31 15:52] Mrtops opened #750 "Add Video Call Support"
Hi, can you please add integrated support for video calls into the app?

[2017-08-31 20:18] bk800 commented on #734
Still does not work for me, (Windows 7 64bit)  Yakyak v1.4.3

[2017-09-01 06:11] jefu7 opened #751 "Translate into Japanese"
Hello. I will be happy to work on a Japanese translation.  I don't know how to use GitHub (I signed up just so I could send this note).  But I am very grateful to have a MacOS Hangouts client!

Please let me know how I can help.  If you can send me the list of strings in English, I'll work on translating them into Japanese.

Jeff

[2017-09-01 08:06] finthamoussu commented on #13
+1

[2017-09-01 15:59] PMiner commented on #741
I think yes? If you follow the Linux compiling instructions, it should work. I'm not sure about getting it into ubuntu software though.

[2017-09-01 16:27] PMiner commented on #751
https://github.com/yakyak/yakyak#how-can-you-help\

First, you need to clone YakYak to your computer, then you add a file called "JP" or whatever the 2 letter code for Japan is, and copy paste the English version, to the Japanese one, then edit all the strings to be Japanese. then create a pull request to merge your fork. if you need more GitHub help, download GitHub desktop, desktop.github.com, b

[2017-09-01 18:04] PMiner commented on #750
Even if it just opened a new call where you could invite people would be better than nothing.

[2017-09-01 18:09] PMiner commented on #13
I have the same question as @shadowbottle . There hasn't been a commit since july...

[2017-09-02 09:32] jefu7 commented on #751
Thanks!

Okay, I’ll give it a go. This is like a trip into the wilderness for me, but let’s see what I can do…

Thanks.

Jeff

On Sep 2, 2017, at 1:27 AM, Saturn Software <notifications@github.com> wrote:

https://github.com/yakyak/yakyak#how-can-you-help\ <https://github.com/yakyak/yakyak#how-can-you-help%5C>
First, you need to clone YakYak to your computer, then you add a file called "JP" or wha

[2017-09-02 12:44] jefu7 commented on #751
Hi there. I've translated all the strings. The file is attached. Might someone help me get this added to the main program (yes, I have never done anything like this before, but do want to help!).

(Sorry, I had to zip it before github would let me attach it to this note.)

I hope this is useful.  Sorry not to be able to do everything right myself to add it!

[jp.json.zip](https://github.com/yakyak

[2017-09-04 02:07] omarjordanf opened #753 "Show names in group chats"
I work for an organisation that requires all users to have the same display picture. Group chats are hard to use in Yakyak as it only shows display pictures, and no names. is it possible to add this functionality in further builds?

[2017-09-05 13:19] nayefc commented on #743
Duplicate of https://github.com/yakyak/yakyak/issues/734

[2017-09-05 13:19] #743 closed

[2017-09-05 13:19] nayefc commented on #734
Same for me, happens every time.

[2017-09-05 17:16] tonypg1 opened #754 "Can we please have auto correct in this app?"
So far this is the best google hangout app I have used. And it's free! If you could add the auto correct function in it that would be perfect!

Thanks.

[2017-09-06 17:46] slackerbob commented on #737
I can confirm this also happening in Arch Linux.

[2017-09-06 20:51] slimpyman opened #755 "Chrome Native drag and drop support restricted"
while the web version of hangouts, and the chrome hangouts extension supports multiple drag and drop elements, (webm, m4a, mp3, jpg, gif, avi etc) it seems the only thing we can drag and drop into a conversation is BMP, which is a very antiquated propriatry windows format.

[2017-09-08 00:44] jefu7 commented on #751
Hi there.  Can someone please help me get my jp.json file up into the "Pull Request" queue?  I've been trying and trying, both online and in the desktop program. I can't get my head around how to create a new repository with the clone, add jp.json and then create a Pull Request. And I've tried... and read help files... and tried...

Thanks.

[2017-09-08 02:22] vmus commented on #698
This worked for me. https://stackoverflow.com/a/21961005/1283098

[2017-09-08 12:55] x-tk commented on #733
+1

[2017-09-08 13:20] cgallaty opened #757 "Multiscreen Issues"
In Windows 10, I have two monitor setups. My home office has a monitor above the 'main' one. When I am remote I have a portable that I use. Yak Yak seems to save the absolute position on the virtual desktop and restore that.... even if that is well off of the existing physical screen space. Short term, could there be a setting to just reset the position on startup? (i.e. not save screen position f

[2017-09-10 22:35] natecox commented on #90
This is certainly still an issue, commenting to prevent automated closing.

[2017-09-11 16:15] roncemer commented on #681
I'm having the same problem.  Just installed the newest version two days ago, and it looked as if it was going to work.  Now it just hangs at "Connecting" with the three animated dots below it.

Come on, folks.  Can't we get a WORKING Hangouts client for Linux?  You know, something reliable, because I need this for my work.

[2017-09-11 16:15] roncemer commented on #640
I'm having the same problem.  Just installed the newest version two days ago, and it looked as if it was going to work.  Now it just hangs at "Connecting" with the three animated dots below it.

Come on, folks.  Can't we get a WORKING Hangouts client for Linux?  You know, something reliable, because I need this for my work.

[2017-09-11 19:04] that1communist commented on #690
This should not be closed, because this is still a major bug.

[2017-09-11 20:08] that1communist opened #758 "errors on latest version of npm"
latest version of npm fails to build yakyak
[code]

[2017-09-11 21:53] #640 closed

[2017-09-12 00:09] zaphod777 commented on #681
You need to have at least one chat in hangouts before connecting. Go to the web ui and start a chat with anyone and then it should connect.

[2017-09-13 14:52] averissimo commented on #382
@TwisterMc there is popup that appears (as well as the console line).. but I think we can change it to fit the UI a little bit better by using a notification in the top right corner instead

[2017-09-13 15:17] averissimo commented on #382
Created a pull request with a better (less intrusive) alert system notification.

However updates to Yakyak are quite sparse, as we build on pre-releases for some time before releasing a new version.

see #759

[2017-09-13 15:18] averissimo commented on #382
about the auto-updater, last time I checked a package to do this did not work for all systems.

If this has changed let us know :)

[2017-09-13 15:37] averissimo commented on #689
pull request #760 should solve this

[2017-09-13 16:19] averissimo commented on #706
great answer @slackerbob

closing the issue

[2017-09-13 16:19] #706 closed

[2017-09-13 16:24] averissimo commented on #681
@roncemer does @zaphod777 tip solves the problem?

if not can you press `Ctrl + Alt + I` and check if there are any exceptions on the console tab

[2017-09-13 16:25] averissimo commented on #640
@roncemer the solution so far is to add a new conversation using the web interface

[2017-09-13 16:27] averissimo commented on #758
Try `npm i -g npm@5.2`

I don't believe this is a Yakyak problem, but an npm problem

I just had the same problem, but running again the error became `Cannot read property '0' of undefined`

See  for the full thread https://github.com/npm/npm/issues/17858

[2017-09-13 16:29] averissimo commented on #687
super strange.. can you try to run the following commands:

(if this still persists)

[code]

[2017-09-13 16:33] averissimo commented on #690
There's a pull request that should help with google voice.

Can someone test it out? I can also build the binaries

[2017-09-13 16:33] averissimo commented on #90
@natecox, can you help test a pull request that might address this issue?

[2017-09-13 16:35] averissimo commented on #717
@ideaman924 you are right, we are using node-notifier to avoid having to support multiple systems.

Can we close this issue?

[2017-09-13 16:35] natecox commented on #90
@averissimo Sure, which one?

[2017-09-13 16:35] marsh3gbsd commented on #707
Pinning is available.  If you select a conversation, click the three dots, you can "Favorite" the conversation.

Allowing different sorting than alphabetical in favorites and timestamp in recent would be an amazing addition.

[2017-09-13 16:36] averissimo commented on #733
You mean with users in contact list or in every message?

[2017-09-13 16:37] chazz422 commented on #90
I can help test also.

[2017-09-13 16:45] averissimo commented on #90
#738 or the `hawksprite-feature/google-voice-sms` newly created in yakyak/yakyak

For a binary file in 5 to 15 minutes there should be a release called v1.4.4-google-voice

__For this to work you need to__:

- activate an option called `Google Voice Mode` in main menu
- try to send an sms in a google voice conversation

note: this changes the way all messages are being sent in the client to use "g

[2017-09-13 16:50] averissimo commented on #751
Closing the issue as the translation has been merged and included in the pre-release

Thanks @PMiner for the help! and @jefu7 for the fantastic translation, it's pretty awesome to use Yakyak with japanese characters :)

[2017-09-13 16:50] #751 closed

[2017-09-13 16:58] #684 closed

[2017-09-13 16:59] averissimo commented on #684
This will be available in 5-15 minutes in the v1.4.4 prerelease :)

[2017-09-13 17:03] chazz422 commented on #90
I checked the option for google voice like you mentioned, and sent a text to my wife through yakyak.  It works now!!!!!

Verified running on Linux.  Thanks for the update.

[2017-09-13 17:09] augmentedfourth commented on #707
OK, that's helpful. But what I'd really like is to see a list of who's active/online, like I get in Adium. For YakYak, I guess the best way to get that is to allow ordering by status.

[2017-09-13 17:12] jeffwllms commented on #90
I have downloaded the client linked to, but I can't seem to find the setting that is suggested, can anyone provide any more detail?

[2017-09-13 17:14] natecox commented on #90
Looks like I'm able to receive SMS from Project Fi on the posted binary, using macOS.

That being said, none of my contact information is being synced down, so all I can see are phone numbers and every avatar is a question mark (See below). I know on my iPad hangouts app I need to mark an option for "upload contacts" in order to get the contact information. Is there something similar I need to do

[2017-09-13 17:15] natecox commented on #90
@jeffwllms on macOS you can find it in the main menu.

![screen shot 2017-09-13 at 10 14 51 am](https://user-images.githubusercontent.com/2782695/30390907-6e131b8e-986c-11e7-9f69-96f974adb824.png)

[2017-09-13 17:16] chazz422 commented on #90
Same problem here with ? mark in icons, but I believe that's a separate problem.

The problem with sending sms here is resolved for me.

[2017-09-13 17:19] jeffwllms commented on #90
Hep, sms appears to be working.  However just liek others it is now a question mark icon.  This is at least workable for now.

[2017-09-13 17:25] jeffwllms commented on #90
So, just on a side not it looks like mms, sending an image, etc. doesn't work

[2017-09-13 17:37] kopazetic commented on #733
In contact list

On Wed, Sep 13, 2017 at 11:36 AM, André Veríssimo <notifications@github.com>
wrote:

[2017-09-13 18:02] #717 closed

[2017-09-13 19:26] jefu7 commented on #751
André, I had a look at the newest version (on my Mac) and a few items are not showing translations in the menus (screenshots attached).

I think I provided translations for two of these items (emoji and full screen), but now see that I'm missing one for "Use System Date Format".  Here's the current code.

        "edit": {
            "title": "編集",
            "undo": "元に戻す",
            "redo":

[2017-09-13 19:28] jefu7 opened #763 "Japanese Translation - three items not displaying (Mac OS)"
André, I had a look at the newest version (on my Mac) and three items are not showing translations in the menus (screenshots attached).

I think I provided translations for two of these items (emoji and full screen), but now see that I'm missing one for "Use System Date Format".  Here's the current code.

        "edit": {
            "title": "編集",
            "undo": "元に戻す",
            "redo":

[2017-09-13 21:11] averissimo commented on #763
## suggest emoji on typing

I've updated the latest ja.json (and all other transalation files) to include the suggestemoji string.

## Use system date format

Also updated that in all translation files

## Fullscreen

This seems to be a bug of some sorts in Mac OSX, can you try other translations to see if the same string is also untranslatable?

## Start dictation and Emoji & Symbols

This is som

[2017-09-13 21:14] averissimo commented on #763
if you want to finish the japanese translation, do the same steps as you did before to create the patch-1 branch

you just have to get the latest version from the Yakyak repository. This is usually done via a `pull` action

Then create patch-2 _(or some other branch)_, perform the changes and then create another pull request :)

[2017-09-13 22:55] jefu7 commented on #763
Got it.  But I have a question first...

I'm not sure how to deal with the two emoji commands... would you please confirm so I don't mess it up again?

![two emoji commands](https://user-images.githubusercontent.com/31531480/30404534-5631895a-98a4-11e7-84ed-aaadd7bd7854.png)

[2017-09-13 23:32] jefu7 commented on #763
Hi André.  I made the changes (in the online editor -- I can't figure out the pull action or how to upload files I edit offline) and, added the missing bits, and did a pull request.   Fingers crossed it works this time!

[2017-09-14 01:34] averissimo commented on #763
again great work!!

[2017-09-14 01:34] #763 closed

[2017-09-14 09:46] lukasoppermann commented on #758
Had the same error twice with different packages. Downgrading to `5.2` works.

[2017-09-14 16:20] averissimo commented on #707
Humm kinda related to #733

Something like group offline contacts in bottom _(of both pinned contacts and general)_ ?

[2017-09-14 16:21] averissimo commented on #757
Thanks for reporting this, I believe we tried fixing this recently right @davibe ?

Which version of Yakyak are you using @cgallaty ?

[2017-09-14 16:25] averissimo commented on #737
10s delay :o

we do perform some stuff in the background.. one of my first contributions to yakyak was to remove the google.com redirect link for non-google links ... but that is just a regular expression operation and it should be really fast

[2017-09-14 16:48] averissimo commented on #737
the delay exists because we are loading the link in Yakyak itself to get an authenticated link _(for cases where it is private to the user)_ and this has to be done inside Yakyak as it is the only app that is guaranteed to be authenticated and has permission.

This is really needed for videos shared in a conversation

However, I believe that non-google links are always prefixed by a google redirec

[2017-09-14 17:00] averissimo commented on #737
@jjt @slackerbob can you guys test #767 pull request?

[2017-09-14 17:17] averissimo commented on #90
Ok, thanks for the feedback!! I'll try to improve on this "soon".

I have two question for you guys __see in #738 __

I'm closing this issue and moving the conversation there

[2017-09-14 17:17] #90 closed

[2017-09-14 17:47] averissimo commented on #292
Closing the issue (duplicate), please add all comments in #738

If you want to help with this bug, subscribe to #738 as I'm now active and trying to fix it with @hawksprite excelent work

but I do not have a google voice account / conversation, so I need help debugging my advances :)

ps. this is also a duplicate of #90

[2017-09-14 17:47] #292 closed

[2017-09-14 21:22] cgallaty commented on #757
I'm on 1.4.3 (which claims in the About that it's the latest.) As I said, I cycle through a number of configurations depending on where I am and I always tend to throw chat/music/etc to a secondary window. I would be happy to just restart and move in the short term. As is, I tend to just going into settings and physically move a screen to go fetch the window if I need it. (Usually it's faster to j

[2017-09-14 22:54] jjt commented on #737
Ooh nice, will try that out!

[2017-09-14 23:11] jjt commented on #737
@averissimo That seems to do the trick! It's funny because something about a new tab opening up instantly when I click a link feels better to me, even though I know I have the same amount of waiting either way :p

[2017-09-15 15:29] #242 closed

[2017-09-15 17:11] PMiner commented on #754
Electron is based on chromium, and chromium has some auto-correct pre-installed, so maybe that could be enabled?

[2017-09-15 17:27] PMiner commented on #741
have you tried compiling yet? @OctoPenguin

[2017-09-15 19:09] averissimo commented on #741
@OctoPenguin if you add to our build process you are more than welcome!! the snap pull request you created is something that the community will definitely benefit

I think we just need to make sure that it is an automated process... no more building and uploading manually :p

[2017-09-15 20:50] danchr commented on #245
I've posted pull request #768 which should enable signing binaries when built on a Mac. What's the build process for releases? Are they built manually or by Travis?

[2017-09-15 21:44] tsogkas commented on #687
Thanks @averissimo. Indeed the problem was that ~/.config/yakyak was owned by root. I fixed that and now it's working!

[2017-09-15 23:12] averissimo commented on #687
@clxcoltz the problem that you have should be the same, reopen the issue if it not :)

[2017-09-15 23:12] #687 closed

[2017-09-15 23:13] averissimo commented on #245
They are built by Travis

[2017-09-16 00:35] averissimo commented on #737
:) I understand the feeling, what do you think about the UI when opening a google link, such as a picture or video?

There the delay must happen, but I've added a 3second notification

[2017-09-16 01:02] averissimo commented on #757
@cgallaty , thanks for the feedback

can you try this pre-release called v.1.4.4-position : https://github.com/yakyak/yakyak/releases/tag/v1.4.4-position and see if works

I'll only have access to an external monitor on Monday, so at least until then it will have to wait unless you can test it :)

[2017-09-16 01:06] averissimo commented on #734
wow, this was a big problem, it is still happening?

If so can someone try the latest pre-release, it was updated today with something that could help in crappy networks

[2017-09-16 01:15] averissimo commented on #755
Currently it only supports images, at least jpg and png are supported.

Can I suggest you change the title of the issue to "Support drag and drop for avi, mp3, m4a, ..." ?

[2017-09-16 01:20] averissimo commented on #711
Crap, #518 for reference...

Can you describe when this is happening, on login, when opening a conversation, opening the details of a conversation, you get the picture.

[2017-09-16 01:23] averissimo commented on #753
This is a funny one, would showing the display picture with first and last initial suit, or really show the full name?

[2017-09-16 01:29] averissimo commented on #13
it went through heavy vacations, I pick up development from time to time, but my timeline for the next 6 months it's pretty thesis-oriented.

We have now several pull request from new users, I would really like to see more and more in the future.

If someone is interested in contributing regularly, it's pretty easy to gain write access to Yakyak, just create good pull requests _(at least that's ho

[2017-09-16 01:31] jjt commented on #737
I'll have to test it out, as we don't normally use google images/videos. Will report back.

[2017-09-16 01:33] averissimo commented on #748
In linux I think several pixels are clickable, we would welcome a windows developer to tackle this issue :)

[2017-09-16 01:37] averissimo commented on #710
this is a duplicate of #370

_short version:_ sorry, current developers don't really like it.. we welcome and would accept pull requests for this functionality thought!! (keeping an option to switch between the two types

[2017-09-16 01:37] #710 closed

[2017-09-16 01:38] averissimo commented on #694
Should be solved __today__ in the pre-release v1.4.4 :)

[2017-09-16 01:38] #694 closed

[2017-09-16 01:48] cgallaty commented on #757
No love. I moved the app to a screen, closed Yakyak, then disconnected the screen, reopened the app and it was still on the missing screen. Now, if I leave Yakyak on, and disconnect the screen, then it seemed to move the window, so that's good. It seems its a glitch in the startup position.

[2017-09-16 01:48] averissimo commented on #61
Unfortunately it seems like the person that suggested was wrong (his words)

Last I visited this issue it still required Yakyak to be compiled in different environments, Linux, OSX and Windows. __Has something changed related to this?__

As we build using Travis-CI.org we would be able to do it in Linux and OSX _(if the experiment I'm doing today works)_

__Question for anyone that knows__ _(hint

[2017-09-16 01:49] averissimo commented on #683
duplicate of #61 , please continue discussion there :)

[2017-09-16 01:49] #683 closed

[2017-09-16 01:51] averissimo commented on #757
closing Yakyak as in quitting the application or just closing to tray?

[2017-09-16 01:55] averissimo commented on #740
See notification.coffee , that's where the notification is generated using node-notifier module

There is an image option that could be used for what you want Miguel. I believe that the only hurdle is that it needs to be an absolute path

Good luck, looking forward to see your work :)

[2017-09-16 02:03] averissimo commented on #675
Yakyak does not respect the "of the record" property of a conversation.

I'm waiting on something to run, I'm going to give it a go and try to solve it now :)

[2017-09-16 02:46] cgallaty commented on #757
Closing the application and reopening it. It seems it's not checking to see if there is screen to display on before it moves the window to the staring position.

[2017-09-16 03:00] averissimo commented on #675
done in #769 .. compile and test it or wait until it is merged and included in the pre-releases :)

closing the issue, please continue the discussion there

[2017-09-16 03:00] #675 closed

[2017-09-16 03:01] averissimo commented on #82
can someone test pull request #769

it should implement the fix for this

I'm closing the issue, please continue discussion there

[2017-09-16 03:01] #82 closed

[2017-09-16 03:04] averissimo commented on #82
it does not allow to change the status though, pull requests are welcome (and there are already issues with this feature request)

[2017-09-16 11:27] tiagonunocosta commented on #61
Thank you André

I already use yakyak for a few months, but what I need most is not to allow automatic correction of spelling mistakes.

I've been following the forum, but can not figure out how to enable this feature.

I'm using MAc

[2017-09-16 12:52] averissimo commented on #61
the feature has not been implemented yet, as it requires an infrastructure that supports all 3 main systems OSX, Windows and Linux.

Currently we are building only in Linux for all binaries. (just yesterday we successfully built on both linux and mac osx, thus my question on the comment before :)

That could allows us to actually use spellchecker, but it's still an if, as we would need someone to

[2017-09-16 12:56] averissimo commented on #732
I haven't deleted mine in ages, I haven't experience power problems, just memory ones that should be equivalent.

For those that this is a recurrent issue if that happens again could you not delete the folder, just change names so you can continue using it.

So that you can provide feedback directly with an invalid folder

[2017-09-16 13:05] averissimo commented on #731
This is corrected in yesterday update of v1.4.4 prerelease :)

[2017-09-16 13:05] #731 closed

[2017-09-16 13:06] averissimo commented on #731
this was an UI bug

it was not a real crash, the app just showed something that is hidden for fatal failures in the startup :)

[2017-09-16 13:08] averissimo commented on #705
@sneila could you provide a string for testing, I can't replicate

[2017-09-16 13:11] averissimo commented on #704
@bandophahita looks like a problem with that file, can you try removing `C:\Users\bandophahita\AppData\Roaming\yakyak` directory and report back if it happens again?

@sousa30 this is primarily a text message app, so it might take some time :p

[2017-09-16 13:12] averissimo commented on #701
@eawtrey that is something we have to address :\

There's already an open issue (not sure the number) about this, I'm closing the issue.

[2017-09-16 13:12] #701 closed

[2017-09-16 13:13] averissimo commented on #701
and i'm sorry it took so long for you to get a response on this :)

[2017-09-16 13:15] averissimo commented on #330
see pull request #738 , work is ongoing for this as there's already a global fix, that needs improving

let's continue the discussion there please :)

I'm closing this issue to avoid having open redundant issues

[2017-09-16 13:15] #330 closed

[2017-09-16 13:22] averissimo commented on #722
@justinforce great debugging skills!!

Latest update to v1.4.4 has removed the "Loading contacts" from startup that could lead to this problem, as well as spread out the network calls over several calls

hopefully this will help in these situations!

Consider contributing your js skills to Yakyak!! we would welcome new code :)

[2017-09-16 13:22] #722 closed

[2017-09-16 13:23] averissimo commented on #104
@psouza4 thanks!! the bot is useful, but for these ongoing issues it should just learn to be quiet :p

[2017-09-16 13:24] averissimo commented on #702
@cron410 this is super strange, it is still happening?

[2017-09-16 13:25] averissimo commented on #703
@felixbores which version are you using, this should not happen in newer releases.

it usually means there is an exception, and show information on how to solve it.

[2017-09-16 13:27] averissimo commented on #699
it should!

this part of yakyak should be revamped :\

looking for volunteers :)

[2017-09-16 13:28] cron410 commented on #702
Sorry I forgot to update the ticket. I haven't used yakyak for months now. I can try again on that same computer. Windows 10 x64 with native display scaling on by default.

[2017-09-16 13:28] averissimo commented on #66
It seems like a problem from a library yakyak uses, @davibe what do you think?

@hypercube33 does it happen often? how do you solve it?

[2017-09-16 13:31] averissimo commented on #702
No other reports so it must be one of those strange flukes.

If you wish to give yakyak another go, please try :)

otherwise close the issue and this is here for reference in case it happens again

[2017-09-16 13:31] averissimo commented on #695
Closing the chat is not supported, how do you propose in the current UI for that to happen, switch to the next one?

[2017-09-17 05:42] omarjordanf commented on #753
Initials in the avatar would be a HUGE improvement for sure. Names would be better, but I'm not fussy 😂

Sent from my iPad

[2017-09-17 23:01] Riebart commented on #66
This started happening to me on Windows 10 1703 (15063.608) a day or two ago. Wiping the install folder and unpacking the latest beta results in identical behaviour.

Steps to reproduce:
- Try to run YakYak.exe (1.4.4 x64)

Expected behaviour: YakYak opens
Actual behaviour: An error popup with "A JavaScript error occurred in the main process. Uncaught exception: SyntaxError: Unexpected token"

[2017-09-18 07:31] #421 closed

[2017-09-18 07:31] #405 closed

[2017-09-18 07:31] #634 closed

[2017-09-18 07:31] #636 closed

[2017-09-18 07:31] #493 closed

[2017-09-18 07:31] #637 closed

[2017-09-18 07:31] #639 closed

[2017-09-18 07:31] #641 closed

[2017-09-18 07:31] #642 closed

[2017-09-18 07:31] #663 closed

[2017-09-18 07:31] #211 closed

[2017-09-18 07:31] #645 closed

[2017-09-18 07:31] #669 closed

[2017-09-18 07:31] #671 closed

[2017-09-18 07:31] #672 closed

[2017-09-18 07:31] #311 closed

[2017-09-18 07:31] #676 closed

[2017-09-18 07:31] #324 closed

[2017-09-18 07:31] #678 closed

[2017-09-18 07:31] #646 closed

[2017-09-18 07:31] #679 closed

[2017-09-18 07:31] #591 closed

[2017-09-18 07:31] #686 closed

[2017-09-18 07:31] #556 closed

[2017-09-18 07:31] #120 closed

[2017-09-18 07:31] #541 closed

[2017-09-18 07:31] #680 closed

[2017-09-18 07:31] #383 closed

[2017-09-18 07:31] #490 closed

[2017-09-18 07:31] #449 closed

[2017-09-18 07:31] #508 closed

[2017-09-18 07:31] #498 closed

[2017-09-18 07:31] #507 closed

[2017-09-18 07:31] #505 closed

[2017-09-18 07:31] #491 closed

[2017-09-18 07:31] #514 closed

[2017-09-18 07:31] #132 closed

[2017-09-18 07:31] #517 closed

[2017-09-18 07:31] #485 closed

[2017-09-18 07:32] #334 closed

[2017-09-18 07:32] #179 closed

[2017-09-18 07:32] #182 closed

[2017-09-18 07:32] #333 closed

[2017-09-18 07:32] #525 closed

[2017-09-18 07:32] #529 closed

[2017-09-18 07:32] #540 closed

[2017-09-18 07:32] #316 closed

[2017-09-18 07:32] #559 closed

[2017-09-18 07:32] #439 closed

[2017-09-18 07:32] #200 closed

[2017-09-18 07:32] #563 closed

[2017-09-18 07:32] #554 closed

[2017-09-18 07:32] #528 closed

[2017-09-18 07:32] #290 closed

[2017-09-18 07:32] #575 closed

[2017-09-18 07:32] #573 closed

[2017-09-18 07:32] #576 closed

[2017-09-18 07:32] #251 closed

[2017-09-18 07:32] #589 closed

[2017-09-18 07:32] #415 closed

[2017-09-18 07:32] #442 closed

[2017-09-18 07:32] #542 closed

[2017-09-18 07:32] #601 closed

[2017-09-18 07:32] #402 closed

[2017-09-18 07:32] #568 closed

[2017-09-18 07:32] #305 closed

[2017-09-18 07:32] #612 closed

[2017-09-18 07:32] #611 closed

[2017-09-18 07:32] #577 closed

[2017-09-18 07:32] #536 closed

[2017-09-18 07:32] #625 closed

[2017-09-18 07:32] #613 closed

[2017-09-18 07:32] #644 closed

[2017-09-18 07:32] #610 closed

[2017-09-18 07:32] #342 closed

[2017-09-18 07:32] #652 closed

[2017-09-18 07:32] #560 closed

[2017-09-18 07:32] #633 closed

[2017-09-18 07:33] Hongbo-Miao commented on #615
The issue still exists.

[2017-09-18 07:42] a-maze-d commented on #594
Not sure why the stale bot marked this one as inactive and even closed it :-( This is still an issue and looking at the last comment it sounds like I'm not the only one that run into it :-(

ping @averissimo You answered/looked at the issue. Anything you want me to do to move this ahead?

[2017-09-18 08:31] #190 closed

[2017-09-18 08:31] #191 closed

[2017-09-18 08:31] #199 closed

[2017-09-18 08:31] #165 closed

[2017-09-18 08:31] #216 closed

[2017-09-18 08:31] #223 closed

[2017-09-18 08:31] #229 closed

[2017-09-18 08:31] #255 closed

[2017-09-18 08:31] #281 closed

[2017-09-18 08:31] #283 closed

[2017-09-18 08:31] #295 closed

[2017-09-18 08:31] #286 closed

[2017-09-18 08:31] #293 closed

[2017-09-18 08:31] #21 closed

[2017-09-18 08:31] #310 closed

[2017-09-18 08:31] #335 closed

[2017-09-18 08:31] #386 closed

[2017-09-18 08:31] #370 closed

[2017-09-18 08:31] #443 closed

[2017-09-18 08:31] #435 closed

[2017-09-18 08:31] #427 closed

[2017-09-18 08:31] #417 closed

[2017-09-18 08:31] #387 closed

[2017-09-18 08:31] #321 closed

[2017-09-18 08:31] #309 closed

[2017-09-18 08:31] #291 closed

[2017-09-18 08:31] #273 closed

[2017-09-18 08:31] #265 closed

[2017-09-18 08:31] #263 closed

[2017-09-18 08:31] #15 closed

[2017-09-18 08:31] #33 closed

[2017-09-18 08:31] #72 closed

[2017-09-18 08:31] #91 closed

[2017-09-18 08:31] #92 closed

[2017-09-18 08:31] #95 closed

[2017-09-18 08:31] #113 closed

[2017-09-18 08:31] #124 closed

[2017-09-18 08:31] #143 closed

[2017-09-18 08:31] #178 closed

[2017-09-18 08:31] #169 closed

[2017-09-18 08:32] #168 closed

[2017-09-18 08:32] #96 closed

[2017-09-18 10:32] monchote commented on #61
When I worked on this I managed to compile and make it work on both Mac and Linux. I set up a Windows 10 VM and spent many ours trying to build it there with no success.

I'm not sure what the current state is as I haven't looked into it for a while.

Maybe it's worth adding the code and having it work on Mac and Linux even if it doesn't do much on Windows until a solution is found?

[2017-09-18 11:29] cron410 commented on #620
Closed due to inactivity?

[2017-09-18 13:51] psouza4 commented on #252
Please re-open, not everybody uses Hangouts the same way and it's rather important to keep archived chats hidden.  We don't need any special code that toggles them on/off, just simply don't load in or parse chats that are archived when displaying the list, please.

[2017-09-18 15:49] averissimo commented on #620
yes, the bot went crazy today :)

[2017-09-18 15:57] averissimo commented on #688
can you check the developer console to see if there are any exceptions being thrown

1. Ctrl + Shift + I (and then open the browser tab)
1. Switch that option and then see if anything appears in the console tab

Try renaming/removing the yakyak folder (this could be some permission issue) at `'C:\Users\<User>\AppData\Roaming\yakyak`

[2017-09-18 16:02] averissimo commented on #222
It should still build in node 4, although I think electron (the ui framework) deprecated support for it

I'm currently using node 8 in my development and everyday usage

Documentation needs to be updated!!

[2017-09-18 16:02] #222 closed

[2017-09-18 16:21] psouza4 commented on #252
Thank you!

[2017-09-18 16:21] averissimo commented on #61
What is the process to build the code with spell check support in the #271 pull request?

I.e. any external commands?

[2017-09-18 16:32] monchote commented on #61
Nothing special as far as I remember.

[2017-09-18 16:34] averissimo commented on #252
We are showing everything that is sent from the server, with no distinction...

For this to be implemented I think we need someone to:

- In `conv.coffee` create some logic to prevent archive conversations to be shown by using the view property in the conv object which cat take the following values:

`conv.self_conversation_state.view[0] = "VIEW_ARCHIVED" or "VIEW_INBOX" or "VIEW_UNKNOWN"`

Lookin

[2017-09-18 17:06] #758 closed

[2017-09-18 17:09] averissimo commented on #753
#770 should fix this, please continue conversation in the pull request :)

[2017-09-18 17:09] #753 closed

[2017-09-18 17:38] averissimo commented on #90
@jeffwllms @chazz422 if you guys are interested in helping out, please see my latest comment in pull request #738

(or anyone else!!)

Thanks!

[2017-09-18 17:40] averissimo commented on #61
ok, so what was failing in windows? compiling the code or installing the modules?

[2017-09-18 17:59] skawaii commented on #664
Oh, almighty stale bot, I beseech you, do not close this ticket. For behold, it is dear unto me.

[2017-09-18 18:06] averissimo commented on #664
@skawaii we have a current pull request that enforces the chat_history as the master says.

There is still no option or indicator, but if someone could test it out it would be great!

[2017-09-18 18:16] skawaii commented on #664
@averissimo fantastic! I'm happy to test that out for you.

[2017-09-18 18:26] skawaii commented on #664
@averissimo I actually don't see a way for me to pull that branch (`averissimo:feature-otr`). Can you help me out with that?

[2017-09-18 18:30] bk800 commented on #734
Tried the 1.4.4 pre-release, and it still drops every message.  Thanks for the help

[2017-09-18 22:16] averissimo commented on #664
This should do it:

[code]

[2017-09-18 22:17] averissimo commented on #664
It should respect the off-the-record status, as well as show messages that history is on/off when the status changes

[2017-09-18 22:20] averissimo commented on #238
hummm, this is because when message is built, it takes current selected conversation (userinput.coffee)

[code]

this needs to passed as an argument instead

[2017-09-18 22:20] averissimo commented on #238
@ctcpip thanks for keeping this alive! :)

[2017-09-18 22:22] averissimo commented on #657
not intencional, this is actually pretty strange

[2017-09-18 22:27] averissimo commented on #734
This is for hangouts messaging, not involving sms/google voice, right?

If so can you guys:

- Open Yakyak via the command line and screenshot it after writing in a conversation some messages and confirm that some messages have been dropped?
- Also, open the developer pane (Ctrl + Shift + I) and see if some error shows in the console tab

thanks

[2017-09-19 00:50] bk800 commented on #734
Yes, it is using hangouts messaging.  Not using SMS/google voice.

=======CMD LOG=========
D:\Downloads\YakYak-win32-x64>YakYak.exe

D:\Downloads\YakYak-win32-x64>
hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
connected 0
==================
![image](https://user-images.githubusercontent.com/2137114

[2017-09-19 01:11] bk800 commented on #734
More Info:  I tried logging out of the account I usually use and logging into a different google account.  Yakyak is working using that account account. (same machine).  If I switch back to my normal account, the problem returns.  Tried deleting the C:\Users\briank\AppData\Roaming\yakyak folder.  Did not help.

The only difference between the two accounts (that I know of) is that it is a google ba

[2017-09-19 06:41] sneila commented on #705
Unfortunate, it was a copy paste of an error message in the Chrome console.
It's a string that can not be escaped/just look at the picture above, or try something like this:
[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[['[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[//'//'[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]

[2017-09-19 08:39] uman242 commented on #688
I deleted 'C:\Users\<User>\AppData\Roaming\yakyak and run Yakyak, then I did logout-login
Did You mean this console?
![screenshot - 2017-09-19 10_34_29](https://user-images.githubusercontent.com/22954424/30583140-6f65eef8-9d26-11e7-86f2-58032708ec1c.png)
Windows console shows this
![screenshot - 2017-09-19 10_36_11](https://user-images.githubusercontent.com/22954424/30583158-7baa4f60-9d26-11e7-9c2

[2017-09-19 08:45] monchote commented on #61
Setting up the environment and building the project. It was a bit of a nightmare.

[2017-09-19 15:40] averissimo commented on #705
I asked for it because I could not replicate, same with that example, it breaks into several lines without a problem

![screenshot from 2017-09-19 16-39-17](https://user-images.githubusercontent.com/211358/30601161-2cb6fbb4-9d59-11e7-9c13-dc4c09ab5de6.png)

[2017-09-19 15:41] averissimo commented on #688
exactly those two consoles :)

anything appears below `connected 0` ?

[2017-09-19 15:45] averissimo commented on #688
It does not seem to be any exception being thrown.

[2017-09-19 15:53] averissimo commented on #734
My bad, the shortcut is Ctrl + Alt + I

This is really strange, as if it was a company policy the behavior would always be the same.

Can you build yakyak from source? There's something that you can try to help debugging, but it's not in the released binaries

[2017-09-19 16:01] averissimo commented on #61
LoL you make it sound soooo awesome!! :p

We either need to do it via wine or using a windows CI (continuous integration) service

Otherwise it won't be an automated process which sucks

Thanks for the continuous feedback, I'm sure that sooner or later your code will be merged!!

[2017-09-19 17:58] averissimo commented on #708
@iamacarpet great work!!

__can you create a pull request with changes?__ :)

can you explain the purpose of the last commit? (whether user is part of organization)

[2017-09-19 23:19] Beaupedia commented on #619
Not really stale, it's definitely still happening.

[2017-09-20 06:55] sneila commented on #705
Hi, the error still persists on OSX:
http://b3.ms/lrXMD8GQMb1j
this i tested yesterday before i sent the string to you.

I also have the latest version:
http://b3.ms/06j9dDLW9abK

[2017-09-20 07:29] bk800 commented on #734
From the Console tab, I have three errors categories:

1)  E:\Downloads\YakYak-win32-x64\resources\app\ui\models\viewstate.js:104 **Warning: could not retrieve message input to store.**
(I also saw this one when using the account that works)

2) E:\Downloads\YakYak-win32-x64\resources\app\ui\version.js:36 **YakYak local version is 1.4.4, released version is 1.4.3**

3) E:\Downloads\YakYak-win32-x6

[2017-09-20 13:35] averissimo commented on #705
Wow!!

I just replicated this on v1.4.3 downloaded from releases, but not when compiling from the source.. Which is very strange.

This problem (whatever it is) is corrected in prerelease v1.4.4 , can you confirm?

[2017-09-20 13:47] averissimo commented on #734
Alternative with binaries already compiled: https://github.com/averissimo/yakyak/releases/tag/v1.4.4-debug

and run in the console `yakyak --debug` or `./yakyak --debug` depending on the Operating System

To compile from source these are the instructions:

- download the repository using git (or download the [debug branch](https://github.com/yakyak/yakyak/archive/debug.zip) code)
- have node.js in

[2017-09-20 13:51] averissimo commented on #734
Those 3 error categories are expected:

1. is just a warning that can be ignored _(it is for restoring the input when switching conversations)_
2. Version check
3. Information on which users have their status public

[2017-09-20 13:55] sneila commented on #705
Yes, 1.4.4 seems to sort this out. Yeee :)
Thank you for the hard work.

[2017-09-20 15:32] averissimo commented on #705
Cool, closing the issue

[2017-09-20 15:32] #705 closed

[2017-09-20 15:54] thenextdon13 commented on #529
Looks to be working, thank you!

[2017-09-20 16:30] averissimo commented on #529
You can thank @lonvarscsak for his great work!

[2017-09-20 17:33] skawaii commented on #664
@averissimo Thanks! I put my comments from testing over on the merge request to help keep things all in one place.

[2017-09-20 19:14] bk800 commented on #734
Thanks for the build.  I ran it and sent a few messages, which were dropped.  See attached
[yakyak_debug_issue734.txt](https://github.com/yakyak/yakyak/files/1318939/yakyak_debug_issue734.txt)

[2017-09-20 20:02] averissimo commented on #757
Can you see if this release solves your problem?

https://github.com/averissimo/yakyak/releases/tag/v1.4.4-position _(this link will have files in 5 to 10 minutes from the writing of this comment)_

I believe my changes won't allow the window to be placed offscreen _(or even between screens)_

[2017-09-21 16:06] averissimo commented on #734
Wow, many problems there :O I've corrected one of them and added some debugging on a strange error with cookies.json

Can you try again with the same binaries? _(they've been updated)_

[2017-09-22 00:23] bk800 commented on #734
Okie, here you go:
[yakyak_debug2_issue734.txt](https://github.com/yakyak/yakyak/files/1323119/yakyak_debug2_issue734.txt)

[2017-09-24 22:47] nsubtil commented on #690
I see this as well. Would be happy to test the new branch, but I'm not set up to build.

@averissimo, can you post a link to a build I can use?

[2017-09-24 22:50] nsubtil commented on #594
I noticed this happens to me as well. Certain SMS contacts show up as a phone number only, while Hangouts displays a name.

[2017-09-26 13:35] devimauz commented on #734
I have the same problem.

[2017-09-26 16:29] averissimo commented on #734
I think that the operating system is having some problem with reading / opening file   `C:\Users\<youruser>\AppData\Roaming\yakyak\cookies.json`

@bk800 :

- Can you see if this file exists and it has some content _(don't copy it here as it could be used to enter the account)_
- Can you try running yakyak as an administrator (i.e. the same procedure but using a _(Command Line as Administrator")_?

[2017-09-26 16:30] averissimo commented on #734
@devimauz can you try running the binaries ( https://github.com/averissimo/yakyak/releases/tag/v1.4.4-debug ) from command line with `./yakyak --debug`

[2017-09-26 16:32] averissimo commented on #690
@nsubtil see this post: https://github.com/yakyak/yakyak/pull/738#issuecomment-330591692

Please provide feedback in that page instead :)

[2017-09-26 16:47] Aventura5 opened #771 "Add option to start yakyak minimized"
I would like to be able to pass an option to yakyak so that it will start minimized to the notification tray, right now if I auto start it I get a maximized yakyak window whenever i turn on my computer. Also, when you check the "Open on Startup" option, the .desktop file that gets created just calls electron, not yakyak.

[2017-09-27 00:59] averissimo commented on #771
If you right-click the tray icon you can set the "start minimized" option

It's kinda hidden and I've been meaning to move those options to the "standard menu system"

Last time I tested open on startup it was working, but thanks for reporting, I'll test again soon :)

[2017-09-27 01:05] averissimo commented on #696
@davibe osx is your thing :p

[2017-09-27 01:07] averissimo commented on #685
We are updating the external libraries soon _(including the notification)_ with one of the pending pull requests.

I hope this will solve this problem.

[2017-09-27 12:07] eigoor commented on #689
Installed with the changes from the pull request and so far it looks good. I will report back after I've used it some more.

[2017-09-27 15:11] flexbed commented on #689
I'm too busy right now to test it, anyway, I'll close the issue when the pull request gets merged. Right?

[2017-09-27 15:50] averissimo commented on #689
I don't like keeping two issues opened at the same time, let's move further conversation to the pull request and close this for now.

If after the pull request the problem still happens then it can be reopen or a use a new one.

[2017-09-27 15:50] #689 closed

[2017-09-27 15:51] Aventura5 commented on #771
Oh, thanks. Now that you told me I remembered that I had used that a
long time ago on a different distro. It would be nice for YakYak to have
a settings screen rather than deeply nested drop down menus. Here is the
.dexktop file i get when I check Open on Startup:

`~/.config/autostart/electron.desktop`

[code]

[2017-09-27 16:09] averissimo commented on #771
Are you trying to activate this when running from source?

https://github.com/Teamwork/node-auto-launch/issues/48

Unfortunately this option only works when running from a binary and never from source.

[2017-09-27 16:09] averissimo commented on #771
the settings panel is a Wish list item!! We'd love if someone worked on it :)

[2017-09-28 12:01] F4CIO opened #773 "Invitation didn't show"
Contact request/invitation didn't appear in yakyak. There were no network issues as I was chatting with others at that time. Anybody else had this?

[2017-09-29 08:35] bk800 commented on #734
@averissimo Yes, the cookies.json file exists, and has about 4kb of data.

I tried the experiment on the PC @ work (Win7) and also @ home (Win 10).  In both cases, all messages are still dropped.  However, in Win 7 I usually sees this error box.  I did not see it in Win10:

![image](https://user-images.githubusercontent.com/21371147/31007644-10754cf8-a4b6-11e7-9e00-19aefcacc7ef.png)

Here are the

[2017-09-29 11:48] awesley commented on #748
Hello!  I have YakYak on my Windows laptop and Windows desktop and have been able to repro it on the laptop.  I wonder if it has more to do with some settings in Windows to be "helpful" to users.

There are alternate fixes that could be explored.  Increasing the width, or increasing just during hover, etc.

What are your thoughts?

[2017-09-29 11:49] awesley commented on #748
@bupkis Are you using a laptop with a touchpad?

[2017-09-29 13:31] iamacarpet commented on #708
Hello @averissimo,

Sure, it gives a different highlight to users within your Google Apps organisation / domain when searching for people, as our users are coming from Skype for Business where when you search you only get internal people, so we wanted to make it easier for them to find only internal people, even if we can't limit the search to only internal.

[2017-09-29 15:12] averissimo commented on #708
Really great work with the pull request, I've added some comments there :)

[2017-09-29 15:46] averissimo commented on #748
@awesley, both solutions would be great to avoid this.

I think increasing during hover is a bit more difficult to implement, but an awesome one :)

[2017-09-29 17:12] averissimo commented on #773
It's a known bug that needs to be dealt! :\

[2017-09-29 18:06] averissimo commented on #691
@Refrash pull request #775 solves this, can you build and test it?

Cheers,

[2017-09-30 13:42] Refrash commented on #691
I actually don't know how to do that. Sorry, I'm new to GitHub and I'm not well versed in coding.

[2017-10-02 13:55] averissimo commented on #691
Try this release :)

https://github.com/averissimo/yakyak/releases/tag/v1.4.4-notifications

[2017-10-02 15:55] cout commented on #725
I ran into this same issue.  Wiping AppData fixed it, though of course I had to sign in again.  Is it possible this is related to two-factor authentication?

[2017-10-02 17:49] cgatesman opened #776 "On macOS, closing the window should not quit the application"
When you close the window, it quits the entire application.  This is abnormal for an application on macOS.

[2017-10-02 17:53] cgatesman commented on #776
Ah.  I found a "Close to tray" option that makes it behave in the way I expected.  However, this option is only available if you turn on "Show tray icon".  Good thing I dug around.  Seems weird this option is hidden there when it still works when "Show tray icon" is disabled.

[2017-10-02 18:35] Refrash commented on #691
That seems to fix it for me. Thanks!

[2017-10-03 16:19] lennonrich commented on #734
Could be unrelated but just wanted to add my voice. Last night I was having some really bad DNS issues and noticed that YakYak was greying the messages when my DNS would stop responding, and when the DNS came back the message was dropped.

[2017-10-03 17:49] larskotthoff commented on #734
I'm having issues with this as well (also sometimes with messages being sent but not showing up). This seems to be caused by connection issues, i.e. the client frequently tells me that it's connecting and sometimes (often when I move between places and have different IP addresses/DNS servers) I have to restart yakyak to be able to connect again.