[2016-06-20 17:18] maxkueng commented on #21
But just ignoring all criticism doesn't make a design perfect.

[2016-06-20 17:20] maxkueng commented on #21
I feel very honored that people like my yak though :heart_eyes_cat:

[2016-06-20 17:23] arnriu commented on #21
@maxkueng dunno, maybe @dliscomb will explicit his idea. I'd say, just try some green gradient, such as http://www.colorzilla.com/gradient-editor/#0f9d58+0,0b6e3e+100

[2016-06-20 18:13] Jeppesen-io opened #244 "osx dock bounce on messagess"
Typically, osx icons bounce when chat programs receive a message. This is very helpful on systems where the dock is hidden.

![bounceicon](https://cloud.githubusercontent.com/assets/5796153/16205270/ddcfd9aa-36d7-11e6-8424-bf7de9787069.gif)

[2016-06-20 18:15] ctcpip commented on #101
If anyone is curious about technical details, Electron calls a method from Chromium: `FlashFrame()` , which is implemented per OS / windowing system.

Code references here:

https://cs.chromium.org/search/?q=file:.cc+function:FlashFrame&m=100&sq=package:chromium&type=cs

Here is the implementation for X11, demonstrating the setting of the urgency hint:

[code]

[2016-06-20 18:42] dliscomb commented on #21
many thanks, @arnriu, both for the full-size 'System Preferences' and for the gradient.  Combine the two, and you have what I was trying to convey.  I was trying to find a compromise that would address the concerns, but to paraphrase @algesten, that will end up being... a compromise.

I love that OSS has the freedom to be different.  I have a pronounced contrarian streak, and so I find the 'Y' too

[2016-06-20 18:45] YesThatAllen commented on #21
I like how the current yak's (full size) horns seem to change when the icon is highlighted (via command tab).

[2016-06-20 18:47] YesThatAllen opened #245 "Signing the binary?"
I, as would others, I'm sure, would be open to signing this project's binary.

Let me know know if there are plans for that, or if there's a fund I can contribute to for the Yak to get its own dev account.

[2016-06-20 18:52] dliscomb commented on #21
fwiw, atom's icon is a black rectangle, but there is a fine edge around the rectangle to highlight it.
![image](https://cloud.githubusercontent.com/assets/10132519/16206455/8dc05786-36f6-11e6-8a22-8d2a9063ff50.png)

[2016-06-20 19:04] kmfdm303 commented on #101
working on windows 7 professional

[2016-06-20 19:06] ctcpip commented on #209
potentially related to #183

[2016-06-20 19:07] jcbahr commented on #101
I ftf
On Jan 2, 2016 13:25, "George L. Yermulnik" <notifications@github.com>
wrote:

[2016-06-20 19:08] ctcpip opened #246 "User's Name is not displayed in conversation list for new conversations"
When I initiate a new conversation via yakyak (or if I simply receive a message from someone that causes a new conversation), the name of the contact is not displayed.  Once I close and re-open the application, then the name is displayed.

![yakbug](https://cloud.githubusercontent.com/assets/15326526/16206959/7ab79fa6-36f0-11e6-9142-f3a556280655.png)

[2016-06-20 19:10] ctcpip commented on #244
This may have been fixed as part of #101 / #235

Have you tried compiling/running the latest code?

[2016-06-20 19:16] randymorris commented on #244
I can confirm that it works on 1.3.1 for me.

[2016-06-20 19:17] ctcpip commented on #238
+1

[2016-06-20 19:17] Jeppesen-io commented on #244
Yep, I wen't to 1.3.1 pre-release and it works. Thanks!

[2016-06-20 19:17] #244 closed

[2016-06-20 19:22] ctcpip commented on #225
+1  - should be this way for Linux (LXDE) as well

[2016-06-20 20:20] pbrocker opened #247 "Two-Factor Sign in not working"
Having a issue signing into google with two factor set-up. Once I input my password. I am then taken back to sign in with email, instead of verify two factor code.

[2016-06-20 20:21] #247 closed

[2016-06-20 20:44] acordar commented on #220
I've done a pull request #248  for a solution to this. It uses emoji codes from http://www.emoji-cheat-sheet.com/. I've only added emoji codes for the People category; however, it would be trivial to add the rest.

[2016-06-20 21:34] Nepoxx commented on #240
For what it's worth, I'm on arch and I do not have this issue (on gnome)

[2016-06-20 23:07] kethinov commented on #58
I've been poking around with the inspector and looking at Google's API and I have a possible solution.

Here's what I've learned:

Example profile pic: https://lh5.googleusercontent.com/-R7AuYVncPys/AAAAAAAAAAI/AAAAAAAAAIw/incUIqFokok/photo.jpg

That is @algesten's profile pic from the unit tests. With the URL constructed that way, you see the full size pic. If the user uploads an animated gif as

[2016-06-21 01:49] adriangb commented on #232
I use Google Voice. Definitely a problem with SMS sent to the GV number.

[2016-06-21 03:54] jadengore opened #249 "Vote for new/old icon"
Currently, @davibe has removed the new icon temporarily since some have expressed that they like it more than the newer one. I'm hoping to use my post as a discussion/voting ground so we can decide which logo to use going forward. Since I prefer the new one, but am all for using what the community wants, let's use the reaction feature to count votes.

👍 for the new logo

![New logo](https://raw.gi

[2016-06-21 06:52] maxkueng commented on #249
Those looking for the icon discussion thread can find it in issue #21.

[2016-06-21 10:26] arnriu commented on #58
@kethinov Check it out, please feel free to ask any question ;)

[2016-06-21 12:39] jfyu opened #251 "Blank page at two-step verification, 32 bit Linux Ubuntu"
Hi all,

Just tried yakyak on my old office computer running 32 bit Linux Ubuntu 16.04. I get a blank page at the two-step verification page . running ./yakyak doesn't give any error though...

This happens on both the point release and the latest stable release.

This is interesting, I think I ran into similar problem with the other electron app Franz, but I think that was a 64 bit computer.

Yak

[2016-06-21 12:57] jenil opened #252 "Hide archived chats"

[2016-06-21 14:00] kingnothin commented on #174
Not specific to Windows 10. I'm seeing the same behavior on Windows 7 (running 1.3)

[2016-06-21 14:01] tech4eleven opened #254 "change the notification sound"
It would be great to allow the notification sound to be changed. its too quiet for my taste. (I'm on OS X)

[2016-06-21 14:06] arnriu commented on #174
@msphair @kingnothin can you try latest 1.3.1 pre-release build?
https://github.com/yakyak/yakyak/releases

[2016-06-21 14:14] Serubin commented on #177
Fi texting works just fine, calling may be out of the scope of this project.

[2016-06-21 15:07] kingnothin commented on #174
@arnriu works great with 1.3.1. No issues moving or resizing the window now. (Really like the app btw!)

[2016-06-21 15:13] joshstrom opened #255 "Add proxy configuration to UI"
In my work environment, I sit behind an HTTP proxy. Out of the box, while the Google sign-in process worked, the application itself hung on "Connecting" after login. To resolve this, I added and Windows shortcut that set the HTTP_PROXY and HTTPS_PROXY environment variables prior to starting the application.

Would it be possible to add proxy configuration to the UI, preferably supporting both HTTP

[2016-06-21 16:04] cobrabr commented on #212
I get the low-res icon even getting the binaries from the Releases page.

[2016-06-21 16:28] pricelessbrewing opened #257 "Contacts not all working in YakYak"
They're in my phone, synced, and on google contacts under the correct account, but yakyak just shows their phone number. I cannot see a way to import contact list either. Any ideas?

[2016-06-21 17:26] compuguy commented on #249
Both are great looking icons, but I think the new one better tells and displays what the product is....

[2016-06-21 17:41] msphair opened #258 "Pin to taskbar in win 10 breaks"
![image](https://cloud.githubusercontent.com/assets/1900880/16239934/1e3585e8-379c-11e6-967d-5673d38b38cf.png)

this is version 1.3.1

This happens when you right click on yakyak and click "pin to taskbar" in windows 10.

I got around this by right clicking the YakYak icon on the taskbar then right clicking the "electron" icon in that menu, and _then_ clicking "pin to taskbar"

[2016-06-21 17:42] msphair opened #259 "the win10 taskbar icon uses the electron icon when pinned"
![image](https://cloud.githubusercontent.com/assets/1900880/16240116/e220d246-379c-11e6-839b-f20cbe152e30.png)

Only when it is closed. When you click that icon and it opens, it switches to the YakYak icon

[2016-06-21 18:59] compuguy commented on #259
Plus the fact the app uses the electron icon vs. the yak yak icon. Only way to fix this is to convert one of the pngs to ico, then change a shortcut to the correct icon.

[2016-06-21 23:01] kethinov commented on #58
I just tested that PR and it works great. Thanks!

[2016-06-22 14:27] AceKatz opened #260 "Notifications in Mac aren't followable"
When a notification for a new message pops up, clicking on it doesn't bring forward the window (like most other Mac applications), it just closes the notification.

Dunno if this was intentional or not, thought it'd be worth mentioning.

[2016-06-22 15:10] arnriu commented on #260
Can you try this if you know how to do it ? https://github.com/yakyak/yakyak/pull/256

If not, just wait, it should be in the next [pre-release](https://github.com/yakyak/yakyak/releases) build if @davibe merges it, and you'll be able to give it a try.

[2016-06-22 16:01] AceKatz commented on #260
That worked.  I probably patched it in the least maintainable way possible, but it works.

Thanks for your help!

[2016-06-22 16:01] #260 closed

[2016-06-22 21:37] lowellk opened #261 "Feature request: in mac os, when tapping notification, should bring app to foreground"
This is what I think all other apps do.

[2016-06-22 22:06] arnriu commented on #261
Can you try this if you know how to do it ? https://github.com/yakyak/yakyak/pull/256

If not, just wait, it should be in the next [pre-release](https://github.com/yakyak/yakyak/releases) build if @davibe merges it, and you'll be able to give it a try.

[2016-06-22 22:44] lowellk commented on #261
I don't know how to do it. But this issue looks like a dupe of that other
one, so feel free to close it

On Wed, Jun 22, 2016 at 3:06 PM, Arnaud Riu <notifications@github.com>
wrote:

--
Cheers,
Lowell

[2016-06-22 23:37] pshah88 commented on #177
Adding to this forum, text conversations with hangouts is hit or miss for me as well. Takes a long time to send if it sends at all. I am replying to incoming texts, not creating new conversations just as an fyi.

[2016-06-23 13:56] jreuter commented on #203
I ran it from the console in Mint 17.1.  The window 'bounces' up and down as it's connecting.  Also, I have two-factor which might be the cause of the issue?  The terminal shows the following:

[code]

[2016-06-23 15:24] dustinarden opened #263 "Feature Request? - have a way to not show any chats?"
In Google Hangouts (im on the mac client) you could click out of any active chat thus keeping anything from showing up.  Say i dont want my previous chat glaring on my screen as someone walks by I could simply click out of the chat and it wouldnt show the contents of that particular chat with that specific person or group.
Is there a way to do this already?  If not i propose this functionality be

[2016-06-23 15:52] monchote commented on #261
I can confirm I fixed this in #256

[2016-06-23 16:49] KennethScott opened #264 "Won't connect. Then crashes."
On Windows 7 Ultimate x64.  Tried yakyak 1.3.0 and 1.3.1

When launching app for the first time, it successfully takes my credentials and MFA, but then proceeds to a blank screen where it attempts to connect unsuccessfully, over and over:

![image](https://cloud.githubusercontent.com/assets/823499/16312011/6b690f2c-3938-11e6-84f1-c06bf73395bb.png)

If I close the app and then relaunch the exe, I g

[2016-06-23 17:17] lihaven commented on #61
+1

[2016-06-23 18:48] apiccirilli commented on #263
A bit of a hacky workaround, but you can click on the plus to start a new conversation, don't choose any people for the conversation, and click OK. Shortly thereafter the previously open chat closes. I'd love to be able to just press escape while in a conversation to go to this blank screen.

[2016-06-23 22:42] link6155 opened #265 "Suggestion: New icon"
I went ahead and made a new icon for YakYak. It combines the Hangouts icon with the current icon from YakYak using proper Material specs:

![Image of YakYak](http://i.imgur.com/X59ozMY.png)

I tried to keep it simple and meaningful.

[2016-06-24 00:02] maxkorp opened #266 "Closing window when fullscreened just blanks screen in osx"
In osx, if i fullscreen the app, and hit cmd+w (or mouse up top, wait for the bar to appear, and hit the close button), the app just goes black, rather than closing out of fullscreen, which is contrary to the behavior of most apps. looking at the source, I'm guessing this is an issue with electron and the BrowserWindow.prototype hide method, since it's being hidden rather than closed.

https://git

[2016-06-24 18:25] kennethscott commented on #264
Now thinking this is a proxy issue after reading issue #255.

We point to a proxy PAC file (proxy auto-config script) - so I'm not sure how to apply that to the two environment variables referenced in issue #255.  I know I can get the actual proxy addresses out of the PAC file, but they do change periodically.  Would be nice if the app could just use the system proxy configuration.

[2016-06-24 20:30] davesimon commented on #232
I can verify this as an issue. I’ll look into the regular Hangouts web app to see what XHR requests it’s making. I’m using a Google Voice number, which for a long time the Hangouts app had the same trouble with. I ended up re-inputting many people into Contacts to get it to work.

[2016-06-25 17:10] monchote commented on #261
#256 is now merged so this can be closed.

[2016-06-25 17:59] jadengore commented on #21
Hey everyone, please go and vote for which icon you want over in #249!

[2016-06-25 18:15] austin-guevara commented on #265
This is well-executed! I'm a fan. It's a nice combination of material, unique to Yak Yak's branding, and also has a strong connection to Hangouts.

[2016-06-25 18:17] austin-guevara commented on #266
The easiest fix for this when it happens it to open mission control (control + up) and then click the "fullscreen" button at the top left of the offending black window in question.

[2016-06-25 19:13] davibe commented on #265
this makes choice more difficult :P

[2016-06-25 19:23] #261 closed

[2016-06-25 20:54] monchote opened #273 "Does the 'Close to tray' option do anything in macOS?"
Should we hide if not?

[2016-06-25 23:04] mattsigal commented on #254
Further, is there a way to disable the notification sound entirely?

[2016-06-26 01:03] monchote commented on #21
The icon proposed in #265 is pretty cool, have you guys seen it?

[2016-06-26 07:58] davibe commented on #254
You can do all those things in osx "System Prefernces" app, i think

[2016-06-26 07:58] #254 closed

[2016-06-26 08:00] #266 closed

[2016-06-26 08:31] davibe commented on #255
we don't have a preferences/settings screen yet. That's why most flags sit in the window menu.

[2016-06-26 08:34] davibe commented on #259
we had the .ico for the Y-icon but we don't have for the Yak-icon. See #21 #249 #24

[2016-06-26 08:35] davibe commented on #257
We are not handling correctly contacts that are phones and not proper gmail contacts, i think

[2016-06-26 08:36] davibe commented on #174
yay

[2016-06-26 08:36] #174 closed

[2016-06-26 08:38] davibe commented on #220
merged

[2016-06-26 08:38] #220 closed

[2016-06-26 08:40] #101 closed

[2016-06-26 08:41] davibe commented on #245
I never looked into this but as yakyak becomes more and more popular i can see how it would help.

[2016-06-26 08:43] #241 closed

[2016-06-26 08:46] davibe commented on #242
hehe

[2016-06-26 08:53] davibe commented on #21
So far votes are in favour of the new Y-icon. The new proposal in #265 still needs work to become an icon.

[2016-06-26 21:07] mxxcon opened #277 "Javascript Uncaught Exception upon exit"
I just tried exiting from Yakyak 1.3.1 on Windows 10 and got this error message.

![clipboard01](https://cloud.githubusercontent.com/assets/847140/16364921/4c8cd158-3bc0-11e6-8db4-609f74c1bbd5.png)

[2016-06-26 22:58] monchote commented on #277
@mxxcon Was that compiling from the latest master or downloading the pre-compiled binary?

[2016-06-26 23:59] mxxcon commented on #277
Binary from this site

[2016-06-27 01:10] KruyKaze commented on #277
Same here

[2016-06-27 04:44] jacobmischka commented on #232
Same here, though I'm using Project Fi with a ported Google Voice number. Though I'm pretty sure the backend behavior of Fi and regular GV are the exact same, just commenting for completeness's sake.

[2016-06-27 04:44] jacobmischka commented on #240
I also do not experience this issue on Arch on Gnome.

[2016-06-27 04:51] Knock201 opened #279 "Electron App Failed Install"
Followed simple instructions, failed to install. I have all the required dependencies too.
[npm-debug.txt](https://github.com/yakyak/yakyak/files/334136/npm-debug.txt)

[2016-06-27 08:18] #277 closed

[2016-06-27 15:06] jadengore commented on #21
@davibe I think that the icon voted on should be the one for now, maybe 2.0 could use #265?

[2016-06-27 23:18] rhoconlinux commented on #21
Yeap... according to the voting process should be https://github.com/yakyak/yakyak/issues/249 right? :)
Cheers!

[2016-06-28 04:24] mydewji opened #281 "No Read indicator"
There doesn't seem to be a read indicator for chats (and group chats). In the android hangouts app this is represented by a small user bubble showing how far the receiving party has read in the current chat. Can something like this be implemented in yakyak?

[2016-06-28 05:59] davibe commented on #281
just needs someone to do it :)

[2016-06-28 06:38] bseber opened #282 "highlight "/me" messages"
it would be nice to have a highlight for messages that start with `/me`
just like the browser hangout client.

I will happily do a pull request when I can find some time.

[2016-06-28 06:44] bseber opened #283 "Twitter preview does not show videos"
maybe we should speak with the twitter API instead of the hacky hack of HTML parsing 😅

[2016-06-28 10:05] monchote commented on #273
@davibe Any idea about this?

[2016-06-28 10:13] davibe commented on #273
It seems to do nothing. We lost that behavour when we re-introduce the "hide window on close" osx thing. Also "hide dock icon" is not working as expected for me. The icon looks like the app is closed but i still have it in the dock. Is it the same for you ?

[2016-06-28 10:16] davibe commented on #273
Ok now i remember a bit more. Hide dock icon works if the icon was not added to the dock permanently. If you use it then you have no way to show the window app again. This whole thing needs to be sorted out

[2016-06-28 11:14] monchote commented on #273
@davibe That's right, if the icon is pinned to the dock then it won't go away. If find that feature quite weird and non-standard anyway.

Should we hide the close to tray option on macOS? Happy to work on it.

[2016-06-28 13:17] davibe commented on #273
If i was for me I would say yes but someone wanted it in the past. It seems to me more a Windows thing but there are apps that minimize to tray also on osx. So yea, this is not a proper answer

@maxkueng @arnriu @algesten what do you think

[2016-06-28 14:09] monchote commented on #283
It is my duty as a Twitter employee to take this one on :D

[2016-06-28 14:39] x-tk commented on #246
+1'd

[2016-06-28 14:40] x-tk commented on #263
Yes, would prefer to have some privacy features added so when people walk up on me at work, they aren't reading my last conversations with other employees.

[2016-06-28 14:41] x-tk commented on #265
Hahaha, I love this teen one but man that's a good one too.

[2016-06-28 14:41] x-tk commented on #281
Yes please

[2016-06-28 19:17] #198 closed

[2016-06-28 19:30] maxkorp commented on #266
Yeah it's not to hard of a state to get out of, it was just odd getting in it to begin with. The found solution makes sense IMO. Thanks for getting to that so quickly

[2016-06-28 21:38] monchote commented on #283
So I started working on this in [here](https://github.com/monchote/yakyak/commit/b198b1a973654feb22a4327b4e69c4e77aadfb3c) but I'm struggling to get the html block that the Twitter API returns rendered in the chat.

The html code gets escaped no matter what I've tried. Any help would be welcome.

<img width="461" alt="screen shot 2016-06-28 at 22 26 01" src="https://cloud.githubusercontent.com/ass

[2016-06-29 00:58] arnriu commented on #283
Maybe you will find what you need here https://github.com/algesten/tagg

@algesten , do you have any easy html escape solution?

[2016-06-29 05:09] pandaman4125 opened #286 "Add link (to external browser) to initiate calls with people in a conversation."
Why cant you call in yakyak?Can you call in yakayak?

[2016-06-29 07:57] pandaman4125 commented on #286
Ok.Thanks

[2016-06-29 08:48] monchote commented on #283
Thanks @arnriu, I checked the docs in the tagg repo but couldn't find anything unfortunately.

[2016-06-29 11:28] davibe commented on #61
reopened cuz the first solution we attempted did not work properly across different operating systems

[2016-06-29 12:28] sschwetz opened #287 "Tray Icon not Functioning On Ubuntu 16.04"
OS: Ubuntu 16.04
Desktop: Gnome 3

The System Tray Icon, does not reopen the window when being clicked on. If you minimise the app to the tray the only way to get the icon to re-open is to quit out and then restart the application.

[2016-06-29 13:03] davibe commented on #287
if you left-click on the icon you should be able to reveal a menu. The first voice should be something like "toggle.." which allows you to toggle the window. At least this is how it works on osx at the moment

[2016-06-29 15:52] averissimo opened #288 "SVG icon with a lot of blank space"
I wanted to use the SVG icon for YakYak, but the document has a lot of whitspace around the image itself.

I've trimmed the document in inkscape, but maybe I removed an important tag (named filter) 009244b9dab60c63b87e1999457773b75b230d92

As it is in the commit it can be used as an icon in Ubuntu 16.04 (and probably any other distribution)

Cheers!

[2016-06-29 16:33] acook opened #289 "Trouble with SOCKS5 Proxies"
I've tried 1.2.1 (Caskroom), 1.2.3, 1.3.0, and 1.3.1 (Github releases), and building from master.

If it can't connect to the proxy, I just get this lonely white window titled "Electron". Sometimes I'll see a brief flash of some of the UI elements before it turns white. No error message.

<img width="782" alt="screen shot 2016-06-29 at -10 49 44" src="https://cloud.githubusercontent.com/assets/719

[2016-06-29 16:51] acook opened #290 "Basic Text Formatting"
Provide the same basic text formatting features as browser-based Hangouts, at the very least (the ones I use most):
- bold
- italics
- underline

https://support.google.com/hangouts/answer/3112005?hl=en
- `/me` (covered by #282 - `/me` is taken from the IRC protocol and has been part of Hangouts since at least 2014, and previously part of Gtalk and XMPP)

[2016-06-29 17:26] randymorris opened #291 "Feature request: Tab completion for names in group chat"
This has bugged me with all of the Hangouts clients I've tried.  Being a long time IRC user it pains me to have to type out a user's name when in a group chat.  Would it be possible to add tab completion for user's names who are in the chat?

[2016-06-29 17:40] PMiner opened #292 "Google Talk SMS Appears Not to send, but does."
When using Google Talk integrated into hangouts, the message typed to a phone number is grayed out as if it was waiting to send. When checked, though, the message was sent. Also, after restarting YakYak, The issue is resolved until another message is sent. Please fix!
-PMiner

[2016-06-29 17:49] PMiner opened #293 "Touch support"
On windows 10, the touch keyboard pops up and covers the input box. is there a way you could raise the input box so the keyboard is not covered?

[2016-06-29 18:01] link6155 commented on #293
I vouch for this. Touch support is one of the things that I would really like to have.

[2016-06-29 19:44] PMiner commented on #293
or better yet, shrink the size of the window entirely?

[2016-06-29 22:31] faxe78 opened #294 "sent url https:// smiley"
hi,

if you send a https://www url it shows it as a smiley, did not test if they are sent out correct but high chance that not.

thx

markus

[2016-06-29 22:45] aexmachina commented on #176
Any plans for this?

[2016-06-29 23:09] PMiner commented on #294
Nope they do not. i can confirm.

[2016-06-29 23:13] PMiner opened #295 "YakYak confused by outgoing calls"
When you make an outgoing call, yakyak thinks you are calling yourself. For example, if I call someone, yakyak says, Incoming call from "me" obviously, I don't want to put my name.

[2016-06-29 23:18] PMiner commented on #265
This is my favorite! I hope this one gets chosen! :smile:

[2016-06-29 23:31] PMiner commented on #249
could you add #265 to vote for as well? i prefer that one.

[2016-06-29 23:43] arnriu commented on #295
https://github.com/yakyak/yakyak/issues/286

[2016-06-30 00:17] PMiner opened #296 "YakYak Crash on close"
I have windows 10 x64 and downloaded the YakYak pre-release 1.3.1.
I have it set to keep in the dock, if that matters, and when i pressed close, i got this error.
`Uncaught Exception:`
`TypeError: Cannot read property 'isFullScreen' of null`
`    at BrowserWindow.<anonymous>`
`(C:\Users\*MyUser*\Downloads\YakYak\resources\app\main.js:443:21)`
`    at emitOne (events.js:96:13)`
`    at BrowserWindo

[2016-06-30 00:41] PMiner commented on #265
@link6155 do you mind if I make a couple variants of your icon?

[2016-06-30 00:43] PMiner commented on #240
@garethellis0 what desktop do you use?

[2016-06-30 00:45] PMiner commented on #295
@arnriu This is not the issue i was having. i think you read the title, but not the actual message. I'll admit though, the title is confusing.
I will update it soon.

[2016-06-30 00:49] garethellis0 commented on #240
@PMiner Sorry, not sure what you mean? The desktop is i3, but I specified that in the original post.

[2016-06-30 00:49] PMiner commented on #290
#282

[2016-06-30 00:54] jadengore commented on #249
@PMiner See [this](https://github.com/yakyak/yakyak/issues/21#issuecomment-228591151), I don't think it's going to make it currently. Maintainers think the design needs some work, and both of the ones above have already been shipped with YakYak.

@davibe Can you switch the icon back?

[2016-06-30 01:13] PMiner commented on #21
@davibe What work specifically do you think needs to be done? or do you not know specifics, just a more vague though?

[2016-06-30 04:30] davibe commented on #291
Just needs someone to do it

[2016-06-30 10:15] a1dutch opened #297 "Multi user chat name labels"
When having multi user chats, its hard to tell who has typed what without hovering over the persons icon. its alot easier if the user has set an picture, but when there is no picture there needs to be some way of displaying the name of the person next to what they have typed.

[2016-06-30 11:53] davibe commented on #297
@arnriu

[2016-06-30 12:39] randymorris commented on #297
If you can't find a nice way of displaying the whole name maybe you could do what Mail.app does on OSX if a contact doesn't have an image.  Rather than a placeholder image it displays their initials:

![screen shot 2016-06-30 at 8 38 28 am](https://cloud.githubusercontent.com/assets/17761/16488340/0c1b2f4e-3e9e-11e6-881f-bc6023861b09.png)

[2016-06-30 13:48] nathanharperdev opened #298 "When pinned to taskbar, shift click on icon"
Resulting Error:

[code]

Does not occur if icon is not pinned.

[2016-06-30 14:55] PMiner commented on #286
Could yak yak yak last have a link to open an external hangouts call?

[2016-06-30 15:20] PMiner opened #300 "Emoji font"
Could you please add the emoji font so that the emoji tray, and emojis render?

[2016-06-30 18:39] bryanzw15 commented on #132
On Windows we get ugly black and white emoticons/emoji or blank boxes which is weird because the built in Windows touch keyboard has proper color emoji. The picture shows the YakYak emoji page as well as the touch keyboard that Windows 10 (and 8 I think) ship with.

![image](https://cloud.githubusercontent.com/assets/14352938/16499907/4d70ca6c-3ed0-11e6-8d80-4f17493bdf40.png)

[2016-06-30 18:42] bryanzw15 commented on #300
See #132

[2016-06-30 19:02] mhogerheijde commented on #132
It has to do with priority I think. It takes the first font that supplies
the emoticon glyphs, so on both Mac and Windows a font is provided that
already has emoticons in it. On Linux there isn't (depending on distro
probably), so it takes the Noto font.

Maybe we can force the css to take the Noto font? But I don't know if that
would allow the Mac font to be first? I assume the font for Mac shoul

[2016-06-30 19:03] PMiner commented on #300
Oops. Your right. What do I do? Can I'm merge or something?

[2016-06-30 19:04] mhogerheijde commented on #132
Sorry, I read too quickly and skipped over the part where there seems to be
a Nice font for emoticons on Windows: then it probably is not added to the
CSS correctly?

On Thu, 30 Jun 2016, 21:02 Matthias Hogerheijde, <matthias@hogerheijde.net>
wrote:

[2016-06-30 19:07] #300 closed

[2016-06-30 19:49] bryanzw15 commented on #132
As far as I know, and with the little experimentation I did, it has to do with the Chromium rendering engine that Electron uses. On Windows, if you go to getemoji.com, it renders the black and white emoji on Chromium/Chrome but if you go there on Edge or Firefox it uses the built in Windows emoji that are shown in my picture. So I have a feeling you're right with the priority thing, it's just a ma

[2016-06-30 21:19] a1dutch commented on #297
any idea when this will be available @arnriu ?

[2016-06-30 21:20] a1dutch commented on #297
just seen your pull request, thanks

[2016-06-30 22:32] joshstrom commented on #264
@KennethScott
As a workaround to set proxy on launch from Windows (and still launch with double-click from an icon), create a shortcut and specify as the target:

[code]

If your proxy requires a username/password, I'm not sure how to set it like this.

With this, I am able to run YakYak under Windows behind a proxy. Alternatively, something like Proxifier could likely be used to force the connect

[2016-07-01 00:07] arnriu commented on #132
This is a chromium issue on windows. Css can't help it.
Hopefully they will add colored emoji support... someday...

BUT, because i like you windows guys :smiling_imp: , I looked into it.
Those are not windows noative emojis but twitter emojis. This is temporary (waiting for chromium team to add native color emoji support), it can be heavy and laggy if you (or a friend) spam emojis since it parses

[2016-07-01 00:12] arnriu commented on #297
@a1dutch You're welcome :smile:

[2016-07-01 00:45] bryanzw15 commented on #132
Those look great! Though it may be all for nothing. Looking through the Chromium bugs it seems like they have it fixed already...
[https://bugs.chromium.org/p/chromium/issues/detail?id=333011](https://bugs.chromium.org/p/chromium/issues/detail?id=333011)
I just downloaded Chrome Canary and the color emoji are present so it seems a fix from Chromium is incoming sometime relatively soon. Though I do

[2016-07-01 02:05] PMiner commented on #293
I'm new to github, but if it says "help wanted" how would i help? How to i make a fork, and then request to merge?

[2016-07-01 11:14] monchote commented on #296
This is fixed in master already. Duplicate of #278

[2016-07-01 14:41] averissimo opened #301 "How to debug?"
Backend and frontend :)

Tried using electron-debug, but I guess this is only for the frontend.

_ps. I am a total newbie in this framework, I tried the obvious github repository search, google queries and a couple non-obvious.. if this info is already explained please point to the link, I'll be happy to contribute with a wiki page after I succeed :)_

[2016-07-01 14:51] #296 closed

[2016-07-01 18:38] link6155 commented on #21
@davibe would be useful to know what "needs work".

[2016-07-01 22:27] PMiner commented on #21
Any chance we could get a description? I would be happy to make the changes
an icon with the changes.

[2016-07-02 12:17] eyadsibai opened #302 "Support Multiple google accounts"
I have two different gmail accounts that I would like to login with.

[2016-07-03 01:04] roguenorman opened #303 "blank screen windows 10."
when I login it shows the connecting icon then it just goes to a blank screen:
![blank](https://cloud.githubusercontent.com/assets/20261531/16543219/bbdc685a-410d-11e6-81b0-1185f5a93ff9.PNG)

I tried logging in with another account and it works fine, its just a certain one that does not work.

In the inspector > console it says: Uncaught TypeError: Cannot read property 'name' of undefined

it refe

[2016-07-03 01:09] roguenorman commented on #303
update: That account had no conversations started. I downloaded the hangouts app and started a conversation and then tried yakyak again and it works. So it looks like yakyak wont display the ui properly if the google account has no active conversations.

[2016-07-03 23:49] aexmachina opened #305 "The app icon is badged with unread messages when there are none unread"
Restarting the app fixes the problem.

[2016-07-04 15:44] clrg opened #306 "Crash on exit: Cannot read property 'isFullScreen' of null"
This happens every time I close YakYak on OpenSUSE - which is a bit annoying because then no preferences (e.g. favourites) are saved.

![screenshot_20160704_155734](https://cloud.githubusercontent.com/assets/68176/16565594/46d91f72-4206-11e6-8007-14e16843d63a.png)

[2016-07-04 16:00] PMiner commented on #306
#278

[2016-07-05 00:03] PMiner commented on #305
could you include logs? if you are on windows press `Windows+R` and then type `cmd` then press enter. Then navigate using the cd command (ex. `cd C:/Users/*yourname*/Downloads/YakYak`), and start yakyak with `yakyak.exe`. if you are on Linux, open the terminal, however, your operating system works, usually `ctr+alt+t` and then using the cd command (ex. `cd /home/*yourname*/Downloads/YakYak`), and

[2016-07-05 00:05] PMiner commented on #301
if you are on windows press Windows+R and then type cmd then press enter. Then navigate using the cd command (ex. cd C:/Users/*yourname*/Downloads/YakYak), and start yakyak with yakyak.exe. if you are on Linux, open the terminal, depending on your operating system, usually ctr+alt+t and then using the cd command (ex. cd /home/*yourname*/Downloads/YakYak), and start YakYak with the ./yakyak command

[2016-07-05 00:10] aexmachina commented on #305
I'm on Mac, but here's the log:

[code]

Doesn't seem to show much.

1. Opened the app from the Terminal (see above)
1. App icon had no badge
1. A friend sent me a message
1. The app icon showed a badge with 3
1. I viewed the message from my friend
1. The app icon showed 2

[2016-07-05 00:27] PMiner commented on #305
Search the Yakyak folder for anything called log. You might find a log file.

[2016-07-05 01:33] aexmachina commented on #305
Nope, can't find anything:

[code]

[2016-07-05 01:51] averissimo commented on #301
I was asking to actually pause the process and inspect variables. Specifically in main.coffee (backend)

With the ui the inspector can be called directly in the window.

[2016-07-05 03:05] PMiner commented on #305
While yakyak is open, press `ctrl+alt+i` that opens the inspector. you can check for errors there.

[2016-07-05 06:08] anarchocurious commented on #251
I am having the same issue on the 64 bit version.

I suspect the issue has more to do with two-step verification than the architecture.

[2016-07-05 07:40] arnriu commented on #301
If you want an easy solution, you can log any variable using console.log anywhere. If it's a front-end variable, it will be in inspector's console. If it is backend, it will be in your terminal.

[2016-07-05 13:21] clrg opened #308 "Proposed icon"
Here's a mockup/idea I came up with, perhaps inspired by a certain other icon but not a copy or derivative of it. Consider all work posted by me in this thread to be public domain.

<removed - see below>

Had to zip the SVG due to Github limitations.

<removed - see below>

[2016-07-05 13:56] clrg commented on #308
And an alternative although perhaps a bit too close to another well known app's icon? Does allow him to be even hornier though (erm, see previous explanation).

![myyakyak2 svg 128](https://cloud.githubusercontent.com/assets/68176/16587022/8e277d46-42c0-11e6-9361-af565cb74478.png)

Wtih zipped SVG.

[MyYakYak2.zip](https://github.com/yakyak/yakyak/files/347865/MyYakYak2.zip)

[2016-07-05 14:13] clrg commented on #21
More fiddles.

![myyakyak2 svg 128](https://cloud.githubusercontent.com/assets/68176/16587512/e09d98a6-42c2-11e6-8a6e-2218ce9371b9.png)

Wtih zipped SVG.

[MyYakYak2.zip](https://github.com/yakyak/yakyak/files/347908/MyYakYak2.zip)

[2016-07-05 14:22] JoeDuncko commented on #308
The second one looks mysteriously like Homestar Runner...

[2016-07-05 14:23] clrg commented on #308
Haha I knew I recognised the shape! It was just a chat bubble rotated with an extra line.

[2016-07-05 14:30] ricanon opened #309 "A JavaScript error occurred in the main process"
[Window Title]
Error

[Main Instruction]
A JavaScript error occurred in the main process

[Content]
Uncaught Exception:
TypeError: Cannot read property 'getSize' of null
    at BrowserWindow.<anonymous> (C:\Program Files\yakyak-win32-x64\resources\app\main.js:239:42)
    at emitOne (events.js:96:13)
    at BrowserWindow.emit (events.js:188:7)

[OK]

[2016-07-05 14:39] randymorris commented on #294
Another related issue: sending times has become very difficult.  Try to send "06:38 am" and it gets converted to "6😸8 am".

[2016-07-05 14:54] PMiner commented on #294
On hangouts, you have to type a space for the emoji to appear.

[2016-07-05 15:41] clrg commented on #308
![myyakyak2chew svg 128](https://cloud.githubusercontent.com/assets/68176/16590380/39cdf0cc-42cf-11e6-8d28-bb87972fae8f.png)

Omnomnom. "I'm chewing grass to stop people confusing me with Homestar Runner."

[2016-07-05 19:22] PMiner opened #310 "Ctlr+Enter doesnt send"
This should be a simple fix. Just make ctrl+Enter send the message. It works on the official hangouts client.
You might be wondering why this is useful, because if you paste something over and over again you can press enter while still holding ctrl. its a really tiny detail, but it is still something.

[2016-07-06 10:12] clrg commented on #308
Woke up with a couple more ideas. First with a tilted mouth:

![myyakyak3 svg 128](https://cloud.githubusercontent.com/assets/68176/16614598/11630410-436a-11e6-953c-800e07ae0831.png) ![myyakyak3chew svg 128](https://cloud.githubusercontent.com/assets/68176/16614597/116249f8-436a-11e6-9edd-cd213cf0a653.png)

Zipped SVG: [MyYakYak3.zip](https://github.com/yakyak/yakyak/files/349526/MyYakYak3.zip)

A

[2016-07-06 10:13] clrg commented on #21
More ideas back on #308 but I liked this one:

![myyakyak4chew2 svg 128](https://cloud.githubusercontent.com/assets/68176/16614601/116d38d6-436a-11e6-8a93-bf3df6f80c4e.png)

[2016-07-06 18:46] invisiblegarage commented on #302
Agreed. Great app. Would love support of mulitple google logins.

[2016-07-06 20:45] RandyHBH opened #311 "Sugestion: Config a Proxy"

[2016-07-07 13:04] randymorris commented on #103
I think this can probably be closed now.  I can say for sure it's working for me in the current prerelease but I believe this was merged just before the 1.3.0 release.

[2016-07-07 14:37] #103 closed

[2016-07-07 14:38] davibe commented on #311
you mean you want to add configuration screen for manually setting a proxy ?

[2016-07-07 14:39] davibe commented on #302
we already talked about this. It require quite some effort but it's interesting.

[2016-07-07 14:41] davibe commented on #21
haha, for some reason i see a sad pacmam instead of the yak

[2016-07-07 14:58] RandyHBH commented on #311
Yes, because in my case I am behind a proxy, and I is not feasible to proxy the entire system, so I was wondering if poible add the functionality to manually set a proxy.

[2016-07-07 18:37] PMiner opened #312 "Right click menu"
I dont know if this is possible, but it would be nice to be able to right click a message and have an option to copy, forward etc.

[2016-07-07 22:09] clrg commented on #21
ROFL that's 2 iconic references!

Here's another fiddle...

![myyakyak5chew1 svg 128](https://cloud.githubusercontent.com/assets/68176/16671537/c6fa4d82-4497-11e6-89bc-08c575824521.png) ![myyakyak5chew2 svg 128](https://cloud.githubusercontent.com/assets/68176/16671538/c70b05e6-4497-11e6-9e5b-8fb9c7cd1a64.png)

[2016-07-07 22:10] clrg commented on #308
More playing about.

![myyakyak5chew1 svg 128](https://cloud.githubusercontent.com/assets/68176/16671537/c6fa4d82-4497-11e6-89bc-08c575824521.png) ![myyakyak5chew2 svg 128](https://cloud.githubusercontent.com/assets/68176/16671538/c70b05e6-4497-11e6-9e5b-8fb9c7cd1a64.png)

Zipped SVG: [MyYakYak5.zip](https://github.com/yakyak/yakyak/files/353150/MyYakYak5.zip)

[2016-07-08 02:15] link6155 commented on #265
@PMiner I don't mind, just as long as you stick the MD guidelines.

[2016-07-08 04:12] PMiner commented on #265
MD guidelines?

[2016-07-08 04:19] NBonaparte commented on #265
[Material Design](https://material.google.com/style/icons.html#icons-product-icons).

[2016-07-08 04:29] PMiner commented on #265
OK thanks!

[2016-07-08 12:06] clrg commented on #21
Procrastinating on something else, played about and made a .ico file, trying to make the lo-res ones look less like smudges.

[MyYakYak-ico-xcf.zip](https://github.com/yakyak/yakyak/files/354141/MyYakYak-ico-xcf.zip)

[2016-07-08 12:07] clrg commented on #308
Procrastinating on something else, played about and made a .ico file, trying to make the lo-res ones look less like smudges.

[MyYakYak-ico-xcf.zip](https://github.com/yakyak/yakyak/files/354141/MyYakYak-ico-xcf.zip)

[2016-07-08 18:55] rroll1 opened #313 "Text formatting is messed up"
I'm running into a strange issue. Arch Linux, both on Yakyak stable and latest git version.

The text formatting in messages is behaving strangely. It appears that there are no spaces -- text is getting compressed down, and it's doing odd things with numbers. See the screenshot below.

I've uninstalled and reinstalled the program, as well as removing ~/.config/yakyak and /usr/share/yakyak (and /us

[2016-07-08 23:16] PMiner commented on #313
since it only appears on one of your computers, and updates dont fix it, it is most likely a electron problem as apposed to yakyak. also, #240

[2016-07-08 23:23] PMiner commented on #6
https://www.sitepoint.com/building-custom-right-click-context-menu-javascript/

[2016-07-08 23:23] PMiner commented on #312
oops did not see #6

[2016-07-10 22:36] KruyKaze opened #315 ":) should be switched to emoji when I hit enter"
We shouldn't need to hit space first
Thanks

[2016-07-11 06:18] sodiumjoe opened #316 "no cmd-tab entry when dock item is hidden"
With the "Hide Dock Icon" setting enabled, you can't cmd-tab to yakyak anymore.

[2016-07-11 07:08] bozerkins commented on #286
+ initiating the call could be useful

[2016-07-12 23:14] katzly commented on #257
i don't think the app is reading the contact list from google contacts. when using the official hangouts app to receive sms (instead of using google voice) the contacts don't have to be using the hangout in order for the contact info to populate, as long as the phone number and name are entered or saved in google contacts it will populate and show the name in hangouts.

this is only true for hango

[2016-07-13 01:41] karsai5 opened #317 "You should be able to toggle notification methods"
As a user I would find it useful to toggle how YakYak notifies me of new messages. For example I like having the toast notifications, but often find the sound annoying. So it would be useful to be able to toggle sound for notifications. (Note this is different from muting notifications)

[2016-07-13 08:00] davibe commented on #257
In yakyak `favourites` are only computed and saved on the client side. There is no interaction with special apis. I don't use yakyak to chat with sms/phones. I suspect in that case contacts have a different payload which we are not able to parse OR there is a special api we could use to access the user contacts to populate them.

[2016-07-13 08:01] davibe commented on #286
Can someone do a pull request for it ?

[2016-07-13 08:03] davibe commented on #316
This is true on osx. Unfortunately this is an electron choice (or bug).

[2016-07-13 08:03] davibe commented on #316
This is true on osx. Unfortunately this is an electron choice (or bug).

[2016-07-13 08:05] bozerkins commented on #286
Sure. I might have time this weekend.

On Wed, Jul 13, 2016 at 11:01 AM, Davide Bertola <notifications@github.com>
wrote:

[2016-07-13 08:11] #312 closed

[2016-07-13 08:29] davibe commented on #21
@PMiner @link6155 what i meant by work is
- create all resolution and formats
- see how it looks with different backgrounds and with no shadow as well as in the tray on ios/win/linux (trays are different)

[2016-07-13 08:31] davibe commented on #251
Is twostep auth something you can enable / disable ? Never played with it

[2016-07-13 08:47] #303 closed

[2016-07-13 08:59] davibe commented on #293
Are you a developer ?

[2016-07-13 09:00] #297 closed

[2016-07-13 13:44] PMiner commented on #293
yes. Also, I figured out how to make a pull request.

[2016-07-13 14:59] PMiner commented on #251
yes, it is. also, you can generate an app password to bypass 2-step authentication.

[2016-07-13 15:00] PMiner commented on #21
Ok! @davibe I will work on this ASAP.

[2016-07-13 15:02] PMiner commented on #265
@link6155 do you have an SVG? It's fine if you don't, I was just wondering.

[2016-07-13 15:38] davibe commented on #251
How can i enable two step ? i am not android user, i am a gmail user.

[2016-07-14 11:54] lamelas commented on #82
Having the same issue. Sending a message from YakYak to a chat where message history is turned off, the message is sent with history turned on. Let me see if I can fix it and send a pull request.

[2016-07-14 14:08] mxxcon opened #318 "Support ability to kick users from hangouts."
Hangouts recently added support to kick users from group hangouts. Would  be nice if yakyak supported this feature.

[2016-07-14 23:05] Foxtrot commented on #240
I am using yakyak on Awesome with the same issue, spaces are non existent. Is it a problem with tiling window managers?

[2016-07-14 23:14] Foxtrot commented on #240
Just quickly tested in LXDE on the same system, and the issue is still there :/

[2016-07-15 19:01] easauceda commented on #310
Hey guys, opened a PR for this: https://github.com/yakyak/yakyak/pull/319

First time working with coffeescript & electron, so please let me know if there's anything wrong or that could be done better.

[2016-07-18 04:28] Siddhartha90 commented on #254
You can disable the notification sound from System Prefs -> Notifications but can't assign it a new sound.

[2016-07-18 12:24] kolorafa commented on #287
Testing the pre-release.
Everything cool, the only peace for me that is missins is:

### Left click on tray icon - show window.

Now to open YakYak i need to right click and click "toggle..."
Left click is not assigned, and it would be awesome if left click would toggle show/hidden!

(Both windows and linux (arch))

Thanks

[2016-07-18 12:42] kolorafa commented on #294
I did paste few urls with space between them and it changed urls to emoji ...
How to completely disable replacing text to emoji?

[2016-07-18 12:42] kolorafa commented on #315
And ability to disable that functionality

[2016-07-18 12:44] kolorafa commented on #313
When you paste link and click space link get f.. up, emoji apear.

[2016-07-18 18:46] davibe commented on #294
I guess i will have to revert the current implementation

[2016-07-18 19:01] austin-guevara commented on #315
Does that work for you? When I enter ":)" and hit space, it doesn't convert it to emoji.

[2016-07-18 19:11] kolorafa commented on #315
on windows and 1.3.1 it change from :) to emoji after hitting space, maybe it's related that i did use/test Google Hangouts app on windows?

Downloading never version to test on linux

[2016-07-18 20:51] kolorafa commented on #315
Latest from git on linux - when typing :)[space] the smile disapears as it probably does not have needed font

http://kolorafa.firehost.pl/test/snapshot-2016-07-18-22-50-26.png
![](http://kolorafa.firehost.pl/test/snapshot-2016-07-18-22-50-26.png)

[2016-07-19 01:07] garethellis0 commented on #240
Mine is the same as @Foxtrot describes.

[2016-07-19 14:54] averissimo commented on #301
Added information to the wiki page, I guess this issue can be closed

https://github.com/yakyak/yakyak/wiki

[2016-07-19 14:54] #301 closed

[2016-07-19 15:03] averissimo commented on #287
I tried this and the framework does not allow to assign left button (for what I researched/tried)

Anyway, I much prefer the Skype behavior of activate instead of toggling, which always shows window when menu is pressed.

I have done it locally at a branch if anyone want to try it out: https://github.com/averissimo/yakyak/tree/activate

[2016-07-20 08:27] MarttiR opened #321 "URLs with IP addresses get truncated when creating link"
To reproduce:
- Enter IP url with three digits in the last set, such as http://192.168.100.100/
- Link leaves out last digit: http://192.168.100.10 0/

[2016-07-20 11:15] Stanko commented on #167
I can recreate as well.
This would be really nice to get into the next release.

[2016-07-20 13:47] rroll1 commented on #313
Purging all evidence of Electron from my system and reinstalling corrected this.

[2016-07-20 13:47] #313 closed

[2016-07-20 15:15] ruzihao commented on #305
Same issue here. Once triggered by one unread message, the red "1" is always shown in the badge..

However, the app is pretty cool overall. Using much less memory than Google's own Hangout app

<img width="154" alt="yayak" src="https://cloud.githubusercontent.com/assets/3221780/16991923/4fea4f48-4e6b-11e6-96d0-96f80475a7bf.png">

[2016-07-20 18:58] rameshdharan commented on #120
For what it's worth I have two Google accounts and I see this with 1.3.0 and 1.3.1 on both accounts. It only recently started happening for me.

[2016-07-21 05:53] davibe commented on #167
so, do it and send us a pull request!

[2016-07-21 06:38] Stanko commented on #167
@davibe I actually already took a look, but I'm not sure where is the problem. I would appreciate advice where to start.

[2016-07-21 17:47] ctcpip commented on #11
Help me understand what is being asked for here.  I implemented the blinking in the taskbar, and it works as expected on Windows + GNU/Linux.  What is the request?

[2016-07-21 21:39] ctcpip opened #323 "Feature Request: Separate Pop-Up (Toast) Notification from Flashing Window Notification"
Currently, with notification enabled, when a new message is received, two things happen:

1. the window flashes in the taskbar
2. a pop-up/toast notification appears, containing the message

*#*2 can be a privacy issue, so I would like to add an option to disable/enable *#*2

[2016-07-21 21:40] ctcpip commented on #323
@davibe - do you have a recommendation for UI to control this option?

[2016-07-21 23:25] datanotion commented on #264
Same problem for me, but on a Mac.  Is there a workaround for the Mac?

[2016-07-22 06:38] brianredbeard commented on #323
@ctcpip similar to this I was just looking into a mechanism to "snooze" notifications.  There's only so many times I can have a message pop up while screen sharing during a presentation on Hangouts.

I was about to explore doing this and got as far as:

https://github.com/yakyak/yakyak/blob/master/src/ui/views/notifications.coffee#L15

Then I realized there was no real `CONTRIBUTORS` file or other

[2016-07-22 16:30] naher94 opened #324 "Feature Request: Actionable MacOS Notifications"
It would be great it there was a way to reply and cancel and click on the notification and jumps to that conversation #

[2016-07-22 18:26] ctcpip commented on #323
@brianredbeard it's a bit loose in that sense.  I'll probably just implement the option(s) in the way I think makes sense, in the least invasive way possible, and submit a PR.  Most likely, I will add options to the 'View' menu.

[2016-07-22 20:06] ctcpip opened #325 "Bug (Inconsistency) - 'Color Scheme' menu in wrong place on Linux/Windows"
When the 'Color Scheme' menu was added to the Linux/Windows menu, it was added in the wrong place.  So it appears in those OS's as a top-level menu.  It needs to be fixed by moving into the 'View' menu, as it is in OSX.

[2016-07-25 16:51] averissimo commented on #288
not anymore!! :)

[2016-07-25 16:51] #288 closed

[2016-07-25 18:09] averissimo commented on #315
I created pull request https://github.com/yakyak/yakyak/pull/329 that converts to emoji when pressing enter, appreciate if someone could test it!

[2016-07-25 18:10] averissimo commented on #294
I created pull request https://github.com/yakyak/yakyak/pull/329 that only converts to emoji exact emojis surrounded by space/beggining/end

Appreciate if someone could test this! :)

[2016-07-25 19:05] Ashaman- opened #330 "Can't send new SMS."
Tried to start a conversation with a US phone number in the +1xxxxxxx format, and sent a message. Gmail interface shows the message sent to an empty hangout.

This is with Google Voice set to use Hangouts for SMS.

[2016-07-26 20:41] mattrock5a commented on #232
BUMP... would love to see this fix implemented, and know many others who say the same!

[2016-07-27 09:34] aPoCoMiLogin commented on #237
Autocorrection is something i don't like too, but spell checker is fine and i'm missing it too.

[2016-07-27 11:42] averissimo opened #331 "Should there be an option to convert to emoji as you type?"
This is a question that came from pull request https://github.com/yakyak/yakyak/pull/329

I have implemented this option in a0a0f2507d02a76692a42af1db9c0dc4da4446e4

It works with minimal (manual) tests

Feedback?

[2016-07-29 11:05] jraoult commented on #317
@karsai5 or anyone finding this issue, I managed to hack around. Might not be the ideal solution but it could fix your problem waiting for a longer term solution. The notification in YakYak is based on the following NPM module: https://www.npmjs.com/package/node-notifier#all-notification-options-with-their-defaults. So, open `/Applications/YakYak.app/Contents/Resources/app/ui/views/notifications.j

[2016-07-29 22:26] playerzero commented on #82
Steps to reproduce:

1. Start a new conversation via hangouts.google.com or the official Hangouts "app" (Chrome extension).
2. Turn off history:
    * In web view, select the Gear icon in top right, then uncheck Hangout History then click OK.
    * In Chrome "app" select the 3 dots icon in top right, then Options, uncheck Hangout History, then OK.
3. Exchange some messages.
4. After some time, the

[2016-07-30 00:31] jjt commented on #317
@karsai5 This method worked for me, as outlined [here](https://github.com/yakyak/yakyak/issues/254#issuecomment-233226825):

[2016-08-01 00:11] karsai5 commented on #317
Thank you @jraoult that worked a charm. I think I'll keep this as an open enhancement as it would be useful to toggle sound from the options menu some time in the future.

[2016-08-03 18:02] davibe commented on #11
should probably have been closed indeed

[2016-08-03 18:02] #11 closed

[2016-08-03 18:49] davibe commented on #324
does node-notifier allows us (the lib we're using) to do that ?

[2016-08-03 18:51] davibe commented on #323
on osx people can control notification appearance using notification center. Does it make sense to do this window/linux only ?

[2016-08-03 18:52] davibe commented on #325
thx

[2016-08-03 18:56] #317 closed

[2016-08-03 18:58] neurosnap commented on #209
Any updates on this?

[2016-08-03 19:05] #325 closed

[2016-08-03 19:44] ctcpip commented on #323
@davibe but that would affect notifications globally. this gives the user the ability to turn off just for yakyak

[2016-08-03 19:45] ctcpip commented on #323
also, I would think we'd want to have parity regarding settings across operating systems

[2016-08-05 06:05] kecinzer opened #332 "Multilanguage support"
Is there any option to add multilanguage support to YakYak?
As I saw in source, all string are hardcoded.

[2016-08-05 12:14] davibe commented on #332
any javascript node.js i18n solution should be fine if you just want to replace strings.. bug is it really needed for our simple ui ?

[2016-08-05 15:52] pjjanak opened #333 "Can no longer login - OSX"
Starting yesterday YakYak disconnected and constantly tried to reconnect, failing each time with no obvious error. Today I wiped the app's data out of ~/Library/Application Support/yakyak and got prompted to login again, as expected. Now after completing the process YakYak tries to connect, the attached window pops up, is automatically closed and YakYak tries to connect again. The whole process re

[2016-08-06 11:58] davibe commented on #333
just tried using 1.3.1 (osx). I even deleted application support folder. I had no problems.

[2016-08-06 16:16] pjjanak commented on #333
I have 2-Factor Authentication enabled. Might that be what's causing the issue?

[2016-08-07 17:00] pencarsa opened #334 "Messages can't be sent"
When we connect the app to our enterprise google apps account and try to communicate messages don't reach the user and they are grayed out.
<img width="937" alt="yakyak_and_downloads_and_releases_ _yakyak_yakyak" src="https://cloud.githubusercontent.com/assets/3245173/17463860/32dee2b4-5cd1-11e6-98a8-0f895b3974eb.png">

[2016-08-08 03:56] joshstrom commented on #264
@datanotion
Untested, but a likely fix: [this answer on StackOverflow](http://stackoverflow.com/a/588442/542494) or one of the other ones on the page cover setting environment variables for apps launched through Spotlight.

[2016-08-08 12:00] davibe commented on #333
definitely. There are other issues related to that

[2016-08-08 13:40] pjjanak commented on #333
Any workarounds at the moment?

[2016-08-08 15:54] davibe commented on #333
don't think so. Needs someone to fix it

[2016-08-08 15:55] davibe commented on #334
did you try released 1.3.1 ? (not pre-release)

can you launch it from terminal and paste output when you send messages ?

can you try to hit alt+cmd+i and check console for some meaningful output ?

[2016-08-08 16:30] dbehnke commented on #294
works great, I am able to send people http:// links again :+1:

[2016-08-08 17:22] jlp78 opened #335 "Service Unavailable - no CAPTCHA support"
I have YakYak 1.3.1 (about screen says 1.2.5 (1.3.1).  It was working fine when I was using it from home, but today I started it up at work and am receiving this message in the terminal when I run it: [http://pastebin.com/uYJ9KwUP](url)

Looks like Google thinks there is something weird about my IP and wants me to solve a CAPTCHA, but YakYak doesn't know how to do that.

[2016-08-08 19:33] TotalLag commented on #292
Hello, I have the opposite, but similar issue.  SMS sent through YakYak will show up in GMail Hangouts app, but the receiver does not actually get anything.  If I copy and paste the same message in actual GMail Hangouts, they will get it.

I still receive SMS replies in YakYak however.

[2016-08-08 19:51] davibe commented on #294
thanks

[2016-08-08 19:51] #294 closed

[2016-08-08 19:52] davibe commented on #335
ha.. bad :(

[2016-08-08 20:43] jlp78 commented on #335
Just a FYI, down near the bottom of that message was a link... after I visited that link in a browser, the problem appeared to go away.  I don't know if it went away because I visited that link or because my IT department fixed something (or had Google fix something).

For now, everything is working again.  Until next time.  Maybe a decent resolution would be for YakYak to detect this error condit

[2016-08-09 06:13] davibe commented on #335
Yes.

[2016-08-09 09:04] pencarsa commented on #334
I tried 1.3.1 release and also compiled the source code.

There are no terminal messages when I try to send the message:
./YakYak
hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
connected 0

Console doesn't give any meaningful output, only errors about fonts.

In our gapps the history of messages is

[2016-08-10 18:18] andreykats opened #336 "Missing Spellcheck"
I'm using version 1.2.5 (1.3.1) for Mac and it doesn't appear to have spell check enabled. Is this missing from the app?

[2016-08-10 20:14] randymorris commented on #336
#61

[2016-08-10 21:16] njnygaard opened #337 "Scroll bars for dark theme on OSX 10.11.6 do not match."
Here's an image.
![screen shot 2016-08-10 at 2 15 13 pm](https://cloud.githubusercontent.com/assets/4606342/17571437/08387e9a-5f05-11e6-8ad2-27fafcb6aa92.png)

I was expecting it to be darker.

[2016-08-11 09:37] mizuapo opened #338 "Systray icon double (or single) click not working (show / hide window) (Ubuntu MATE 16.04)"
When i double clicked the systray icon then nothing don't happens.
- MATE Desktop Environment 1.12.1 based ubuntu 16.04  (gnome 2)

[2016-08-11 21:20] datanotion commented on #264
@joshstrom - bummer, didn't seem to have any effect.  Thank you for the idea though!

[2016-08-12 07:06] kecinzer commented on #332
If it's possible, and no power consuming, I vote for multilanguage support.

[2016-08-14 12:22] oasisfleeting opened #339 "unable to run deploy.sh on windows 10"
tried from both cmd and cygwin with admin rights.

Microsoft Windows [Version 10.0.10586]
(c) 2015 Microsoft Corporation. All rights reserved.

C:\Users\admin>cat L:\Documents\GitHub\yakyak\npm-debug.log
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1

[2016-08-14 16:46] davibe commented on #339
It works on osx which is what i use to generate final packages.

[2016-08-16 00:15] notdevinclark commented on #331
Thank you for implementing this option. Was looking for it all over the place in the stable release.

[2016-08-16 08:27] arnriu commented on #337
Well, for me, they are black with dark color scheme.

![sb](https://cloud.githubusercontent.com/assets/9418756/17692796/0cda7926-639c-11e6-951e-3fbaf2ac9ffc.jpg)

[2016-08-16 12:04] apoisonedgift opened #340 "Top conversation constantly being hidden"
Often when I open up the latest (1.3.1 pre release) build, the top (most recent) conversation has disappeared, and until the person messages me, I cannot retrieve it. This didn't happen in the prior version. Running it on 64 bit windows 10.

[2016-08-16 13:35] randymorris commented on #337
I'm using master as of 59e9d9e (current HEAD) and I'm seeing the light scroll bar as well.  Using the same version of OSX as @njnygaard.

[2016-08-16 15:38] andreykats commented on #61
+1

[2016-08-16 16:45] chasetb commented on #337
I'm also using [`59e9d9e`](https://github.com/yakyak/yakyak/commit/59e9d9ea956071e37f7de2e8856cb2f8f49f9553) and the scroll bars are black when in dark mode. Strange inconsistency, eh?

[2016-08-16 16:57] randymorris commented on #337
FWIW I removed my `~/Library/Application Support/yakyak` and tried again from scratch and I still get the light scrollbars.

[2016-08-16 17:00] chasetb commented on #337
Is your mac running in dark mode? That might be the difference if not. [How-to: Enable Dark Mode](https://9to5mac.com/2014/11/08/yosemite-dark-mode/)

[2016-08-16 17:03] randymorris commented on #337
It is not.  However, enabling it does not seem to affect the scrollbars YakYak.

[2016-08-16 17:08] chasetb commented on #337
I wonder if there is something in `~/Library/Preferences/com.github.yakyak.plist` that might be causing it. I don't see anything in mine related to scroll bars but have you tried deleting that file also?

[2016-08-16 17:12] randymorris commented on #337
No dice.  Killed YakYak, deleted it, then started YakYak and selected the dark theme.  Still have light scrollbars.

[2016-08-16 19:30] tommymh commented on #240
I had the same issue on arch with i3wm, installed yakyak through the AUR.  After a bit of fiddling with the inspector, I found that the NotoColorEmoji font is the culprit.  I replaced the ttf file that came bundled with YakYak with the current one from google and that fixed the problem.

[2016-08-16 19:41] Foxtrot commented on #240
Interesting! Can you share where the .ttf yakyak uses is? I will try ASAP with my awesomeWM set up and see if it works.

[2016-08-16 19:44] tommymh commented on #240
I found it in: /usr/share/yakyak/resources/app/ui/css/noto-color-emoji/

[2016-08-16 20:08] Foxtrot commented on #240
Alright, so replacing it with the TTF from the Arch package doesn't fix it for me, but removing/renaming it does, and then YakYak works, sans-color emoji.

Good find and thanks for sharing @tommymh

[2016-08-17 00:56] rippetoej commented on #338
Same happens in Windows 10 v1607.  However, if I right click on the tray icon and then left click on "Toggle minimize to tray" the window exhibits the show/hide functionality.

[2016-08-20 20:36] underscorephil commented on #232
+1

[2016-08-22 00:20] LinkofHyrule89 opened #342 "Video/Image thumbnails and URL Snippets."
It would be amazing if we got thumbnails for main video and image services as well as URL snippets similar to how Discord and Google+ does it.

[2016-08-22 00:22] LinkofHyrule89 opened #343 "Show drag and drop however and image/video preview."
I would very much like it if when I hover over to drag and drop an image or video if it would show that it knows I'm trying to drag and drop something similar to the actual hangouts chrome app. Also an image preview would be wonderful so we don't accidentally send images to the wrong people.

[2016-08-22 00:24] LinkofHyrule89 opened #344 "Hangouts Style Emoji"
It would be amazing if we could optionally be able to switch between the Hangouts style emoji and other sets of emoji.

[2016-08-22 00:25] LinkofHyrule89 opened #345 "Sending Videos"
Hangouts on Android and iOS support sending videos it would be cool if you guys could somehow support this feature as well.

[2016-08-22 05:54] davibe commented on #340
1.3.1 is now released. Does this still happen ?

[2016-08-22 08:38] arnriu commented on #337
@randymorris @njnygaard are you using a mouse or trackpad? I remember that scrollbar behavior can be different depending on input: large scrollbar with background when using mouse input, transparent thin scrollbar with touch input (can be both with a magic mouse i guess since magic mouse is hybrid).
I do not have mouse right now to test though, can you try it?

[2016-08-22 08:48] arnriu commented on #344
Emojis are system based, and I think it should stay that way. However, on windows, we use custom emojis temporarily since there is a bug with chromium and colored emojis. See https://github.com/yakyak/yakyak/issues/132 .

[2016-08-22 09:46] apoisonedgift commented on #340
Where is the release available? The description still says it's a pre-release on here: https://github.com/yakyak/yakyak/releases

[2016-08-22 10:23] randymorris commented on #337
Tried with a normal USB mouse, an external trackpad, and the internal trackpad on my MBP and all have the light scrollbar.  I do not have a magic mouse to test with.

[2016-08-22 10:28] arnriu commented on #337
@randymorris go to system prefpane, general, and try to switch scrollbar behavior manually. (as seen in this screen: http://0.tqn.com/d/macs/1/S/Q/j/-/-/GeneralPreferencesMacOSSierra.jpg ).
You may have to restart yakyak.

[2016-08-22 10:31] randymorris commented on #337
Ah ha!  I prefer to always show the scrollbar, and when this setting is on I get the light scrollbars.  Setting it to only show when scrolling shows the dark scrollbar.

[2016-08-22 10:35] arnriu commented on #337
@randymorris Ok, so mystery solved ! Other systems have custom scrollbar behavior, but we kept system scrollbar behavior for mac. Can't remember exactly why though, I think @davibe wanted to keep it has "macos feeling" as possible.

[2016-08-22 10:46] arnriu commented on #337
See: https://github.com/yakyak/yakyak/commit/7afdc3c3cb15787473a3779025c644c04f570c58
Custom scrollbar explicitly excluded for mac. Can't find issue / PR where we discussed it :s .

[2016-08-22 15:41] jlp78 commented on #302
This is a duplicate of https://github.com/yakyak/yakyak/issues/13

[2016-08-22 15:55] jwhipp commented on #252
+1 ... to add to description, archived chats show up as active chats, they should be hidden.

[2016-08-22 15:55] jwhipp opened #346 "Ability to archive chats"
We need the ability to archive chats, as with the official app.   Currently, only delete is available.

[2016-08-22 17:19] jwhipp opened #347 "Feature Request: unread number icon next to conversations/icons"
It would be nice to have the unread numbers next to the conversation like the official app does.

[2016-08-22 23:37] Aedaeum opened #348 "History Navigator"
- Chat history should be saved
- Should be configurable by time/size
- Should be time stamped and navigable by month/year
- Should be searchable in-app

If you have used Trillian, their history navigator is top notch.

[2016-08-23 07:16] davibe commented on #340
I forgot to update the description, you're right. However it is not marked as pre-release anymore. I will handle this better next time. Just re-download the "same" packages (their content has been updated a couple weeks ago)

[2016-08-23 07:52] pmsobrado commented on #338
Also, if "Close to tray" is enabled, when you close the app, it closes from tray too, when it should remain on the tray. Happens on Ubuntu and Windows.

[2016-08-23 10:13] apoisonedgift commented on #340
Ah, okay. I was -probably- running that version already then, but I've just re-downloaded and set it up just in case. Will let you know how it goes. Usually it happens a few times a day so I should be able to let you know in the next 24 hours.

[2016-08-23 13:51] apoisonedgift commented on #340
Yeah. It still happens I'm afraid.

[2016-08-24 13:46] randymorris commented on #347
This already works for me in 1.3.1, or is this not what you're talking about?

![screen shot 2016-08-24 at 9 43 59 am](https://cloud.githubusercontent.com/assets/17761/17932773/912f8434-69df-11e6-91d2-4bca785d735e.png)

[2016-08-25 10:55] averissimo commented on #132
Should colored emojis be working in linux out of the box?

Because it is not working with master branch on my build.

![selection_044](https://cloud.githubusercontent.com/assets/211358/17966697/bdc33bf4-6aba-11e6-8503-e7fc3a0fde9d.png)

[2016-08-25 10:58] averissimo commented on #339
It also works in Linux/Ubuntu

Try to run deploy.sh directly

    bash ./deploy.sh --help

and (replace --all for a specific architecture if you'd like)

    bash ./deploy.sh --all

Which errors appear?

[2016-08-25 12:14] zachthezman opened #349 "Ability to only show user picture"
First off, top-notch job here. Love this app. I use it all the time.

I would love to see an option to only show the user's picture in the left pane. You've already added the ability to hide the timestamp and last message. My goal is to slim up the left pane to be as minimalistic as possible. I split the app with Slack on my screen so the more real estate I can free up in the actual conversation p

[2016-08-25 12:19] randymorris commented on #349
This used to be possible just by resizing the pane.  I'm guessing this changed when the overall theme changed a while back.  Here's an old screenshot from the old v1.0.0 README that showed this:

![Screenshot](https://cloud.githubusercontent.com/assets/227204/8255540/d922d252-16a0-11e5-86b2-bfec901bbdbc.png)

[2016-08-25 12:22] averissimo commented on #132
had to create file ~/.fonts.conf and add this to it :)

now it works!! -- not sure if this is a general problem, or just with my crazy machine.

found the solution in googlei18n/noto-emoji/issues/36

[code]

[2016-08-25 12:26] arnriu commented on #132
@averissimo Color emojis are system based. On linux, i think it depends on distros, desktop environments, or manual font installation.

[2016-08-25 14:03] arnriu commented on #349
I don't know if I can help with this... Maybe if you could grab me a beer...

Ok, ok, fine. Here you are: #350

[2016-08-25 14:17] averissimo commented on #132
Thanks for the reply!

It might not be obvious for the user that this is system-dependant and less obvious that this is a chromium related issue _(if you see color emoji in chrome, than yakyak should also work fine)_

**Maybe a wiki/documentation page can be created** on system by system tips to use color emojis as installing a font was not enough _(at least for me in Linux/Ubuntu 16.10 yakkety)_

[2016-08-25 15:13] zachthezman commented on #349
![Mother of God](http://i.giphy.com/kCo3euE2yScYo.gif)

@arnriu you are a rock star! Thank you.

[2016-08-26 02:40] aditya-pai opened #351 "Archived conversations visibility"
The conversations that have been archived on google hangouts still appear listed on yakyak.

Also, resizing fonts is slightly counter-intuitive, in the sense that, when you reduce the font size you expect to see a larger number of messages, but in fact, the number of messages that are visible to you without scrolling decreases with decreasing font size.

[2016-08-26 14:42] randymorris commented on #351
For the hiding of archived chats #252 is already open.

I can't reproduce your second issue.  Decreasing the font size shows more messages for me.

[2016-08-26 16:10] ahpatel opened #352 "Feature Request: Mute Notifications"
An option to mute notification sounds and/or control notification volume would be helpful for me.  I don't see any way to do this in 1.3.1.

My use case... I use my PC for VoIP calls.  Often, I'll get a hangout message while on a call and the ping is very load for the person on the other end of my VoIP call.  Today, I have to close yakyak when I'm on a call.

[2016-08-26 16:35] tresni opened #353 "Thumbnails not being retrieved by default"
OS: OSX 10.11.6 (15G31)
Version: 1.2.5 (1.3.1) & master branch

Steps to replicate:
1. Disable `Show Conversation Thumbnails`
2. Restart YakYak

Expected results:
- User specific thumbnails show in chat windows (especially multi-user chat windows)

Actual results:
- Thumbnails show as a question mark

If I toggle "Show Conversation Thumbnails" then it will start showing thumbnails for users I have

[2016-08-26 18:11] chasetb commented on #353
I see this too (also on OS 10.11.6, v1.3.2(1.3.1)). In my group chats, most thumbnails don't populate unless I click on "Details" and then then will populate. I do this everytime I re-launch the app.

[2016-08-27 06:15] LinkofHyrule89 opened #354 "Force user Google Contact Picture?"
Is there any way we can force YakYak to use the pictures we set on people's Google Contact? If not that a custom picture in the app for both the contact list and in-conversation?

[2016-08-27 10:22] LinkofHyrule89 commented on #259
You can use XnView to easily convert any image to an ico. Making a shortcut with the correct icon is pretty easy. I wonder if you can just include the shortcut with the changed icon with the project?

[2016-08-28 13:17] Sovepro opened #355 "Install Ubuntu 16.04 "No protocol specified""
Hello,
I've tried to install yakyak on ubuntu 16.04.
I followed these steps to installe your software:
$ unzip yakyak-linux-x64.zip
$ cd linux-x64
$ ./yakyak
Installation failed, returning "No protocol specified".
`principal@cb-Aspire-5735:/home/cb/Téléchargements$` cd linux-x64/
principal@cb-Aspire-5735:/home/cb/Téléchargements/linux-x64$ ./yakyak
No protocol `specified`

If I directly execute th

[2016-08-29 17:31] ironcladlou opened #356 "Menu bar icon is invisible on OSX when using dark menu bar due to blending colors"
When using the "dark menu bar" option in OSX, the YakYak menu bar icon becomes invisible. Clicking the icon's space reveals the icon because of the background of the menu icon is changed to something lighter which contrasts with the icon.

[2016-08-29 20:31] williamsjj commented on #80
This is a real pain.

[2016-08-29 20:46] ctcpip commented on #356
it's pretty hard to see using Linux as well ..  (doesn't change when clicking though)  - LXDE/Lubuntu 16.04

[2016-08-29 20:54] ctcpip commented on #132
Is it possible that the above commit (or another) caused a regression on Linux?  I previously had color emoji which matched what I see on google.  Now it's the black/white versions as in the screenshots above.

(Lubuntu 16.04)

[2016-08-30 03:18] LinkofHyrule89 opened #357 "No right click menu."
When I right click highlighted text or pictures I expect to be able to have a copy/paste in both the chat and message field. This could also include information about the message similar to how Android does it but that's not a required feature.

[2016-08-30 03:46] LinkofHyrule89 commented on #348
It would be nice to have searchable history if it's possible to do that.

[2016-08-30 07:36] arnriu commented on #132
Yes it could.
The fix above is for windows only: `if process.platform == 'win32'`

But, in the same time, I removed noto font since it is not necessary for Windows and Mac, and I was thinking that it was the same on linux if you have color emoji support on your distro, but maybe I was wrong, we could try to add onto again, at least for linux, and see if it fixes.

[2016-08-30 11:07] georgemastro commented on #61
+1

[2016-08-30 12:48] lohfu opened #358 "Error: invalid_scope"
Suddenly i cannot open yakyak.

All i get is a page with the following info:

[code]

[2016-08-30 13:25] arnriu commented on #356
which " YakYak menu bar icon " are we talking about here? If its the three dots on the upper right corner of the window, I do not have any problem, the dots are same grey as text, in contrast of black background, in dark mode. Or is it something else?

[2016-08-30 13:30] ironcladlou commented on #356
Examples:

<img width="412" alt="screen shot 2016-08-30 at 9 29 13 am" src="https://cloud.githubusercontent.com/assets/298299/18090767/58f61146-6e94-11e6-9fc9-8b21522b3e61.png">
<img width="256" alt="screen shot 2016-08-30 at 9 29 26 am" src="https://cloud.githubusercontent.com/assets/298299/18090768/590579c4-6e94-11e6-9d55-6451aebef5d9.png">

[2016-08-30 14:23] davehalladay commented on #358
Same for me, I just changed my Google account password and think that it may be related to that.

[2016-08-30 14:35] arnriu commented on #356
https://github.com/electron/electron/blob/master/docs/api/native-image.md#template-image
https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/ToolbarIcons.html#//apple_ref/doc/uid/20000957-CH89-SW3

@Stanko @monchote

[2016-08-30 14:59] ctcpip commented on #357
+1 for copy-to-clipboard functionality when right-clicking on a hyperlink.  a cursory inspection of #357 suggests this will be addressed

[2016-08-30 15:13] CatLover91 commented on #358
I am getting this issue too, I just downloaded it and ran it. On startup, a loading indicator shows and then this error. OAuthLogin failing would make sense considering I hadn't even gotten to connecting my google account

[2016-08-30 15:32] davehalladay commented on #358
Should also mention I'm on Mac OSX El Capitan 10.11.6 running yakyak Version 1.2.5 (1.3.1)

[2016-08-30 15:43] averissimo commented on #132
I just confirmed that this commit (6245097febf847cd9d027c04df5000de3ae3736b) disabled "out of the box" colored emoji support **in Linux**, defaulting to a system based font (black and white). Tested both this and the parent commit to confirm it.

Which for me required an install and manual fix (that I shared above).

[2016-08-30 16:03] lohfu commented on #358
@davehalladay i did just activate two factor authentication, but i created a new user (in Linux), ie no previous config, and tried starting yakyak with the same result.

[2016-08-30 17:35] nickcoutsos commented on #358
I'm getting the same on OSX (both Yosemite and El Capitan) and haven't changed my password or enabled 2-factor auth.

[2016-08-30 17:44] jessejoe commented on #74
Workaround for Linux users: `rm -rf ~/.config/yakyak/Cache/`, restart app.

[2016-08-30 17:54] jessejoe commented on #358
Also getting this after deleting my `~/.config/yakyak` folder on Linux.

[2016-08-30 18:19] jmlacroix commented on #358
I just discovered YakYak and downloaded the app. When running it for the first time, I get the same error than @lohfu (OS X 10.10.4).

[2016-08-30 19:17] Stanko commented on #356
It seems this can be done by using [Template Image](https://github.com/electron/electron/blob/master/docs/api/native-image.md#template-image). I'll take a look tomorrow.

[2016-08-30 19:32] bs071 opened #361 "Feature Request: Spell Check"
Inline spell check requested

[2016-08-30 20:05] downbeat210 commented on #358
same error. just discovered and downloaded so i haven't signed in yet, although I have also recently  (in the last 10 minutes) changed the password to one of my accounts. El capitan 10.11.6

[2016-08-31 03:04] mydongistiny commented on #358
This is the error I get when I get this screen.

hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
asking for login credentials
2016-08-30 19:57:54 WARN no SAPISID cookie
2016-08-30 19:57:54 WARN no SAPISID cookie
2016-08-30 19:58:10 WARN no SAPISID cookie
2016-08-30 19:58:10 WARN no SAPISID cookie

[2016-08-31 05:31] MartSerra opened #363 "Improve icon to new stylish design"
I think the icon is a little simpler. I would be awesome if **YakYak** re-design a logo following [Material Design Style guide](https://material.google.com/style/icons.html#icons-product-icons).

Thanks for make this great application.

[2016-08-31 06:27] davibe commented on #358
Google has changed something :>

[2016-08-31 06:49] soasme commented on #311
+1

A feature MUST HAVE for this program running in China.
If Shadowdocks Protocol can be support, it would be nice.

[2016-08-31 07:02] wingedpanther opened #364 "Error: invalid_scope in latest 1.3.1 version(Win.x64)"
I've downloaded 1.3.1 version and when I start the application ...

![123](https://cloud.githubusercontent.com/assets/15865285/18119137/d33a3482-6f61-11e6-92f2-62e682d7039c.png)

[2016-08-31 07:07] wingedpanther commented on #358
On windows 10 x64,

@davibe "_Yes, google did something_"

![123](https://cloud.githubusercontent.com/assets/15865285/18119247/6901a536-6f62-11e6-8f70-2f7dabc4306a.png)

[2016-08-31 07:07] #364 closed

[2016-08-31 07:31] arnriu commented on #363
Users voted for this icon here: #249
But you can submit new icon ideas here: #21

[2016-08-31 20:39] bk800 opened #365 "Sending messages stops working after some hours"
I really like this program, but after keeping it running for a day or so it gets in a state where I type a message and it never gets through to the person I am chatting with.

(The text I type stays grey indicating that it never went through)

I end up having to re-start it in order to be able to chat again.

[2016-09-01 01:29] oblitum commented on #358
First time trying it here on ArchLinux, got same error, the application is unusable.

[2016-09-01 05:55] oblitum commented on #358
It's a general issue with third party clients as of now: https://productforums.google.com/forum/#!topic/hangouts/LU2YZNDhN_s. I guess we only have to wait until this is settled.

[2016-09-01 10:25] monchote commented on #361
Duplicate of #61

[2016-09-01 12:40] randymorris commented on #361
Someone really should consider closing some of these spell check tickets.  I think there are four of them now: #61, #237, #336, and this one.

[2016-09-01 15:07] MartSerra commented on #358
Is there any update for fix this?. The app is useless if I cant login to Hangouts 😞

[2016-09-01 15:26] ale82to opened #366 "not working at all for me autentication issue"
as soon as i open this app i get this message =
scope=https://www.google.com/accounts/OAuthLogin
response_type=code
redirect_uri=urn:ietf:wg:oauth:2.0:oob
client_id=936475272427.apps.googleusercontent.com

very disappointed

[2016-09-01 15:58] tfreedman commented on #366
I can confirm this issue on OS X - it happens immediately upon launching the app.

![screen shot 2016-09-01 at 11 57 05 am](https://cloud.githubusercontent.com/assets/850412/18174379/5f92e2c4-703b-11e6-9973-2f1dbc89d91f.png)

[2016-09-01 16:02] eddielu commented on #358
Having the same issue as well.

![image](https://cloud.githubusercontent.com/assets/6228169/18174550/8e3e110a-7033-11e6-9bb5-a8ad25b3d51c.png)

[2016-09-01 16:16] CatLover91 commented on #366
This is already an open issue #358 and is based upon tdryer/hangups#260 needing to be fixed.

[2016-09-01 16:50] CatLover91 commented on #358
It seems like Google disabled OAuth for all third party applications

Otherwise we'll have to wait until someone (or me) finds the new auth url to use. <<

[Source](https://productforums.google.com/forum/#!topic/hangouts/LU2YZNDhN_s)

[2016-09-01 17:13] dequis commented on #358
No, that's just baseless speculation by someone who is neither a third party developer nor a google employee, it's not any sort of official statement.

If anything, it's more likely it's google doing internal unrelated changes. There is no official support for third party applications, they just don't care. We just use a reverse engineered implementation of the oauth flow used by the iOS hangouts

[2016-09-01 17:28] CatLover91 commented on #358
Ah ok, I apologize. I do not wish to misinform

[2016-09-01 17:29] oblitum commented on #358
@dequis thanks for this clarification. What a sad state of matters to develop =/

[2016-09-01 20:08] dandelucca commented on #358
same issue here =/

[2016-09-02 12:00] #366 closed

[2016-09-02 12:11] astralan commented on #358
I was running version 1.2.5 at home without problems. At work I was using 1.2.1 and it crapped out beginning of week with all the aforementioned ailments. On a hunch, I packaged my home profile yakyak in the appdata/roaming folder (need to unhide everything) and the program files and unpacked them/replaced them at work and everything is working fine.

[2016-09-03 02:15] bk800 commented on #365
I now suspect that this is a problem with my network. Thx

[2016-09-03 02:15] #365 closed

[2016-09-03 13:33] averissimo commented on #355
I've tried in my machine with lastest version "1.3.1" and it works out of the box.

Have you ran Yakyak before?

Try to remove/move configuration directory in ``~/.config/yakyak`` (either remove it or rename to something else to try with a blank start).

I'm running Ubuntu 16.10.

[2016-09-04 16:33] Nezzeru commented on #358
The same error in debian.
![captura de pantalla de 2016-09-04 11-32-13](https://cloud.githubusercontent.com/assets/9138004/18232338/55713692-7293-11e6-89a8-e4c0220732ec.png)

[2016-09-04 16:50] oblitum commented on #358
I guess no more reports of "same here" are needed. It seems clear it's happening for many.

[2016-09-04 17:24] Sarabveer commented on #358
Any way to manually create the config?

[2016-09-05 02:43] orcinus commented on #358
It happens when you change your password or switch to 2-factor auth (or revoke/invalidate YakYak's Google oAuth token in any other way).

It should be handling that exception (start the onboarding process again), but it doesn't.

[2016-09-05 04:22] oblitum commented on #358
For any new user of YakYak it's also not gonna work either.

[2016-09-05 09:36] davibe commented on #358
https://productforums.google.com/forum/#!msg/hangouts/LU2YZNDhN_s/nF9n8MEXDgAJ

[2016-09-06 06:03] Finlay87 commented on #358
has this been fixed yet... pleeeease!?

[2016-09-06 06:06] anishmalias commented on #358
nop i dont know how to fix that issue..

*Anish M Alias*

*http://codehints.in/ <http://codehints.in/>*
https://anishalias00.wordpress.com/

On Tue, Sep 6, 2016 at 11:33 AM, Andy <notifications@github.com> wrote:

[2016-09-06 14:47] dandelucca commented on #358
It looks like an authentication problem... I think they'll fix it soon

[2016-09-07 11:53] MrAbaddon opened #367 "Not authorized to request the scopes"
When I Open yakyak I get an 400 error:

GOOGLE

400. That’s an error.

Error: invalid_scope

Not authorized to request the scopes: [https://www.google.com/accounts/OAuthLogin]

Learn more

Request Details
=
scope=https://www.google.com/accounts/OAuthLogin
response_type=code
redirect_uri=urn:ietf:wg:oauth:2.0:oob
client_id=936475272427.apps.googleusercontent.com
That’s all we know.

I cant login.
I

[2016-09-07 12:12] PavelPod commented on #367
Check the issue #358 - https://github.com/yakyak/yakyak/issues/358

[2016-09-08 09:29] #367 closed

[2016-09-08 23:50] emoruzzi commented on #358
The chrome hangout extension was updated, which also seems to have changed the authentication/hangout process.

http://googleappsupdates.blogspot.com/2016/08/a-new-google-hangouts-chrome-extension.html

[2016-09-10 08:50] fancellu commented on #358
We need yakyak more than ever. The new hangouts extension is an abomination.

I get the above error as well.

[2016-09-10 16:53] greghuc opened #369 "Does YakYak have an opinion on the future of Coffeescript?"
Hi guys,

A quick heads up that there's a pretty active discussion going on over at [coffeescript6/discuss](https://github.com/coffeescript6/discuss) about possible next steps for Coffeescript.

Thought you might want to comment, given YakYak is a heavy Coffeescript user. Discussed issues are [here](https://github.com/coffeescript6/discuss/issues).

There's also a survey that's relevant to you: [S

[2016-09-11 21:02] ricardoamaro commented on #358
Same problem here...
[code]

400. That’s an error.
Error: invalid_scope
Not authorized to request the scopes: [https://www.google.com/accounts/OAuthLogin]

[2016-09-11 22:10] mydongistiny commented on #358
@ricardoamaro he knows it doesn't work. Read the thread. We don't need more me too posts.

[2016-09-11 22:40] ricardoamaro commented on #358
I noticed @mydongistiny . Thanks. This is an important piece of software that i can only think it would be important to confirm the root cause, so we can now where to watch. If that's indeed Google's problem where should we complain?

[2016-09-11 22:43] oblitum commented on #358
@ricardoamaro there's no place to complain. AFAIK this software and other third party clients are built by reverse engineering the official one.

[2016-09-12 20:01] bradreardon commented on #177
I'm willing to provide any insight or help test anything that helps make this a reality. I have limited OS X development experience, but if there's any progress being made on this feature, I'll be glad to assist.

[2016-09-12 22:38] Serubin commented on #177
I think the key will be finding where the fi/voice specific data is being loaded.
It should be pretty easy to do by just looking at the xhr requests on [https://hangouts.google.com](url) and sifting through to see where that contact list get loaded from.

[2016-09-12 23:50] rferris commented on #358
Alternative fix: convince everyone to move away from Google's lock-in chat client.

[2016-09-13 01:33] bradreardon commented on #177
If anyone wishes to work on this at any time, feel free to get in touch with me and I'll be glad to help log any information required to fix this.

From the looks of it, I can pick out a good bit of data from the XHR requests. Just not 100% sure how the Hangouts protocol works, or how the data I get as a Fi user differs from a Google Voice or Hangouts-only user.

[2016-09-13 05:48] wtowns commented on #358
Looks like @dequis found a workaround: https://github.com/tdryer/hangups/issues/260#issuecomment-246578670

Confirmed that if you grab the auth using the mentioned method and hardcode it into src/login.coffee, the app works as expected.

[2016-09-13 05:59] dequis commented on #358
Given how yakyak uses electron and can load full web pages, it may be possible to integrate this the way it was intended to - in a webview, with something outside of the frame grabbing the cookie just like the iOS app does.

So you're lucky there, but for the rest of the hangups users we still have to find something better.

[2016-09-13 12:55] #358 closed

[2016-09-13 13:08] davibe commented on #369
I do have an opinion. I think coffeescript needs support for async and await.

I do not care about other advanced ES6 features too much. They are not very useful to me. I do not consider removing coffeescript. There are simple things I simply can'd to with JS unless i want to syntax-kill myself . `isnt.it?.true?`

I will try to partecipate a bit but it's a big topic and i don't have much time for

[2016-09-13 13:19] fancellu commented on #358
Are there new binaries available?

[2016-09-13 13:35] greghuc commented on #369
@davibe thanks for the response.

If you haven't much time, it would be great if you could express a short opinion at the [survey](https://github.com/coffeescript6/discuss/issues/32). It shouldn't take long: 4 questions in a tiny markdown template. It's not "official", it's just a way of getting feedback about Coffeescript from devs/teams that are currently using it. Opinions gathered will be take

[2016-09-13 15:19] davibe commented on #358
1.3.2 is in prepublish right now. Can you try and confirm it works so i can make it "public" ?

[2016-09-13 15:26] dhleong commented on #358
The OSX zip is a bit weird. Getting this error when I try to extract it:

<img width="382" alt="screen shot 2016-09-13 at 11 24 23 am" src="https://cloud.githubusercontent.com/assets/816150/18479951/de0008fe-79a4-11e6-843a-c26cdeea1f7a.png">

[2016-09-13 15:31] osiride commented on #358
1.3.2 works for me.

[2016-09-13 15:33] cyocom commented on #358
(the OS X app works if you unzip it from the command line)
If you log in using 1.3.2, then sign out, you return to the loop of 400 invalid_scope

[2016-09-13 15:34] fancellu commented on #358
Tried 1.3.2 on win32_x64, works lovely

[2016-09-13 15:37] jessecarbon commented on #358
Built on Debian 8, seems to be working. The first time running it just hung on "Connecting..." after logging in, but after a restart it's good :+1:

[2016-09-13 15:38] jessejoe commented on #358
Built on Debian 8, seems to be working. The first time running it just hung on "Connecting..." after logging in, but after a restart it's good :+1:

[2016-09-13 15:39] fancellu opened #370 "Dock conversations like old hangouts UI used to do before they ruined it"
This is an enhancement.

i.e. https://productforums.google.com/forum/#!topic/hangouts/MGMWc2gZ6pw

Currently yakyak act v much like the new hangouts, which doesn't have the old docking conversations.

[2016-09-13 15:44] dhleong commented on #358
That worked, thanks! App's working great so far, OSX 10.11.6

[2016-09-13 15:44] wickles commented on #358
Also the OSX app still says version 1.2.5 in the file info. In the about window it says '1.2.5 (1.3.2)'.

[2016-09-13 15:46] wickles opened #371 "Wrong version"
For the OSX app, the file info says 1.2.5. In the help window it says "1.2.5 (1.3.x)" (for whatever release x you're on).

[2016-09-13 15:54] kbrinnehl opened #372 "OSX Zip Issue"
When extracting the zip file on osx user receives: unable to expand "yakyak-osx.app.zip" into "Downloads." (Error 21 - is a directory.)

Manual build works fine. Thanks for the fix!

[2016-09-13 16:04] apbitner opened #373 "Error 400 (OAuth2 Error) when launching for first time"
Looking forward to using this app, however when I launched it for the first time I got the attached error. I'm on Mac OS 10.11.6.

<img width="957" alt="screen shot 2016-09-13 at 11 03 18 am" src="https://cloud.githubusercontent.com/assets/22176302/18481413/b5c2eea4-79a1-11e6-9c24-1374253b338b.png">

[2016-09-13 17:49] averissimo commented on #373
**which version did you install?** 1.3.1 is broken and has that known bug since google changed something.

Try: https://github.com/yakyak/yakyak/releases/tag/v1.3.2

If it is not then crap, and try to put the output of the console as well.

[2016-09-13 17:56] apbitner commented on #373
I must've installed 1.3.1, because I was unable to unzip 1.3.2. However I
downloaded an app to unzip it now and was able to install successfully.

On Tue, Sep 13, 2016 at 12:49 PM André Veríssimo <notifications@github.com>
wrote:

[2016-09-13 18:25] averissimo commented on #373
cool, so can you close the issue? :)

[2016-09-13 18:27] #373 closed

[2016-09-13 19:01] davibe commented on #372
bad upload connection .. i am uploading again.

[2016-09-13 19:01] #372 closed

[2016-09-13 19:04] davibe commented on #370
i don't like "docking"

[2016-09-13 19:05] davibe commented on #369
Those who have given up on coffee are unlikely to participate

[2016-09-13 21:32] stacia commented on #370
I think you're going to be getting a lot of "refugees" from the previous Hangouts version in chrome. Even if you don't like the feature, it's something a lot of people liked about the old Hangouts plugin and most likely will be requesting here unless Google somehow rolls back the changes.

[2016-09-13 22:44] jordanade commented on #292
I have the same problem as TotalLag. SMS sent through YikYak are grayed out, but show up across all Google services, but are never actually sent to the recipient.

[2016-09-14 03:11] heihachi commented on #292
I am getting the same issue with it being grayed out but not actually sending

[2016-09-14 10:03] jraoult commented on #196
FYI, I had the same problem and log out + removing `~/Library/Application Support/yakyak` did work for me.

[2016-09-14 11:14] rbaaboud commented on #358
Hi!

First of all, thanks for your amazing job.

Unfortunatly, the 1.3.2 doesn't work for me.
It was my first install of YakYak on my OS X 10.11.6. Never logged thought the app so.
I have: "400. That’s an error.
Error: invalid_scope
Not authorized to request the scopes: [https://www.google.com/accounts/OAuthLogin]"

Thanks for your help.

[2016-09-14 11:15] #196 closed

[2016-09-14 11:33] MarkTiedemann commented on #370
Can confirm. The removal of docking is actually the reason why I tried YakYak in the first place. Would love to see it added.

[2016-09-14 13:43] jmlacroix commented on #358
Works for me. First time user, never connected, OS X 10.10.4.

[2016-09-14 14:36] MarkusMcNugen opened #374 "Blank screen on start"
I'm trying to run the 1.3.2 binaries on my Windows 7 x64 desktop and upon opening YakYak I'm greeted with a blank window. I've tried running both the 32 and 64-bit versions for good measure but both do the same thing. I also double checked the application was being allowed through the firewall. If you need any information just let me know what you need and where to get it.

![yakyakerror](https://

[2016-09-14 14:40] MarkusMcNugen commented on #370
Same here, would love to see it added if possible. Google really screwed up with that and has made my life a living hell in our call center... where we use Hangouts as our primary chat client. Really interrupts the flow of work when you have to switch to a different window just to reply to a message really quick.

[2016-09-14 16:18] aaronj1335 commented on #120
I'm seeing this too. Hacked a fix here: https://github.com/aaronj1335/yakyak/tree/ugh . I would try to post a PR, but a friend tried it out and is not seeing the issue, so I don't want to mess things up for other folks.

I'm wondering if it's because I've signed into the app w/ my work profile. Are you folks signed in with a work or standard @gmail.com account?

[2016-09-14 16:25] williamsjj opened #375 "Code sign Mac binaries."
It would be really awesome if the Mac binaries could be code signed. Its pretty painful on El Capitan forward to do the initial launch.

[2016-09-14 17:08] atomicthumbs commented on #370
this would be pretty great. as is, being able to run the old hangouts extension is the only reason I still have Chrome installed - and I seem to be having issues with that.

[2016-09-14 17:41] cameronr commented on #353
Still seeing this in the latest 1.3.2 release

[2016-09-14 18:10] deci-ftw commented on #120
Signed in with an @gmail.com account and seeing the inverted avatars

[2016-09-14 18:57] oblitum commented on #228
I'm having similar issues. I'm on ArchLinux running the latest release from AUR, even with close-to-tray enabled, closing the application simply closes it.

[2016-09-14 20:12] fancellu commented on #370
How to get old hangouts back, with docking

https://www.reddit.com/r/google/comments/51umbr/hangouts_extension_finally_updated/d7fb2gd

On 14 September 2016 at 18:08, atomicthumbs <notifications@github.com>
wrote:

[2016-09-14 20:13] charliemathews opened #376 "Some user icons showing question mark."
<img width="668" alt="screen shot 2016-09-14 at 3 12 09 pm" src="https://cloud.githubusercontent.com/assets/484580/18528250/d3838254-7a8d-11e6-880b-5d95440614c1.png">

yakyak 1.3.2, osx 10.11.6

[2016-09-14 20:14] charliemathews commented on #376
If I use any other hangouts app, I can see user icons on every person. The people who's pictures I can't see in yakyak are "chosen" for no obvious reason.

[2016-09-14 20:32] chasetb commented on #376
If you click on the "Details" option at the top of a chat, does the app populate the thumbnails properly? If so, this is a know problem: #353

[2016-09-14 21:04] MarkusMcNugen commented on #370
Thanks fancellu for that find. That helped a lot actually. I probably should have thought about developer mode... I'd still like to see it added to YakYak, or a quick reply notification if using Windows 10, but it's your application so do as you please! lol. Thanks again!

[2016-09-14 21:05] charliemathews commented on #376
Yes, that took care of it. Just came back to say that exact thing.

[2016-09-14 21:05] #376 closed

[2016-09-14 23:43] averissimo commented on #228
I think I had similar problems and solve it (for my **ubuntu** system) in this branch: https://github.com/averissimo/yakyak/tree/keep_in_tray

It is rebased against yakyak/yakyak and just tested as working and master branch not working.

@oblitum Can you test it?

[2016-09-15 08:10] Fredouye opened #377 "Translation of UI"
Hi

is the translation of UI planned ?

I volunteer for french language, if that can help :)

Thanks in advance.

[2016-09-15 10:54] arnriu commented on #377
https://github.com/yakyak/yakyak/issues/332

[2016-09-15 20:51] oblitum commented on #228
hi @averissimo, I'm sorry but I'm running this client installed from AUR, I'm not installing from master.

[2016-09-16 08:22] alexandrev commented on #13
👍 +1!!

[2016-09-17 08:25] Celti commented on #374
1.3.2 (both the binaries and building it myself) is giving me a blank screen as well — it shows me the Google Account login page, lets me enter a password, then shows a blank screen instead of progressing to asking for my TOTP code. Output:

[code]

URLs are trimmed because I'm not entirely sure of the security issues with their content, I can provide more if necessary.

[2016-09-17 14:59] #369 closed

[2016-09-17 21:23] ironcladlou commented on #356
I'm not seeing any change with the new release (1.3.2, OSX 10.11.5). Same results as before (https://github.com/yakyak/yakyak/issues/356#issuecomment-243438819).

[2016-09-17 23:04] monchote commented on #356
@ironcladlou I've just built master and it's now displayed as expected: <img width="98" alt="screen shot 2016-09-17 at 23 42 06" src="https://cloud.githubusercontent.com/assets/1186808/18611521/6d67bf00-7d33-11e6-954e-9b3da7de6180.png">

[2016-09-18 01:48] arnriu commented on #356
@ironcladlou It's now live on master as @monchote said, if you build on your own. It should be available on next release if you prefer pre-built binaries.

[2016-09-18 02:22] geekgonecrazy commented on #87
Poked around a bit.  Looks like the information is definitely available.  So would just be a matter of displaying it.  Which admittedly looks like the hardest part :grin:

[2016-09-18 10:25] davibe commented on #13
+1!!

[2016-09-18 16:44] ironcladlou commented on #356
Confirmed fixed as of 2aa9f8d99708c3913c9943a27b2966b6a503391a, thanks!

[2016-09-18 16:44] #356 closed

[2016-09-18 18:22] nerijus commented on #338
Yes, it would be nice if a single click on the tray icon opened/closed the main window.

[2016-09-18 20:47] averissimo commented on #87
where did you find it available?

[2016-09-18 20:52] bwiernik commented on #232
Also, messages sent to/from the GV number don't display the "SMS" tag over the contact picture.

[2016-09-18 23:23] NSDodgers opened #381 "Wish List: selectable notification sound"
I would love to set a dedicated YakYak notification sound in windows and mac so I can tell it from other apps.

Thank you

[2016-09-19 12:10] davibe commented on #331
i guess we can close this

[2016-09-19 12:10] #331 closed

[2016-09-19 12:12] davibe commented on #240
so should something be fixed in the code ? or can i close this ?

[2016-09-19 12:13] davibe commented on #342
i don't understand what you want to achieve

[2016-09-19 12:14] davibe commented on #343
yes we should give some feedback and this is easy. Preview could be more difficult but can be done too. Waiting for contributions on this.

[2016-09-19 12:14] #344 closed

[2016-09-19 12:15] davibe commented on #337
@arnriu can i close this ? I am trying to clean up issues a bit

[2016-09-19 12:16] davibe commented on #302
closing as duplicate

[2016-09-19 12:16] #302 closed

[2016-09-19 12:18] davibe commented on #346
Right. We should archive by default then maybe re-add deletion.

[2016-09-19 12:18] #347 closed

[2016-09-19 12:20] tommymh commented on #240
It's a font issue not a problem in the code, I think it can be closed.

On Sep 19, 2016 2:12 PM, "Davide Bertola" <notifications@github.com> wrote:

[2016-09-19 12:21] davibe commented on #351
closing as duplicate

[2016-09-19 12:21] #351 closed

[2016-09-19 12:22] davibe commented on #352
You can already mute conversations.

[2016-09-19 12:22] #352 closed

[2016-09-19 12:24] davibe commented on #354
yakyak does not access your contacts it only uses your hangouts accout so it can't fetch images elsewhere.

[2016-09-19 12:24] #354 closed

[2016-09-19 12:24] davibe commented on #259
does this still happen in 1.3.2 ?

[2016-09-19 12:29] arnriu commented on #337
@davibe yeah sure. The problem is very simple: we use native scrollbar and we can't change colors or behavior, but the user has control on scrollbar system via macos pref pane. For now, I think we will stick with native. If this problem comes up again, we will see then if we switch to custom scrollbar.

[2016-09-20 14:04] Foxtrot commented on #240
Perhaps fix the font included in /usr/share/yakyak/... Not a code problem however.

[2016-09-20 18:37] msphair commented on #259
yes same behavior

[2016-09-20 19:01] LinkofHyrule89 commented on #342
@davibe basically if someone posts say a link for imgr in the chat it'll show the image or if they post a regular url to say a news article it'll give the normal text snippet and thumbnail that you would see when you post it on Google+ or Facebook. Basically quicker access to information of what the link actually is without clicking it. Discord does this and it's very handy.

[2016-09-20 19:07] LinkofHyrule89 commented on #343
This would be very helpful much appreciated.

[2016-09-20 19:18] LinkofHyrule89 opened #382 "Auto updater?"
It would be great if we had a full blown auto updater instead of just the notification.

[2016-09-21 11:28] ghost opened #383 "Force quit when closing window."
HI.

YakYak force quit when I just close the window after login. If You close the app without logging out and start it again, it is ok if you close the window. Only doing it when you logout/login and close the window.

Also, if you logout/login and quit the app without closing the window and start it again, there is no problem as well.

I have attached a screen shot of the javascript error display

[2016-09-21 11:53] randymorris commented on #383
I can confirm this behavior on OSX running master as of this morning.  Log out via the YakYak menu, log back in, then just close the window with the left window button.

[2016-09-21 11:57] David-ANT commented on #383
Yes. YakYak runs fine, except that, but it's kind of annoying...

[2016-09-21 12:16] astralan opened #384 "AutoSmilie!"
There a way to turn off the feature that substitutes a smilie when I type a time into a chat? When I type, say, 7:30, I get this instead: 7😸0
Most annoying! Thanks in advance. -B

[2016-09-21 12:40] arnriu commented on #384
There must be an option in view menu "convert text to emoji". Did you try to uncheck it?

[2016-09-21 12:49] randymorris commented on #384
I have the "Convert text to emoji" option enabled and when I type "7:30" it (correctly) does not get converted.

I rebuilt this morning from master.  What version are you using @astralan ?

[2016-09-21 12:52] arnriu commented on #383
Can you try this commit, if you know how?

[2016-09-21 12:58] David-ANT commented on #383
No I'm sorry, I'm not versed into that, it was just to report the bug... Maybe with some help...

[2016-09-21 13:04] arnriu commented on #383
Well, it's fine ;) I think it fixes anyway, I was able to reproduce the error, now I can't reproduce it anymore. I'll submit a PR. @randymorris , maybe can you try it?
Thannks for the report @David-ANT .

[2016-09-21 13:04] randymorris commented on #383
@arnriu I made this change locally and rebuilt.  The error no longer happens but the application still closes.

When closing the window in a normal situation it does not kill the application, rather the application stays running in the dock.

[2016-09-21 13:05] arnriu commented on #383
Oh I see. Will look into it.

[2016-09-21 13:19] astralan commented on #384
Not seeing that option.
V 1.3.2
![yakyak](https://cloud.githubusercontent.com/assets/21952876/18712401/de442504-7fd3-11e6-8c0a-54edb4155e41.png)
Thanks for the response, yall. -B

[2016-09-21 13:21] arnriu commented on #384
can you try 1.3.3 ? https://github.com/yakyak/yakyak/releases

[2016-09-21 13:25] astralan commented on #384
Yup, the beta has it. Not usually into early adoption, but this works. Thanks! -B

[2016-09-21 13:25] #384 closed

[2016-09-21 13:25] arnriu commented on #383
Can you try this one then? I'm not 100% sure about why this was here, so, it needs testing.

[2016-09-21 13:30] randymorris commented on #383
Still kills the application for me.

[2016-09-21 14:29] arnriu commented on #383
Strange, it doesn't quit anymore for me if i click top left red button, no matter what I try (except on login window itself, which is expected).

[2016-09-21 14:31] arnriu commented on #342
We could try to use [open graph](http://ogp.me) for links to websites that support it. Will try it and let you know.

[2016-09-21 14:42] randymorris commented on #383
Strange.  I just started fresh, deleted my dist/ and node_modules/ folders, re-applied the patch, and rebuilt.  Now it appears to be working fine.  Not sure what happened there.

+1 from me for the change but I can't test any other platforms.

[2016-09-21 15:40] averissimo commented on #384
@astralan **do you still experience that bad conversion to smile in v1.3.3?** With that option activated?

[2016-09-21 15:46] averrin opened #385 "Missed avatars"
After launch all avatars in conversation is "?" if "Show conversation thumbs" is disabled. Avatars will shown if i turn in this option on. Very annoying =(

[2016-09-21 15:52] LinkofHyrule89 commented on #342
That would be cool.

On Wed, Sep 21, 2016, 8:31 AM Arnaud Riu <notifications@github.com> wrote:

[2016-09-21 15:54] arnriu commented on #342
Working on it right now, and yeah, it's cool so far 😄

[2016-09-21 16:35] arnriu commented on #342
It will take quite some time to make it good, but it's working right now, with every site.
It means that it will replace twitter and instagram implementation, and will work with news sites, social medias, youtube and other videos sites, etc...

Here is a sneak peek of wip:
![sans-titre-1](https://cloud.githubusercontent.com/assets/9418756/18719965/f4318950-8029-11e6-8804-5bed68610c2d.jpg)

[2016-09-21 16:39] arnriu commented on #385
what version are you running? This should be fixed in 1.3.3 https://github.com/yakyak/yakyak/releases

[2016-09-21 16:52] averrin commented on #385
hm, its really fixed. Seems like i merged upstream wrong.
Thanks!

[2016-09-21 16:52] #385 closed

[2016-09-21 17:01] mliq opened #386 "Feature Request: Notifications format option which does not reveal name and message received"
My use case for YakYak is that I need to be made aware when I get a message there, but I do not want the content of that message, or the sending username, to be revealed to anyone who might be looking at my screen.

[2016-09-21 18:00] ZackBoe commented on #342
There's a plethora of [oEmbed](http://oembed.com/) [libraries](https://npms.io/search?q=oembed) that might help.

As a user, I'd really like a white/black list of sites this works on. Sometimes I'd rather just have a link.

[2016-09-21 18:10] LinkofHyrule89 commented on #342
Wow looks amazing :)

[2016-09-21 18:12] mattiasb opened #387 "Provide flatpak"
[Flatpak](http://www.flatpak.org/) is the new sandboxed application packaging system for Linux, meant to securely support standalone applications. Think of it as an alternative to App Sandbox on macOS.

It would be great to have yakyak available as a flatpak, or to begin with to at least have the flatpak-builder manifest available in yakyak and start hosting packages at [FlatHub](https://github.co

[2016-09-22 09:40] averissimo commented on #386
looks like a slightly modified version of #328 could solve this, by adding a new option called "hide message from notifications" if notifications option is on.

[2016-09-22 11:46] averissimo commented on #386
Isn't the change of colors in the tray icon enough for you?

![selection_00040](https://cloud.githubusercontent.com/assets/211358/18746989/f5fdca04-80ca-11e6-95f5-d4d52f47c469.png)

![selection_00041](https://cloud.githubusercontent.com/assets/211358/18746987/f19ff3f6-80ca-11e6-8b0d-8e844bd43ded.png)

I could see disabling notifications and hiding the message as useful features

Actually I've just

[2016-09-22 11:51] nerijus commented on #338
"if "Close to tray" is enabled, when you close the app, it closes from tray too, when it should remain on the tray" - the following patch helps for Linux (it is probably wise to remove "if (process.platform...)" at all to work on Windows too):
[code]
Also it hides window to tray instead of minimizing.

[2016-09-22 11:53] nerijus commented on #338
As for the left click, it seems to be Electron on Linux limitation - https://github.com/electron/electron/issues/6773

[2016-09-22 12:00] pmsobrado commented on #338
Let's hope there's a fix soon :)

[2016-09-22 12:28] arnriu commented on #342
I need people to test it, try different links etc...

Please report bugs with link url and description of bug !

[2016-09-22 12:30] arnriu commented on #342
(if you can test `menu > view > link snippets` too it would be awesome.

[2016-09-22 13:14] nerijus commented on #338
Found it. This patch lets tray left click on Linux (could be except on Ubuntu) to activate window:
[code]

[2016-09-22 13:37] nerijus commented on #338
And this patch lets left click to toggle window:
[code]

[2016-09-22 13:46] arnriu commented on #338
@nerijus can you work with `src/ui/views/trayicon.coffee` instead of `app/ui/views/trayicon.js` ?

[2016-09-22 13:49] nerijus commented on #338
Similar changes, not a big deal to make them yourself :)

[2016-09-22 13:54] arnriu commented on #338
What I mean, is that you could do it in coffee files directly since it's similar, then commit your changes, and then, when you feel it's ready, make a pull request. Because it's a pain to test this way, and it won't go master unless you pr first (which means you committed, which means you worked with coffee, see ? :p ).

[2016-09-22 14:16] nerijus commented on #338
I never did pr before, could you please check if I did it correctly?

[2016-09-22 14:32] arnriu commented on #338
@nerijus are you sure you commited all your changes?

[2016-09-22 14:36] nerijus commented on #338
Not all, only 2 for now.

[2016-09-22 14:47] arnriu commented on #338
Well, it looks good so far then, i see 2 commit in your PR, with one file change in each. If you keep committing on your fork, it will add to your PR.

[2016-09-22 14:57] ctcpip commented on #209
looks like this got resolved

[2016-09-22 14:57] #209 closed

[2016-09-22 15:03] ctcpip opened #389 "Can't focus on new conversation"
When receiving a message that begins a new conversation, the conversation appears in the list, but clicking on it does not open up the conversation. (Focus remains on your other conversation which was already open.)  You have to quit the app and open it back up to respond (and/or view the conversation).  Also, the username does not appear in the conversation list but this is tracked in #246

[2016-09-22 15:15] astralan commented on #384
This has gone away since the 1.3.3 build. No longer interprets a : as an invitation to become emoji

[2016-09-22 15:19] arnriu commented on #342
For those that don't know how to build, i published binaries here: https://github.com/arnriu/yakyak/releases/tag/1.4.0a

[2016-09-22 16:51] #323 closed

[2016-09-23 16:59] mliq commented on #386
My tray icon does not change colors for some reason. It is also invisible.
![image](https://cloud.githubusercontent.com/assets/7573605/18794404/fc8e9db6-8184-11e6-9406-d085d8c5ab34.png)

For now I just have the dock notification, but if I am busy working on something I will not see that (I auto-hide the dock).

While I am mentioning this, it would be nice to get a global notification when YakYak i

[2016-09-23 17:00] mliq commented on #386
@averissimo Thanks for the branch, I will try that if I get some time!

[2016-09-23 19:46] bwiernik commented on #330
I can confirm that SMS do not actually send (even though they show up on other Hangout devices on the same account as having sent).

[2016-09-23 20:08] trgcyln opened #390 "Login Problem"
Hello,

I've tried 1.3.2 and 1.3.3 x64 & 32bit  windows versions but i had a problem with login.
It keeps reopening new login screens after i enter my credentials. Looks like an infinite loop.

[2016-09-25 17:11] jjt opened #392 "Visually indicate that text input is focused when app switching back to YakYak"
I was just typing up an issue about how it's annoying to have to move my hands to the mouse/trackpad in order to re-focus the text input, but then stumbled upon the fact that the input is already focused.

Having a visual indication of the text field's focused state would provide a better UX.

OSX El Capitan, 10.11.6 (15G1004)
YakYak Version 1.2.5 (1.3.2)

[2016-09-26 15:10] averissimo commented on #342
The link below works just as your screenshot

http://www.lemonde.fr/djihad-online/article/2016/09/21/l-ex-front-al-nosra-pierre-d-achoppement-des-tentatives-de-treves-en-syrie_5001420_4864102.html

**My user tests and thoughts about interface** (all links up to now work great, if you are just testing that and not interface, discard my comments below :) )

**1.** I think the original message should

[2016-09-26 15:28] averissimo commented on #342
ps. seems like the width changes as the message wrapper element gets wider.

For instance, the http://google.com shows the keyboard icon (in my previous message) at it's original size, but when sending a message with this issue's url, it shows a really big image of the OP's avatar (not sure because of the size of the avatar, or width of the page title)

[2016-09-26 18:33] tseven opened #396 "Missing fonts in OS X build"
Downloaded the pre-built binary from:
https://github.com/yakyak/yakyak/releases/tag/v1.3.2

![screen shot 2016-09-26 at 11 29 26 am](https://cloud.githubusercontent.com/assets/311287/18846858/abc42f4a-83dc-11e6-80b3-092b5726d8ad.png)

I verified that the css folder inside the YakYak.app package does not contain the files being referenced. Perhaps it's just a build/compile error.

Building the app

[2016-09-27 00:18] arnriu commented on #396
This has been fixed in next release.  See https://github.com/yakyak/yakyak/releases/tag/v1.3.3
(and dont worry, if you stick with 1.3.2, font isnt missing, just woff2 files missing, but you still have woff files working) .

[2016-09-27 00:25] arnriu commented on #342
Thank you @averissimo for the detailed report. Images are big because they take 100% width of message bubble (thats why width change if wrapper gets wider). I will try something different.
I could definitely keep the original message without split.
Still working on it, but later this week ;)

[2016-09-27 13:10] averissimo commented on #343
first attempt at previewing the image: #398

needs some feedback, but it is a working version (for pasting from clipboard) :)

[2016-09-27 14:11] mliq commented on #386
@averissimo I made the changes, should i do a fork from and PR to your branch?

[2016-09-27 14:18] averissimo commented on #386
Do it directly to yakyak/yakyak .. the community is here, my fork is just for fun and breaking things :)

[2016-09-27 20:54] Arithmomaniac opened #400 "Emoji "pile up" in Conversations snippets"
Any emoji I type in Yakyak seem to be permanently stuck at the end of the "Conversations" snippet.

See the attached screenshot, where it is stuck at the end of the _other_ participant's message, and contains emoji I used before my last message.

![screenshot 114](https://cloud.githubusercontent.com/assets/654897/18891399/a44284b2-84ca-11e6-8e18-c652737a3e7b.jpg)

[2016-09-28 14:03] Arithmomaniac commented on #400
This seems to reset every time I open the program

[2016-09-28 14:43] abrambailey commented on #257
I would like a way to manually rename contacts in yakyak... Is that possible? I do a lot of chatting in hangouts over SMS, and I can't identify any of my friends in yakyak.

[2016-09-28 15:32] averissimo commented on #400
which OS and version of YakYak are you using? (can you try 1.3.3 and see if the "pile up" is still going on)

I don't see it in 1.3.3 (an in none of past versions)

![out](https://cloud.githubusercontent.com/assets/211358/18920364/15260f04-8599-11e6-9b92-74656c70bb49.gif)

[2016-09-28 16:32] danfelbm commented on #400
( Excuse me @averissimo , I apologize for the offtopic; but did you use any special tool to generate such gif easily? )

[2016-09-28 17:51] danfelbm commented on #400
(Sorry, also, how could you use hangout's icons in Mac OS? did you replace the font?)

[2016-09-28 18:14] averissimo commented on #400
**Offtopic 1:** Easily enough in any Linux system with two scripts working together and ffcast + avconv installed

I do them with one command (adding `-s -f` to select window)

    $ my_ffcast

Scripts here (just add them to your path):

https://gist.github.com/averissimo/3f40deac1ca22cc6658e2b2b56131ccc

For a windows and Mac I've read http://www.cockos.com/licecap/ is pretty good

**Offtopic 2:*

[2016-09-28 18:15] averissimo commented on #315
close it? #329 solves this and has been merged

[2016-09-28 20:41] Arithmomaniac commented on #371
In Windows 10 for 1.3.3, it only says 1.2.5.

[2016-09-28 20:44] Arithmomaniac opened #401 "Help/about popup should be available from menu"
Using Win10 / 1.3.3, and don't see one.

[2016-09-28 20:45] Arithmomaniac commented on #225
On 1.3.3 (Win10), Even when "close to tray" is checked in the tray options, clicking X still exits the application.

[2016-09-28 20:48] Arithmomaniac commented on #132
The Twimoji support seems incomplete. (Win10 / 1.3.3). "😘" is falling back to black-and-white for me.

[2016-09-28 21:52] averissimo commented on #225
the close to tray issue is solved in #397 :)

[2016-09-28 22:19] tribbledt opened #402 "Two Step Verification"
When logging in to YakYak I enter my Google e-mail address and password and get a blank screen when I am receiving my two step verification code from Google. The screen remains blank and that's as far as I can get logging in.

[2016-09-28 22:42] mliq commented on #371
I believe the first version number is the electron version, the one in parentheses is the YakYak version? Agree that this should be made more clear.

[2016-09-29 06:14] davibe commented on #371
@mliq that's true on osx. I don't know what happens on other platforms. Needs to be handled better for sure.

[2016-09-29 06:16] davibe commented on #402
2 step thing is not supported at the moment. Need to do it

[2016-09-29 06:16] davibe commented on #401
right. Some windows contributor may look at this ?

[2016-09-29 06:19] #396 closed

[2016-09-29 10:27] randymorris commented on #402
FWIW, I've been using two factor auth on OSX since I started using YakYak quite a few versions ago and it's currently working for me.  I'm using a Google Apps account though, not just a normal Google account so that could be a difference.

[2016-09-29 12:04] averissimo commented on #400
@Arithmomaniac sorry for the offtopic responses, did updating YakYak solve the problem? or is still persists in latest version?

[2016-09-29 13:21] Arithmomaniac commented on #400
Haven't had a chance to test yet. Will update when do

-----
Sent from my phone. Please excuse brevity and typos.

On Sep 29, 2016 7:04 AM, "André Veríssimo" <notifications@github.com> wrote:

[2016-09-29 22:30] pmcanseco opened #404 "Compiled files go to the dist folder, not Yakyak.app as the README says"
as in the title. Compiled with elementaryOS (ubuntu) today, and the compiled files ended up in a dist folder.

[2016-09-29 22:40] pmcanseco commented on #374
I'm having the same issue as OP on Windows 10 64-bit, when compiling the latest commit (https://github.com/yakyak/yakyak/commit/fbcc26736c9a11fd7f7d7805fff8782c8c4c9b61). I tried running it from the windows commandline but there was no commandline output. I'm not sure where the log files are but I can post them if someone knows how to find them.

[2016-09-29 23:08] awprgrmmr commented on #225
I am on Windows 10 and can confirm that it neither minimizes or closes to tray.

[2016-09-29 23:08] pmcanseco commented on #374
I also just compiled it under the above commit in Arch Linux (Kernel 4.7) 64-bit and also got a blank screen on startup.

[2016-09-30 01:37] averissimo commented on #374
The latest commit problem is from a typo in the menu generation in the last PR merge.

#403 has the solution for that one.

[2016-09-30 01:42] averissimo commented on #374
To debug the application when there is a blank interface the console is a great place, but if no error/warnings are there you need to debug YakYak using the developer's tools.

Available through the links in the menus or by shortcut using Ctrl+Alt+I

In case the shortcut does not work it is usually the sign that a problem happened during menu generation or before. In Ubuntu I can always access the

[2016-09-30 03:01] pmcanseco commented on #374
@averissimo thank you for the prompt response and debugging tips. I'm still getting a white screen after applying the fixes from your PR. The console spams the message in the screenshot below indefinitely, and Ctrl+Alt+I doesn't bring up anything.

![image](https://cloud.githubusercontent.com/assets/1095661/18979351/1bf7e244-8698-11e6-9457-4911a041807a.png)

![image](https://cloud.githubuserconten

[2016-09-30 10:17] averissimo commented on #374
- Can you access the menus if you try to press `Alt` key or via the menu bar?
  - getting info from developer's console would be really great
- Are you authenticating an account in this process or is that already saved in your profile?
- Have you done `npm install` recently just to make sure you have all packages?
  - this only apply for who is compiling from git

I cannot replicate this :\

![out

[2016-09-30 10:19] averissimo commented on #402
just logged-in in Ubuntu and worked without any problems (normal google account)

ps. running from master branch and #403 merged

[2016-09-30 10:29] averissimo commented on #225
This should be solved in the next version, #397 pull request has not been merged yet and has this fix.

If you want to test it before hand try to find a file called `resources/app/main.js` and replace `close` with `unload`:

    return mainWindow.on('close', function(ev) {

with

    return mainWindow.on('unload', function(ev) {

run yakyak and it should work (credit to @nerijus )

[2016-09-30 10:42] averissimo commented on #374
install electron-dev

    $ npm install --save electron-debug

add this below `app = require...`in `main.coffee`

    require('electron-debug')({showDevTools: true})

And this opens dev tools automatically.

![outhsdxpj1zhq](https://cloud.githubusercontent.com/assets/211358/18989255/de87a42e-8702-11e6-85a2-65a3d265fb42.gif)

ps. screencast shows me running without the PR fix, that's why I get the

[2016-09-30 16:36] ahpatel opened #405 "Feature Request: Notification Sound Options (mute, change, etc)."
Can you add a way to mute and/or change the notification sound within the application?

In Hangouts, there's an option to mute notifications for 1 hr, 8 hrs, 24 hrs... Something similar would be very helpful for me because I often use my PC for VoIP calls and have to close YakYak to prevent the notification sounds interrupting the call every minute.

[2016-09-30 16:55] averissimo commented on #405
Great idea, muting should be a matter of creating an option and checking in `notifications.coffee` around line 65 (not sure if it's there though)

[code]

To mute it for some hours, would require to store in that option the date/time of the "unmute"

[code]

[2016-09-30 17:04] njnygaard commented on #337
Hey I downloaded the 1.3.3 darwin x64 binary and the issue is fixed. Love the app.

[2016-09-30 17:04] #337 closed

[2016-09-30 17:17] Arithmomaniac commented on #400
Got a chance.
It seems that every time I send an emoji, it and the subsequent text in the body, get stuck to the end of the preview snippet.

[2016-09-30 18:30] averissimo commented on #400
Super strange!!

Which opeating system are you using?

Is there any warning/error on the console (press Ctrl + Shift + I) and open the console tab.

If you can paste it here. Thanks

[2016-09-30 19:21] Arithmomaniac commented on #400
Windows 10.

![screenshot 115](https://cloud.githubusercontent.com/assets/654897/19003985/08ab8da4-8719-11e6-8ac6-5bc850e634bd.jpg)

[2016-09-30 19:55] victorstuber commented on #63
@algesten In hangouts on the web, my sms conversations don't have avatars, but it does show the name of the person I'm talking to. Yakyak only shows the phone number. Isn't there a way to retrieve the name from hangouts?

[2016-09-30 20:18] averissimo commented on #400
I also have that error lol. Any other?

Does your recipient see the original message? or the "piled up emojis" version you see

[2016-09-30 22:25] pmcanseco commented on #374
Hi @averissimo ,

I gave it another try just now with your new instructions. First I ran `npm install` to make sure I had all the packages. Then I ran `npm install --save electron-debug`. See screenshot:
![1](https://cloud.githubusercontent.com/assets/1095661/19008598/5adf88ac-873a-11e6-85ef-4b354ea80553.PNG)

Then I added the line in `/src/main.coffee` : `require('electron-debug')({showDevTools:

[2016-09-30 22:48] averissimo commented on #374
I'm guessing it is using the previously compiled version as you did not run

    $ npm run gulp

Then the `npm run electron app` should work and the deploy will also rebuild with the recently compiled version

PS. Nice screen cast :)

[2016-09-30 22:55] victorstuber commented on #370
@fancellu OMG thank you so much for this

[2016-09-30 22:56] victorstuber commented on #392
Totally agree with this. I often find myself clicking the input field multiple times because it's not clear that it's focused.

[2016-10-01 17:10] pmcanseco commented on #374
Thank you sir!

`npm run gulp` gives the following output:
[code]

And I still get the max depth reached errors from above, leading to the blank screen. I can't run it in Linux because `npm run electron app` gives:

[code]

Does `npm run electron app` work for you? what is the content of your electron package.json?

[2016-10-01 17:15] pmcanseco commented on #374
I dug a bit and found that `~/yakyak/node_modules` contains an `electron-debug` and `electron-prebuilt` folder. It seems that it can't find the electron folder for some reason, which is why it's erroring out.

[2016-10-01 22:18] averissimo commented on #374
you are using a really old version of node and npm, can you updatee to v4 or v6 (i use this one) and then `npm -g install npm`

After delete the electron folder inside modules and run `npm install` (you can also delete all contents of node_modules, and run the install command)

[2016-10-01 22:23] averissimo commented on #374
Not sure if it is necessary though (it is not for running the binaries, but it should be for starting the dev tools, when like you cannot call it via shortcuts or menu)

i'm not that experienced with node and started playing with yakyak recently, if other people want to chip in please do :)

[2016-10-02 02:17] jacquescrocker commented on #375
whats the workaround to actually opening this?

I had to enable apps for all unknown sources. Clicking "Open Anyways" just errored out.

[2016-10-02 20:08] Arithmomaniac commented on #400
The original message.

On Fri, Sep 30, 2016 at 3:18 PM, André Veríssimo <notifications@github.com>
wrote:

[2016-10-03 18:25] jeffwllms commented on #90
it doesn't as if the recipient receives the message.  I have he same issue.  sending to someone on project fi.  They are grey on my end and show on my phone.  But the receiver doesn't see them (on project fi).  I receive messages they send.

[2016-10-04 11:21] ajimix commented on #402
I just installed fresh install, in OSX and works perfectly, and I have two factor authentication

[2016-10-04 16:11] Dimsok opened #406 "Windows XP support?"
I've downloaded the last version for Windows, but can't run (нет доступа). No access. Is it should work on Win XP?

[2016-10-04 16:17] arnriu commented on #406
wtf is xp ? :)

Time to upgrade, there is no (and will never be) support for xp. Chromium has dropped support, and electron will never support it.

[2016-10-04 17:55] jessejoe opened #407 "Received images not coming through"
Someone sent me an image, which I can see on Hangouts:
![image](https://cloud.githubusercontent.com/assets/1694586/19085722/59f5fece-8a39-11e6-96f8-f3373928a832.png)

Source:

[code]

But it didn't come through yakyak:
![image](https://cloud.githubusercontent.com/assets/1694586/19085735/65b6f5ba-8a39-11e6-9610-a7367bfd64ba.png)

Looking at the source, I don't see an image/URL:

[code]

I'm using `

[2016-10-06 03:39] LinkofHyrule89 commented on #402
2FA works fine for me on YakYak although I do have to do it a few times before it lets me in.

[2016-10-06 07:41] skovmand commented on #358
1.3.2 is good on Ubuntu 16.04 too. I had the 400 error before upgrading.

[2016-10-06 12:51] nsudds commented on #370
I found Yakyak for this exact reason too --- because of the latest update to Google Hangouts.   I want to be able to have conversations popped out not in a single conversation window for sure and docking can be a benefit but it's great when it's optional too so it better suits everyone.   I'll be watching how this app develops for sure.

Thanks to @fancellu for the way to get the old hangouts back

[2016-10-06 15:52] mliq commented on #370
@MarkusMcNugen - workflow with YakYak is actually much faster than docking, because you can't use the keyboard with docking. Chatting requires the keyboard, and having to switch from the keyboard to the mouse twice (if you want to hide the window afterwards) each time you interact with chat is a significant waste of time and movement.

Try this workflow:
* Switch to YakYak and back to what you wer

[2016-10-06 19:45] tdiethe commented on #13
+1

[2016-10-06 19:50] tdiethe commented on #13
Any update on this?

@ctag I couldn't find ~/.config/yakyak - has this moved in newer versions?

[2016-10-06 20:54] atomicthumbs commented on #370
I would prefer to be able to look at two conversations at once.

[2016-10-06 21:04] mliq commented on #370
@atomicthumbs I see, that makes sense. My sense is that implementing hangouts-style docking would be a large undertaking, however it might be possible to allow multiple yakyak windows or pop-out conversations to a separate window with less work? What do you think @davibe?

[2016-10-06 21:13] fancellu commented on #370
@mliq When we say we want hangouts style tabbing, that's what we want. Please don't tell us that we shouldn't want it. If you don't like it, fine, no one is forcing it on you. Hangouts refugees LOVE the tabbing.

[2016-10-06 21:57] mliq commented on #370
@fancellu I'm sorry, I really didn't mean to imply that you are wrong for wanting that. I was specifically responding to @MarkusMcNugen need for workflow speed and trying to be helpful by offering suggestions for how one could achieve that with YakYak as it currently is.

I am also trying to determine a way for building towards the functionality that you all desire, with the consideration that @da

[2016-10-06 23:12] livejamie opened #408 "Disable Notifications"
On the main project page, it says that you can disable tray notifications, but I don't see a way to do that?

Running Windows 10.

Thanks!

[2016-10-06 23:18] PMiner commented on #406
yeah, @arnriu is correct. there is nothing the developers of YakYak can do about that.

[2016-10-06 23:23] PMiner commented on #390
do you have 2FA? (two-factor authentication) if so, that's still in the works. try logging in with an app password though.

[2016-10-07 00:29] atomicthumbs commented on #370
The thing I specifically like about the docking is the fact that I can have one or two conversations, shrunk to a few pixels high, hovering just above my taskbar, and when I mouseover them they expand a bit to show the title. I can click on them to activate them, and if I receive a message, they pop up like the mouseover and turn green, showing me who sent me a message. It allows me to keep a conv

[2016-10-07 14:47] averissimo commented on #408
This is implemented in latest code available, but it is not in any of the releases (up to v.1.3.3)

If you want to build latest code you will also require to merge #403

Otherwise it will be available in next official release :)

[2016-10-07 15:19] livejamie commented on #408
Oh ok, is the release coming out soon? I can probably wait. :)

You can close this.

[2016-10-07 15:19] #408 closed

[2016-10-07 15:25] averissimo commented on #389
I confirm it :)

Seems like new conversations lack array with `current_participant` and `participant_data`

If you check for the existence of the property it will open up conversation, but avatar and 'details' of conversation won't appear.

    c = conv[conv_id]
    if c.current_participant? # add this and spaces in lines below
        for participant in c.current_participant
          entity.need

[2016-10-07 15:26] averissimo commented on #404
change it and create a pull request :)

all the distributed files (OSX, Linux and Windows) are built in that folder.

[2016-10-07 15:34] averissimo commented on #408
if you don't mind testing a new feature I've been working on I can build you a Windows version ;)

the feature is image previewing when pasting or addding images :) #398

[2016-10-07 15:39] livejamie commented on #408
Sure! Happy to help

[2016-10-07 16:17] averissimo commented on #408
Available here: https://github.com/averissimo/yakyak/releases/tag/v1.3.4-alpha

I'm guessing you are using a 64-bit system

[2016-10-07 16:29] livejamie commented on #408
Image previews work great, is there anything in particular you'd like me to
test with them?

On Fri, Oct 7, 2016 at 11:17 AM, André Veríssimo <notifications@github.com>
wrote:

--
Work: http://jamiemart.in
Play: http://livejamie.com
Twit: http://twitter.com/livejamie

[2016-10-07 16:38] averissimo commented on #408
yay!! good to know ;) can you test it with a larger image 5mb+ (I sometimes notice that it freezes the UI a bit)

two extra things if you have the time:

### test close to tray by

**1.** closing and reopenning

1. selecting `view` -> `show tray icon`
1. right clicking `tray` and selecting `close to tray`
1. close window and see if you can reopen with tray

**2.** closing with `close to tray` not

[2016-10-07 16:56] averissimo commented on #408
nevermind about:

It was corrected in the meanwhile (not in the pre-release though :) )

[2016-10-09 15:59] ajayk111 opened #410 "Feature Request: Panels-Style Windows"
Is there any way to add chat windows that can dock to the bottom of the screen like the current hangouts extension for Chrome does?

It would be really helpful for me to have since I usually need at least one panel open while I'm working, and I don't have a lot of real estate to have an entire window open.

[2016-10-09 16:32] randymorris commented on #410
Duplicate of #370?

[2016-10-10 16:05] sethpjohnson commented on #407
Having the same problem. Version 1.2.5 (1.3.2)

[2016-10-10 16:50] averissimo commented on #407
I guess extra information will be required:

If you guys open the inspector (pressing Ctrl+Shift+I, or via menu YakYak -> Open Inspector)

**Are there any errors shown in the console tab?**

In the console there should also be a message named "attachment" that can be expanded such as:

![image](https://cloud.githubusercontent.com/assets/211358/19243911/b7b29072-8f11-11e6-820a-698b64abe23b.png)

Tr

[2016-10-10 16:52] averissimo commented on #410
have you tried using the option: "View -> Conversation List -> Show thumbnail only"

![image](https://cloud.githubusercontent.com/assets/211358/19244015/4576b1e0-8f12-11e6-9fec-78b87b5e9fa4.png)

[2016-10-10 17:02] chasetb commented on #407
This is all I see when I found an image that didn't load in YakYak. It's supposed to be an animated GIF that shows fine in Hangouts. Also using 1.2.5 (1.3.2).
![screen shot 2016-10-10 at 11 01 42 am](https://cloud.githubusercontent.com/assets/1828637/19244303/f5823aee-8ed8-11e6-856e-a1a6be99b471.png)

[2016-10-10 17:15] sethpjohnson commented on #407
I noticed that some came through too. I think the ones that were sent from a cellphone (camera) were dropped but a small screen capture came through. Maybe its a size issue?

[2016-10-10 17:34] chasetb commented on #407
The ones that aren't coming through for me are typically screenshots or images from the web.

[2016-10-10 17:59] averissimo commented on #407
That object usually is more complex *(as my screenshot)* and has at least 2 URLs

1. a thumbnail (that is shown in YakYak)
1. the full size that you can see once you click on it.

having an empty object could indicate that it is a new type of message that is still not supported in the current api (yakyak/hangupsjs)

I've tested sending a gif (via google's hangouts) between my account and a test on

[2016-10-10 19:41] ctag commented on #13
It should still be ~/.config/yakyak as far as I know. It may also be bound to the XDG config directory, whatever that is for your system..

[2016-10-10 19:45] ajayk111 commented on #410
Thanks for the fast reply,

That works, but is there anyway for me to dock the window and/or have multiple chats open at once?

[2016-10-10 20:33] averissimo commented on #410
see @randymorris reply, as this issue is already being discussed in #370 with a tip on how to still do it after google's update.

[2016-10-10 20:43] ajayk111 commented on #410
Oh sorry, I guess this is a duplicate then.
Thanks for the help.

[2016-10-10 20:43] #410 closed

[2016-10-11 09:18] bitchecker opened #411 "close to tray option doesn't working"
I downloaded the latest version of this software (1.3.2), activated the tray icon and enabled the "close to tray" option but when I click on the X, instead of staying active, the program closes.

using fedora linux 24 64bit with xfce environment.

[2016-10-11 09:20] rbaert commented on #66
I'm seeing the same issue on Windows 7 64bit

[2016-10-11 09:38] averissimo commented on #411
It is a known bug and it will be fixed in 1.3.4 as the solution is already implemented in pull request #397

[2016-10-11 14:09] davibe commented on #355
closing because of no reply

[2016-10-11 14:09] #355 closed

[2016-10-11 14:10] davibe commented on #361
closing as duplicate of https://github.com/yakyak/yakyak/issues/61

[2016-10-11 14:10] #361 closed

[2016-10-11 14:10] davibe commented on #237
closing as duplicate of https://github.com/yakyak/yakyak/issues/61

[2016-10-11 14:10] #237 closed

[2016-10-11 14:10] davibe commented on #336
closing as duplicate of https://github.com/yakyak/yakyak/issues/61

[2016-10-11 14:10] #336 closed

[2016-10-11 14:15] davibe commented on #377
closing as duplicate of https://github.com/yakyak/yakyak/issues/332

[2016-10-11 14:15] #377 closed

[2016-10-11 14:18] #240 closed

[2016-10-11 14:21] jkuss commented on #61
If this issue will be the duplicate of my request #237 , let me say that I want OS X autocorrect enabled as well as spell check highlighting.

[2016-10-11 14:52] jessecarbon commented on #407
Ok, I figured out how to reproduce it. For my case, my friend is sending me messages via the Hangouts messaging window from Gmail. The same thing happens when I share an image from a test account to myself:

![image](https://cloud.githubusercontent.com/assets/20824912/19274773/4416ee04-8f9f-11e6-93b1-6e979a8623ba.png)

Again the message is empty in Hangouts:

![image](https://cloud.githubuserconte

[2016-10-11 15:03] averissimo commented on #407
confirm it! :) nice @jessecarbon

[2016-10-11 18:26] evaryont commented on #402
2FA works for me as well, but notably not U2F support. The U2F 2FA screen popped up with a generic error message about attempting to connect to my USB key (a Yubico key). Tried plugging it in and retrying but that didn't work. Switched methods to the TOTP/app authentication and it worked just fine.

[2016-10-12 12:54] randymorris opened #412 "Emoji replacement inserts "undefined" for emjois that don't exist"
To reproduce, type `:test:<space>` in a message.  You should see `undefined<space>`.

This may just be a personal preference, but I think that if a replacement is attempted and none is found then the original text should be preserved.

Thoughts?

[2016-10-12 13:33] averissimo commented on #412
confirmed it and corrected it with: #413

it was seeing everything with :...: as an emoji

and it did not handle it when it did not map to anything

corrected two other bugs:

1. when writing an :...: emoji (for instance :bank:) followed by a space in the middle of the input it did not place cursor correctly
1. in fact it was not replacing at all :)

ps. to test this pull request you also need to

[2016-10-14 15:19] capcla opened #415 "Emoticon stylized"
Hello,
I've installed yakyak 1.3.2 on debian GNU linux.
From the version 1.3.1, i see stylized emoticon like in the attached

![screen](https://cloud.githubusercontent.com/assets/22839536/19392734/5b1f92d2-9232-11e6-9ec3-df4d650d226d.png)

[2016-10-14 15:23] averissimo opened #416 "Pressing shift+enter too many times and it messes with interface"
Example:

It is ok while the input container is smaller than the right side of the interface.

However, at one point the contact lists is shifted up _(leaving white space below it)_ and after pressing "enter" the contact list is frozen as is, and the input box also changes (leaving underlying emoji container visible.

![outmtmywsflot](https://cloud.githubusercontent.com/assets/211358/19392806/3c06

[2016-10-14 15:27] averissimo commented on #415
The font was removed from the package -_- and defaults to the system's font.

Anyway, I found the solution and is described in this comment: https://github.com/yakyak/yakyak/issues/132#issuecomment-242366680

- Install the `Noto Color Emoji` font
- Apply fix described in comment

A nice way to test if it works, is to open http://getemoji.com/ with chrome (if it works, then yakyak should also work)

[2016-10-14 15:35] jajabro1 opened #417 "Emoticons shortcut support"
I'd like to request emoticon shortcuts to be implemented. Google has already done this and I sorely miss the feature.

For example:
/shrug will output  ¯_(ツ)_/¯ when sent.

I mostly want the /shrug command, but other popular short cuts are tableflip and tableback.

Engadget has an article with a list of the shortcuts added in the previous Hangouts update.

[2016-10-14 21:04] averissimo commented on #417
You can try implementing it by creating a pull request with:

1. Adding the commands and result to `src/ui/emojishortcode.coffee`
1. Add the pattern for the commands to `convertEmoji` method in `src/ui/util.coffee`

[2016-10-18 00:34] averissimo commented on #371
Could this solve the version problem in **MacOSX**?

![image](https://cloud.githubusercontent.com/assets/211358/19457978/035771dc-94c1-11e6-8caa-132399740e35.png)

https://github.com/electron/electron/blob/master/docs/api/app.md

**All platforms**

I've been working on a new `Help -> About` menu. Should it appear on all platforms? (I have no idea on OSX)

What other information should it contain?

[2016-10-18 19:23] jessejoe commented on #407
Just wanted to mention that it's not only images sent from the web interface. I just sent a message from my phone to someone via Hangouts and while they received it, it shows empty in yakyak. Also sometimes people send me images from their phones through Hangouts and they don't come through either.

[2016-10-19 19:35] rlees85 commented on #374
Not a fix, but a workaround, have you tried running with --disable-gpu parameter? Fixed the problem for me (on Linux)

[2016-10-21 15:54] Xodiced opened #420 "YakYak added a link to a random program in Windows Start Menu"
I copied the YakYak unzipped folder and created a shortcut to it in the Start Menu.  So far I love not having to keep Chrome running in the background to use Hangouts, however I am wondering what toast.exe is and why a shortcut to it was placed in my Start Menu.  Launching it seems to do nothing.

Thanks.

[2016-10-23 11:13] HeikoTietze opened #421 "Drop shortcut to switch conversations"
It happens quite often that while typing I accidentally press ctrl+up or down ending up with pasting a reply into another conversation. My suggestion is to drop the shortcut completely since switching conversation is not needed too often. Alternatively ctrl+pageup/down would be more suitable.

[2016-10-23 11:17] HeikoTietze opened #422 "Toggle visibility with left click"
This is likely a FAQ: right click the tray icon to find Toggle minimized is tedious. Please toggle by clicking the tray icon, and open the context menu on right click.

It would also be nice to (optionally) hide also on close, like Thunderbird, Konversation, Qmmp just to mention a few I run. Exit could be available in the context menu.

[2016-10-24 13:44] averissimo commented on #420
It seems to be the notification infrastructure for the popups to appear in windows environment. I could be wrong though, all I did was searching for `toast` and looking at toaster.js that has the code at the end of the comment

https://github.com/nels-o/toaster

[code]

[2016-10-24 14:03] averissimo commented on #422
This is a duplicate on #338 and #397

It seems that left click is a limitation on linux, check @nerijus comment in #338

Regarding hiding when closing, there is a pull request with the implementation that fixes this #397

[2016-10-24 14:14] averissimo commented on #417
A valid pattern would be `/\/[a-zA-Z]+/`

- after '/' does it contain only letters or any numbers/special symbols?

If you can build a mapping of "commands" and "output" I can help implement this :)

[2016-10-24 14:22] nerijus commented on #422
Left click toggling is working on Linux now.

[2016-10-24 15:05] mliq commented on #370
https://github.com/old-hangouts/old-hangouts-chrome-extension

[2016-10-24 15:09] averissimo commented on #407
this seems to be a yakyak/hangupsjs issue, I have traced it back to the event from the hangupsjs, with the object lacking the image information.

I've opened a new issue there: https://github.com/yakyak/hangupsjs/issues/57

[2016-10-24 15:34] averissimo commented on #422
I'm not experiencing that with my version based on current code and on Ubuntu. But maybe that's Ubuntu's default behavior :)

**The fix is not yet available in the latest release is it?**

[2016-10-24 17:47] arvindvenkataramani commented on #422
+1
Also, calling it 'Toggle minimize to tray' is very confusing. What it does is show or hide the window. So it should just say "Show chat window" or "Hide chat window" as appropriate, or even "Show/hide chat window" if it's going to be a single label. Settings are toggled, and window visibility is not a setting, so using the "toggle" language is misleading.

[2016-10-24 18:18] jonlandrum commented on #93
I had this issue, too, but can confirm that @juandelgadoinc's solution works

[2016-10-24 20:24] HeikoTietze commented on #422
The request is not about renaming labels. It should exactly do what it is labeled: toggle, and that per left click.

Since some say it work, the issue depends maybe on the window manager and how the system tray is being handled (https://blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons/).
The problem is also relevant for other tools like Thunderbird where the icon disappears from t

[2016-10-24 22:02] nerijus commented on #422
https://github.com/yakyak/yakyak/pull/388 - this fixes left click toggling on Linux (Fedora). It is not in the latest release yet. @averissimo, does it work on Ubuntu?

[2016-10-24 23:42] averissimo commented on #422
Not in Ubuntu with Unity desktop. Although I think it may be a Unity restriction.

I'm running with your PR merged for a while and it never worked.

p.s. I believe I only have two other changes to the trayicon, but neither should interfere.

[2016-10-24 23:50] averissimo commented on #422
Yup, it's a Unity only problem, it works on Gnome as expected.

This fix will be available in upcoming v1.3.4

[2016-10-24 23:56] averissimo commented on #422
@arvindvenkataramani create a new issue for renaming the label (I already have the code for it)

[2016-10-25 00:08] averissimo commented on #412
@randymorris can you confirm that #413 solves this?

[2016-10-25 00:42] averissimo commented on #374
just though of a slightly better solution to debug YakYak when cases like this appear and it is already on pull request #418 for discussion.

With this change the original menu is visible and can access the DevTools directly.

@pmcanseco If you really want to debug you don't have to build everything (sorry, but I did not know better), just change file `resources/app/main.js` in released binary to

[2016-10-25 10:24] randymorris commented on #412
Unfortunately I didn't get an opportunity to test this.  I have actually stopped using YakYak for a few reasons unrelated to this.  If I get a chance I'll certainly test it but I'm sure you'll have it sorted by that time.

[2016-10-25 11:21] averissimo commented on #412
looking forward for you return ;)

[2016-10-25 22:59] PSiAU commented on #311
I'm using YakYak in a corporate environment and proxies are mandatory here (along with proxy user authentication).

[2016-10-26 02:06] v-cycl3 opened #425 "after login, blank in KDE-Neon"
![screenshot_20161025_202014](https://cloud.githubusercontent.com/assets/10367285/19710063/20adace8-9af1-11e6-8b18-304a417f0750.png)

`./yakyak
hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
connected 0
`

Why occur this? using yakyak 1.3.3 x64

[2016-10-26 13:07] averissimo commented on #425
Can you open the inspector by clicking the `YakYak -> Open inspector` menu entry?

It will open a window that has a `console` tab, click on it and check if there is an error. If there is and you can print it here, maybe we can help :)

[2016-10-26 14:41] ckald commented on #182
The leak is still present

[2016-10-26 14:57] ckald opened #427 "Chat log export"
Original Google Hangouts app do almost nothing to prettify the log being copied from the window. This basically happens because of the HTML — the userpics are getting copied along with absolutely stupid message timestamps in a format "Now" or "7 mins".

YakYak goes even further and I personally get userpics about 300 px large on Mac OS and no message times of delimiters between messages.

How hard

[2016-10-27 14:19] sander-adhese commented on #196
I still have this issue with contacts who don't set a custom photo/avatar. (In google hangouts, displayed by their initials). Any help? Removing the cache+reloading doesn't help.

[2016-10-27 15:05] averissimo commented on #196
Have you removed the directory mentioned above (or equivalent in you OS)?

Does the link work on a private window of a browser? (incognito mode or equivalent)

[2016-10-27 15:06] sander-adhese commented on #196
I have. What link?

[2016-10-27 15:13] averissimo commented on #196
You have a message in the console saying: Failed to load resource... and on the right side of that error there is a link as figure below shows:

![](https://cloud.githubusercontent.com/assets/797801/15961868/3214f512-2eff-11e6-8216-d4263cd14fdf.png)

[2016-10-27 15:17] sander-adhese commented on #196
It works, but not in incognito mode

[2016-10-27 15:22] averissimo commented on #196
I have that same problem

The strange thing is that even in Hangouts (gmail web interface) there is no avatar, just the initials.

YakYak should do the same and fallback to initials if failing to retrieve an avatar.

[2016-10-27 15:22] sander-adhese commented on #196
Yes, indeed. I didn't even know a picture was available, other people do have one.

[2016-10-27 15:32] averissimo commented on #196
which OS are you running, you motivated me to fix this and I think I have a solution.

[2016-10-27 15:41] averissimo commented on #196
If you can build YakYak, just merge #428 (and #403 if you are on latest YakYak code)

Otherwise I can build you an archive for Linux or Windows (sorry no MacOSX but it seems to requires some native tools)

[2016-10-27 17:26] yebrahim commented on #120
@aaronj1335 Please create the PR, this is happening intermittently for me.

[2016-10-28 07:12] sander-adhese commented on #196
I use MacOS :) I'll try to build it and keep you updated!

[2016-10-28 07:56] aPoCoMiLogin commented on #407
For me images are not showing when someone is sharing image from phone, like from other application with share button. No issue in web/mobile app, it's just not recived in yakyak.

[2016-11-01 21:28] maroc81 commented on #402
I'm seeing the same thing with version 1.32 on Mint 18.  Previously 2FA worked with with version 1.31 on Mint 17.3.

[2016-11-02 17:22] musasabi commented on #13
+1

I use Hangouts to chat with all of my nearest and dearest, and my employer uses Google accounts for intra-office communication. I'd even be content to have two windows and just tend to them separately, so I'm going to give @ctag 's solution a shot. However, fully integrated support would be the way to go. I am a huge fan of this app otherwise! =)

[2016-11-02 17:37] lonniev commented on #150
Today (02 Nov 2016), I observe that when an incoming voice call originates, the other Hangouts apps (such as the mobile app) will wake up immediately and start to notify the recipient (me). However, the YakYak app shows no status, no notifications. As soon as the call is concluded on the more noticeable apps, the YakYak app will throw up its notification that an incoming call is pending. It is too

[2016-11-02 18:44] cmbernard333 opened #431 "Uploading PNG images does not work on Mac OS X"
Uploading PNG images through the yak yak client doesn't work for Mac OS sierra.

Steps to reproduce:

1.  Take screen shot using lightshot which produces a PNG image
2. Open the image open dialog and navigate to new PNG screenshot

Here is the image of it spinning forever:
![image](https://cloud.githubusercontent.com/assets/4392507/19942663/1d17fd36-a0fa-11e6-9f82-5b3c372a8dda.png)

[2016-11-02 20:23] Samanm opened #432 "Tray icon not turning green when a new message arrives"
Current behavior in Mac OSX (El Capitan):

When there is no new message, the icon displayed is
![osx-icon-read-template 2x_old](https://cloud.githubusercontent.com/assets/863113/19945921/75abb820-a0ff-11e6-9b2d-ee7809aaa91c.png)

When a new message arrives, the icon turns into a solid back icon (without the "Y" letter)

Expected:
The try icon should turn  into
![osx-icon-unread-template 2x](https:

[2016-11-03 14:07] savraj commented on #13
+1 really need this feature as I just started a new job and now have multiple accounts!

[2016-11-03 18:11] fancellu commented on #370
@mliq Now is broken, by Google doing something evil. More evil.

https://github.com/old-hangouts/old-hangouts-chrome-extension/issues/2

[2016-11-03 19:17] ashergarland opened #433 "Menu icon in "Dark" color scheme is not clearly visible"
Dark theme
![yakyakissue](https://cloud.githubusercontent.com/assets/1329051/19981459/445b7178-a1bf-11e6-8fdd-cdb1dc401017.PNG)

Blue theme
![yakyakblue](https://cloud.githubusercontent.com/assets/1329051/19981504/744b4656-a1bf-11e6-9199-97340f6491fb.PNG)

If you selected the Dark theme then the Menu button is hidden. Should be visible like in the blue theme.

[2016-11-04 17:11] pmcanseco commented on #374
@averissimo that's really cool! I'll give it a shot.

[2016-11-07 15:24] musasabi commented on #61
+1

[2016-11-07 23:58] slbedard opened #434 "Images are all inverted..."
Specifically user images-- other images display fine. Changing color scheme doesn't affect this.

![yakyak_and_gmail](https://cloud.githubusercontent.com/assets/233638/20081212/0d42ddba-a51c-11e6-8582-14d113108a7e.png)

edited by @averissimo as image was not displaying correctly

[2016-11-08 06:36] prateekmathur1991 opened #435 "Feature Request: Notification should show name of group along with name of sender if message sent on a group"
@fearoffish @cameronr @jimeh @lucianmarin @rajington  I personally think Yakyak is a great IM tool for linux!!

I do have 1 feature to request for. Currently when a desktop notification appears, it shows the name of sender, along with the message sent, even if the message is sent in a chat group.

I would like the group name also shown along with the name of sender (in a format something like this

[2016-11-08 14:05] chriscalo commented on #434
To help track down the source of the issue, the color inversion goes away if you turn off **View** > **Show Animated Thumbnails**.

[2016-11-08 14:23] averissimo commented on #434
is this a duplicate of #120 ?

Can you try the fix by @aaronj1335 ?

[2016-11-08 19:44] pablocruz23 opened #436 "Missing dock icon (Mac OS)"
I was playing around with YakYak and chose to remove it as a dock icon (not really sure what that would do). The result is, it no longer appears in my dock. But it also means the only way I can return to YakYak is by launching the application again from my Applications folder. And now none of the YakYak menus appear when the application is running, so I don't have access to the View menu to get th

[2016-11-09 14:13] averissimo commented on #433
This is fixed in pull request #437

Do you see any other problems in the dark color scheme?

[2016-11-09 14:17] averissimo commented on #431
After replicating this problem, can you open the Inspector and see if there is any error?

To open the inspector click on YakYak menu -> Open Inspector

ps. The system for uploading images is going to change a bit after pull request #398 , which might fix the problem anyway.

[2016-11-09 14:26] averissimo commented on #436
I think the option in Mac is called "Hide Dock icon" in the View menu.

Have you tried using the menu button to open the menus? (sorry if it sounds like a dumb question)

![image](https://cloud.githubusercontent.com/assets/211358/20141296/95c311de-a687-11e6-8632-29676c4c67f6.png)

If you have tried this, my only suggestion this far is to open inspector by pressing `Command+Alt+I` and then write in

[2016-11-09 14:29] averissimo commented on #432
@Samanm Could you try to find the folder in YakYak installation: `resources/app/icons`

Are there the png files named osx-icon-unread* all black?

Can you try and replace the osx-icon-unread* with icon-unread* (equivalent) and see if they turn to green with 'Y'?

ps. I'm not a Mac user so my help here is limited

[2016-11-09 14:39] averissimo commented on #436
@pablocruz23 if you really want it back you can delete the YakYak user directory under:

it should be called `yakyak`

![image](https://cloud.githubusercontent.com/assets/211358/20141865/37426b52-a68a-11e6-9d11-12701364987f.png)

[2016-11-09 17:33] pablocruz23 commented on #436
Actually, I found the answer.

I couldn't go through the View menu, because when you choose to remove the dock icon, for some crazy reason you don't get any of the YakYak menus. That is, when you have YakYak in the foreground, the top menus are from whatever application you were on previously.

However, in the top bar, there's an icon for YakYak which allows you to add the dock icon again. So I'm

[2016-11-09 18:18] averissimo commented on #436
@pablocruz23 You're welcome :) can you close this issue then?

[2016-11-09 18:42] #436 closed

[2016-11-10 18:36] Shuino7 commented on #422
I'm seeing this same problem on Win10 (64-bit) with both 32 and 64 bit clients.

Single or double left click on the tray icon or does nothing.

[2016-11-10 19:28] averissimo commented on #422
The fix that solves this is not in 1.3.2 or 1.3.3, it is still in the development code and should be released in the next version.

[2016-11-13 08:04] ihabunek commented on #66
Same on Win10. After dismissing the error two yakyak.exe processes remain hanging and need to be killed.

[2016-11-13 11:01] kecinzer commented on #407
I have this issue too. I don't recieve any images. I can normaly see it in Hangouts app or on web.

[2016-11-13 18:26] retorquere commented on #407
Same here.

[2016-11-14 16:32] averissimo commented on #66
can anyone describe the procedure to reproduce this error?

[2016-11-15 09:11] rbaert commented on #66
For me all I do is right click on yakyak.exe and select Open.  during startup I get the error message and I'm left with two processes running, but no UI.

[2016-11-15 14:43] averissimo commented on #66
seems like a syntax error in some node module :\

**does this happen with latest version v1.3.3?**

does it still happen if you remove/rename the `yakyak` configuration folder in the path below (this is where all YakYak definitions are stored, so you'll need to re-authenticate):

![image](https://cloud.githubusercontent.com/assets/211358/20309906/ba0a1bbe-ab41-11e6-83b1-a173fc213708.png)

[2016-11-16 11:56] Christoph-Harms opened #438 "YakYak should support hangout stickers."
When I send a sticker in the Chrome app:
![bildschirmfoto 2016-11-16 um 12 52 19](https://cloud.githubusercontent.com/assets/17005834/20346297/93b63afa-abfb-11e6-87c4-9db1c1e87de3.png)

This is what YakYak displays:
![bildschirmfoto 2016-11-16 um 12 52 31](https://cloud.githubusercontent.com/assets/17005834/20346307/a0083916-abfb-11e6-85f6-8fa95b665838.png)

If possible, YakYak should also display

[2016-11-16 14:07] browseman opened #439 "Unable to switch languages with alt+shift"
Linux Debian7 Xfce4.8
There is a problem when switching language with alt+shift combination. When the switch combination is pressed, the hidden menu is opened and the language is switched, but it's unable to continue writing unless you hide back the menu (which usually is opened with alt key).
Is there a way to have an option to disable this behavior of the hidden menu? Hope my explanation are suf

[2016-11-16 14:31] averissimo opened #440 "Bug? After sending links in message they are replaced"
Original link is a `http://bit.ly/something`

![image](https://cloud.githubusercontent.com/assets/211358/20350254/0768b19e-ac06-11e6-88ec-1ff6e9c1493f.png)

**Is anyone also experiencing this?**

[2016-11-16 14:49] averissimo commented on #440
Screencast:

![outdwbsibhew9](https://cloud.githubusercontent.com/assets/211358/20351641/b7b1156e-ac0b-11e6-8c4d-ff5cdd776e50.gif)

[2016-11-16 15:21] hoschi opened #441 "Provide real 'appname' when creating notifications on linux"
At the moment all notifications have `appname` 'notify-send' which should be something like 'yakyak' so this notification can handled in a sepecific way. My use case to give them a special color to separate them from e.g. HipChat.

[2016-11-16 18:16] tylerzika opened #442 "Easily send gifs from Giphy"
Be nice if there was a button you can click that searches giphy.com based on text you enter.

[2016-11-16 18:18] tylerzika opened #443 "Update status with music you are listening to"
Skype has a feature where it updates your status with the music you are listening to on iTunes. Be nice to give the option for iTunes or Spotify.

[2016-11-17 17:16] martinbutt opened #444 "Blank hangout window"
I'm using the precompiled Darwin binary. I open the app, enter my Google credentials and am show a blank hangout window. There is a message that says connection, which disappears after a few seconds. Nothing loads after that.

The console has the following:
[code]

[2016-11-19 12:23] jelmerf commented on #407
Both in version 1.3.2 and 1.3.3 none of previously received images show up. Having someone send me an image shows nothing in the chat log.

[2016-11-19 13:03] retorquere commented on #407
That, and in many (but not all) cases, the user profile picture doesn't show.

[2016-11-20 18:59] dinoboy197 commented on #330
Confirmed as still an issue in version 1.3.3. I would love to use this client, but unfortunately, this problem prevents me from being able to switch from Google's client.

[2016-11-20 18:59] dinoboy197 commented on #292
Confirmed as still an issue in version 1.3.3. I would love to use this client, but unfortunately, this problem prevents me from being able to switch from Google's client.

[2016-11-20 19:00] dinoboy197 commented on #232
Confirmed to still be an issue in 1.3.3. This is a weakness over Google's official client.

[2016-11-20 19:01] dinoboy197 commented on #90
Confirmed as still an issue in version 1.3.3. I would love to use this client, but unfortunately, this problem prevents me from being able to switch from Google's client.

[2016-11-21 05:59] Mentis commented on #407
I have same issue

[2016-11-24 03:22] averissimo commented on #407
There's hope!!

Just finished with `hangoutsjs` api library and some quick code to YakYak. As a result the embed photo data is available in my **development** version of yakyak

I'll try to create a binary version in the next few days for users to test, that along with other improvements ;)

Screenshots below of without fix (that shows empty bubles, when lucky) and with fix :D

Some images show as

[2016-11-24 03:38] averissimo commented on #440
nevemind... it was a bug in code

[2016-11-24 03:38] #440 closed

[2016-11-24 07:53] aPoCoMiLogin commented on #407
@averissimo nice! Is there any build with that changes, that we can test it? Thanks!

[2016-11-24 14:09] averissimo opened #445 "Beta version 1.4.0-beta1 (for testing)"
## 1.4.0-beta1

### Please report all BUGS related to 1.4.0-beta here

Include a screenshot (or copy the messages) when reporting.

### Download: [1.4.0-beta1 is available in my repository through this link](https://github.com/averissimo/yakyak/releases/tag/v1.4.0-beta1)

It includes almost all the pull requests currently pending, so a lot of new improvements and bug fixes.

Please leave some feed

[2016-11-24 14:11] averissimo commented on #407
Yup!! see here #445

[2016-11-24 14:14] averissimo commented on #407
@aPoCoMiLogin can you please leave feedback just to make sure it fixes the problem LoL

and if you can also comment on new features it would be awesome! :D

[2016-11-24 14:17] dominiczaq commented on #407
Hello,

I've tried the new build on mac and it seems it's not working (not starting
after launching app).
[image: pasted1]
This is understandable as this is beta build, but still not running on mac.
Anyone else having same problem?

czw., 24.11.2016 o 15:14 użytkownik André Veríssimo <
notifications@github.com> napisał:

[2016-11-24 14:27] averissimo commented on #407
Oh crap! Can you reupload the image, as it is not showing in github.com

[2016-11-24 14:37] dominiczaq commented on #407
Sure, image below.
![image](https://cloud.githubusercontent.com/assets/7099901/20602022/cca86dd6-b25b-11e6-8710-ba34d6dac930.png)

[2016-11-24 14:37] aPoCoMiLogin commented on #407
@averissimo it's not working for me too. For example this image in phone:

![hangout in android](http://i.imgur.com/33juFkC.jpg)

![yakyak 1.4.0 beta osx](http://i.imgur.com/BPkGQzP.jpg)

Maybe it's working only for newest images?

[2016-11-24 14:40] aPoCoMiLogin commented on #445
Really like the start up feature/fix! Looking forward with fix for #407

[2016-11-24 14:44] averissimo commented on #407
LOL sorry guys!!

Merged all pull requests except for this fix! -_-

Deploying new files...

[2016-11-24 15:30] averissimo commented on #407
Ok, tested the binaries in linux and windows virtual machine.. I replaced the files in the release, so it should work great in Linux and Windows environments.

I cannot test it in MacOSX though, so I have to ask someone that can build and test it in OSX to help out.

Please download again and test it. (it is expected to work with previous images)

ps. It will have some extra debugging in DevTools

[2016-11-24 15:35] averissimo commented on #407
@dominiczaq are the menus available? Can you try to open the Developer Tools and see what error appears in the console tab

An alternative way to get this information is to launch YakYak from the command and take a screenshot of the output (I have no idea on how to launch in the command, though.. sorry)

[2016-11-24 15:40] jessejoe commented on #407
@averissimo getting the same blank window when opening on OSX

![image](https://cloud.githubusercontent.com/assets/1694586/20603988/1d3b1764-b232-11e6-9866-6fa839635f93.png)

I see this from the console:
[code]

Also, would you prefer these comments in #445?

[2016-11-24 15:57] codethought commented on #407
@averissimo your new build on your fork is working well for me so far. Thanks for putting in the effort.

[2016-11-24 16:00] averissimo commented on #407
@jessejoe move conversation here #423 as error seems related to this

[2016-11-24 16:07] jessejoe commented on #407
Confirming with your fix in https://github.com/yakyak/yakyak/pull/423#issuecomment-262807020 that images are coming through on the OSX `v1.4.0-beta1` build.

[2016-11-24 16:25] averissimo commented on #445
Got positive feedback from all operating systems. If it was not working for you try again now.

Have fun and give some feedback

[2016-11-24 16:25] averissimo commented on #445
There's an extra functionality that is not working 100%, but I'm using it everyday even if limited, activate it under `View -> Experimental -> Show seen status in messages`

It is still rough and only works when other participant starts typing or sends something

![outaxhiaojjbg](https://cloud.githubusercontent.com/assets/211358/20605266/6dd59f66-b262-11e6-98b9-60904d1f4494.gif)

[2016-11-24 17:30] GreyAsteroid commented on #81
After the hangouts chrome extension got "updated" I started looking for an alternative and was really excited when I found yakyak until I realized it didn't have this functionality. Really hoping this gets added.

[2016-11-24 17:39] averissimo commented on #444
Can you try #445 and report if problem still appears.

If it does please open yakyak via command line (see screenshot below, should be similar) and copy the output here of both

- The console
- DevTools Console Tab

![image](https://cloud.githubusercontent.com/assets/211358/20606992/bd3aec50-b26c-11e6-9cc1-37ffcfba824c.png)

[2016-11-24 17:43] averissimo commented on #438
Can you confirm that version available at #445 (v1.4.0-beta1) solves this?

If it does, please close the issue :)

Thanks

[2016-11-24 17:45] averissimo commented on #433
@ashergarland  you can test the fix in #445 beta version.

If it solves it please close the issue :)

Thanks

[2016-11-24 17:46] averissimo commented on #431
@cmbernard333 can you try beta version 1.4.0 available here #445

[2016-11-24 19:51] chasetb commented on #445
It's running really well on my computer (MacBookPro12,1 macOS 10.12.1 16B2657)

[2016-11-24 20:35] pmusaraj opened #446 "Command + C, Command + V for copy/paste in message field (Mac)"
Copy/paste keyboard shortcuts don't work in the app. I can't paste anything in the message field, and I can't copy any text using the keyboard. (I can do both using the right-click command menu)

I am using the latest beta 1.4.0.

[2016-11-24 20:38] pmusaraj commented on #446
I cannot reproduce this on 1.3.2.

[2016-11-24 23:18] averissimo commented on #446
Can you open the devtools, switch to the console tab and paste here the contents?

[2016-11-25 07:40] aPoCoMiLogin commented on #407
Yup can confirm that images are coming through on OSX.

[2016-11-25 08:24] aPoCoMiLogin commented on #445
On OSX cmd + v is not working..

Steps to reproduce:

- copy any text or image to clipboard
- try to paste it in text field via keyboard shortcut (no errors in inspector -> console)

it's working only via right click menu.

Also `About window` from #423 is opening randomly. Tell me if I should report it here or in separated issues/pr's.

Cheers

[2016-11-25 09:23] VincentSurelle opened #447 "Uncaught exception while send new message"
The following exception has been throwed just after I sent a message :

`Uncaught Exception:
SyntaxError: Unexpected token
 in JSON at position 1311
    at Object.parse (native)
    at PushDataParser.module.exports.PushDataParser.parse (/Applications/Yakyak.app/Contents/Resources/app/node_modules/hangupsjs/lib/pushdataparser.js:43:21)
    at Request.<anonymous> (/Applications/Yakyak.app/Contents/R

[2016-11-25 11:45] averissimo commented on #445
Please continue to report it here.

[2016-11-25 11:48] averissimo commented on #446
@pmusaraj can you please move this conversation to #445 as this is about the beta version and not the current release.

Close this issue and we'll talk there.

[2016-11-25 11:59] averissimo commented on #445
[Copy Paste in MacOSX]

**Can someone with MacOSX please try to replace file below** ( @aPoCoMiLogin , @pmusaraj )

`YakYak.app/Contents/Resources/app/ui/views/menu.js`

**with:** `menu.js` from here: [https://gist.github.com/averissimo/26..04](https://gist.github.com/averissimo/26ecec00fe55edf224d942c9124a904c)

And see if it solves

[2016-11-25 12:03] averissimo commented on #445
and can you check if other shortcuts work (even withouth replacing the file)

Try one of these:

- Command+1 / Command+2 to change to conversation 1 / 2
- Command+Alt+I to open DevTools
- Command+Q to quit YakYak

[2016-11-25 12:10] aPoCoMiLogin commented on #445
cmd+v still don't work at all, cmd+1/cmd+2 is working, cmd+alt+i is working, cmd+q sometimes is just hidding yakyak and have to close it via right click in dock and quit, otherwise is not quiting at all.

Tested before and after changes. Also there was no errors at all in devtools console.

[2016-11-25 12:37] averissimo commented on #445
@aPoCoMiLogin can you try again with the new version in the gist

**with:** `menu.js` from here: [https://gist.github.com/averissimo/26..04](https://gist.github.com/averissimo/26ecec00fe55edf224d942c9124a904c)

*This one drops the `selector` attribute in favor of the generic `role` in the copy/cut/paste.. if it works then the whole menu actions for MacOSX must be replaced.*

[2016-11-25 12:43] aPoCoMiLogin commented on #445
Sadly cmd+c/cmd+v still not working. In that release (changes from gist) also cmd+h (hide) just changed to cmd+m (minimize).

[2016-11-25 12:52] averissimo commented on #445
In windows and linux the shortcut appears next to the menu.

Does it also appear in MacOSX? **if so, what does it show in the edit menu**

Example screenshot in Linux

 (_small note: only in MacOSX does the cut, copy and paste appear.. not sure why, but code was like this and don't want to change it_)

![image](https://cloud.githubusercontent.com/assets/211358/20625853/b224298e-b30d-11e6-9656-9b56

[2016-11-25 14:04] averissimo commented on #445
ohhh c'mon!! That is so unpredictable :\

If you can try this last menu.js file, it has all the cases I can think of

from: [https://gist.github.com/averissimo/ba...1a](https://gist.github.com/averissimo/ba50e358432f2dea844b84d831c40a1a)

And test the following (big thanks in advance for doing this :) ):

- **please test Cmd+X** and see if the pastes the content outside YakYak
    - `Cut` menu ite

[2016-11-25 14:24] aPoCoMiLogin commented on #445
CMD+X/CMD+C not working at all.

CMD + U: logs `Is it Darwin? true`
CMD + T: logs `Or is it: darwin`

screen of whole menu:

![menu](http://i.imgur.com/jXQqmvb.png)

also CMD+H is still working like CMD+M (minimize) and there are some differences between them in 1.3.3 and 1.4.0:

![1.4.0](http://i.imgur.com/adNMHjs.png)

![1.3.3](http://i.imgur.com/qk4iSeL.png)

no problem!

[2016-11-25 15:06] averissimo commented on #445
One last test please, after this I'm creating an issue in electron.

File: [https://gist.github.com/averissimo/9d...c5](https://gist.github.com/averissimo/9d6232b782a688de0f34360420e1cbc5)

This is my menu and it works on linux without an issue (it does not have any difference when rendering in darwin with code in file above)

![image](https://cloud.githubusercontent.com/assets/211358/20628843/58c

[2016-11-25 15:10] averissimo commented on #445
Oh.. if it does not work, try the following line in the console and expand everything in the object

there should be two, use the last one

![image](https://cloud.githubusercontent.com/assets/211358/20629017/470dac10-b321-11e6-9517-8ccdf9fe7f71.png)

[2016-11-25 17:21] aPoCoMiLogin commented on #445
Copy/Paste did get back and they are working! :D

![copy & baste back again!](http://i.imgur.com/AlKdnjb.png)

but this time select all via CMD+A went away

inspector console:

![inspector console](http://i.imgur.com/YSsxtRU.png)

also CMD+H is still working like CMD+M

sorry for delay..

[2016-11-25 17:35] martinbutt commented on #444
https://github.com/yakyak/yakyak/issues/445 works

[2016-11-25 17:35] #444 closed

[2016-11-25 18:00] arnriu commented on #445
@averissimo Hey, nice work here! Nice to see the yak is still alive :)

I have no time to work on the yak right now, so if you wish, you could try to include my previous work on links previews #448 to your beta, see if it works well. It's a cool feature, anticipated for a long time now.
Maybe I'll have time to tweak it and improve it later, implementing more than open graph for example, but withou

[2016-11-26 05:05] cnshht opened #449 "on openSuSE 12.3 : worked once, then never again"
...from a would-be new user (non-developer):

openSuSE 13.2  linux-0gub 3.16.7-48-desktop  x86_64

Had it running once, was working well.  Then trouble started, no difference w/
reinstall of 1.3.2 and then 1.4.0-beta1 :

Startup opens Google login dialog.  2-3 seconds later a 2nd dialog <2>
opens on top of the first.  Loop opening new dialogs continues:
<3>,<4>, 5>, etc.   I can drag a dialog box

[2016-11-26 16:10] averissimo commented on #445
@arnriu thanks!! happy to work on Yak :)

I've been using the links preview it for a while and found some possible issues with it.

Hadn't had a chance to comment again in the original issue, but will do it soon :) and if I can I'll also work on it as **I really like the links preview** :)

Hope you don't mind if now I'm focusing on this release as is to push forward the embed images that breaks c

[2016-11-26 16:27] averissimo commented on #449
@cnshht Thanks for reporting this, this is a big problem that has been reported before and really breaks the experience as you said

I really don't understand it as I never experienced it (with normal gmail and 2-step authentication)

It would be awesome if you could try 2 (independent) things

1. remove ~/.config/yakyak and try to connect again
1. install hangups (pyhton) and login via that inter

[2016-11-26 16:32] averissimo commented on #445
**I've prepared beta2 with a full fix for MacOSX menus**, but again.. can't test it.

It would be awesome that someone could download the beta2 version and just confirm it works before 'releasing' it here.

[Download for beta2](https://github.com/averissimo/yakyak/releases/tag/v1.4.0-beta2) (again on my repository, sorry for that but I don't have permissions here)

ps. @aPoCoMiLogin don't appologi

[2016-11-26 22:37] aPoCoMiLogin commented on #445
@averissimo glad that I can help in app that I'm using every day!

About beta2:
CMD+C/CMD+V - are working
CMD+A - is working
CMD+X - is working
CMD+H/shift+CMD+A - are working

![edit menu](http://i.imgur.com/UBBVNP8.png)

![yakyak menu](http://i.imgur.com/mvSeZoJ.png)

only thing that need fix is (mostly after hide/CMD+H) popping up about window from #423 when CMD+H is used. Also the about window

[2016-11-27 13:44] mattsigal commented on #445
Just wanted to comment to say that copy/paste is definitely working again in Beta2. This issue was driving me crazy and I'm very glad I came upon this thread!

[2016-11-27 13:55] mattsigal opened #450 "Sending Multiple Photos/Images"
I've been using YakYak for a while now (on OS X, 10.11.6), and come across an issue that I do not believe is open yet.

Basically, when I use the "Attach Image" function, it works perfectly. The choose file dialogue appears, I select the image, and it uploads/attaches without issue.

However, if I switch conversations and try to send the same image to another friend, I click "Attach Image", the di

[2016-11-27 13:58] averissimo commented on #445
@aPoCoMiLogin I'll switch the "about YakYak" with the new window as it is more complete.

I hope the issue with the shortcut is solved by this, I'll just replace the current binary and create another topic with beta2.

ps. great screencast!!

@mattsigal yay!! I just hope that it is obvious for people that download it that this is beta and is bound to have some problems (especially as there are maj

[2016-11-27 13:58] mattsigal commented on #438
Running the latest Beta2. Just tested sending a sticker in the Chrome app, and it did appear in YakYak :)

[2016-11-27 13:59] mattsigal commented on #445
@averissimo Of course :) One never realizes how often they copy/paste using the keyboard shortcut until it stops working hahaha

[2016-11-27 14:00] averissimo commented on #445
@aPoCoMiLogin @mattsigal  **just a quick question before trying to correct the about window**,

-> what is the norm in terms of menu items in MacOSX, do they have both the "About <program>" in the main menu AND in help -> about.. or just one of them?

if so, which one?

ps. @mattsigal LOL

[2016-11-27 14:01] mattsigal commented on #445
Most apps on OS X only have "About" in the Main Menu, not under "Help".

[2016-11-27 14:05] mattsigal commented on #382
I'm not even sure I've even gotten notifications? A update checker that we could manually trigger from the menu would be awesome. Maybe a "Check for Updates" button within the 'About YakYak' dialogue box?

[2016-11-27 14:08] cnshht commented on #449
1. Removed /.config/yakyak, deleted the beta directory, unzipped v1.3.2
again, then it worked.  Logged in & out several times and other than a
few delays connecting during the first few times, it's working well for
now.

2. I see that "hangups requires Python 3.3, 3.4, or 3.5...."  Is it
enough to have libpython3_4m1_0 with interpreter python_2.7.12-3.1?
Sorry I'm an aged newb, not experienced wit

[2016-11-27 14:26] aPoCoMiLogin commented on #445
@averissimo I'm fresh osx user so I'm not 100% sure if shortcut to about windo is in every app, but what I did notice that is most common place for it.

[2016-11-27 15:24] averissimo commented on #445
Ok, thanks!!

**beta2 is updated by that logic**, download again to get it

(new about logic: only under the Main Menu and opening the "new" about dialog)

I'm going to close this issue and create a new one with beta2 link now

[2016-11-27 15:26] averissimo opened #451 "1.4.0-beta3 (for testing before release)"
## 1.4.0-beta3

### Please report all BUGS related to 1.4.0-beta3 here

Include a screenshot (or copy the console log) when reporting.

### Download: [1.4.0-beta3 is available in my repository through this link](https://github.com/averissimo/yakyak/releases/tag/v1.4.0-beta3)

It includes almost all the pull requests currently pending, so a lot of new improvements and bug fixes.

Thanks to @aPoCoMi

[2016-11-27 15:26] #445 closed

[2016-11-27 16:14] averissimo commented on #382
@LinkofHyrule89 awesome ideia, do you have any idea on how to do that with an electron app?

@mattsigal Yakyak already has this notification (I believe in the form of an alert when it is outdated to latest STABLE version) You can open the console to see that is running.

![image](https://cloud.githubusercontent.com/assets/211358/20649671/5b09ec0a-b4bc-11e6-9225-677bb6228781.png)

The about menu al

[2016-11-27 18:52] averissimo commented on #446
@pmusaraj solved in beta2, see #446

[2016-11-27 18:54] averissimo commented on #445
forgot to ask, @aPoCoMiLogin can you check if the about window stopped appearing with cmd+h?

[2016-11-27 19:09] aPoCoMiLogin commented on #451
There are few things that is something wrong with them (at least on OSX).

--

First (more important) is error when yakyak is closed (CMD+Q or right click -> quit from dock), when started from terminal then this is shown:

[code]
It not occurs all the time, on 10 attpemts it occurs 2 times. But still something is up with that.

--

Second is about window from #423 poping up after CMD+H on OSX. It

[2016-11-27 21:56] pmusaraj commented on #446
Cool!

[2016-11-27 21:56] #446 closed

[2016-11-27 22:30] averissimo commented on #450
great catch, simple fix in soon to be available beta3 (as soon as it uploads)

[2016-11-27 23:31] averissimo commented on #451
wow, fantastic debugging skills!!

1. Solved by simpling checking if object actually appears.
2. Stopped pre-loading about window, let's see if this solves it
3. Can't reproduce it. Does it happen all the time? try uploading an image to see if it is a problem with the new uploading interface (when sliding on)
4. Solved it (although I believe this exception has no consequence)

Available in beta3,

[2016-11-28 08:44] aPoCoMiLogin commented on #451
Well, my "luck" was involved :D just created new account and logged in, then found that 2 issues, which looks like are solved.

Can't reproduce that strange thing in textarea, so it might got solved or it was something on my side. Anyway good job on fixing it 👍

[2016-11-28 12:20] averissimo commented on #449
Don't compile it, yakyak worked without that directory. That was just in case yakyak alone didn't login.

It seems that once it has a 'bad' connect it can't or it's hard to get around it.

I guess I'll have to connect from scratch and hope one of them will have a problem to have a chance to replicate this.

this is probably a duplucate of #390, #333 and others

[2016-11-28 12:24] averissimo commented on #447
what type of message did you send?

does this happen often?

version of Yakyak?

[2016-11-28 12:26] averissimo commented on #441
can you figure out what arguments does function `notify` requires for this?

I believe the node module is `node-notifier`

And the code for notifications can be found at:

https://github.com/yakyak/yakyak/blob/master/src/ui/views/notifications.coffee

[2016-11-28 12:28] averissimo commented on #439
what's the full key combination? alt + shift + **??**

[2016-11-28 12:33] browseman commented on #439
Only "alt+shift", there is no additional keys involved.

[2016-11-28 14:24] averissimo commented on #439
does clicking on the three lines 'menu' work on setting it while yakyak keeps running?

this option is not permanent, but if this works maybe it could become permanent :)

[2016-11-28 16:06] cmbernard333 commented on #431
This version has fixed my issue.

On Thu, Nov 24, 2016 at 10:46 AM, André Veríssimo <notifications@github.com>
wrote:

--
Christian

[2016-11-28 16:33] averissimo commented on #431
@cmbernard333 great!! please close the issue in github.com

[2016-11-28 16:34] #431 closed

[2016-11-28 18:41] Hongbo-Miao opened #453 "Archived group chat still shows in conversation list"
I have archived an group chat, it does not show in the conversation list of web version Hangouts.
However, it still shows in conversation list of YakYak.

Thanks for the amazing app!

[2016-11-28 18:52] cnshht commented on #449
ok, I looked at those, they differ in details.  For example my login dialogs were replicating/looping *without* entering any login info.   But you'd know better than I, whether those differences were just due to differing OS or something....

  So as of now, with the minro workaround above, yakyak is working fine on openSuSE/12.3/KDE.  Token is doing the auto-logon,  I'm happy with it.  Thanks for

[2016-11-29 09:17] davibe commented on #427
I think if someone works on this, then it's going to happen :)

[2016-11-29 09:41] #411 closed

[2016-11-29 11:22] browseman commented on #439
I don't think I understand you correctly. But when I click on "three lines" button the menu is falling down. Then I was able to choose from it until I press some button of the keyboard. The "alt+shift" combinations does not simply open the menu but is like actually

[2016-11-29 18:07] averissimo commented on #447
@VincentSurelle

what type of message did you send?

does this happen often?

version of Yakyak?

[2016-11-29 18:09] averissimo commented on #442
seems cool :)

[2016-11-29 18:10] averissimo commented on #443
I don't think that yakyak currently supports the status

[2016-11-29 18:20] averissimo commented on #439
@browseman which version of yakyak are you using? my comments below are for 1.4.0-beta3

I tried installing xfce and can't reproduce this in my laptop with Xfce 4.12.3 (current version of xubuntu-desktop as of 17.04)

The point about the icon is that once I click on the "three stacked lines icon" the menu either permanently appears or disappears *(until clicked again)*. I believe this would be the

[2016-11-29 18:23] averissimo commented on #432
@Samanm does this continue to appear in 1.4.0 latest beta? see #451

[2016-11-29 18:24] averissimo commented on #425
@v-cycl3 can you test version 1.4.0-beta3? see #451 to download it

[2016-11-29 18:30] averissimo commented on #420
@Xodiced any more questions just re-open the issue

[2016-11-29 18:30] #420 closed

[2016-11-29 18:32] averissimo commented on #415
@capcla have you tried to install the font?

[2016-11-29 18:35] averissimo commented on #406
@Dimsok see here the electron team response: https://github.com/electron/electron/issues/5676

ps. electron is the ui framework we use in yakyak :)

[2016-11-29 18:35] #406 closed

[2016-11-29 18:41] averissimo commented on #405
@ahpatel I'm actually working on a feature to add sound to notifications engines that don't support it and an option to disable sound all together

since you created the issue a new option was developed to turn notifications on or off in the tray icon and `view` menu

try the beta release of 1.4.0 at #451

[2016-11-29 18:48] #404 closed

[2016-11-29 18:49] averissimo commented on #401
@Arithmomaniac done in 1.4.0-beta.. see #451 to check it out

[2016-11-29 18:49] #401 closed

[2016-11-29 18:51] averissimo commented on #400
@Arithmomaniac that error is corrected in latest 1.4.0-beta release, can you test it and see if problem still appears

see #451 to download beta (sorry in advance for more repeated comments)

[2016-11-29 18:54] averissimo commented on #390
@trgcyln can you give more information?

if the problem persists try removing yakyak config directory at %APPDATA%

that seems to be the only solution so far

[2016-11-29 18:55] averissimo commented on #389
@ctcpip can you try latest beta? I believe it has solved it

[2016-11-29 18:58] averissimo commented on #381
@NSDodgers right now it is the notification system that controls the sound that's produced

[2016-11-29 18:59] averissimo commented on #383
lol, this will be fixed in 1.4.0-beta3

to try it out check #451

[2016-11-29 19:01] averissimo commented on #383
@David-ANT  it would be awesome if any of you could try to test to make sure it was corrected and has a good behaviour

[2016-11-29 19:02] averissimo commented on #405
partial duplicate of #381

[2016-11-29 19:06] averissimo commented on #381
The current options interface would require a big change to support this type of customization.

[2016-11-29 19:09] averissimo commented on #381
I'm working on a custom yakyak sound for notification systems that don't support sound

in theory when this is released it would be just a matter of replacing the sound file by your own custom one.

I don't see this as an option unless the way we set options in yakyak is changed in the near future :\

any help is welcome!

@NSDodgers do you think we can move this conversation to #405 and close thi

[2016-11-29 19:10] averissimo commented on #371
solved in latest 1.4.0-beta see #451

[2016-11-29 19:10] #371 closed

[2016-11-29 19:18] averissimo commented on #357
@LinkofHyrule89 @ctcpip doesn't this already work with selected text?

Images seem to be more problematic

[2016-11-29 19:19] averissimo commented on #353
@tresni @chasetb @cameronr is this still a problem?

[2016-11-29 19:19] #349 closed

[2016-11-29 19:19] averissimo commented on #349
already implemented and merged

[2016-11-29 19:20] ctcpip commented on #389
It's working for me in the beta, BUT - clicking on the 'Details' button does nothing.  You have to quit and reopen the application before 'Details' button has any effect.

[2016-11-29 19:22] ctcpip opened #456 "after clicking 'Delete Conversation' from the Details screen, the conversation is deleted, but details screen remains"

[2016-11-29 19:22] averissimo commented on #340
@apoisonedgift can you check 1.4.0-beta3? download link here #451

[2016-11-29 19:23] ctcpip commented on #389
#246 is still outstanding as well

[2016-11-29 19:25] ctcpip commented on #357
right click and copying of hyperlinks are working for me in 1.4 beta

[2016-11-29 19:27] averissimo commented on #338
@mizuapo @pmsobrado @rippetoej can you check if latest beta fixes this problem?

see #451 for download link

credits to @nerijus for the fix :)

[2016-11-29 19:28] averissimo commented on #333
@pjjanak can you try to delete the yakyak configuration directory? so far it has been the only solution

it is located under: ~/Library/Application Support/