[2016-11-29 19:31] averissimo commented on #321
it does not even detect url :\

![image](https://cloud.githubusercontent.com/assets/211358/20725619/5d36ea82-b66a-11e6-864c-d405326d918c.png)

[2016-11-29 19:32] averissimo commented on #316
@sodiumjoe we've updated electron version recently.

Does it still happen?

[2016-11-29 19:32] #315 closed

[2016-11-29 19:33] Hongbo-Miao opened #457 "[feature request] add "Seen By""
It will be great to add the feature "Seen By".
Thanks for the amazing app!

[2016-11-29 19:34] averissimo commented on #309
does this exception still appears in newer releases of yakyak?

please test it on 1.4.0-beta3 and report it again

see #451 for the download link

[2016-11-29 19:35] averissimo commented on #308
submitted in #21 closing issue

ps. looks really nice :)

[2016-11-29 19:35] #308 closed

[2016-11-29 19:38] averissimo commented on #306
@clrg I believe this is solved in latest beta

[2016-11-29 19:38] #306 closed

[2016-11-29 19:39] cameronr commented on #353
@averissimo seems fixed in the 1.3.3 prerelease

[2016-11-29 19:41] averissimo commented on #290
Input box has to be replaced with editable content tag for this to work.

https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content

would be awesome to have

[2016-11-29 19:43] averissimo commented on #287
@sschwetz this should be solved in latest 1.4.0-beta

see #451 for download link

[2016-11-29 19:44] averissimo commented on #282
already merged

[2016-11-29 19:44] #282 closed

[2016-11-29 19:49] averissimo commented on #279
Can't reproduce this.

Node v6.7.0
Npm 3.10.8

can you try again?

[2016-11-29 20:03] averissimo commented on #263
plus button, minimize button or any operating system shortcut would do the trick.

newest skypeforlinux adds a generic overlay when clicking on the username on top of the contacts, but that is also achieved with the plus button.

[2016-11-29 20:04] averissimo commented on #375
duplicate of #245

[2016-11-29 20:04] #375 closed

[2016-11-29 20:05] averissimo commented on #375
@jacquescrocker not a osx user, sorry

[2016-11-29 20:09] averissimo commented on #457
@Hongbo-Miao partial implementation in 1.4.0-beta3

see #451 and activate option via `view -> experimental`

The library that yakyak uses does not support (yet) having this information when opening a conversation, only after first interaction

[2016-11-29 20:10] averissimo commented on #456
lol true!

[2016-11-29 20:11] averissimo commented on #416
duplicate of #242

[2016-11-29 20:11] #416 closed

[2016-11-29 20:11] averissimo commented on #242
Example:

It is ok while the input container is smaller than the right side of the interface.

However, at one point the contact lists is shifted up _(leaving white space below it)_ and after pressing "enter" the contact list is frozen as is, and the input box also changes (leaving underlying emoji container visible.

![outmtmywsflot](https://cloud.githubusercontent.com/assets/211358/19392806/3c06

[2016-11-29 20:12] averissimo commented on #228
@jfyu @oblitum can you test latest beta version

see #451 for the download link

[2016-11-29 20:13] averissimo commented on #227
does it continue to happen?

does it happen all the time or just once in a while?

[2016-11-29 20:14] averissimo commented on #227
@NewbiZ does not seem like a bug, but a connection problem instead

I've seen that once in a while and it seems that yakyak recovers well

[2016-11-29 20:15] averissimo commented on #225
see #451 for the beta release. It should solve the problem

[2016-11-29 20:15] #225 closed

[2016-11-29 20:16] Hongbo-Miao commented on #457
Thank you for the info!

[2016-11-29 20:17] averissimo commented on #221
belived it stopped doing it with pre-releases.

closing

[2016-11-29 20:17] #221 closed

[2016-11-29 20:20] averissimo commented on #353
cool, i'm closing this issue then :)

[2016-11-29 20:20] #353 closed

[2016-11-29 20:20] averissimo commented on #353
@cameronr thanks for quick feedback ^^

[2016-11-29 20:22] averissimo commented on #357
yay! closing it then. thanks @ctcpip

@LinkofHyrule89 if you still see this problem please reopen

[2016-11-29 20:22] #357 closed

[2016-11-29 20:25] averissimo commented on #389
Gotta figure out a way to ask for that information.

thanks for the very well described report! :)

[2016-11-29 20:28] averissimo commented on #457
duplicate of #87 closing.

[2016-11-29 20:28] #457 closed

[2016-11-29 20:29] williamsjj commented on #375
@jacquescrocker Right-click on the YakYak binary, then hold down the Option key while you click "Open".

That will tell OS X to prompt you to accept the reduced to security rather than refusing to run YakYak. Afterward you can launch normally.

[2016-11-29 20:29] averissimo commented on #87
Partial implementation of this in 1.4.0-beta3

see #451 and activate option via view -> experimental

The library that yakyak uses does not support (yet) having this information when opening a conversation, only after first interaction

[2016-11-29 20:29] #6 closed

[2016-11-29 20:29] averissimo commented on #6
implemented!

[2016-11-29 20:29] #12 closed

[2016-11-29 20:33] averissimo commented on #32
If this still is a problem please open a new issue with new information.

Before doing it test 1.4.0-beta8 that uses electron 1.4.8 see #451

(or a more recent release if in the meanwhile it gets updated :) )

[2016-11-29 20:33] #32 closed

[2016-11-29 20:34] averissimo commented on #34
colored emoji are working if font is installed on system level

usually black and white if not installed

please reopen if this is still an issue :)

[2016-11-29 20:34] #34 closed

[2016-11-29 20:35] averissimo commented on #66
@rbaert can you try 1.4.0-beta3

see #451 for the download link

[2016-11-29 20:37] averissimo commented on #74
@msphair is this still a problem with yakyak?

[2016-11-29 20:39] averissimo commented on #79
@ironcladlou @bramadams what do you guys think?

[2016-11-29 20:41] msphair commented on #74
I had stopped using yakyak because messages would be delayed sometimes over a minute. I'll give it a try and see if the problem is resolved.

[2016-11-29 20:42] jessejoe commented on #74
@averissimo speaking for myself, i no longer see broken user icons on `v.1.4.0-beta`, those users seem to have just reverted to initials. User icons seem to be hit or miss with yakyak. Some of them match the ones in pure hangouts, some are just initials, or the incorrect initials.

Example Hangouts:
![image](https://cloud.githubusercontent.com/assets/1694586/20728132/5a921e3e-b64a-11e6-90c5-d03c56

[2016-11-29 20:46] averissimo commented on #74
Does the missing initials also appear missing in the chat window?

I was going through my contact list to see if I could replicate this, and found a contact like that

![image](https://cloud.githubusercontent.com/assets/211358/20728294/e5a1e93a-b674-11e6-86d0-8af19621c1c2.png)

[2016-11-29 20:47] msphair commented on #74
still happening. I loaded up the v1.3.3 pre-release and cleared the cache using https://github.com/yakyak/yakyak/issues/74#issuecomment-243520822

the contact list is mostly better with the occasional:
<img width="68" alt="screen shot 2016-11-29 at 12 45 57 pm" src="https://cloud.githubusercontent.com/assets/1900880/20728287/d3f78174-b631-11e6-8597-59de9069eebd.png">

the the same problematic cont

[2016-11-29 20:49] ironcladlou commented on #79
With the menu bar icon indicator now working well in OSX in both normal/dark modes, I no longer care much about the bouncing dock icon. Thanks for asking!

[2016-11-29 20:49] jessejoe commented on #74
@averissimo actually, no the image is correct in the chat window. Just the userlist is wrong.

[2016-11-29 20:51] averissimo commented on #74
@msphair wow thanks for being so fast :)

we're testing a beta version in #451 that partially corrects that problem, but as jessejoe showed (and I just confirmed) there are still incorrect initials

@jessejoe thanks!! I was not happy with the solution but until now I thought it was working.. this is the opportunity to do it right!! :)

[2016-11-29 20:57] David-ANT commented on #383
Hi !

Very strange... No more Javascript error but still, after the first login, the app just directly quits if I close the window BUT without any error reported now. It's just like if it has crashed without warning. After starting it again, no problem.

It exhibits the exact same behavior I reported the first time (see above) but without Javascript / Uncaught Exception popup window. Still, it is

[2016-11-29 20:59] David-ANT commented on #383
Oh... And I have disabled the System Integrity Protection on my El Capitan (to install cDock)...
I don't know if it has anything to do with that, just for info...

[2016-11-29 21:02] kolorafa commented on #287
As far as i did dig in, this should be possible to handle left mouse click.
https://github.com/electron/electron/pull/1741

There seems to be some OnClicked event observer:
https://github.com/electron/electron/blob/f31bfab127c47b3419b6ea787658e819d1e8be93/atom/browser/ui/tray_icon.cc

[2016-11-30 01:28] averissimo commented on #76
#458 should implement this.

previous values are stored in `viewstate` object

I believe I tested with all options to switch conversation:

- clicking on a conversation
- selecting on menu
- keyboard shortcut

If i missed any please let me know :)

[2016-11-30 01:57] averissimo commented on #74
@jessejoe can you try beta4?

available here: https://github.com/averissimo/yakyak/releases/tag/v1.4.0-beta4

[2016-11-30 06:56] davibe commented on #421
i don't see how you can type ctrl+up/down while writing to someone

[2016-11-30 07:07] davibe commented on #389
Maybe, if the chat is of type one-to-one that information is somewhere else in the payload.

[2016-11-30 10:20] browseman commented on #439
@averissimo - I'm using v1.2.5 (according to the version file in the prebuilt binaries that I've download).

My version of Xfce is a bit older version 4.8 as already mentioned in my first post, but I doubt that is the reason. Most probably the reason is in the older version of the app. I will try to test with the latest one.

This behavior with the "three stacked lines icon" does not work like you

[2016-11-30 11:17] browseman commented on #439
I've tried with the latest version (git clone https://github.com/yakyak/yakyak.git). Currently the behavior of the "three stacked lines icon" is working as it should. The menu is constantly stay on or off regardless of the pressing of other buttons. The behavior of:

- Alt key - is changed, currently the single pressed alt key doesn't do any thing.
- Alt + Shift key - is not changed and still is o

[2016-11-30 11:48] pmsobrado commented on #338
Now it hides to tray, but double (or single) click on tray to close/open
doesn't seem to work.

Anyway, good job!

* Pablo Manuel Sobrado Gómez*
 Projects area - Devops
 * Emergya Consultoría*
 Tfno: +34 954 51 75 77
 Fax: +34 954 51 64 73
 www.emergya.es

2016-11-29 20:27 GMT+01:00 André Veríssimo <notifications@github.com>:

[2016-11-30 11:51] nerijus commented on #338
Works here on Fedora. Could be Ubuntu/Unity problem.

[2016-11-30 11:56] pmsobrado commented on #338
I'm on Ubuntu with KDE installed. But is not a major issue to me. I'll
check on Windows when I have the time.

Thanks!

* Pablo Manuel Sobrado Gómez*
 Projects area - Devops
 * Emergya Consultoría*
 Tfno: +34 954 51 75 77
 Fax: +34 954 51 64 73
 www.emergya.es

2016-11-30 12:51 GMT+01:00 Nerijus Baliūnas <notifications@github.com>:

[2016-11-30 13:10] livia-b opened #459 "Feature Requests: port to UWP"
Have you considered to make a "Universal Windows Platform" release, too?
Hopefully that would allow to use the application both on windows desktop and on windows phone. It seems to be possible to convert an electron app to UWP http://electron.atom.io/docs/tutorial/windows-store-guide/ , but I have no idea about other libraries.
It should also be considered whether  possible to distribute the app a

[2016-11-30 13:36] jessejoe commented on #74
@averissimo I think that build is bad, tried downloading/extracting multiple times:

![image](https://cloud.githubusercontent.com/assets/1694586/20754257/180bb136-b6d8-11e6-88ad-f7b38445f758.png)

[2016-11-30 13:42] jessejoe commented on #74
@averissimo also I just noticed after reinstalling/reopening beta 3, my contact that was wrong is now correct. I also noticed this on another machine I had yakyak installed. I wonder if it was just a cached issue?

[2016-11-30 14:31] kamilko opened #460 "Underscore wrong spelling not working"
I don't know if this is electron issue or YakYak but autocorrect (red underscore) during writing is not working.
Version 1.3.3 and from master branch (90b7cb6).
OSX: 10.11.6

[2016-11-30 14:43] averissimo commented on #338
I've tested in Xfce and seems to work flawlesly

There are some specifics on the window manager, for instance it fails miserably in unity, but that's an unity problem.

It would be awesome if you could give feedback in windows :)

![outsxu67pu8ax](https://cloud.githubusercontent.com/assets/211358/20756572/13b1f612-b70b-11e6-8071-2caed49d5250.gif)

[2016-11-30 14:46] averissimo commented on #460
Not a bug, it is not implemented yet. We need someone to take this challenge :wink:

The original bug is #61

ps. I'm closing this issue as it is a duplicate of that one :)

[2016-11-30 14:46] #460 closed

[2016-11-30 14:52] averissimo commented on #459
Seems cool :)

wanna try to do this?

this needs someone that has windows 10 installed and motivated :)

**Actually the first step is something that would be awesome to have overall**

![image](https://cloud.githubusercontent.com/assets/211358/20756999/998be0c6-b70c-11e6-846c-e035aa740a01.png)

[2016-11-30 15:26] pmsobrado commented on #338
I'll check on Windows as soon as I can :)

* Pablo Manuel Sobrado Gómez*
 Projects area - Devops
 * Emergya Consultoría*
 Tfno: +34 954 51 75 77
 Fax: +34 954 51 64 73
 www.emergya.es

2016-11-30 15:43 GMT+01:00 André Veríssimo <notifications@github.com>:

[2016-11-30 15:28] bmneely commented on #61
+1 to this. Please please please do this.

[2016-11-30 15:43] livia-b commented on #459
Unfortunately I don't have windows 10, I am interested as a user...  because I am one of the few people with a windows phone!

[2016-11-30 17:46] rippetoej commented on #338
All tray features appear to work correctly on windows 10 v1607

- Single click on try icon toggles window
- Close to tray works
- Pressing the minimize button on the window minimizes to task bar instead of tray (I assume this is the intended action)

Is the "Toggle minimize to tray" item in the tray suppose to activate/deactivate the minimize to tray action or is it meant as another way of togglin

[2016-11-30 18:08] nerijus commented on #338
It's another method, as single click toggle does not work on Ubuntu.

[2016-11-30 18:10] sodiumjoe commented on #316
@averissimo i stopped using yak yak and went back to the hangouts chrome app. I'll try it and report back.

[2016-11-30 21:54] averissimo commented on #316
try the latest beta #451 :)

[2016-11-30 21:58] averissimo commented on #74
I experienced the same thing with my broken contact, have no idea why, maybe cached

anyway, this new implementation is much better

can you try again to use beta4 ? it was made using a new packaging method.. more robust and flexible yay

(it will allow for signed binaries in osx... not this one though as I generated it myself in Linux)

https://github.com/averissimo/yakyak/releases/tag/v1.4.0-bet

[2016-11-30 22:00] averissimo commented on #74
@msphair can you try beta4 link below.. there should no be any more weird avatars :)

https://github.com/averissimo/yakyak/releases/tag/v1.4.0-beta4

[2016-11-30 22:02] averissimo commented on #459
I actually got interested in the package module and it will fulfill the step 1 of that page you sent.

It still requires someone to do the rest of the work.

ps. @livia-b LoL :)

[2016-11-30 22:04] jessejoe commented on #74
@averissimo this build doesn't work either:

![image](https://cloud.githubusercontent.com/assets/1694586/20773286/1005310a-b71f-11e6-9707-aee4605336bd.png)

[2016-12-01 02:32] cawka commented on #451
Today, the old and the beta versions (tried also the master branch) suddenly stopped working with the following error in console:

[code]

Anyway it can be fixed?

[2016-12-01 03:42] chefBrian opened #463 "Connecting... Not Connected Loop"
I am currently having an issue not being able to connect.  I am experiencing this on OSX as well as Windows using versions 1.3.2 and 1.4.0 - so I may be doing something wrong.

The application will open, I will type in my credentials, then it will say "Connecting...", then "Not Connected." This will loop as long as I keep the app open.

Thanks,
Brian

[2016-12-01 03:48] averissimo commented on #451
google changed stuff -_-

I'm uploading a new 1.4.0 release.. but it will take some time

**If you want to test if this fix works** do the following in the master branch (or any other that was working)

- remove directories
    - node_modules/hangupsjs
    - app/node_modules/hangupsjs
- run `npm install` and `npm run gulp` to reinstall hangupsjs
- make sure you got the latest by
    - `grep -A 1 e

[2016-12-01 03:52] cawka commented on #451
Yeah, I understand that the core problem was google making changes.

Thank you very much for addressing this issue quickly.  Your suggestion fixed the issue and I'm back to my normal workflow (yakyak really solved so many problems for me with hangouts).

[2016-12-01 03:54] averissimo commented on #463
@chefBrian google changed hangouts internal stuff :anger_emoji:

I'm uploading a new version that should be correct as I'm typing this :)

[2016-12-01 04:02] chefBrian commented on #463
@averissimo you're fast! Thanks for the quick response!

[2016-12-01 04:06] averissimo commented on #451
@cawka that's in which branch?

[2016-12-01 04:07] averissimo commented on #451
can you paste here the block of code around line 73 of that file?

[2016-12-01 04:09] cawka commented on #451
Tried with d37842f22b4e62923cda5c1db14ae3af36d6f502 commit of 1.4.0-beta4 branch from you repo.

Here is value of viewstate.js around those lines:

[code]

Will try different branch(es) and report if it works.

[2016-12-01 04:10] averissimo commented on #451
try with 1.4.0, i've just updated it

[2016-12-01 04:15] cawka commented on #451
1.4.0 branch works! Thanks!

[2016-12-01 04:17] averissimo commented on #451
yay! \o/

can you test one other feature?

- write something in the text area
- switch conversations
    - see if it cleared the text area
- switch back
    - see if it remembers the old text

[2016-12-01 04:19] averissimo commented on #463
@chefBrian can you test the release here

https://github.com/yakyak/yakyak/releases/tag/v1.4.0-beta4

heads up I've been having problems creating binaries for OSX

[2016-12-01 04:19] cawka commented on #451
Works.  Tried with several conversations.

[2016-12-01 04:20] averissimo commented on #451
thanks :fist_bump:

[2016-12-01 04:26] chefBrian commented on #463
@averissimo works great on macOS Sierra.  Thanks again!

[2016-12-01 04:29] averissimo commented on #463
yay!

[2016-12-01 04:29] #463 closed

[2016-12-01 04:33] averissimo opened #464 "1.4.0-beta4 (works with connection problem)"
## Download [latest pre-release from official YakYak](https://github.com/yakyak/yakyak/releases/tag/v1.4.0-beta4)

### Please report all BUGS related to 1.4.0-beta4 here

Include a screenshot (or copy the console log) when reporting.

### What's new since beta3

- **[MAJOR FIX] Google modified the protocol.** This version works with the new version
- [FEATURE] clears input when changing conversati

[2016-12-01 04:34] averissimo commented on #451
closing this issue as beta4 is out

see #464 or download latest pre-release from official yakyak

[2016-12-01 04:34] #451 closed

[2016-12-01 05:56] joshdick commented on #464
Running on macOS Sierra here.

On startup, the console shows: `Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'. view.js: 126`

Upon trying to select any conversations (which does nothing), the console shows: ```
Uncaught TypeError: Cannot read property 'value' of null viewstate.coffee:56
switchInput @ viewstate.coffee:56
setSelectedConv @ viewstate.

[2016-12-01 07:46] aPoCoMiLogin commented on #464
Can confirm that app icon is default electron icon, but can't reproduce any of @joshdick error. Also the first error jest strange, because yakyak doesn't have any `view.*` file 🤔

[2016-12-01 07:55] Strayer commented on #464
I also just updated from the latest version to the beta on macOS Sierra. Can confirm that the app icon is wrong, but otherwise everything is working fine for me! The console only shows some "attachment" messages from messages.coffee:372, no errors.

[2016-12-01 11:09] aPoCoMiLogin commented on #464
Ok did recreate that errors from @joshdick simple try to delete any conversation, after that those errors show up. Login and logout did not fix it, clearing cache too. Looks like there is something up with viewstate.

[2016-12-01 12:14] andreynering opened #465 "Feature Request: CTRL + RETURN to enter a new line"

[2016-12-01 12:30] Silveran commented on #464
Hi, I'm just a fresh user of YakYak, congrats, I already love it...
Just some things, on the notification popup, I have sort of Terminal icon, I dunno if it possible to have the user pic or Yakyak icon (which, I confirm, is not an Y but an atomic representation)
<img width="76" alt="screenshot 2016-12-01 a 13 26 46" src="https://cloud.githubusercontent.com/assets/10518880/20793944/d7886120-b7c9-11

[2016-12-01 13:21] averissimo commented on #465
@andreynering  yakyak uses shift + enter

[2016-12-01 13:53] averissimo commented on #464
for the macOS users: had a bad path to the icon -_- new version in the release with correct icon, sorry about that.

@Silveran in specific, please check if the terminal icon still appears.. that should never happen

@joshdick @aPoCoMiLogin that one was supposed to be fixed in beta4. can you check now?

https://github.com/yakyak/yakyak/releases/v1.4.0-beta4

[2016-12-01 13:56] andreynering commented on #465
Hmm.. Thanks! 👍

[2016-12-01 13:56] #465 closed

[2016-12-01 13:59] aPoCoMiLogin commented on #464
@averissimo working again, grats on fixing it that fast 👏 also both icons are back.

[2016-12-01 14:00] averissimo commented on #464
I'm starting to really dislike OSX ;)

[2016-12-01 14:06] aPoCoMiLogin commented on #464
Well my first day with macbook was with trying to install ubuntu :D so I know that feeling, but I did used to it after few weeks. If you need any help with testing something on OSX just call me and I'll try to do my best!

[2016-12-01 14:29] joshdick commented on #464
@averissimo Re-downloaded as recommended; the app icon is back and the app is working again, but am now seeing the terminal icon in notifications that @Silveran reported.

[2016-12-01 15:28] kwrobel commented on #111
Whatever it is, but we are now in Dec 2016 and what is being described here in this thread is happening again. I can't use YakYak anymore. Same Not Connected, Reconnecting loop. I am on macOS Sierra and YakYak was working up until today.

[2016-12-01 15:30] tonivade commented on #111
Try version 1.4.0-beta4, it works for me!

Kind Regards!

Antonio “Toni” Muñoz

Sent from
https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature

On Thu, 01 Dec 2016 at 16:28 Kay Wrobel

<
mailto:Kay Wrobel <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Whatever it is, but we are now in Dec 2016 and what is being described

[2016-12-01 15:41] Silveran commented on #464
@averissimo I switched the 2 files, it unfortunately didn't change anything
If you need me to test anything on mac OS, just ask me

[2016-12-01 15:53] averissimo commented on #464
@Silveran thanks for the feedback

can you try this to see if the yakyak icon replaces the terminal one?

https://github.com/averissimo/yakyak/releases/tag/test-icon

[2016-12-01 15:58] Silveran commented on #464
@averissimo Yep, I now see Yakyak logo + tiny terminal ;)
<img width="85" alt="screenshot 2016-12-01 a 16 57 08" src="https://cloud.githubusercontent.com/assets/10518880/20800901/5ca4d27c-b7e7-11e6-8039-b1b1a514462f.png">

[2016-12-01 16:26] livia-b commented on #459
I've noticed now that this wouldn't work for phones
"Another important limitation is that the compiled AppX package still contains a win32 executable - and will therefore not run on Xbox, HoloLens, or Phones."

[2016-12-01 16:55] averissimo commented on #459
I'm glad that you like yakyak so much that you'd want it in your phone, but I guess it won't be possible in the near future :(

I'm closing the issue. if there is any change please reopen it :)

[2016-12-01 16:55] #459 closed

[2016-12-01 16:57] averissimo commented on #464
Can you try the new version here?

https://github.com/averissimo/yakyak/releases/tag/test-icon

[2016-12-01 16:58] averissimo commented on #464
it changes the appname to YakYak (not important for this), but also another option in Info.plist that will most likely make a difference (as @davibe pointed out :) )

[2016-12-01 17:01] Silveran commented on #464
@averissimo No more the tiny terminal icon ;)
![test](https://cloud.githubusercontent.com/assets/10518880/20803648/35796ee8-b7f0-11e6-94ae-fe5a35251c82.png)

[2016-12-01 17:02] averissimo commented on #459
by other change I mean "as soon as electron supports other UWP platforms"

I believe that is the only bottleneck at this point (that and having someone following the tutorial)

tutorial: http://electron.atom.io/docs/tutorial/windows-store-guide/

[2016-12-01 17:04] averissimo commented on #464
Hell yeah!!!

I have a question with that screenshot. The Yakyak icon always appeared in the notification in OSX?

[2016-12-01 17:12] Silveran commented on #464
Yes, when I receive a message, the notification popup always has the Yakyak icon as seen in the previous screenshot (no user pic).
The application in the dock pops with a red counter on it and the tray icon icon turns black
<img width="24" alt="screenshot 2016-12-01 a 18 11 24" src="https://cloud.githubusercontent.com/assets/10518880/20804030/a0aabe8c-b7f1-11e6-9882-c0c1b38ec2c2.png">
<img width="

[2016-12-01 17:14] averissimo commented on #464
For what I learned with this so far is that user icons are only possible in osx

other notification systems require a local path, osx can get it from the web

I'm thinking on really quick add the icon to all other os and user avatar in osx (with an option to disable)

what do you think?

[2016-12-01 17:17] Silveran commented on #464
It would be great for us (Mac users) ;)
Hoping other OS will grant the permission too soon
I'll still be there for any further tests, don't hesitate

[2016-12-01 18:04] averissimo commented on #464
@Silveran The binary is updated in the same location

This build should show the image if in fact OSX supports URLS as icons.

The only problem I currently have is that the options are not persistent (if you disable them they will be reset on the next application start)

[2016-12-01 18:08] averissimo opened #466 "Update README with new packaging method"

[2016-12-01 18:09] Silveran commented on #464
Unfortunately, still yakyak icon, not user pic...
I checked the parameter in the options, do I need to do a clean delete of the app ?

[2016-12-01 18:14] averissimo commented on #464
nahh if you replace the icon assignment in the js file is enough

And test it with an user that actually has an image (initials do not work)

Can you test these replacing current icon line with:
[code]

[2016-12-01 18:15] averissimo commented on #464
if this doesn't work I guess support for urls does not really exist :\

that or someone with osx needs to figure this one out :)

[2016-12-01 18:16] Silveran commented on #464
Can you tell me witch js file are you talking about ?

[2016-12-01 18:17] averissimo commented on #464
LoL sorry

`YakYak.app/Contents/Resources/app/ui/views/notifications.js`

[2016-12-01 18:27] Silveran commented on #464
It works !!!
<img width="366" alt="screenshot 2016-12-01 a 19 25 32" src="https://cloud.githubusercontent.com/assets/10518880/20806687/36cb18e4-b7fc-11e6-9409-1699ed2355c2.png">

Congrats !!!!

[2016-12-01 18:54] PratapNaik commented on #111
yep...the new beta version fixes it...

<img width="926" alt="screen shot 2016-12-02 at 12 21 59 am" src="https://cloud.githubusercontent.com/assets/22319227/20807585/968ef894-b825-11e6-9f7d-57ba3d869bcc.png">

[2016-12-01 19:27] DWhartenby commented on #464
Hey Team - Running 64 on Windows10 and yakyak connecting to not connected constantly.  I have reinstalled/rebooted multiple times with yakyak-1.4.0-win32-x64.

[2016-12-01 20:04] kwrobel commented on #466
Any chance of including some build instructions for macOS? I'd like to try this new version 1.4.0 but have no clue how to build it and what the requirements are. I have macports installed and can grab "packages" that way.

[2016-12-01 20:57] averissimo commented on #466
sounds good!!

To get it running you need:

- npm
- node (I use 6.7.0)
- git (to clone the repository)

I think that will be it.

1. clone the repository `git clone https://github.com/yakyak/yakyak.git`
1. `cd yakyak`
1. install modules by running `npm install`
1. `git checkout 1.4.0` checkout 1.4.0 branch that has the new code
1. `npm run gulp` to compile the code to javascripts (it's written in

[2016-12-01 20:59] averissimo commented on #464
@DWhartenby can I ask to open the inspector (menu `YakYak -> Open inspector`) and paste here the contents (you can filter out everything expect errors and warnings)

Please be sure to be running latest beta4 from the releases, link below

https://github.com/yakyak/yakyak/releases/tag/v1.4.0-beta4

[2016-12-01 21:00] averissimo commented on #464
@Silveran YAY!!

Can you filter from the two lines which made it happen? `icon` or `contentImage`

[2016-12-01 21:04] Silveran commented on #464
@averissimo `icon` put the pic on the left and yakyak in tiny mode
`contentImage` let yakyak on the left and profile pic on the right.

I prefer `contentImage` mode

[2016-12-01 21:05] nerijus commented on #464
When trying to build the latest git:
$ npm run gulp

[23:03:50] Requiring external module coffee-script/register
module.js:471
    throw err;
    ^

Error: Cannot find module 'electron-packager'
  at Function.Module._resolveFilename (module.js:469:15)
  at Function.Module._load (module.js:417:25)
  at Module.require (module.js:497:17)
  at require (internal/module.js:20:19)
  at Object.<anonymous>

[2016-12-01 21:06] mwillbanks commented on #464
@nerijus you need to run npm install first. You should just use the binaries on the 1.4.0-beta4 release.

[2016-12-01 21:06] nerijus commented on #464
Yep. that was it, npm install helped.

[2016-12-01 21:10] nerijus commented on #464
On Linux:
$ npm run deploy
...
Packaging app for platform win32 ia32 using electron v1.4.10
Packaging app for platform linux x64 using electron v1.4.10
Packaging app for platform darwin x64 using electron v1.4.10
Packaging app for platform linux ia32 using electron v1.4.10
Packaging app for platform win32 x64 using electron v1.4.10
Code sign failed; please retry manually. Error: Error in finding i

[2016-12-01 21:15] nerijus commented on #464
With latest git on Linux I too get Connecting... Not connected (check connection) constantly changing. What should I paste from inspector?

[2016-12-01 21:28] averissimo commented on #464
If you want to package win32 you need wine

New module that creates binaries has that dependencies :/

`npm run gulp deploy:platform-arch` if you want a particular platform/arch

You need to remove all node_modules called hangupsjs and install it again (the connection fix is there and not in yakyak)

Then make sure init.js inside that library has the following string ds:36

Sometimes I also need t

[2016-12-01 21:30] seeker44 commented on #466
@averissimo I actually grabbed the latest beta build and got it running no problem on Mac OS X Yosemite following the readme instructions for development. Specifically, the following:

With npm and git already installed

1. Downloaded the latest tar.gz
2. Unpacked to desired location (~/Applications, in my case)
3. npm install
4. npm run gulp
5. npm run deploy

The resulting .app package has run f

[2016-12-01 21:31] nerijus commented on #464
I have wine, but no rcedit.exe:
$ wine rcedit.exe
wine: cannot find L"c:\\windows\\system\\rcedit.exe"

$ locate rcedit.exe
(empty)

[2016-12-01 21:34] averissimo commented on #466
@seeker44 my bad then!! Should have checked readme before that reply.

Topic still holds as deployment 'structure' changed and to create win32 binaries wine is a requirement

[2016-12-01 21:35] averissimo commented on #466
And thanks for pointing that out :)

[2016-12-01 21:43] averissimo commented on #464
I have it inside the node_modules

![image](https://cloud.githubusercontent.com/assets/211358/20813814/0bae60fe-b80f-11e6-8062-cb7717c5f800.png)

ps. I was using find . | grep <name of file> to search for files.. this is much better :)

[2016-12-01 21:53] averissimo commented on #74
@jessejoe can you try beta4 please? I promise you this is working

ps. in fact due to this problems we moved to a more robust and predictable method of generating binaries.

[2016-12-01 21:53] nerijus commented on #464
OK, I have node_modules/rcedit/bin/rcedit.exe. But npm run gulp deploy:win32-x64 shows:
Packaging app for platform win32 x64 using electron v1.4.10
Error: Error: rcedit.exe failed with exit code 1. Fatal error: Unable to load file

[2016-12-01 21:54] averissimo commented on #464
both master and 1.4.0 now have as dependency the hangouts module version 1.3.3

npm repository version has been updated :)

please perform a `npm install` with current master/1.4.0 branches (the only difference from 1.4.0 to master is a pending PR that is being tracked in #74)

[2016-12-01 21:56] jessejoe commented on #74
@averissimo actually I noticed the release this morning and have been using it all day. No problems so far!

[2016-12-01 21:56] averissimo commented on #464
can you try something for me?

remove the block below from `gulpfile.coffee`

[code]

[2016-12-01 21:58] nerijus commented on #464
The same - Error: Error: rcedit.exe failed with exit code 1. Fatal error: Unable to load file

[2016-12-01 22:02] averissimo commented on #464
maybe packaging the app like this wasn't the best idea in the world.

what's your version of wine? >= 1.6 ?

[2016-12-01 22:03] nerijus commented on #464
wine-1.9.23-2.fc25.x86_64

[2016-12-01 22:04] averissimo commented on #74
@msphair **if you can give feedback on how it looks in your system** we can close this issue and merge this to master?

[2016-12-01 22:04] averissimo commented on #74
@jessejoe \o/ great!!

[2016-12-01 22:13] averissimo commented on #464
I think someone had your problem here

https://github.com/electron-userland/electron-packager/issues/519#issuecomment-257101172

Can you try to install a 32-bit wine? (maybe rcedit.exe requires 32-bit)

[2016-12-01 22:14] averissimo commented on #464
actually I don't think you need 32-bit wine, just a 32-bit configuration.

I have it by default in my laptop to avoid problems

[2016-12-01 22:16] averissimo commented on #464
https://wiki.archlinux.org/index.php/Wine#WINEARCH

[2016-12-01 22:17] averissimo commented on #464
and it seems like you do have to install it

[2016-12-01 22:18] nerijus commented on #464
My default wine is 32 bit. But I am building win32-x64, so 64 bit wine prefix worked:
WINEPREFIX=~/.wine64 npm run gulp deploy:win32-x64

[2016-12-01 22:21] nerijus commented on #464
But npm run gulp deploy:win32-ia32 still did not work with my wine 32 bit prefix, but worked with 64 and another 32 bit prefix dir. So it was a problem with my default wine prefix, sorry for the false alert.

[2016-12-01 22:26] averissimo commented on #464
no problem, nevertheless this is helpful information!!

And publicly available for the next girl/guy that searches for the error :)

[2016-12-01 22:43] kwrobel commented on #466
Thank you both. I do not have npm installed. So I will do that tomorrow and then follow those instructions. I will give feedback since I am on a newer version of macOS (Sierra) things might still break (slightly).

[2016-12-01 22:54] averissimo commented on #466
@kwrobel feel free to share your experience and don't hesitate on ask for help if you get crazy errors :)

npm actually comes with node.js (my bad)

-----

Just updated the readme: 00584bf3cb639182b00728dff84ebcf0c564731e

closing this issue

[2016-12-01 22:54] #466 closed

[2016-12-01 23:05] averissimo commented on #61
This could be done via using webframe.setSpellProvider

https://github.com/electron/electron/blob/master/docs/api/web-frame.md#webframesetspellcheckproviderlanguage-autocorrectword-provider

tested it with a toy example, which basically showed every word as misspelled.

[code]

Also tried using  `node-spellchecker` but I was getting errors when loading the module.

`Uncaught Error: Module version

[2016-12-02 00:05] averissimo commented on #464
@Silveran can you test this build for the user's image in avatar

@nerijus can you test the build with my branch `feature-notifications-icon-and-sound`

It supports the yakyak image in notifications (linux) and a custom sound being played when the notification system does not support it

(it was bothering me for a while now not having this)

All this is configurable in the view options

[2016-12-02 00:11] Silveran commented on #464
@averissimo works great ;)
<img width="369" alt="screenshot 2016-12-02 a 01 09 56" src="https://cloud.githubusercontent.com/assets/10518880/20818174/49b14e3a-b82c-11e6-9529-b396ce88bc59.png">

[2016-12-02 00:24] averissimo commented on #464
@Silveran Pull request submitted #467

Again! thanks for all the testing :)

[2016-12-02 00:25] Silveran commented on #464
You're welcome ;) Thanks for all your work !

[2016-12-02 00:27] averissimo commented on #405
@ahpatel mute is implemented in pull request #467

[2016-12-02 00:30] Silveran commented on #464
@averissimo Just a new issue, it seems that the tray icon is impossible to activate... When I click on "Show tray icon", nothing happens

[2016-12-02 00:48] averissimo commented on #464
That was working before?

There's a crazy circular logic there :\

Is "Hide Dock Icon" activated?

[2016-12-02 00:57] Silveran commented on #464
Yeah, that was working this morning.
`Hide` doesn't appear, because `Show` doesn't do anything...

I tried to make a fresh install to test, but the release isn't available anymore, can you give it to me again ?

[2016-12-02 01:08] PSiAU opened #468 "No Mac binary release of 1.40"
The Mac binary release of 1.40 is missing.
Would be great if someone could compile it :)

[2016-12-02 01:09] Silveran commented on #464
Ok, I got the release...
Some weird stuffs...

At the first launch this morning, I logged in Gmail and Yakyak launched for the first time.
My contact list opened well but the messages zone was empty.
I was able to avoid this issue (discovered randomly) by selecting `Show seen status in messages`, close and reopen YakYak (my brother had the same issue on his mac).
This morning, Tray icon was ok.

T

[2016-12-02 01:10] averissimo commented on #464
It is available now.

These are the conditions to change Show Tray and Hide Dock Icon

- "Show tray" is only available to change if "Hide Dock Icon" set to false
- "Hide Dock Icon" is only available to change if "Show tray" is set to true

I don't think there's a situation when you can't change both. This crazy logic should work in order to always either have tray or dock or both, but never none o

[2016-12-02 01:23] Silveran commented on #464
I just retested.
Still have weird behaviors...
<img width="257" alt="screenshot 2016-12-02 a 02 19 57" src="https://cloud.githubusercontent.com/assets/10518880/20819625/de5cdd8e-b835-11e6-80e1-8bcbc72e7c29.png">
When I click on `Show tray icon` : Nothing never happens (no tray icon, no change in the menu)
But I clicked on `Hide dock icon` : It was hell !!! Impossible to access the menu, neither cl

[2016-12-02 01:53] averissimo commented on #464
found the problem and I think at one point I changed the wrong function.. the one related with tray :\

Show tray should work as before.

regarding hidedockicon... can't really understand what happened there. It could work as normal since I reverted some code cleanup and now that show tray is corrected

Can you try to have you inspector window open before toggling the "hide dock icon" to see if an

[2016-12-02 01:58] Silveran commented on #464
@averissimo all works fine with your rollback... Tray icon is back and we can hide/show dock easily by tray ;)

[2016-12-02 02:00] averissimo commented on #468
should be up tomorrow :)

beta4 is a nice fallback until 1.4.0-mac is built and uploaded *(no difference between the two releases)*

[2016-12-02 02:03] averissimo commented on #464
@Silveran by the way, the sound that you hear before and after disabling is the same as it was, right?

not the new one for linux and other notification systems that don't support sound notification

link here: https://notificationsounds.com/notification-sounds/you-wouldnt-believe-510

[2016-12-02 02:05] averissimo commented on #464
it's just a simple confirmation, as some innocent changes keep coming back to bite me in the ass

ps. to me the zip sounded nothing like the custom one :)

[2016-12-02 02:05] averissimo commented on #468
other than the 1.4.0 will become the official one :)

[2016-12-02 02:09] PSiAU commented on #468
Awesome! Thanks for the reply Andre!

[2016-12-02 02:12] Silveran commented on #464
Sorry, I've got a new issue...
Looks like the bug at the new install and messages zone down. I just deleted a conversation, and I've got this now :
<img width="947" alt="screenshot 2016-12-02 a 03 06 38" src="https://cloud.githubusercontent.com/assets/10518880/20820610/bf6c9796-b83c-11e6-96d8-6aa741f487e2.png">

Impossible to get messages zone back...
When I try to change the View (hide profile pi

[2016-12-02 02:16] Silveran commented on #464
About the sound, I still have the same weird sound... It looks like a mac system sound named Bottle (hate it).
I still didn't get how to change this sound in YakYak, I'll try to figure out tomorrow ;)

[2016-12-02 02:16] #468 closed

[2016-12-02 02:20] averissimo commented on #464
That's was awesome feedback, master is missing a commit!!

Just to be clear on something, this happened after you deleted a conversation?

(yeah bottle is the default sound, yakyak does not currently allow to have a custom sound, it is either the notification system default or yakyak current one -- if my latest pr is merged)

[2016-12-02 02:23] Silveran commented on #464
I just tried again, same thing, messages zones disappear.
Here the fresh Console log (I just start the app and try to click on some profile pics)
<img width="796" alt="screenshot 2016-12-02 a 03 20 30" src="https://cloud.githubusercontent.com/assets/10518880/20820832/8073ecea-b83e-11e6-9b9f-40641df72c56.png">

Ah, sound seems ok so...
I'd prefer your yakyak sound ;)

[2016-12-02 02:26] Silveran commented on #464
FYI, it seems to get back to normal only by receiving a message and restart the app... (just happened, and I retried several times)

[2016-12-02 02:28] averissimo commented on #464
don't worry about it, it's already fixed.. just uploading it now

man you're really good at catching bugs :)

[2016-12-02 02:29] Silveran commented on #464
And I just did a fresh install to get the initial bug again.
Here's the console log at the first launch of the app (with no message zone)
<img width="793" alt="screenshot 2016-12-02 a 03 28 07" src="https://cloud.githubusercontent.com/assets/10518880/20820990/82bc4e1a-b83f-11e6-88e9-c9ec71410473.png">

[2016-12-02 02:31] Silveran commented on #464
I really enjoy your app, I was looking for it so long ;)
That's why...

So, time to sleep in France, see ya tomorrow

[2016-12-02 02:34] Silveran commented on #464
Well done, it works now perfectly with the last release you just uploaded ;)
Fresh install works fine and I can delete a conversation without any problem...
Great job !!!!

[2016-12-02 02:34] averissimo commented on #464
Not my app! @algesten and @davibe :) I'm just recently developing for it :)

Same problem here in PT ;)

If you want YakYak custom sound, find file named `notifications.js` and replace this line (only version the link you've been using has this)

`playSoundIn = ['WindowsToaster', 'NotificationCenter'];`

by

`playSoundIn = ['WindowsToaster'];`

[2016-12-02 02:35] averissimo commented on #464
yay!! finally sleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeep

[2016-12-02 03:38] PSiAU opened #469 "Pasting multi-line text dumps messes up text input"
When pasting in multi-line text dumps (like log output), the text input area gets messed up.
I'm running v1.4 on a Mac.
To recreate it, paste 28 or more lines worth of text into the text input area. It can even be lines with a single character on it. The more lines past 28 you paste, the messier it gets.
Screenshot attached
![capto_capture 2016-12-02_02-32-35_pm](https://cloud.githubusercontent.co

[2016-12-02 07:32] duckinator opened #470 "Fails to connect."
Earlier today, YakYak was working, then it just said "Not connected" all the time and refuses to reconnect no matter what I do. Including reinstalling it.

I tried updating to 1.3.2 (from https://github.com/yakyak/yakyak/releases/tag/v1.3.2), and it still says the same thing.

Using YakYak 1.3.2 on Windows 10 x64.

(Also, in 1.3.2's yakyak-win32-x64.zip, ./version says "v1.2.5" for some reason? I

[2016-12-02 07:38] PSiAU commented on #470
You need to update to v1.4. Google has changed their hangouts protocol and earlier versions will no longer connect.

[2016-12-02 08:01] mosbror opened #471 "Hangouts logo on splash screen changes size on star up"
This is really a minor bug.
The Hangouts logotype on the splash screen changes size when switching between "Connecting" and "Loading contacts".

[yakyak_ssize.mov.zip](https://github.com/yakyak/yakyak/files/626603/yakyak_ssize.mov.zip)

[2016-12-02 08:07] Silveran commented on #464
By the way, I just changed the sound parameter, and I have now the YakYak notification sound, it's so better than the Bottle ugly sound ;)

[2016-12-02 08:12] nerijus commented on #464
I am working with the latest git. If I run from the source dir npm run electron app, it works, but if I run binary:
A JavaScript error occurred in the main process
Uncaught Exception:
Error: Cannot find module 'hangupsjs'
    at Module._resolveFilename (module.js:455:15)
    at Function.Module._resolveFilename (/path/to/yakyak/dist/yakyak-linux-x64/resources/electron.asar/common/reset-search-paths

[2016-12-02 08:20] nerijus commented on #464
README.md states:
*note:* if you are building *Windows* binaries in *Linux* or *Mac OS X*, Wine (1.6 or higher) must be installed. It also requires a 32-bit Wine installation when building Windows 32-bit binary.

32 bit is not needed IMHO, as I used wine 64 bit prefix successfully.

[2016-12-02 09:19] nerijus commented on #464
After  "npm install" directory node_modules appears.
$ npm run electron app

Error launching app
Unable to find Electron app at /path/to/yakyak/app

Cannot find module '/path/to/yakyak/app'

After "npm run gulp deploy:linux-x64" app directory appears, and node_modules directory in it, but it has only 120 subdirs, while previous (upper) node_modules dir has 459 subdirs.

dist/yakyak-linux-x64 direc

[2016-12-02 09:26] jesusr commented on #470
@PSiAU I am Mac user and there's no 1.4 OS X prebuilt version ;)

[2016-12-02 09:38] PSiAU commented on #470
There is, use the darwin zip for 1.4 beta 4 which is the same as the final 1.4 version which according to Andre should be available tomorrow. I'm using it myself on a Mac and it's working great.

[2016-12-02 10:21] monchote commented on #61
@averissimo My branch worked just fine in macOS and Linux. I never managed to make it compile from Windows. The main downside of using node-spellchecker is that it requires compiling individually for each platform.

[2016-12-02 11:16] iovd commented on #439
I have the same issue on Mint. Alt key does nothing, but Alt+Shift causes left menu opening and selecting first (YakYak) menu entry.

In the same time, SHIFT+Alt works as expected.

I used the latest versions of YakYak and Node.JS.

[2016-12-02 14:16] drewwells commented on #470
built v1.4.0 and put it here

https://bintray.com/drewwells/generic/download_file?file_path=yakyak-osx.app.zip
sha256: 4598c4a318e46cd5aee4b8aff93a994aa6f790543f845f2b425a4dac654f56f5

[2016-12-02 14:32] drewwells commented on #470
Anybody know why there isn't a build from source version of yakyak in homebrew? All I found was a cask which depends on prebuilt os x binaries: https://github.com/caskroom/homebrew-cask/tree/master/Casks

[2016-12-02 15:18] kwrobel commented on #466
Hi. Just reporting back that I have issues getting YakYak to build on my Mac. Here's a paste of the output of the npm build command: http://pastebin.com/9ZLXq4s9

[2016-12-02 16:15] drewwells commented on #470
PR open for a homebrew formula https://github.com/Homebrew/homebrew-core/pull/7477

[2016-12-02 16:36] averissimo commented on #471
it doesn't on linux

cool catch :)

[2016-12-02 16:38] averissimo commented on #242
Reported by @PSiAU

When pasting in multi-line text dumps (like log output), the text input area gets messed up.
I'm running v1.4 on a Mac.
To recreate it, paste 28 or more lines worth of text into the text input area. It can even be lines with a single character on it. The more lines past 28 you paste, the messier it gets.
Screenshot attached
![capto_capture 2016-12-02_02-32-35_pm](https://cloud.

[2016-12-02 16:38] averissimo commented on #469
known bug :(

duplicate of #242

I'm copying your comment there if you don't mind

[2016-12-02 16:38] #469 closed

[2016-12-02 16:39] averissimo commented on #242
@zuccs i'm changing the title a little. Hope you don't mind

[2016-12-02 16:50] averissimo commented on #464
@nerijus

### APP directory

app directory is created with `npm run gulp` or `npm run gulp watch`

It's normal that node_modules has less subdirs, as there are modules only for development, such as `electron-prebuilt`, `electron-packager`, etc.. and their dependencies.

The following sequence of commands worked without problems for me.

[code]

### Hangups

I've had the hangupsjs problem before, n

[2016-12-02 17:00] averissimo commented on #464
@nerijus I'm adding this warning when building windows binaries outside windows, what do you think? :)

It appears only when building windows binaries outside windows

![image](https://cloud.githubusercontent.com/assets/211358/20842779/91369e3e-b8b0-11e6-9f61-254466b9dd39.png)

[2016-12-02 17:02] averissimo commented on #466
don't worry, that's expected... optional libraries that are not really required (they are install as some module might need it)

I have the same output, as should everyone else :)

![image](https://cloud.githubusercontent.com/assets/211358/20842900/12b66a20-b8b1-11e6-8629-96c7e1ae7fe1.png)

[2016-12-02 17:07] kwrobel commented on #466
Thanks. I figured I would not have been able to continue with the other steps had there been serious errors.

[2016-12-02 17:34] averissimo commented on #471
corrected in pull request #472

thanks for reporting 👍

[2016-12-02 17:55] averissimo commented on #471
@mosbror actually, can you test if the fix works?

Find the binary here:

https://github.com/averissimo/yakyak/releases/download/test-icon/yakyak-472-1.4.0-darwin-x64.zip

[2016-12-02 18:30] averissimo commented on #466
@kwrobel if you want to test the pull requests you can open their page via github.com

Click on command line instructions

and pull to the current branch (or create a new branch to test it)

![image](https://cloud.githubusercontent.com/assets/211358/20845496/4cd52726-b8bd-11e6-805e-b1a2d10a487c.png)

Just recently discovered this, I used to do it much more complicated. If you already know this, pl

[2016-12-02 19:09] averissimo commented on #464
regarding the sound, added an option to force custom YakYak sound even if notification system supports it :)

already in pull request #467 :)

(option only appears in systems that already have sound)

![image](https://cloud.githubusercontent.com/assets/211358/20846603/5c911cd8-b8c2-11e6-85cf-31b70036239d.png)

[2016-12-02 19:34] averissimo commented on #471
actually, that can be a result of having a different zoom level set in yakyak

can you confirm that happens if zoom is at 100% (ctrl+0) ?

[2016-12-02 20:39] duckinator commented on #470
thanks @PSiAU.

[2016-12-02 22:20] davibe commented on #470
officially released 1.4.0

[2016-12-02 22:20] #470 closed

[2016-12-02 22:27] averissimo commented on #464
1.4.0 released

[2016-12-02 22:27] #464 closed

[2016-12-02 22:28] averissimo commented on #450
1.4.0 released

[2016-12-02 22:28] #450 closed

[2016-12-02 22:28] averissimo commented on #438
1.4.0 released

[2016-12-02 22:28] #438 closed

[2016-12-02 22:28] averissimo commented on #433
1.4.0 released

[2016-12-02 22:28] #433 closed

[2016-12-02 22:29] averissimo commented on #422
included in 1.4.0 released

[2016-12-02 22:29] #422 closed

[2016-12-02 22:29] averissimo commented on #412
included in 1.4.0 released

[2016-12-02 22:29] #412 closed

[2016-12-02 22:29] averissimo commented on #407
included in 1.4.0 release

[2016-12-02 22:29] #407 closed

[2016-12-02 22:30] averissimo commented on #343
included in 1.4.0 release

[2016-12-02 22:30] #343 closed

[2016-12-02 22:30] averissimo commented on #338
included in 1.4.0 release

[2016-12-02 22:30] #338 closed

[2016-12-02 22:31] averissimo commented on #287
included in 1.4.0 release

[2016-12-02 22:31] #287 closed

[2016-12-03 01:59] Silveran commented on #471
It works well for me with your version, just a little drop of the logo margin-top (not its size),it seems that the "Loading contacts" wording changes its font-size during the splashscreen.

[2016-12-03 02:32] drewwells commented on #470
anybody know why the homebrew formula is emitting a vanilla Electron app?

[code]
This works fine when I do it manually, but I'm getting some kind of electron.app via homebrew.

[2016-12-03 02:52] drewwells commented on #470
the arch targets do not run `gulp`

[2016-12-03 04:09] oitsjustjose opened #473 "[1.4.0] No Notifications?"
So, I literally installed YakYak today for the first time and so far I'm _incredibly_ pleased!! The one thing I can't figure out is why none of the notifications are working. Any thoughts?

Here's what my notifications settings are currently at:

![ss 2016-12-02 at 11 08 03](https://cloud.githubusercontent.com/assets/3887324/20856725/5624bc02-b8e4-11e6-82c2-548f8248b1a3.png)

Any suggestions would

[2016-12-03 06:17] gunslingerfry opened #474 "Can't execute npm run gulp"
[npm-debug.log.txt](https://github.com/yakyak/yakyak/files/628718/npm-debug.log.txt)

Ubuntu 16.10
node 6.9.1
npm 3.10.8
gulp 3.9.1

[2016-12-03 07:05] davibe commented on #474
the txt is not opening ?

[2016-12-03 07:11] davibe commented on #473
maybe your conversation is muted ? can someone else test this on windows ?

[2016-12-03 07:44] davibe opened #475 "Delete conversation does not work when conversation is one-to-one"

[2016-12-03 14:37] oitsjustjose commented on #473
Nope, I checked, all conversations I'm receiving messages on are set to receive notifications.

[2016-12-03 14:59] averissimo commented on #473
Working in Windows 7

![selection_00285](https://cloud.githubusercontent.com/assets/211358/20860138/fad15f88-b968-11e6-8e3b-9afb0732add3.png)

[2016-12-03 15:02] averissimo commented on #473
but from windows 8 and above a different system is used

[2016-12-03 15:05] averissimo commented on #471
i can't fix this blindly, seems like in Mac OS X the relative fonts and margins are changed just after connecting.

Can't reproduce this is linux or windows 7

needs someone to look at this :)

[2016-12-03 15:06] Silveran commented on #471
It's very better than before with your patch, don't worry, it's not important ;)

[2016-12-03 17:24] mosbror commented on #471
I agree with Silverian.

[2016-12-03 19:13] averissimo commented on #471
That's the first thing new users actually see when they try YakYak, should be clean :)

**Can you try this:** https://github.com/averissimo/yakyak/releases/tag/sandbox

[2016-12-03 19:47] davibe commented on #473
so basically node-notifier is not compatible with windows 8+ ?

[2016-12-03 20:10] averissimo commented on #473
It should be, it just uses a different notification system

[2016-12-03 22:12] averissimo commented on #474
Worked for me in a similar system (only diff is i'm using Ubuntu 17.04)

[code]

[2016-12-04 00:03] Silveran commented on #471
@averissimo It works, you rock !!

[2016-12-04 00:17] averissimo commented on #471
PR #477

Thanks for reporting and feedback, closing the issue

[2016-12-04 00:17] #471 closed

[2016-12-04 00:18] averissimo commented on #339
@oasisfleeting deploy should run without problems in Windows environment.

No more bash dependencies :)

[2016-12-04 00:56] averissimo commented on #439
@browseman as I can see you have a dev version working, can you run the command below and see if the problem also happens in the new window?

`npm run electron`  (without the app)

ps. @iovd feel free to do it too if you have the dev environment on your computer

[2016-12-04 02:41] averissimo commented on #456
#476

[2016-12-04 02:41] #456 closed

[2016-12-04 02:43] averissimo commented on #441
solved with icon on #467 (already in 1.4.1)

in case options to hide icon, the notification says (via YakYak) after sender's name

[2016-12-04 02:43] #441 closed

[2016-12-04 07:50] gunslingerfry commented on #474
If it helps, it does not work on my 14.04 box either. It is highly likely this is my fault, but I am very new to node, npm, and gulp.

The text file opens for me.

Here's the content:

[code]

[2016-12-04 12:41] markwoon opened #478 "Option to start yakyak automatically"
I'd live to see an option to start yakyak up automatically when signing into the OS.

[2016-12-04 13:07] iovd commented on #439
Yes, Alt+shift causes the same reaction in the "empty" electron app.

Also, there is a dirty workaround to quick fix that issue: just add a new EMPTY menu entry is src/ui/views/menu.coffee:370, just like that:

`{
            label: 'Workaround'
 }`

This will cause selecting first entry, not opening it, so you can type in the text area free.

[2016-12-04 13:26] averissimo commented on #474
what's the content of your `node_modules` directory? does it have `gulp`

have you done `npm install`?

[2016-12-04 15:18] Silveran opened #480 "Check update option"
Is it possible to have an option to automatically check updates (even prebuilt releases) ?

[2016-12-04 17:09] Silveran opened #481 "Unread messages counter issue"
With the last 1.4.1 prebuilt version on Mac OS Sierra, I got an issue about the number of unread messages.
When I receive one message, the counter shows `20+` over the profile pics in the conversation list.

<img width="29" alt="screenshot 2016-12-04 a 18 08 22" src="https://cloud.githubusercontent.com/assets/10518880/20867804/b7182d6e-ba4c-11e6-903f-8bd4a127d5da.png">

[2016-12-04 17:16] averissimo commented on #481
Known bug, **already solved but not included in the release**, thanks for reporting!!

:)

 see #476

[2016-12-04 17:16] #481 closed

[2016-12-04 17:18] averissimo commented on #480
It already popups an alert message, and the about window also shows if there is a newer version.

This is done only for official releases (pre-releases not included)

[2016-12-04 18:50] jskovtoo commented on #111
How do you install 1.4.0 release version on mac?  It doesn't have a link for osx

[2016-12-04 18:54] averissimo commented on #111
an official version has been released

see here https://github.com/yakyak/yakyak/releases/tag/v1.4.0

[2016-12-04 19:43] notverypc opened #482 "Pre-Built macOS app"
Just wondering why there's not a Pre-Built macOS app available for the current release.
Thanks.

[2016-12-04 22:51] averissimo commented on #87
can anyone test a build with this fixed?

@silveran

reply with operating system

[2016-12-04 22:59] Silveran commented on #87
It works like charm for me on MacOS Sierra

[2016-12-04 23:03] PSiAU commented on #482
There is, it's the darwin binary.

[2016-12-04 23:08] averissimo commented on #87
the implementation is not complete, you only get the seen after the other user interacts or opens the conversation.

doesn't it?

[2016-12-04 23:13] Silveran commented on #87
Just tried it, I confirm what you said.
After launch the app, no read notification before the other open the discussion on his app.

[2016-12-04 23:26] notverypc commented on #482
Why the change?

[2016-12-05 00:11] averissimo commented on #482
we changed packaging method, I didn't realise it was called osx.

I'm changing the method so that in future releases they are called osx :)

thanks for reporting!! :)

[2016-12-05 00:24] averissimo commented on #87
@silveran had problems trying to only show the last conversation seen (instead of all others)

here it is: https://github.com/averissimo/yakyak/releases/tag/sandbox

[2016-12-05 00:36] Silveran commented on #87
I got an issue with the zip, unable to unzip, it gives me an `error 20 - Not a directory`

[2016-12-05 00:48] averissimo commented on #87
sorry, tried to be a smart ass and install the new library manually -_-

uploading now an extractable version

[2016-12-05 00:54] Silveran commented on #87
Seems to work well now
<img width="163" alt="screenshot 2016-12-05 a 01 53 23" src="https://cloud.githubusercontent.com/assets/10518880/20870758/b2ada326-ba8d-11e6-8b97-15c9b3d61ce4.png">

[2016-12-05 01:00] PSiAU opened #485 "Emoji not displaying correctly"
When I try to use this emoji 🙋‍♂️, it shows up as
![capto_capture 2016-12-05_11-58-30_am](https://cloud.githubusercontent.com/assets/2519639/20870801/47b5841c-bae2-11e6-8f53-e8774606a273.png)

Running v1.4.1 on Mac.

[2016-12-05 01:00] averissimo commented on #87
So cool! thanks for testing.

[2016-12-05 01:08] Silveran commented on #485
By the way, is it possible to have smileys 20-30% bigger on mac ?? They look very tiny on retina screens

[2016-12-05 01:18] Silveran commented on #432
I tried, here what I got...

Without modification without unread messages
<img width="34" alt="screenshot 2016-12-05 a 02 14 04" src="https://cloud.githubusercontent.com/assets/10518880/20871000/050db4fa-ba91-11e6-9c76-f5cf6a293edc.png">

Without modification with unread messages
<img width="28" alt="screenshot 2016-12-05 a 02 14 11" src="https://cloud.githubusercontent.com/assets/10518880/2087100

[2016-12-05 03:44] jskovtoo commented on #111
Thanks @averissimo - saw that, but didn't see the osx version - is there a simple way for me to use one of the others - or do they need a conversion of some sort?  I noticed past releases had an osx version.

Thanks

[2016-12-05 03:49] kwrobel commented on #111
@jskovtoo You would have to build it yourself. I just went through the same because 1.4.0 for OSX was not immediately available. You'd need to install npm on your Mac. I installed it through MacPorts (port install npm4). Then follow the build instructions. I'd say be carefor with the last step (deploy) because it will build versions for all platforms. So you'd want to deploy for darwin-x64.

[2016-12-05 03:56] jskovtoo commented on #111
thanks @kwrobel - I'm not super keen on that, since I'm not real technical and wouldn't want to mess things up - is it something where you can pass over the version you built, or I would need to re-do and build my own?  Thx for the help

[2016-12-05 05:30] kwrobel commented on #111
@jskovtoo In that case I'd just stick to the binaries that are being released. I was impatient and wanted to get YakYak working again after my older version went into a reconnect loop. It was suggested to use 1.4.0, but no binary was available. So I built it and it works. Of course, with a little patience (as in a day or so), I could have just downloaded the binary when it was released for macOS.

[2016-12-05 08:19] martin-g commented on #111
Since a while I download the binaries from https://github.com/saenzramiro/rambox/releases.

[2016-12-05 10:07] neojamon commented on #13
+1

[2016-12-05 14:30] davibe commented on #482
for 1.4.0 you can download the version with `*darwin*` in the name

for 1.4.1 we will restore the previous naming convention with `*osx*` in it

[2016-12-05 14:30] #482 closed

[2016-12-05 14:31] davibe commented on #87
this will be available in 1.4.1 (you can test it in the pre-release, or just wait a little bit)

[2016-12-05 14:31] #87 closed

[2016-12-05 16:20] msphair commented on #74
Looks good overall. There's an initial flicker when I switch to a conversation that was broken where it shows the broken image very quickly then overrides with just the initials in the circle.

[2016-12-05 16:53] dsemaya commented on #120
I'm seeing this issue with a work account.

[2016-12-05 17:28] nerijus commented on #464
@averissimo, this works:

$ git fetch origin
$ git checkout origin/master
$ rm -rf app/ node_modules/ dist/
$ npm install
$ npm run gulp && npm run electron app

But if I do npm run gulp deploy:linux-x64 and try to run ./yakyak from dist/yakyak-linux-x64:
A JavaScript error occurred in the main process
Uncaught Exception:
Error: Cannot find module 'hangupsjs'
    at Module._resolveFilename (module

[2016-12-05 17:35] averissimo commented on #464
Do you have the following structure in `./node_modules` AND `./app/node_modules` AND `./dist/yakyak-linux-x64/resources/app/node_modules`

- `hangupsjs`
    - `lib`
        - `client.js`

[2016-12-05 17:38] averissimo commented on #74
Good!!

Still can't figure out why the flikr, but this way it works really well

[2016-12-05 17:40] nerijus commented on #464
First 2 - yes, but there is no node_modules directory in dist/yakyak-linux-x64/resources/app.

[2016-12-05 17:53] nerijus commented on #464
Aha, it works if I run npm run gulp deploy:linux-x64 after npm run gulp.

[2016-12-05 18:05] averissimo commented on #464
it should do everything needed, it has those dependencies so that we never deploy anything without being compiled. (for deploy only there are targets deploy:linux-x64**:nodep**)

It seems as gulp does not wait for dependencies to finish to start packaging, or not all targets wait for asynchronous methods to finish to mark as finish :\

this is a semi-bug that will have to be corrected when gulp 4

[2016-12-05 18:19] averissimo commented on #464
I said "beyond me" because I remember doing this on purpose when refactoring the packaging method and testing it.

**And now I just confirmed that it does not work!!**

I guess at the time I was using gulp4 that does not allow this, before reverting to current 3.9.1

[2016-12-05 18:25] averissimo commented on #464
Can you guys confirm two behaviors I think I have corrected?

@Silveran @nerijus and/or any other person that's interested :)

1. If opened long enough, or a in some scenarios the conversation would scroll up
1. When switching between conversations, messages appear and then seem to move a bit (up or down)

Are you experiencing this?

[2016-12-05 18:44] averissimo commented on #464
**Screencast to better explain 2**

Solution I found was to move conversation down! stick to bottom and grow up (second screencast)

### Without correction:

![outzjdh6sk616](https://cloud.githubusercontent.com/assets/211358/20897342/d8e18b0c-bb19-11e6-97e6-739214cde9bc.gif)

### With correction

![outs4owqy9u5h](https://cloud.githubusercontent.com/assets/211358/20897540/aa59af66-bb1a-11e6-9076-6c

[2016-12-05 18:58] oitsjustjose commented on #473
So 1.4.1 doesn't seem to work either, on neither my laptop nor my desktop. In fact, the notifications don't work for my roommate on 1.4.0 on OS X either - are you supposed to install something else before installing YakYak? I feel like we're missing a dependency, but I've installed NodeJS.

[2016-12-05 19:17] cnshht commented on #449
After several days,  starting yakyak it attempts to auto-connect, fails,  then retries and fails, looping endlessly.  No way to break the loop and re-login.
              Deleted ~/.refreshtoken.txt, no effect.  Deleted ~/.cookies.json, then got login dialog, entered login but then could not connect (same as before.)  Deleted entire  /.config/yakyak dir, no effect, logged in manually, ...no effect

[2016-12-05 19:25] averissimo commented on #464
@nerijus I believe using runSequence #487 will solve the problem you found

Already merged and in master :)

:)

ps. `npm install` should be run first to install new npm module

[2016-12-05 19:31] averissimo opened #488 "Text on messages should be pinned to bottom?"
Noticed two visual bugs

1. If opened long enough, or a in some weird scenarios, the conversation would scroll up
1. When switching between conversations, messages appear and then seem to move a bit (up or down)

Is anyone else experiencing this?

### Screencast for second problem

![outzjdh6sk616](https://cloud.githubusercontent.com/assets/211358/20897342/d8e18b0c-bb19-11e6-97e6-739214cde9bc.gif)

[2016-12-05 19:34] averissimo commented on #449
On December 1st google changed the protocol and all past versions of YakYak are now in this loop.

Have you updated to officially released version 1.4.0 or 1.4.1?

If you already have this version, then can you try to open the DevTools (via YakYak menu or Ctrl+Alt+i) and see if any errors popup (they should be in red)

[2016-12-05 19:41] averissimo commented on #464
@nerijus (again lol)

Hope I didn't step over by submitting the pull request immediately, if you were going to pick this up then I apologize

but this is also the reason why the linux-x64 binaries don't have any node_modules, as this platform/arch is the first to be built!!

[2016-12-05 19:47] averissimo commented on #473
YakYak is self contained, you should only need the binaries.

Can you open the Inspector (via YakYak menu, or Ctrl+Alt+i) and see if there are any errors?

[2016-12-05 19:55] mliq commented on #473
Just want to chime in to confirm notifications work fine for me on OSX 10.11.6, YakYak 1.4.0.

[2016-12-05 19:58] oitsjustjose commented on #473
Not seeing any errors. Unless this is different from Chrome's usual inspector, the Console isn't throwing any errors when receiving a message.

![ss 2016-12-05 at 02 56 50](https://cloud.githubusercontent.com/assets/3887324/20900136/2725c9b4-bafb-11e6-9713-47bdd0b62fde.png)

[2016-12-05 20:20] averissimo commented on #485
we display emoji as they are received, those complex emoji are special sequences that need to be recognized and displayed somehow

tested some libraries but couldn't get that emoji to work with them

[2016-12-05 20:45] nerijus commented on #464
Thank you, it's OK now, `npm install && npm run gulp deploy:linux-x64` builds correct binary.

[2016-12-05 20:59] averissimo commented on #473
No errors :\

I have no clue on what this could be. Can you confirm or test the following?

1 - Open the Inspector, switch for the console tab and write/paste the following:

`require('node-notifier').notify('Something should appear')`

It should create a notification, and please copy here the result.

2 - Are you always using the same account to login?

3- Are the notifications "On" in the webint

[2016-12-05 21:00] averissimo commented on #464
yay!

[2016-12-05 21:06] oitsjustjose commented on #473
No dice

`require('node-notifier').notify('Something should appear')
WindowsToaster {options: Object, domain: null, _events: EventHandlers, _eventsCount: 0, _maxListeners: undefined}Growl: Growl(options)Notification: WindowsToaster(options)NotificationCenter: NotificationCenter(options)NotifySend: NotifySend(options)WindowsBalloon: WindowsBalloon(options)WindowsToaster: WindowsToaster(options)_eve

[2016-12-05 21:15] cnshht commented on #449
Thanks for the heads-up!  1.4.1 (pre-release) creates an empty ~/.config directory and does nothing else, no gui initializes.
1.4.0 worked further: Google login done, then connected after some delay, "loading contacts" appeared, but then there was a blank dialog box, nothing worked, no conversations etc loaded.
I deleted the ~./config dir and tried again:  Logged in w/ Google dialog, then there wa

[2016-12-05 21:19] cnshht commented on #449
If the dev tools can show useful info, let me know navigation to whatever display/view, I could post screenshots or copy-paste txt?

[2016-12-05 22:00] averissimo commented on #473
run:

`require('node-notifier').notify('caca', function(err){console.log('err', err);})`

Can you take a screenshot of the result?

Then run

`new require('node-notifier').WindowsToaster({fallback: true}).notify('caca', function(err){console.log('err', err);})`

**What exactly is you OS?** if windows 10 try:

![image](https://cloud.githubusercontent.com/assets/211358/20904063/d6e335f0-bb35-11e6-97

[2016-12-05 22:07] oitsjustjose commented on #473
Wow. It took me 3 days to figure out what it was.

This is the worst ID10T error I think I've ever had.

I thought you were creating your own notifications, not using the built-in Windows ones. I keep those off normally (now enabled and working fine)....

So yeah. This was completely my fault. Notifications work as intended... just maybe slap this in the README? If I had paid any attention to _how

[2016-12-05 22:07] #473 closed

[2016-12-05 22:12] averissimo commented on #473
LOOOOOOOL

Would this be cool?

![image](https://cloud.githubusercontent.com/assets/211358/20904546/f0328266-bb37-11e6-8197-bfe05589fd42.png)

[2016-12-05 22:13] oitsjustjose commented on #473
That would be perfect.

this.facepalm()

[2016-12-05 22:20] #488 closed

[2016-12-05 22:29] averissimo commented on #449
I'd like ask you to start using the command line and watch if there are any errors appearing, toy example of what to expect:

![image](https://cloud.githubusercontent.com/assets/211358/20904994/e6b5f96e-bb39-11e6-80dd-80cb3620a6ed.png)

It will also show the interaction between yakyak and hangouts server.

[2016-12-05 22:56] averissimo commented on #478
if someone wants to pick this up https://www.npmjs.com/package/auto-launch

[2016-12-05 23:31] LeoAlvarez commented on #13
+1

[2016-12-06 00:27] mrdimfox commented on #211
It will be so awesome if you make something with disgusting titlebar in Windows! Completely removing it will be the best option. Something like in Discord. You can use some separated settings screen instead of using menu bar. I hope it will be done someday cause now it is so ugly...

[2016-12-06 02:32] averissimo commented on #211
@mrdimfox there was a regression on feeabb4c98bbecae8efdf7cfa8a7880501ae815e and the menu stop being hidden.

Already corrected and it is already in master branch  #489

[2016-12-06 03:44] cnshht commented on #449
ok, I'm ignorant so it took me a while to add the right dir to my PATH, I'm thinking I should have just put a softlink in /usr/bin instead.  I'll try that next... but here's the terminal output on the first try, it took a couple mins but did end up connecting and loading data:
![yakyak-slow-connect](https://cloud.githubusercontent.com/assets/23747566/20912284/4e7cb504-bb3c-11e6-9a33-710e8ab73a72.j

[2016-12-06 04:50] cnshht commented on #449
I have discovered and reproduced something: if I start yakyak, the gui window pops up, with the "connecting..." animation, and it will sit there and not connect *unless I do a MOUSEOVER on the window.*  The instant I roll the mouse-pointer over the window, there is an error-connecting response in the terminal window and attempted reconnect if it has been a while since the gui window appeared.  IF

[2016-12-06 13:59] l00mi opened #490 "Feature Request: Allow to drag-and-drop images from browser."
The drop event seems already to arrive. It contains a html snippet with the link to the image, if not mistaken. The image needs to be loaded and provided to Hangout similar to the local ones.

[2016-12-06 14:46] averissimo commented on #449
this is reaaaaaaaaaaaaally strange to say the least, because as far as I know there's no requirement for mouse overs or clicking anything. I can't reproduce in unity, gnome or xfce :\

**but with this that you discovered, are you able to connect and using yakyak?**

with this appearing you should:

![image](https://cloud.githubusercontent.com/assets/211358/20929234/27f83e96-bbc1-11e6-8ae1-b6661d4c

[2016-12-06 14:49] averissimo commented on #490
this is the line that should read it if someone wants to pick this up

`element.src = clipboard.readImage().toDataURL()`

https://github.com/yakyak/yakyak/blob/master/src/ui/dispatcher.coffee#L259

[2016-12-06 14:57] averissimo commented on #211
@mrdimfox can you try to install 1.4.1 pre-release, it has been updated and does not show menu anymore

you have to click on the 3 stacked lines to show menus :)

[2016-12-06 17:08] Diorik opened #491 "Feature Request: Allow Option to Specify Network Device"
I use "ForceBindIP" on several applications so that I can use them from within a work environment, by forcing those apps to use our less restricted WiFi. However, because of how YakYak uses child processes, this isn't a viable work around.

It would be extremely helpful if the app allowed either at the command line an IP address for the preferred socket binding, or even as a post launch configurat

[2016-12-06 18:36] catskull commented on #264
I am also having this issue. I was able to install and use it just fine until about a week ago.

[2016-12-06 18:39] mrdimfox commented on #211
Yes, thanks. That's good. But I said about title bar. See in screenshot below with red border.

<img src="https://cloud.githubusercontent.com/assets/5342162/20938241/4e635cca-bbfb-11e6-8a52-e4ccc2a1d44f.jpg" width="80">

And Discord here (have no any title bar):
<img src="https://cloud.githubusercontent.com/assets/5342162/20938317/aaab18b0-bbfb-11e6-96f3-22a3986e48ba.png" width="80">

For Discord

[2016-12-06 19:26] hmistry opened #492 "Requires high perf GPU on MBP which drains battery faster"
I tried this app v1.4.0 and discovered it requires the high performance GPU on my MBP (OS X El Capitan). I think requiring high performance GPU for a chat app is excessive and an unnecessary battery drain when I'm on the go.

Please see if you can avoid this requirement so we can enjoy your app without the high penalty of battery life. Try to take advantage of app nap and other power saving things

[2016-12-06 19:30] norbitheeviljester opened #493 "Feature Request: option to bring window to front when new message arrives"
Hi,
it would be great if yakyak had a feature that allows it to come to the front of the screen (come into focus) whenever a message arrives.
Rationale:
I usually work on 3 monitors which makes it quite easy to miss notifications of incoming messages. I would prefer the client to pop up in front of my face so that I see the messages as soon as they arrive.

[2016-12-06 19:34] cnshht commented on #449
Hi André,   I'm sorry... everything I wrote yesterday was true at the time.  But today, the app behavior changed.  I have the habit of installing system updates, maybe that had something to do with it; there have been relatively more of them just recently.  I wanted to set up a screenshot with various system-identifying info visible... The first time I ran yakyak from a terminal, it was just like

[2016-12-06 22:56] averissimo commented on #264
@catskull On december 1st google changed the protocol. You need to update to 1.4.0 or 1.4.1 to get it back working

[2016-12-07 05:01] catskull commented on #264
@averissimo Thanks! I install with brew cask, should that have the latest version?

[2016-12-07 07:19] davibe commented on #264
@catskull you can use brew cask commands to see which version it is going to install (seems 1.4.0).
I don't remember who is maintaining the cask package :)

[2016-12-07 08:58] Quezako opened #494 "Integrate video calls in app"
Hello,

Very nice app here!
But when I join a video call with 8+ people, Chrome starts to slow my system down.
It would be great to have an in app video call, instead of html5 video, which uses much RAM and CPU.

[2016-12-07 11:28] rwcee opened #495 "Every message in group chat shows icon of those who have seen the message"
*OS*: OSX 10.11.6
*Build*: YakYak v1.4.1

*Issue Screenshot*:
<img width="703" alt="screen shot 2016-12-07 at 6 26 11 am" src="https://cloud.githubusercontent.com/assets/847332/20965963/1daabfe2-bc46-11e6-818b-8be87152adae.png">

*Expected Behavior*: Only show user icon on message that which was most recently seen.

[2016-12-07 13:17] davibe commented on #492
@hmistry does chrome browser require gpu too ?

[2016-12-07 14:56] averissimo opened #496 "User's initials with colors (instead of gray)"
![image](https://cloud.githubusercontent.com/assets/211358/20972681/976c31b6-bc8d-11e6-8d70-6cde839ceff9.png)

[2016-12-07 14:58] averissimo commented on #496
will be tracked in a branch called `feature-ui-pretiffy`

[2016-12-07 15:00] averissimo commented on #495
Yeah, it's not very optimized, we've tried to show only last one, but it was buggy and reverted to this one.

You can track development on this on my branch called `feature-ui-pretiffy`

[2016-12-07 15:33] averissimo commented on #495
If someone knows how to get (via css) the last element of a certain type over the document then that would be really nice :)

:last-chid and :last-of-type only work with same parent. The structure so far is something like this. And we need to capture last `.seen`

[code]

Closest solution so far was searching for last one after DOM is generated and only show that one.

But as we scroll back histor

[2016-12-07 16:02] Silveran commented on #492
Here for me on Sierra (Macbook Pro 2016)
<img width="259" alt="screenshot 2016-12-07 a 17 01 49" src="https://cloud.githubusercontent.com/assets/10518880/20975184/f37d0186-bc9e-11e6-91ac-7b34687ffaee.png">

[2016-12-07 16:27] gunslingerfry commented on #474
I was getting the same type of message on my 14.04 box a week or so ago but cloning clean today I get an error in the build of `bufferutil` and `utf-8-validate` yet it still runs fine. I'll try cloning clean again on my 16.10 box this evening. I'm mostly convinced the original issue is something stupid I did.

[code]

[2016-12-07 16:34] hmistry commented on #492
@davibe Chrome doesn't. The only time Chrome I've seen requires the dedicated GPU is if you visit google maps page, but once you close the tab, its switches back to the integrated GPU. Safari does this too.

@Silveran Does your machine have the Radeon GPU along with the Intel 550? If it doesn't, then you won't see the switching.

[2016-12-07 17:15] averissimo commented on #474
`bufferutil` and `utf-8-validate` are expected to fail when compiling and (as far as I know) are optional packages from some dependencies

Everytime I run npm install I get this (with a lot of compile error above)

![image](https://cloud.githubusercontent.com/assets/211358/20978394/a9cfcfb2-bca0-11e6-88a9-7d4b0f5fe1ca.png)

[2016-12-07 17:16] davibe commented on #493
Sounds VERY aggressive. I would never use it for sure :P

[2016-12-07 17:19] davibe commented on #494
IT would be the same since yakyak is an electron app and electron is an app container based on chrome itself.

[2016-12-07 17:19] #494 closed

[2016-12-07 17:19] davibe commented on #496
haha you're really having fun

[2016-12-07 17:24] Silveran commented on #492
@hmistry it's the 13", only one GPU

[2016-12-07 17:58] norbitheeviljester commented on #493
I'm not saying it should be on by default but I do believe it is a useful
feature. I know it has been implemented in other im clients often. From the
top of my memory Yahoo messenger and pidgin.
It's a feature that is most useful for clients that spawn a window per
conversation but it has its usage here too.
I tested yakyak on Ubuntu with unity and Linux mint with cinnamon. On both
these os the no

[2016-12-07 18:13] gunslingerfry commented on #474
Ah ok. Glad to see that. Thanks!

[2016-12-07 18:51] averissimo commented on #493
The tray icon turns from gray to green when there are unread messages. (if you activate the tray option)

![image](https://cloud.githubusercontent.com/assets/211358/20981013/c55d9188-bcaa-11e6-8886-027d5876a2c2.png)

![image](https://cloud.githubusercontent.com/assets/211358/20981018/c7a2fbf4-bcaa-11e6-97c6-42d1ce557d98.png)

[2016-12-07 18:54] averissimo commented on #493
but something as you said would be easily implemented.

Adding a persistent option and checking it when a new message appears to see if window should be focus.

If you want help implementing this I can give some pointers where stuff is :)

[2016-12-08 04:16] catskull commented on #264
Okay, looks like cask installs 1.2.5 for me. I'll just download the release!

[2016-12-08 04:32] ocnios opened #497 "ElemetaryOS Loki - Does Not Run"
EDIT: 64bit version worked once I did a --reinstall of libxtst6

Wasn't able to tar -xvf then cd and run ./yakyak
I got a few messages about missing libraries I was able to apt-get and fix but now I'm stuck on this.

ocnios@OCNIOS-VIZIO:/Downloads/yakyak-linux-ia32$ ./yakyak
./yakyak: error while loading shared libraries: libXtst.so.6: cannot open shared object file: No such file or directory
ocni

[2016-12-08 05:31] #497 closed

[2016-12-08 13:32] averissimo commented on #497
@ocnios the requirements to run the framework we use are here:

https://github.com/electron/brightray/blob/master/brightray.gyp#L4

[2016-12-08 13:33] averissimo commented on #497
from this comment: https://github.com/electron/electron/issues/6945#issuecomment-241968955

[2016-12-08 14:20] averissimo commented on #496
merged

[2016-12-08 14:20] #496 closed

[2016-12-08 15:22] Feichtmeier opened #498 "Where is the call button?"
Awesome update! Runs very well now on Ubuntu Linux 16.04.1 4.4 Kernel
But where is the call button?

[2016-12-08 17:07] averissimo commented on #495
@davibe is the man!! solution has been merged to master branch (not yet in any of the releases)

In case there's a newer message from the other party, his 'seen avatar' is NOT shown (as it would be below his own message)

![image](https://cloud.githubusercontent.com/assets/211358/21019356/125cc22a-bd68-11e6-8dbf-973cf05e52e4.png)

[2016-12-08 18:18] psouza4 commented on #104
Can we re-open this?  It's still an ongoing issue.

[2016-12-09 05:54] ocnios commented on #497
I got it running, but thank you! I love YakYak, just wish there were some better color themes.

[2016-12-09 10:22] nerijus opened #502 "copy/paste of links does not work"
On Linux if I press right mouse button on the received link and choose Copy, it does not get copied to the clipboard - I cannot paste it with neither Ctrl+V nor Shift+Ins nor middle mouse click.

[2016-12-09 15:03] averissimo commented on #497
@ocnios You can create them yourself ;)

if you want to try to create a new schema I can give some tips:

**The best way to iterate is to do it in the open app directly**: Start by opening the Inspector and find in the sources tab. There find `app.css`

![image](https://cloud.githubusercontent.com/assets/211358/21052997/70dbb100-be1f-11e6-9a5d-b2581c212e0a.png)

Inside the `app.css` file, find: `h

[2016-12-09 15:14] averissimo commented on #502
yes, I think the context menu is only registered for the selection.

That'd be a cool enhancement

[2016-12-09 15:45] nerijus commented on #502
https://github.com/sindresorhus/electron-context-menu could something from here be used? It has Copy Link.

[2016-12-09 17:35] averissimo commented on #502
yeah it works really nice :)

the one I don't like is that it hides copy/cut/paste when randomly clicking in the message pane.

it should grey out the options if not selected as it does with the input

![image](https://cloud.githubusercontent.com/assets/211358/21058435/d72bc06a-be35-11e6-8606-e36c7537ee08.png)

![image](https://cloud.githubusercontent.com/assets/211358/21058439/da7aec28-be35-11e6-

[2016-12-09 17:36] averissimo commented on #502
![image](https://cloud.githubusercontent.com/assets/211358/21058476/02623142-be36-11e6-8bc6-b71b5d4bd886.png)

[2016-12-09 17:56] nerijus commented on #502
Could you please share your changes?

[2016-12-09 20:57] averissimo commented on #502
on my fork under branch `feature-context`

**TODO:**

- [ ] needs to update overall paste behaviour to always paste to message-input

I modified paste, so that when in a conversation, it pastes the content to the message-input.. which is where we want to paste. Still has some duplicate code for paste so that needs to be cleaned.

**In the end I didn't like the module,** as we couldn't rewrite some

[2016-12-09 21:03] averissimo commented on #502
ps. "save" image and "copy link" need to be tested in Mac OS X

[2016-12-09 23:02] nerijus commented on #502
We don't have to use module, just Copy link is enough for me :)

[2016-12-09 23:24] nerijus commented on #502
Thanks, your branch feature-context is good for me!
Just src/ui/views/contextmenu.coffee has line
contextMenu = require('electron-context-menu')
If I comment it out, it runs.

[2016-12-09 23:27] averissimo commented on #502
oops, correcting it, but should work fine

[2016-12-10 13:13] davibe commented on #264
thank you

[2016-12-10 13:13] #264 closed

[2016-12-10 15:34] averissimo commented on #502
submited pull request #503

[2016-12-10 15:34] #502 closed

[2016-12-10 15:35] averissimo commented on #498
No call button, this a chat messaging application :)

[2016-12-10 17:52] averissimo commented on #332
Initial support in fork `i18n-multilanguae`

**Volunteers can start with translations**

Just copy the english template -- 'src/locales/en.json' -- and just add a new file to that folder.

ex: 'fr.json' or 'cs.json' :wink: :wink: @Fredouye @kecinzer

*Template:* https://github.com/yakyak/yakyak/blob/i18n-multilanguage/src/locales/en.json

**TODO:** non-blocking though

- [ ] Take better advantage

[2016-12-10 18:51] averissimo commented on #332
Preview with portuguese

![image](https://cloud.githubusercontent.com/assets/211358/21075415/95eb9204-bf09-11e6-98eb-fbc5842a978e.png)

[2016-12-10 20:04] Fredouye commented on #332
Hi André

here's a french translation :)

http://pastebin.com/sQu5ThVF

[2016-12-10 20:53] Feichtmeier commented on #498
Oh that is sad. It would be enough to have a Button Which opens a Hangout in Chrome :/ can't you add that?

[2016-12-10 20:57] averissimo commented on #332
Woa!! That was fast

Two additional things:

1. Can you add the additonal translations below? (for the about-window)
1. Do you want to test this branch -- to see if any string is missing and fine tune some of the translation?
    - Can you build it yourself or do you need a binary?

[code]

[2016-12-11 11:38] rwcee commented on #495
@davibe @averissimo :: Awesome! Thank you for the incredible turn-around time. Looking forward to this going out in the newest release!

[2016-12-11 15:10] Fredouye commented on #332
Hi André

updated French translation : http://pastebin.com/BVqq3qUg

[2016-12-11 15:15] PSiAU opened #505 "Names of people in hangouts overlap the dots in top right"
Hangouts with a lot of participants causes the names to run into the three vertical dots in the top right.
Running v1.4.1 on macOS 10.12.1

[2016-12-11 16:47] averissimo commented on #332
@Fredouye I'm uploading new binaries in the 1.4.1 pre-release that have the Language support, they should be all there in about 15minutes

They have a different name `yakyak-1.4.1-i18n-experimental-...`

Please try it and see if there is any missing translation or weird behaviour :)

[2016-12-11 17:09] Fredouye commented on #332
I'm testing this pre-release 1.4.1 on macOS 12.12.1 right now :)

One thing I've noticed : in the Edit menu, cut/copy/paste are translated in French, but not if I right click in a conversation (they're still in English).

And a small typo, line 85 :

--- fr.json.txt.bak	2016-12-11 18:07:51.000000000 +0100
+++ fr.json.txt	2016-12-11 18:08:42.000000000 +0100
@@ -82,7 +82,7 @@
             "redo": "R

[2016-12-11 17:14] Fredouye commented on #332
Another small issue, reproductible in French and English : View -> Pop-Up Notification -> menu.view.notification.custom is displayed (instead of "Use YakYak custom sound for notifications"", I guess).

[2016-12-11 17:48] averissimo commented on #332
updated the osx release. it should be fixed

[2016-12-11 18:15] Fredouye commented on #332
Yes, you even corrected my typo :)

So far, no issue encountered.

[2016-12-11 20:02] averissimo commented on #449
Dude!! I got the same behavior yesterday!!

As you said, it hangs on "Connecting" and when mouse hoovers the window that error appears.

[2016-12-11 21:56] cnshht commented on #449
So at least now it seems like I'm not just making stuff up!  Meanwhile, Last 2 times I've started it, it's connected/loaded everything *without* any triggering mouse/keyboard event.  There was another kernel update within the last 24 hours from my distro (OpenSuSE).  Maybe it actually is some kind of kernel-related thing.  Keep an eye on your updates and see if it resolves by itself on your system

[2016-12-12 07:27] davibe commented on #498
when there is an incoming call we suggest to open chrome by givin the user a link se we could do the same for "call". I think. It's "just" a matter of figuring out the link and see where to put the button.

[2016-12-12 07:31] davibe commented on #495
;)

[2016-12-12 07:31] #495 closed

[2016-12-12 07:34] davibe commented on #505
if you can, please, attach a screenshot

[2016-12-12 09:26] sinisadruzeta opened #506 "yakyak.exe reported as trojan in Windows Defender (win10)"
It started happening since YakYak  v1.4.1 (maaaybe the one before, not sure) version. Windows Defender report is below.

Category: Trojan
Description: This program is dangerous and executes commands from an attacker.
Recommended action: Remove this software immediately.
Items:
file:C:\Apps\YakYak\yakyak.exe
Get more information about this item online. -> [https://www.microsoft.com/security/portal/

[2016-12-12 11:32] PSiAU commented on #505
Here it is, although i've blurred out the names.

![capto_capture 2016-12-12_01-56-02_am](https://cloud.githubusercontent.com/assets/2519639/21097866/c380b660-c0ba-11e6-8293-9b2164b2d71e.png)

[2016-12-12 11:46] averissimo commented on #505
![image](https://cloud.githubusercontent.com/assets/211358/21098322/902900a6-c060-11e6-8faf-cbe4fe3f1924.png)

[2016-12-12 11:47] averissimo commented on #506
Thanks for reporting, are you installing it from github yakyak/yakyak?

[2016-12-12 12:40] nerijus opened #507 "Support building Flatpak application bundles"
Could you please add support for building Flatpak application bundles? Like it was done https://github.com/Microsoft/vscode/pull/16169

[2016-12-12 12:47] sinisadruzeta commented on #506
Yes, I downloaded it from [https://github.com/yakyak/yakyak/releases](https://github.com/yakyak/yakyak/releases).

[2016-12-12 13:23] averissimo commented on #332
@Fredouye @davibe and anyone else that wants to weight in on this :)

what do you think would be better for the english default?

1. directly in the app (ex: `i18n.__('path.to.foo:Default string here in english for Foo')`)
1. via locale file and keep only paths in app (ex: `i18n.__('path.to.foo')`)
    - contents of en.json:

[code]

[2016-12-12 14:36] averissimo commented on #506
As far as I know, YakYak should only communicate with the outside for two reasons

1. hangouts server via hangupsjs module to get data.
1. and with github.com to find the lastest released version.

`yakyak.exe` itself is the executable from electron (the framework we use to build the app)

**does windows defender also detects the same trojan with other electron-based apps?** (if you have any insta

[2016-12-12 14:45] averissimo commented on #506
if you don't have any other app install can you try electron barebones

official release in link below:

https://github.com/electron/electron/releases/download/v1.4.10/electron-v1.4.10-win32-x64.zip

[2016-12-12 15:08] davibe commented on #506
This is very funny :D

[2016-12-12 21:59] vnaylon opened #508 "Conversation switching keyboard shortcuts incorrectly displayed in OS X"
In v1.4.1, the OS X shortcuts shown in the View menu for "Previous Conversation" and "Next Conversation" are incorrect.

Because the shortcut is Command-up or Command-down, I’d expect to see up and down arrows in the menu.

Instead, the menu shows the symbol for Tab, which would lead users to believe the correct shortcut for switching conversations is Shift-Command-Tab or Command-Tab (which in OS

[2016-12-13 08:55] l00mi commented on #176
There is a cask for this

`brew cask install yakyak`

[2016-12-13 14:10] averissimo commented on #508
@vnaylon does the (Shift+)Command+Tab work? I guess this is the official shortcut as it is the one that is visible :)

The other shortcut is defined directly in the code (`input.coffe`), no idea why this is being done in 2 places

I guess being a hidden shortcut is not good UI policy, maybe we should converge to just a single one that's advertised in the menu. thoughts @davibe, @vnaylon ?

![image

[2016-12-13 18:20] pablocruz23 opened #511 "YakYak suddenly unable to connect"
A couple weeks ago, Yakyak stopped connecting with my Gmail account. Nothing changed with the account. Now, there's a message in the upper right that switches between "Connecting" and "Not Connected." The rest of the screen is blank. There are no options available anywhere in the UI to do anything about this problem.

I tried deleting Yakyak and reinstalling it, but that made no difference.

[2016-12-13 18:50] averissimo commented on #511
@pablocruz23 Have you reinstalled using 1.4.0 or 1.4.1 pre-release?

They are the only versions working since December 1st, when google changed the protocol

[2016-12-13 19:00] pablocruz23 commented on #511
Excellent, thanks for the heads-up. I've downloaded 1.4.0 and now it's working again!

[2016-12-13 19:00] #511 closed

[2016-12-13 19:09] averissimo commented on #507
Sounds like a good idea, needs someone to pick this up

[2016-12-13 19:20] averissimo commented on #491
I guess this should be done in https://github.com/yakyak/hangupsjs which is the library that actually connects to hangouts

and then the change should be propagated to YakYak so it's configurable

ps. YakYak runs on javascript (not java) ;)

[2016-12-13 19:25] averissimo commented on #475
wasn't this solved at the time by #476 ?

[2016-12-13 20:18] davibe commented on #475
yes you did it

[2016-12-13 20:18] #475 closed

[2016-12-13 20:40] sinisadruzeta commented on #506
OK, I've tried installing electron and scanning again both electron and yakyak and now Windows Defender had no problem with them. Could be that Windows Defender updated its malware definitions in the meantime, or just that it does not work consistently. :)

I think we can say that the problem has gone away. For now. :)

[2016-12-13 21:21] averissimo commented on #506
LoL nice to hear :)

if it happens again, try using the electron app to see if it also pops up, or is yakyak specific, but hopefully never again ^^

I'm closing the issue, thanks for reporting and the feedback

[2016-12-13 21:21] #506 closed

[2016-12-13 23:54] faxe78 commented on #492
i see the same on the new mbp 2016 15 inch. there are two yakyak helper processes one of them has a higher energy impact.

as long as the window is open, also open in the background, there is a high energy impact, if i minimize the window the yakyak helper process goes most of the time to zero.

[2016-12-14 07:29] AndrewJDR commented on #232
Is this a restriction of hangupsjs? Should an issue be logged there as well?

[2016-12-14 10:58] browseman commented on #439
@averissimo - I'm unable to build the latest version from Master, here is the error what I have:
http://pastebin.com/4k88RQdk

[2016-12-14 11:50] averissimo commented on #439
can you try using node v6? I think your version is too old for some of our modules (v0.10.29)

plus, the new `electron` dependency *(replacing `electron-prebuilt` that was deprecated)* requires an newer node version

![image](https://cloud.githubusercontent.com/assets/211358/21180979/86305920-c1f3-11e6-8925-a0588d57eb66.png)

[2016-12-14 11:53] averissimo commented on #232
**We need someone that uses hangouts with sms to debug and find why**

it could be a problem with the library, or maybe the name and photo have a different structure with this type of contact

if someone wants to pick this up I can help showing in which data structures to look

[2016-12-14 13:32] browseman commented on #439
I've manage to update the nodejs to v6. This time the recompile was successful. I've tried to execute:
npm run electron (without the app)

but the problem with alt+shift is persisting to exist. I will try the patch/workaround of iovd.

[2016-12-14 13:49] browseman commented on #439
@averissimo + @iovd

[2016-12-14 14:20] solocommand commented on #106
@davibe Was there a resolution for this? I'm seeing the same problem with v1.4.1 on OSX

[2016-12-14 14:58] AndrewJDR commented on #232
@averissimo Sure, if you want to tell me what to look for (what exact commands to run, what data to look for, etc) I'll try to help.

[2016-12-14 17:22] davibe commented on #492
My last commit avoids using the Gpu. I need confirmation by someone who has GPU because i don't. I don't know if it's because of my commit or because of upgrading to electron 1.4.12 but the background "Yakyak Helper" process went from 10% to 3% CPU in my latest test.

[2016-12-14 17:43] davibe commented on #106
are you sure you re-downloaded packages ? what do you do to make this happen ?

[2016-12-14 19:09] hmistry commented on #492
Tried but running gulp fails. See error below:

[code]

[2016-12-14 19:25] faxe78 commented on #492
it is not using the gpu, it using a lot of battery in general as long as the window is not minimised. it seems like the open window keeps refreshing itself maybe more often then necessary?

[2016-12-14 19:29] averissimo commented on #232
@AndrewJDR this should require having a development version of yakyak and some skills to pursue stuff if this first approach does not do it :)

__First__ go to `src/ui/views/convlist.coffee` and add the line in bold below line 38, using the same indentation as the line above.

__`console.log 'Drawing ' + nameof(entity[p.id]) + '\'s avatar', entity[p.id]`__

This is how it should look (with a lot m

[2016-12-14 19:32] averissimo commented on #492
@hmistry you need node v4 or above _(v6 works fine with me)_ for running yakyak since we moved to new packager (you're using v0.12)

[2016-12-14 20:01] hmistry commented on #492
@averissimo that's the first thing I thought and upgraded node using brew but it still showed as 0.12 when I do `node --version`. If I do `brew info node`, I see version 7.2.1. Do you know what's going on?

[2016-12-14 20:33] solocommand commented on #106
@davibe This is with the OSX binary from the 1.4.1 release. Setting up new computer, haven't had a chance to get a working build environment yet :) I can try and build from source when I get a chance, or I can submit a separate ticket for with the error from the console with the release executable

[2016-12-14 21:00] averissimo commented on #492
@faxe78 i think the initial report was about using the gpu, it would be good to see if that was corrected with @davibe 's commit

about the window refreshing, it really does a lot, i count about 46 in #513 up to when the normal interface appears

@hmistry sorry, not a mac user, can't help you there

[2016-12-14 21:37] davibe commented on #492
@faxe78 the window is not refreshing, it is not redrawing at all. The process that uses sometimes more cpu is not the renderer process.

[2016-12-14 22:39] davibe commented on #492
I think i found the reason. It's an infinite css animation. Tomorrow I will check how to make it right :)

[2016-12-14 22:54] faxe78 commented on #492
@averissimo for me it is corrected i don't see it gpu usage on the mbp 2016

@davibe sounds great a big thx.

[2016-12-15 03:15] hmistry commented on #492
@davibe I confirmed its not using the dedicated GPU.

I saw you disabled the HW GPU acceleration which works though I wonder if there's a middle ground where you use the HW GPU acceleration but not the dedicated one. This way you get smooth scrolling with low cpu usage without the dGPU power drain. I suspect that certain css animations (thinking 3d transforms) or webGL/openGL or some library might

[2016-12-15 04:03] AndrewJDR commented on #232
@averissimo I sent you an email privately with the screenshots.

I would say the news is not good -- the display name is not contained in any of the members that I can see.

Furthermore, I wanted to mention an observation I made:
When loading the contact list in google hangouts using gmail, I noticed that the contact name doesn't show up immediately. First, it shows the phone number for a fraction

[2016-12-15 04:07] AndrewJDR commented on #232
Google contact api info is here:
https://developers.google.com/google-apps/contacts/v3/
I'm in a timecrunch now so code-wise, I won't be embarking on this project myself, but I *can* continue to provide data/information, so let me know if I can help you in that department.

[2016-12-15 04:59] AndrewJDR commented on #232
Btw, something like this could potentially be used - https://github.com/olalonde/Google-Contacts

[2016-12-15 06:53] davibe commented on #492
@hmistry try to fetch my last commit, then remove the line that disables hardware accelleration and see if you're happy with it. I am testing too.

- I can see while scrolling that using hw acceleration produces slightly lower cpu usage
- When idling with the window in the foreground i get 0% usage
- I don't have a dedicated GPU, just the intel one so i don't know if something else still triggers

[2016-12-15 07:25] davibe commented on #106
1.4.1 is a pre-release and even if the number remains the same we update the binaries every few days until it becomes stable. That's why i was asking.

I can't reproduce the issue at the moment.

[2016-12-15 07:31] hmistry commented on #492
@davibe Done. Here is my findings:
1. I don't remember what my CPU usage was before the animation fix but its low enough to ignore.
2. It's uses the integrated GPU which is good.
3. I commented out the disable hardware acceleration and it caused the dedicated GPU to turn on.
4. One caveat to 3 above, is if the sign in to google account is displayed, it uses the integrated GPU whether I just opened

[2016-12-15 07:44] davibe commented on #492
@hmistry can you quantify the battery life impact of dGPU ? you can inspect amperage in System Information, or just wait a bit and see the estimated discharge time.

Since I don't have dGPU it's very difficult for me to debug this. If i had it i would probably try to comment out css rules until i find the source of problems.

Atom is not all that different. Of course they are not doing it in their

[2016-12-15 13:59] solocommand commented on #106
@davibe I was able to reproduce it. I get the following error when logging in with a Google Apps account:
[code]

Logging in with my gmail account worked fine.

[2016-12-15 16:37] AndrewJDR commented on #257
This is a dupe of #232

[2016-12-15 16:59] averissimo commented on #232
Using the google contacts api could be a nice alternative, if the same token could be used for both hangupsjs and gcontacts. Otherwise it could be a pain in the ass :)

Can you check 2 more things?

1. test if tdryer/hangups can recognize the contact's name _(hangups was based on this library -- and it is more heavily developed that ours)_
    * install and run the client to see how that contact a

[2016-12-15 17:23] AndrewJDR commented on #232
@averissimo
1. Regarding hangups, unfortunately, I tried with the latest git of hangups and it shows only the number for that contact. I used this release - https://github.com/tdryer/hangups/tree/7ec7a73c7f85159807424b53ddbbeea4524900ba
I'll email you a couple of screenshots just for your reference.

2. At first I got excited when I saw a name here, but I then realized that this data structure sho

[2016-12-15 17:30] averissimo commented on #232
Your initial assesment was correct, it was a hopeful approach though ;)

Our current token does not ask for this, I tried the library you referenced with current token

If we introduce the contacts API users would have to logout and login again to get a new token that adds that authorization

To avoid forcing all users having to do this, I'd guess a non-obstrusive message each time an SMS account

[2016-12-15 18:30] hmistry commented on #492
@davibe I tried that but didn't get very good results. The amperage varied from 950-1150mA and the time remaining from 6:20-7:30 hrs and it didn't matter whether I was using the integrated GPU or the dGPU. I'm not sure if this is a good/valid test, at least in the ways I tried. It was a good idea.

In general, whenever the dGPU turns on, I loose 2-3 hrs of battery life. I also wonder if once an ap

[2016-12-15 19:43] averissimo commented on #257
@abrambailey @katzly @pricelessbrewing please continue discussing this in #232 as it has a small update

To manually rename contacts in yakyak it would need a similar structure to the favorites.

But if that information can be retrieved from google contacts it would be a bit more clean. If someone feels like this should be a way to do it express that in #232 :)

[2016-12-15 19:43] #257 closed

[2016-12-15 21:23] averissimo commented on #232
btw on my test of that library, I could not find any mapping from `chat_id` and `contact_id` :\

[2016-12-16 02:30] AndrewJDR commented on #232
@averissimo Hmm, I guess that doesn't really surprise me so I'm not disappointed.

I always assumed it would need to map using the google contact phone number <-> fallback_id or similar (both stripped of anything but the numbers), not anything like chat_id or chat_id?

[2016-12-16 06:45] davibe commented on #492
Yes, i am quite sure when switching to dGPU the entire system switches to it.

btw
https://discuss.atom.io/t/atom-on-a-rmbp-requires-the-dedicated-gpu/4418/4

[2016-12-16 06:52] davibe commented on #492
They fixed by adding that flag in Info.plist but we already have it

[2016-12-16 07:31] davibe commented on #492
http://electron.atom.io/docs/all/ they say
"""
GPU accelerated
GPU accelerated rendering means that the GPU is used for composition. Because of that the frame has to be copied from the GPU which requires more performance, thus this mode is quite a bit slower than the other one. The benefit of this mode that WebGL and 3D CSS animations are supported.

Software output device
This mode uses a softwar

[2016-12-16 09:23] Tuchkata opened #514 "Cannot send stickers from the app"
I can see stickers when they are sent by the Chrome app, but cannot send them from YakYak.

[2016-12-16 13:34] davibe commented on #514
i consider this a feature but i understand someone may want stickers in their life XD

[2016-12-16 17:44] hmistry commented on #492
Very interesting tradeoffs. Doing a search on that plist switch, revealed a number of threads where people found it didn't work for some and worked for others. Anyways, at least you found a solution for this... yay! 😃

[2016-12-16 22:57] wkjid10t opened #515 "notification that a login from ios device was made"
I installed the app on windows 64 bit. Then after logging into my gmail account on the app. I got a notification that a new device has logged into my account. Which was correct, it was my windows machine. But right after that I got an additional notification that an ios device also logged into my account.

I am assuming that you are emulating an ios device somewhere in the app?

I removed the ios

[2016-12-16 23:11] averissimo commented on #515
some users experience this :\ see #104

[2016-12-17 03:38] shadowbottle commented on #13
Please, sir, my hangouts.

[2016-12-17 15:07] davibe commented on #515
this is an unofficial client which has to do hacky things to get things done. Yes yakyak does present itself as an iOS device.

[2016-12-17 23:00] averissimo opened #516 "Convert startup screen and about menu to trifl model"
Do this right

[2016-12-19 09:29] nowayyy36 commented on #493
I would definitely use that option too :)

[2016-12-19 13:20] duckinator opened #517 "Incorrect name in "Missed call" dialog."
When I miss a call, it says "Missed call from &lt;my name&gt;." This has happened at least twice.

(It should be "Missed call by &lt;caller's name&gt;.")

Using YakYak 1.4.0 on Windows 10 x64.

[2016-12-19 14:45] davibe commented on #517
thanx

[2016-12-20 11:35] remizyaka opened #518 "Failed to execute 'appendChild' on 'Node' -- Problem starting 1.4.1 on Win8.1"
When trying to start app see such error in command line on Windows 8.1.
[code]
Program window won't appear but I see yakyak.exe process running

[2016-12-20 12:55] kli0rf opened #519 "bunch of emoticons on message sidebar"
If there was least one emoticon used on last message, it shows the last message and all the emoticons of all previous messages in the sidebar message preview. Pretty odd.

[2016-12-20 13:29] davibe commented on #518
did you download binaries or have you built it yourself

[2016-12-20 14:07] remizyaka commented on #518
downloaded binaries, tried both x64 and ia32

[2016-12-20 18:38] Arithmomaniac commented on #400
I still see this issue in 1.4.0.

[2016-12-20 18:39] Arithmomaniac commented on #519
Duplicate of #400 .

[2016-12-20 19:54] averissimo commented on #400
@Arithmomaniac **is this only for the snippet?** or this also happens in the message pane

[2016-12-20 19:55] WiXZlo commented on #518
I have some error on my Fedora 25. I download pre-built binary.

[2016-12-20 20:04] Nefari0uss commented on #415
I'm currently having this issue; I'll test out the fix with the font.

[2016-12-20 20:35] dsemaya commented on #120
I am seeing inverted avatars on one Mac but not the other.  Not sure why.

[2016-12-20 20:44] Nefari0uss commented on #132
Here's an imgur link of the result for me: ![Imgur](http://imgur.com/f8TQvju)

[2016-12-20 20:46] Nefari0uss commented on #415
Here's an imgur link of the result for me: [Imgur](http://imgur.com/f8TQvju)

[2016-12-20 23:05] averissimo commented on #132
@Nefari0uss what's your operating system?

[2016-12-20 23:06] averissimo commented on #120
with the same account?

[2016-12-20 23:12] dsemaya commented on #120
Yes.

[2016-12-20 23:53] averissimo commented on #518
Confirmed this in Win32 and all the binaries seem to have this problem

Don't know why but there's a folder missing in the `autosize` module

`resources/app/node_modules/autosize/dist`

The win32 binaries have been re-uploaded and are working correctly in my Windows 7 VM (32bits)

@remizyaka can you confirm if the win32 binary are working correctly? _(other binaries are being uploaded)_

[2016-12-21 06:30] Nefari0uss commented on #132
@averissimo I tested this on Arch Linux (x64).

[2016-12-21 07:05] davibe commented on #518
@averissimo This comes from the folter of the machine i used to buid packages
[code]

this is the zipfile that I uploaded after being unzipped
[code]

[2016-12-21 07:08] davibe commented on #518
@averissimo on the machine i used to build `yakyak/dist/YakYak-win32-x64` is missing the folder you mention indeed

[2016-12-21 14:26] kli0rf commented on #400
Hi, @averissimo,
in my case this only happens for conversations sidebar. Here's the screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/18033767/21392757/17cf2630-c79a-11e6-8ea1-38a920071a71.png)

Windows 7 32, YakYak v1.4.1

[2016-12-21 14:39] Arithmomaniac commented on #330
Still true in 1.4.0

[2016-12-21 14:48] averissimo commented on #330
we need a developer that uses sms with hangouts to solve this type of problem :\

[2016-12-21 14:59] averissimo commented on #132
the fix I describe above should should solve it for that linux. https://github.com/yakyak/yakyak/issues/132#issuecomment-242366680

@Nefari0uss if you want out of the box support try `feature-bring-back-noto` branch in my fork

[2016-12-21 15:54] averissimo commented on #519
@kli0rf continue the discussion on #400

[2016-12-21 15:54] #519 closed

[2016-12-21 16:01] averissimo commented on #400
If someone is interested in trying to figure this one out

The snipped is being drawn in `src/ui/views/convlist.coffee`

I would suggest starting by adding a breakpoint (or a `console.log('e',e)`) in the first line of `drawMessage` function to see what is the contents of `e` (the chat event) and namely `e.chat_message.message_content`

After that either the contents are correct and is the formatti

[2016-12-21 19:29] Nefari0uss commented on #132
Hmm...I created the .fonts.conf file in my home directory and restarted YakYak (v1.4.1). Still no change.

[2016-12-21 21:03] averissimo commented on #132
Thomas yesterday updated the Wiki with some instructions for Arch

https://github.com/yakyak/yakyak/wiki#archlinux

[2016-12-22 08:13] remizyaka commented on #518
now it starts, but can't login
[code]

[2016-12-22 15:08] averissimo commented on #518
@remizyaka can you try to debug this?

Open the file `C:\Program Files (x86)\yakyak\resources\app\node_modules\trifl\lib\view.js`

And replace line 126 from

`node.appendChild(vw.el);`

to

[code]

Then save and start yakyak with `yakyak --debug` (which will show the inspector automatically, if not open the inspector with ctrl+alt+i )

Please create a screenshot of the console tab in the inspector

[2016-12-22 15:12] averissimo commented on #106
@solocommand can you try my comment https://github.com/yakyak/yakyak/issues/518#issuecomment-268818460

and show the results (either there or here)

[2016-12-22 15:20] averissimo commented on #517
The correction for this should be at `src/views/notification.coffee`

[2016-12-22 15:32] averissimo commented on #493
if someone wants to start developing for YakYak, this is a good way to do it ;)

Creating a new option requires:

1. Create a persistent option in localStorage (see begining of `viewstate.coffee`)
1. Add a function to change value also in `viewstate.coffee` (see for instance `setConvertEmoji`)
1. Add an action in `dispatcher.coffee` (see `convertemoji` as an example)
1. Create a new menu option in

[2016-12-22 15:37] averissimo commented on #492
Closing this issue as with @davibe improvements CPU/GPU usage comes to a bare minimum

hurray!! 🎆

if you feel there is still a problem, please comment and/or reopen

[2016-12-22 15:37] #492 closed

[2016-12-22 15:40] averissimo commented on #485
@Silveran emoji is just text, I don't know of a way to increase the size of emoji only (at least with the way we are handling emoji)

![image](https://cloud.githubusercontent.com/assets/211358/21430863/e81c45c6-c85c-11e6-9fd0-513d0443510c.png)

[2016-12-22 15:41] averissimo commented on #447
closing for lack of feedback.. please reopen it if you are still experiencing this

[2016-12-22 15:41] #447 closed

[2016-12-22 15:41] averissimo commented on #474
I guess this is solved, closing.

please reopen if not :)

[2016-12-22 15:41] #474 closed

[2016-12-22 15:44] averissimo commented on #439
haven't got time to test the patch. __Does that interfere with normal way of calling menus?__ (using alt key to give focus to menu)

maybe we should open an issue in electron/electron instead as this is an upstream problem that can be patched

[2016-12-22 15:45] averissimo commented on #434
closing as this is a duplicate. can you provide feedback there?

thanks

[2016-12-22 15:45] #434 closed

[2016-12-22 15:46] averissimo commented on #432
what do you mean modification?

[2016-12-22 15:47] #480 closed

[2016-12-22 15:47] averissimo commented on #425
closing for lack of feeback

[2016-12-22 15:47] #425 closed

[2016-12-22 15:49] averissimo commented on #402
Is this still a problem for those who reported it?

@maroc81 @tribbledt

[2016-12-22 15:54] averissimo commented on #392
Improved this a bit, by focusing on input when window is focused (i.e. changing windows) and switching conversations.

Cannot be always focused as it would break the app interface experience. (for instance selecting text and copy would not work)

test versions 1.4.1 and above for this improvements

__re-open if you feel that this is still not enough.__

ps. paste now also works even if input is no

[2016-12-22 15:54] #392 closed

[2016-12-22 16:46] averissimo commented on #390
@trgcyln if you are still experiencing this problem in 1.4.1 or up, please reopen this issue

[2016-12-22 16:46] #390 closed

[2016-12-22 16:51] remizyaka commented on #518
changed your code little bit
![scr1](https://cloud.githubusercontent.com/assets/4035725/21433221/0dc74b7c-c880-11e6-80cb-7abc70fbf2fb.png)

[2016-12-22 16:58] remizyaka commented on #518
![scr2](https://cloud.githubusercontent.com/assets/4035725/21433476/fa19d68e-c880-11e6-870f-768837b1df56.png)

[2016-12-22 17:04] solocommand commented on #106
@averissimo with my google apps account, I encountered the following error after logging in (main window stays stuck in `Loading Contacts`)
<img width="991" alt="screen shot 2016-12-22 at 11 01 24 am" src="https://cloud.githubusercontent.com/assets/1778222/21433677/4d2af1be-c836-11e6-9873-b61bd2f7c1e8.png">

[2016-12-22 20:07] averissimo commented on #518
@remizyaka do you have a development copy of yakyak that you can change and compile?

For what I can see the conversation header is producing a bad internal DOM that cannot be rendered

I'd suggest first seeing if this is the problem by replacing `applayout.convhead convhead` by `applayout.convhead null` in the file `src/ui/views/controller.coffee`

__If you don't have a development copy__ then fi

[2016-12-22 20:11] averissimo commented on #106
@solocommand my code was wrong, replace the `:` by `,` commas as it is now.

Anyway, I think I narrowed down the problem with @remizyaka feedback, see the thread #518, despite being more recent it has more information

I'm closing this issue, le'ts continue in #518

[2016-12-22 20:11] #106 closed

[2016-12-22 20:12] averissimo commented on #518
ps. @remizyaka sorry about the typo in my code... it was soooooo wrong! :)

[2016-12-22 23:24] jjt commented on #392
Amazing thx! Will check out later today :)
On Thu, Dec 22, 2016 at 7:54 AM André Veríssimo <notifications@github.com>
wrote:

[2016-12-22 23:26] averissimo commented on #516
changes made in pull request #522

[2016-12-22 23:26] #516 closed

[2016-12-22 23:58] averissimo commented on #374
@pmcanseco @MarkusMcNugen (cool name) I'm closing this issue

Right now YakYak has better debugging capabilities (as it shows errors in terminal), and when pull request #521 is merged it will have a cool error window with a descriptive message

__If you guys are still having problems please open a separate issue__

thanks!

[2016-12-22 23:58] #374 closed

[2016-12-23 00:02] averissimo commented on #381
closing, as #405 is more generic conversation on notification sounds

It's not customizable, but you can activate a default sound in `view -> notifications -> use custom YakYak sound`

if you really want to change it, just replace `new_message.ogg` (in `resources/app/media`) by your own sound (the filename has to be the same)

[2016-12-23 00:02] #381 closed

[2016-12-23 00:04] averissimo commented on #363
closing, @MartSerra you can continue this conversation on the two issues that @arnriu referenced

[2016-12-23 00:04] #363 closed

[2016-12-23 00:05] averissimo commented on #340
@apoisonedgift closing for lack of feedback.

If you are still experiencing this please reopen :)

latest pre-release version as of this comment is 1.4.1

[2016-12-23 00:05] #340 closed

[2016-12-23 00:07] averissimo commented on #334
@pencarsa i've tested an apps account and is working fine, does this still happen in latest version (as of this comment it was 1.4.1)

[2016-12-23 00:09] averissimo commented on #333
@pjjanak does this still affect you with versions 1.4.1 or up?

[2016-12-23 00:10] averissimo commented on #324
it does, although it depends on the underlying operating system's notification method

if someone wants to pick this up the library is node-notifier as @davibe said, and the code is in `src/ui/views/notifications.coffee`

[2016-12-23 00:14] averissimo commented on #298
is this still an issue?

I guess by shift+click you are trying to start a new instance of yakyak, and it gives out that errer

[2016-12-23 00:16] averissimo commented on #279
@Knock201 I'm closing this for lack of feedback, reopen if you still are experiencing this

have you ran `npm install` before?

small note: our current version of electron requires node v6

[2016-12-23 00:16] #279 closed

[2016-12-23 00:18] averissimo commented on #259
@msphair does this still happen in 1.4.1? we changed the way YakYak is packaged.

[2016-12-23 00:19] averissimo commented on #258
@msphair is this still an issue?

seems like it is trying to spawn a new instance :\

[2016-12-23 00:20] averissimo commented on #298
@nathanharperdev duplicate of #258 -- let's continue there

[2016-12-23 00:20] #298 closed

[2016-12-23 00:22] averissimo commented on #227
closing as this is sometimes a problem with connection, others it is a strange bug #449

[2016-12-23 00:22] #227 closed

[2016-12-23 00:24] averissimo commented on #259
closing because #212 seems to be about the same issue

@msphair please reply there :)

[2016-12-23 00:24] #259 closed

[2016-12-23 00:25] averissimo commented on #212
@Naatan @cobrabr @msphair we changed the way we package the application, is this still an issue with 1.4.0 or up?

[2016-12-23 00:26] averissimo commented on #251
@jfyu can you try with 1.4.0 or earlier?

`./yakyak`now shows what was the error

[2016-12-23 00:28] averissimo commented on #228
that was solved in recent builds by @nerijus

[2016-12-23 00:28] #228 closed

[2016-12-23 00:31] averissimo commented on #205
this can be closed, right?

if not please reopen :)

[2016-12-23 00:35] averissimo commented on #203
@jcllings @jreuter are you still experiencing this? (I'm closing for now since newer versions of YakYak may have corrected this, if not comment here and we'll reopen it :) )

since 1.4.0 the console is a bit more verbose about errors in the main window.

I also use 2-factor without a problem

the hangup could be a connection problem or a strange bug that is being tracked in #449

[2016-12-23 00:35] #203 closed

[2016-12-23 00:36] averissimo commented on #200
hey! what do you have against ubuntu ;)

@ScorchingBonzai have you been able to build yakyak?

I've been using nvm for managing node versions and it is pretty cool

[2016-12-23 00:38] averissimo commented on #197
this should not happen anymore since we are using the ready-to-show event now and also check if window exists before any show call

reopen if you are still experiencing this.

thanks for reporting!

[2016-12-23 00:38] #197 closed

[2016-12-23 00:46] averissimo commented on #183
leaving conversations was fixed, closing this issue

it is throwing an exception but that does not block anything, which is corrected in #524

[2016-12-23 00:46] #183 closed

[2016-12-23 00:48] averissimo commented on #182
@ckald @gamut is the leak still present?

in ubuntu it remains stable at 65-74MB (depending on the process).. granted that seems too much, but electron has a big overhead

[2016-12-23 00:50] averissimo commented on #179
@devin42r yakyak (as of 1.4.0) gives a better understanding about what went wrong

can you try running yakyak from command line (either a development or a binary) and see if the problem still persists?

thanks!

[2016-12-23 00:51] averissimo commented on #171
this is something tha has been reported when pinning the icon to the taskbar.

closing this issue for lack of feedback.. see #258 for more information

[2016-12-23 00:51] #171 closed

[2016-12-23 00:52] averissimo commented on #159
closing as seems to be fixed.

[2016-12-23 00:52] #159 closed

[2016-12-23 00:53] averissimo commented on #140
implemented in 1.4.0 help -> menu :)

[2016-12-23 00:53] #140 closed

[2016-12-23 00:54] averissimo commented on #138
is this still a problem?

[2016-12-23 00:55] averissimo commented on #89
yakyak now shows more information about the error in the terminal (when window is blank)

please reopen this if still an issue on 1.4.0 or newer as this is a very old thread :)

[2016-12-23 00:55] #89 closed

[2016-12-23 00:57] averissimo commented on #79
@bramadams?

i'm closing this as there are alternatives, if you still feel this is an issue please reopen it :)

[2016-12-23 00:57] #79 closed

[2016-12-23 00:58] averissimo commented on #76
done! from 1.4.0

[2016-12-23 00:58] #76 closed

[2016-12-23 00:59] averissimo commented on #74
available in 1.4.0

please open a new issue if there is any problem

[2016-12-23 00:59] #74 closed

[2016-12-23 01:00] averissimo commented on #66
closed due to lack of feedback

please try 1.4.0 before reopening this issue

[2016-12-23 01:00] #66 closed

[2016-12-23 01:01] averissimo commented on #58
closing as this was implemented by @arnriu :)

[2016-12-23 01:01] #58 closed

[2016-12-23 01:01] averissimo commented on #56
is this still an issue?

[2016-12-23 01:07] kk7ds commented on #56
It was when I gave up on yakyak, but that was almost a year ago. Feel free to close from my perspective.

[2016-12-23 01:11] averissimo commented on #56
I'm sorry about that. There have been many improvements since last year.

Maybe you can give it another go ;)

Closing this issue

[2016-12-23 01:11] #56 closed

[2016-12-23 02:36] discapacidad5 opened #525 "Accessibility for the blind with screen readers"
Hi, I would like to move the focus with the tab key And that you can use the arrows to navigate between the them This would be very important for people who are visually impaired thanks

[2016-12-23 03:19] gamut commented on #182
Honestly, I’m not sure.  It’s at 175 MB at the moment, and i routinely have to restart the app — maybe once per day, because it stops sending messages.  I haven’t bothered to check memory when that happens.   I will do so the next time.

[2016-12-23 06:13] solocommand commented on #518
@averissimo No luck with the latest binary, I still see the same error with my google apps account on OSX. I'll try and dig into it next week but I won't have time until after the holidays.

[2016-12-23 06:27] cobrabr commented on #212
Working perfectly now, at least for me! 👍 😁

[2016-12-23 07:10] remizyaka commented on #518
still same error, let me know if you need my debugging skills ;)
![scr3](https://cloud.githubusercontent.com/assets/4035725/21448838/03239eaa-c8f8-11e6-8461-27c2c91a0755.png)

[2016-12-23 12:14] averissimo commented on #518
my bad.. forgot something, uploading new binaries...

you can test the solution by replacing `resources/app/ui/views/controller.js` by [dropbox link](https://dl.dropboxusercontent.com/u/9592943/delete/controller.js)

[2016-12-23 12:17] averissimo commented on #518
my bad.. forgot something, uploading new binaries...

you can test the solution by replacing `resources/app/ui/views/convhead.js` by [dropbox link](https://dl.dropboxusercontent.com/u/9592943/delete/convhead.js)

[2016-12-23 12:46] averissimo commented on #525
Can you develop on that?

- tab key should change focus on which elements?
    - [ ] message input
    - [ ] message history
    - [ ] conversations
    - [ ] create new conversation
    - [ ] others?
- Do you think a high contrast theme should be created? I don't have any experience but at first glance
    - [ ] the timestamps seem to have low contrast
    - [ ] own messages also have a not so go

[2016-12-23 12:56] averissimo commented on #332
I almost have all the application converted to the __1.__ as I've discussed with @davibe this could be the better option

Only concern I have is with repeated statements, but there are not many.

And with the module we are using an en.yml is generated dynamically by the application

[2016-12-23 13:20] averissimo commented on #332
pull request submited #526

[2016-12-23 15:16] pjjanak commented on #333
@averissimo I'd have to wait until getting back to work from vacation, but I'm fairly certain the issue ended up being my corporate proxy hijacking Google's SSL certificate and YakYak not respecting the certificate store on my machine to know that it was still valid, even though it had a "bad" signer.

[2016-12-23 16:04] averissimo commented on #518
I forgot something and corrected it earlier today.

Try the binary as it should correct your problem

_ps. I went back and forth with this last comment, but the problem should have been solved since I announced the binaries earlier today after the @remizyaka last  comment (saying "still the same error"_

[2016-12-23 16:17] averissimo commented on #333
I'm not sure how our hangouts library handles the certificates but from what you are saying I guess it always fetches them.

Anyway let's see after your feedback :)

Enjoy your vacations!

[2016-12-23 16:24] discapacidad5 commented on #525
Attached is a photo that describes the accessibility you should have and
the keys you use

Can you develop on that?

   - tab key should change focus on which elements?
      -  message history
      -  conversations
      -  create new conversation
      -  others?
   - Do you think a high contrast theme should be created? I don't have any
   experience but at first glance
      -  the timestamps

[2016-12-23 17:22] averissimo commented on #333
I'm not sure how our hangouts library handles the certificates but from what you are saying I guess it always fetches them.

Anyway let's see after your feedback :)

Enjoy your vacations!

[2016-12-23 17:24] averissimo commented on #525
I think attachments don't work very well when embedded in emails, can you upload via the website?

[2016-12-23 17:51] thenextdon13 opened #527 "Conversation List - No way to close / 'archive' conversations"
Hello-
A feature request-
It seems there is a way to delete conversations, but not a way to 'close' conversations.  This would be analagous with hangouts' 'archive conversation'- so the convo doesn't show active in the list, but is still available for search /history and to re-open for discussion.
Please consider adding this feature.

Many thanks

[2016-12-23 17:52] thenextdon13 commented on #527
Nevermind, i now see https://github.com/yakyak/yakyak/issues/346.

initially was going to open a bug for something else, forgot to search for this prior to opening :-/

Closing

[2016-12-23 17:52] #527 closed

[2016-12-23 20:24] discapacidad5 commented on #525
With Mozilla Firefox and the F123 Access plugin

  What is F123 Access?

F123 Access (pronounced F 1 2 3 Akces) is a software capable of
reformatting web pages to make them more accessible and convenient for
people who are blind and using screen readers.

How can I test the F123 Access?

The software is currently available as an extension of Mozilla Firefox and
soon we will have it as an extension

[2016-12-24 11:56] remizyaka commented on #518
nope, still same error. Tried to download new binaries and tried to replace resources/app/ui/views/convhead.js with the one you gave.

[2016-12-27 12:45] sebasped commented on #518
Very same problem here, with de Linux 64 version.

[2016-12-27 12:59] sebasped commented on #518
I start with --debug, then let me log out, and problem desappear. No idea why or how.

[2016-12-28 10:15] hsabo commented on #332
Hello André,
many thanks for your work.
Here is a german translation (if not too late):
[http://pastebin.com/Y3tnDe07](url)
Happy New Year,
Holger

[2016-12-29 07:22] HeikoTietze commented on #422
Well done (running 1.4.1 from git). To maximize UX you could add a separator to the context menu after the first "Toggle minimized" entry (and perhaps also before Quit).

[2016-12-30 15:20] gregflynn commented on #402
Just downloaded YakYak 1.4.0 on debian stretch. Got a white screen after entering credentials, got my verification code and blindly entered it in on the white screen and authenticated. There were no errors in the inspector console.

[2017-01-01 13:36] davibe commented on #138
i don't think so it was fixed long ago

[2017-01-01 13:36] #138 closed

[2017-01-01 13:36] #212 closed

[2017-01-01 13:37] davibe commented on #518
should be fixed now. Try using latest code from `master` or re-download 1.4.1 binaries

[2017-01-01 13:37] #518 closed

[2017-01-02 11:42] NOTSOGEEKY opened #528 "Unable to install using Homebrew"
Just download the Mac version and double clicked the file and allowed it to open from unidentified developers.

The YakYak screen shows just a blank white screen with nothing on it.

<img width="731" alt="screen shot 2017-01-02 at 5 21 05 pm" src="https://cloud.githubusercontent.com/assets/24874350/21588756/e77c2184-d10f-11e6-9f68-4828432effd4.png">

[2017-01-03 19:32] kusmierz commented on #528
same here...

[2017-01-04 01:19] thenextdon13 opened #529 "Feature Request - provide contact info on new conversation page"
Hello-
One thing that has been annoying with hangouts was the disassociation of contact info (specifically email address) and user names.

This was frustrating because duplicate names (i.e. the same person with accounts on 2 different domains) were nearly impossible to differentiate.

I see more recent versions of hangouts  this (by providing the email address under the name), but yakyak does not

[2017-01-04 09:06] averissimo commented on #528
which version is installed with Homebrew?

I'm not sure who the maintaner of the package is, but latest version should be 1.4.0 (with a 1.4.1 pre-release)

[2017-01-04 09:17] NOTSOGEEKY commented on #528
It says Version 1.4.12. Do I still have to install Homebrew? I tried the Homebrew method of installation and then found you have a Mac installer package and tried that.

If you want me to try the Homebrew method, please provide more detailed instructions how.

[2017-01-04 10:13] averissimo commented on #528
1.4.12 means it still is using our framework versioning instead of the app itself

Can you please try to install via the official release

https://github.com/yakyak/yakyak/releases

Unzip and run YakYak

[2017-01-04 10:33] averissimo commented on #332
Great work Holger!!

Already added it to the i18n pull request

Happy new year!

[2017-01-04 10:44] annie2004 commented on #251
Test Yakyak 1.4.0 for "google sign in two step verification", Ubuntu x64. Doesnt show the error. Return blank page.

[2017-01-04 11:50] NOTSOGEEKY commented on #528
Tried exactly that. Downloaded the Mac OS version and tried installing. Nothing. Blank white screen.

[2017-01-04 13:43] averissimo commented on #528
Also with the 1.4.1 pre-release? This pre-releasewill show an error window with a link to open the inspector.

If you can, install this one, open the inspector (via the link) and take a screenshot of the "console tab"

[2017-01-04 15:47] averissimo commented on #251
can you try 1.4.1 pre-release. It will show an error window with a link to open the inspector.

Please open and take a screenshot of the Console tab

[2017-01-04 15:48] averissimo commented on #528
1.4.1 pre-release should show an error window with a link to open the inspector.

Can you try that version, open the inspector and take a screenshot of the Console tab?

or just open the inspector with your current yakyak version (access via the menu) and take the screenshot

[2017-01-04 16:03] danmandle opened #532 "[Bug][macOS] Audio notifications don't respect change in output device"
On El Capitan, YakYak outputs audio notifications on the original audio device even after switching the audio output device through System Preferences > Sound.

[2017-01-04 16:20] etrulls commented on #167
Is this still the expected behaviour? I keep getting messages from coworkers that I'm showing as offline.

[2017-01-04 16:51] averissimo commented on #532
Do you experience this when using custom sound? _(or the other way around)_

ps. option to use custom sound is in `view -> popup notification -> use custom..`

[2017-01-04 17:22] averissimo commented on #205
lol got what it is by trying to click on it

created a pull request #534 that's probably going to get merged

I also don't use, but I'm not the only developer/contributor to the project.. however the link is broken and useless as is

If someone want's to revive yakyak's gitter please create new pull request with a valid room

[2017-01-04 21:44] danmandle commented on #532
Ok, so things got a little more complicated now... I was experiencing the issue on 1.4.0. I downloaded and replaced the app with 1.4.1 and now, not only do I have no sounds, but most of the menu items are disabled. See attached screenshot. A restart may solve the problem, but I can't do that right now.
![screen shot 2017-01-04 at 2 43 57 pm](https://cloud.githubusercontent.com/assets/1851630/21660

[2017-01-05 15:22] danmandle opened #535 "Videos shared from other people in chat are still image only"
A friend shared an uploaded video with me. In YakYak it previews a still image with a play button. Upon clicking the image, it opens the still image with the superimposed play button in a browser. When clicking the same thing in Hangouts, it opens, then redirects the link to the actual video.

[2017-01-05 20:25] mreynolds0404 opened #536 "Messages not being sent"
Messages sent through YakYak remain gray and are never sent.  New messages from other person are received and messages sent from other clients (e.g. Hangouts app on phone) show up in the chat in YakYak.

macOS Sierra 10.12.2 (16C67)
YakYak 1.4.1

[2017-01-05 22:30] hsabo commented on #332
Hello André,

if I get it right, the **hl=en** in the following login URL (found in `login.coffee`) forces the Google login dialog to english language:
`LOGIN_URL = "https://accounts.google.com/o/oauth2/programmatic_auth?hl=en&scope=https%....`

What do you thing about removing the part (so using the users default language) or adding i18n feature for login also (I did not try out either one by mys

[2017-01-06 02:00] averissimo commented on #332
@hsabo if you can figure out how to access to `localStorage` variable (in `window`) from `login.coffee` then it should be easy. It also brings a point if switching languages should be possible here (which would require a page reload)

The other approach you talk about that uses the systems' default might create false expectations that the app is translated to a language that's not supported by Yak

[2017-01-06 02:22] averissimo commented on #532
two lines were removed by mistake when correcting a diffrerent bug lol

master already has everything and we'll update 1.4.1 binaries tomorrow

[2017-01-06 09:04] AndrewJDR commented on #536
I can confirm this as well, but for me it's more specific:
When sending to google voice (SMS) contacts with yakyak, they turn grey and are never received by the recipient.
When sending to regular hangout contacts (not google voice), everything behaves as expected and messages are received by the recipient.

Is this what you observe as well, @mreynolds0404, or are you seeing this problem for regula

[2017-01-06 09:05] AndrewJDR commented on #536
The particularly nasty thing about this bug is that the message sent from yakyak shows up in the official Hangouts client as though it had been successfully sent even though it hasn't been.

[2017-01-06 09:13] AndrewJDR commented on #536
Ah, I see that this is probably a dupe of #330 but @mreynolds0404 can confirm whether this is for all contacts or just sms contacts.

[2017-01-06 09:15] AndrewJDR commented on #330
In my opinion, it would be a good idea to disallow message send attempts to SMS contacts until this issue can be properly resolved (maybe display a dialog or something to tell the user it's not supported when they try it).

The way the bug exists right now, one can be fooled into thinking their message has been sent, because it shows up as sent in the official hangouts client.

[2017-01-06 12:49] mreynolds0404 commented on #536
In my case, these were Hangouts clients, and the messages sent from YakYak did not show up in the official Hangouts client.

[2017-01-06 14:56] aPoCoMiLogin commented on #332
Here is my polish translation: https://github.com/yakyak/yakyak/pull/537

[2017-01-06 17:09] kecinzer commented on #332
Thank you for commit. I will try it ASAP.
BTW. what about plurals format? Czech language has 3 plurals - 1, 2-4, 5 and more including 0. :).

[2017-01-06 17:57] averissimo commented on #332
great work @aPoCoMiLogin!! I've left two comments in the pull request

__Are you guys also testing it? I've been running for a while now and found few problems__

I think this should be quite ready to merge in master

[2017-01-06 17:57] averissimo commented on #332
@kecinzer right now there is only one plural being used (notification and notifications) (and that is for interface and not dependent on number)

Have you found somewhere in the UI that required that kind of specificity in plurals?

[2017-01-06 17:59] averissimo commented on #536
was the `connecting` notification appearing in the top right corner?

[2017-01-06 18:10] kecinzer commented on #332
@averissimo Ah, ok, I don't have much time to investigate, so may be it's useless :).

[2017-01-06 18:18] sinistral opened #538 "error on startup: Cannot find module 'autosize'"
v1.4.13

![screen shot 2017-01-06 at 11 17 46](https://cloud.githubusercontent.com/assets/388984/21728138/d6361322-d401-11e6-9ed4-10fa26662225.png)

[2017-01-06 18:19] averissimo commented on #332
not useless, it's just that it is not used currently in the interface.

if in the future we have a string such as `You have 5 unread messages`, then that will be required.

and the framework that we use supports plurals in the Czech language :)

[2017-01-06 18:25] averissimo commented on #538
Thanks for reporting.

We've just corrected the binaries, can you download 1.4.1 release again?

ps. by the way, can you give some feedback on the error window?

* was it helpful?
* to much text?
* is there something that could be added?

it's something new :)

[2017-01-06 18:34] averissimo commented on #532
binaries have been updated

can you check now?

[2017-01-06 19:08] sinistral commented on #538
The new binaries for the 1.4.1 release work!  Thanks for the quick response.

I found the error page helpful; I appreciated the links to the Inspector and the GitHub issues page, which made it easy to submit the issue.

[2017-01-06 19:08] #538 closed

[2017-01-06 19:34] aPoCoMiLogin commented on #332
What kind of problems?

[2017-01-06 19:41] mreynolds0404 commented on #536
It's not happening any the moment, will check when it does happen again.

[2017-01-06 19:45] averissimo commented on #332
Missing translations, bad positioning, ...

[2017-01-06 19:57] aPoCoMiLogin commented on #332
I'm sorry for not testing it on my side, cause I can't build it on osx (some issues with xcode).. I'll try to fix building it on my laptop asap

[2017-01-06 20:03] averissimo commented on #332
don't worry, try this osx build: https://dl.dropboxusercontent.com/u/9592943/delete/yakyak-1.4.1-osx.zip

[2017-01-06 20:05] aPoCoMiLogin commented on #332
Since saw your PR about automatic build, is there a way to set it for not only tags, but also for PR's ?

[2017-01-06 20:11] aPoCoMiLogin commented on #332
Did tested it and it seems that it is ok.

[2017-01-06 20:40] danmandle commented on #532
Using the YakYak custom sound DOES respect the audio device selection. However, the default still does not.

[2017-01-06 21:14] msphair opened #540 "[Windows 10] pin-unpin breaks taskbar context menu"
If you pin to taskbar, then unpin from taskbar, the next time you right click on the taskbar item you only get a "close" option instead of the full options with "pin to taskbar". You need to close the program and re-open it in order to pin it again.

[2017-01-06 21:14] msphair commented on #258
@averissimo, this seems fixed. However, if you pin to taskbar, then unpin from taskbar, the next time you right click on the icon you only get a "close" option instead of the full options with "pin to taskbar". You need to close the program and re-open it in order to pin it again.

I created https://github.com/yakyak/yakyak/issues/540

[2017-01-06 21:24] #258 closed

[2017-01-06 21:30] averissimo commented on #532
It makes sense as the default uses the system's notification..

I guess that's what you have to change in the sound settings (should be called `Notification Center`)

We don't handle notifications in YakYak, we use a module called `node-notifier` that then uses different sub-systems depending on the OS.

I think this issue should be closed as this is not a YakYak bug, but is OS-dependent

[2017-01-06 21:31] averissimo commented on #532
The custom sound, disables the default notification sound and just plays "our" melody. This is controlled by YakYak and that's why it works :)

[2017-01-06 21:38] averissimo commented on #332
it would be cool to better test stuff out and better involve users in this process, but I don't think it is possible

documentation:
* `on` [link](https://docs.travis-ci.com/user/deployment/#Conditional-Releases-with-on%3A)
* github-releases [link](https://docs.travis-ci.com/user/deployment/releases/)

Not sure if that's something we'd want _(too much spam in releases page :) )_.. what do you thin

[2017-01-06 21:43] averissimo commented on #540
__Does this happen with other apps?__

I don't think we have any windows specific taskbar behaviour. It could be an `electron` bug (YakYak's framework)

[2017-01-06 22:10] aPoCoMiLogin commented on #332
Didn't mean making release, just though that there is some way that travis could post a comment or attach something to PR, it could be very cool. But just found that: https://github.com/travis-ci/travis-ci/issues/5579 so I just have to fix my setup locally for now.

[2017-01-06 23:01] hsabo commented on #332
During my tests so far I noticed the following (regarding i18n):
- Typo in de.json: help.about.contributors should be "Mitwirkende" (not "Mitwirkende**n**")
- connection.connecting, .loading, .not_connected are not internationalized any more (think this worked in previous version, but not sure which one)
- I18n for input.message_new is missing, proposal for de.json: `"message_new": "Nachricht schr

[2017-01-07 04:06] danmandle opened #541 "Should we be worried about the Google Hangouts API Closing?"
I saw this story: https://www.engadget.com/2017/01/06/apps-that-rely-on-google-hangouts-wont-work-after-april-25th/

Looks like Google is closing the Hangouts API.

[2017-01-07 20:24] Nefari0uss commented on #541
Here's the link on the Hangouts API page: https://developers.google.com/+/hangouts/support-faq

[2017-01-07 20:33] NReilingh commented on #541
@Nefari0uss That seems to indicate that what's going away is the ability to do video calls via API. No idea if those are the same endpoints used by YakYak for text chat.

There are some other articles that may help to complete the picture:

* https://blog.google/topics/google-cloud/google-and-slack-deepen-partnership-help-teams-work-better-together/
* https://cloud.googleblog.com/2016/09/intellige

[2017-01-07 20:43] averissimo commented on #541
We don't use this Hangouts API in YakYak and according to https://github.com/tdryer/hangups/issues/293 we shouldn't be worried

yakyak/hangupsjs handles all communications between YakYak and google is based on tdryer/hangups.. and if they aren't worried I guess we should not be either ;)

[2017-01-07 20:49] NReilingh commented on #541
Indeed — no need to be worried about YakYak not working after April 25th... But perhaps we can be a _little_ bit worried about whether text chat is part of hangouts in the future at all.

[2017-01-07 22:51] averissimo commented on #332
thanks @hsabo

- Just corrected the typo (pull it and you'll see the changes)
- Those two have been corrected in affb8f11a0df79772eba62adb2e11d49b6811a71
  - We changed how the startup screen works and that translation was missing
- Corrected in the same commit (I think it was looking for the wrong 'path'.. my bad :)

[2017-01-07 23:10] averissimo commented on #332
@aPoCoMiLogin that thing I did for automatic generation of releases by travis was still fresh in my mind and did not interpret what you were saying correctly :)

we could also set it to upload all the travis builds to some storage service, but I guess that would add up pretty quickly for free services

__let us know if you get some kind of setup going__ _(i'll be keeping tabs on https://github.com

[2017-01-07 23:22] aPoCoMiLogin commented on #332
@averissimo sorry that I didn't clarify it better.. With docker image this is some solution, it's worth mention about that image in README, cause on osx it's much easier dealing with docker, than with npm and some packages.

[2017-01-08 15:21] gdamjan opened #542 "Content not subpixel antialiased"
Running yakyak 1.4.0-3 (AUR package on ArchLinux), it uses electron 1.4.13-1 from official Arch package.

The content text in yakyak is not subpixel antialiased. The menus on the other hand ARE subpixel antialiased.

At the same time, atom using the same electron dependency has subpixel antialiasing everywhere.

This is from Help -> About:
![screenshot_20170108_162119](https://cloud.githubusercont

[2017-01-08 15:25] gdamjan commented on #542
A word from the Help -> About in Atom. subpixel antialiasing can be easily seen.

![screenshot_20170108_162334](https://cloud.githubusercontent.com/assets/81654/21750925/d52380aa-d5be-11e6-9774-fd6ca86b778e.png)

[2017-01-08 20:02] kmontag commented on #316
Just confirming this is still happening in 1.4.0 for me. fwiw ideal behavior for me would be:

- when yakyak window is open, tray icon appears and cmd-tab allows it to be selected
- when yakyak is minimized to tray, icon and cmd-tab entry are hidden

Is this behavior supported by any combination of options?

[2017-01-09 16:13] hadees commented on #177
Any update on this?  I think the biggest thing I'm noticing is that yakyak isn't matching the numbers with my android contacts like it does on my phone.  Not sure how to fix that, i just see my friend's cell numbers.

[2017-01-09 16:21] hadees commented on #232
@averissimo this is a feature I really want, i'd be willing to create a service class or something that handles the mapping.  It seems like Hangouts is the best SMS for Google Fi and YakYak seems like the best OSX app for hangouts.

[2017-01-09 16:38] refack opened #543 "Leaking content in `convlist`"
in `convlist` message content is leaking between two `conv`s 🤔
Green circled word (כן Hebrew) is last line in `conv`
Yellow marked line (with the ® char) is realted to next `conv`
![yakyak screenshot 2017-01-09 002 markedup](https://cloud.githubusercontent.com/assets/96947/21774227/d9c5f36c-d65f-11e6-8847-f2a94cadf2ba.png)

[2017-01-09 17:54] refack opened #544 "App can't run from a path that has `#` in it"
e.g. `c:\electron\#net\yakyak`

[2017-01-09 19:18] #205 closed

[2017-01-10 03:27] PSiAU opened #547 "Initials on some badges are not showing correctly"
The badge with the initials on it are not showing correctly on the Mac version. In my case, there's only one conversation with the person named JK, but it's showing up for a whole bunch of other people.
![capto_capture 2017-01-10_02-02-05_pm](https://cloud.githubusercontent.com/assets/2519639/21792858/cfd1ba1c-d740-11e6-8c74-9dcfa00d2676.png)

[2017-01-10 08:25] AndrewJDR commented on #232
@hadees If you look at the google people api: https://github.com/google/google-api-nodejs-client/blob/master/apis/people/v1.js it should be possible to pull the contacts using that, then cross-reference these contact's phone number's against the fallback_name on the hangouts side.

This guide looks to give a decent start on using the people api:
https://developers.google.com/people/quickstart/js
A

[2017-01-10 14:34] averissimo commented on #547
Please update to 1.4.1 (pre-release) and check if problem still persists.

ps. you seem to be using an older version that may lack some improvements on initials (at least the colored background)

[2017-01-10 14:42] averissimo commented on #232
@AndrewJDR first of all, very informative comment \_o\_

Second, both scopes can live under same oauth token, right? if so I believe we can just invalidate existing one and force user to re-login once this goes live.

@hadees once you are able to get the mapping via (some API) I can definitely help you integrate with YakYak

on getting the right api, well.. I guess that will require some try and f

[2017-01-10 19:18] davibe commented on #543
It took a while but now i remember you :)
You're the guy from node4good/formage which i used briefly at work. I remember i also bothered you about some issue i had with it. What goes around comes around!

Thank you for your report, I will have a look.

[2017-01-10 21:04] PSiAU commented on #547
Whoops I made a mistake, I am in fact on 1.4.1

[2017-01-10 23:29] refack commented on #543
an other one
![yakyak screenshot 2017-01-10 002](https://cloud.githubusercontent.com/assets/96947/21829137/73b26570-d762-11e6-9733-ec9c8a0c1506.png)
This time grabs some HTML https://gist.github.com/refack/0bc4e6732226da6e1d20cb1b934ca653

[2017-01-10 23:46] averissimo commented on #547
are you sure? those badges should look like:

![image](https://cloud.githubusercontent.com/assets/211358/21829586/e2c7a8ae-d78e-11e6-98c8-21081182b186.png)

anyway, can you open the Inspector and see if there is any error being thrown in the console tab?

[2017-01-11 00:05] PSiAU commented on #547
I'm 100% positive i'm on 1.4.1
![capto_capture 2017-01-11_11-02-57_am](https://cloud.githubusercontent.com/assets/2519639/21829989/d8f76a3a-d7ed-11e6-8c5c-b0a0a593a9b2.png)

And yes there are errors in the console:
![capto_capture 2017-01-11_11-05-00_am](https://cloud.githubusercontent.com/assets/2519639/21829997/e7fa7072-d7ed-11e6-81e5-dcfd6b137bb3.png)

[2017-01-11 00:20] AndrewJDR commented on #232
@averissimo -

Unfortunately, I don't think this will work. Even if you add the google people scope to the existing oauth request on [this line](url), the moment you try to make a call on the people api, you'll get an error like "You must add People API access to this project, please log into the project on some google url and add it", or similar.

Basically, it seems that you need both the scope

[2017-01-11 00:35] averissimo commented on #547
sorry for insisting

those errors are relative to images that yakyak cannot retrieve so no luck there.

- is this problem recent?
- can you inspect some of the wrong initials' html elements using the inspector and see if they all have the same `data-id` and `initials` _(see screenshot 1)_
- does the html element have a `fallback` class? _(see screenshot 2)_

### Screenshot 1

![image](https://clou

[2017-01-11 00:47] PSiAU commented on #547
That's ok, happy to provide you with as much info as you need.
1) This was a recent problem, maybe as off v1.4.1 or 1.4 I can't remember exactly.
2) All the incorrectly displaying initials have different data-initials and data-id. Those values are correct but the actual HTML value is wrong.

![capto_capture 2017-01-11_11-46-29_am](https://cloud.githubusercontent.com/assets/2519639/21830846/c7cd2a2

[2017-01-11 04:27] hadees commented on #232
what about just using the local contacts?  If they are already syncing with google.

[2017-01-11 06:54] davibe commented on #535
which version are you using ? how did the guy send the video ? can someone send a video to me the same way so i can reproduce the issue ? :D

[2017-01-11 06:57] davibe commented on #543
I am not able to reproduce yet

[2017-01-11 08:29] clapeyre opened #550 "Something wrong with checksum for 1.4.1 ?"
Hi there,

trying to install on mac using brew, says something is wrong with the checksum for 1.4.1. Tried twice, I get this error:

[code]

Strange, as I see in Homebrew that the formula is supposed to be up to date with 1.4.1

[code]

but I do agree with the sum being wrong:

[code]

The archive seems OK though, I opened it and I get a working 1.4.1 app.

[2017-01-11 11:18] davibe commented on #550
maybe we have updated the binary before release and the maintainer of the formula had already calculate the hash before in the attempt to publish a pre-release on homebrew.

I don't remember who is maintaining the homebrew formula.

[2017-01-11 11:18] averissimo commented on #535
@davibe videos can be sent via the android app and I think via the webinterface by choosing a video _(I believe I did the latter one once, but not 100% sure)_

I'll send you a video in a short while

[2017-01-11 11:22] davibe commented on #330
@AndrewJDR but again.. Current developers do not have any SMS contact so we don't know how they appear in the code to detect them and avoid sending messages to them

[2017-01-11 11:25] #532 closed

[2017-01-11 11:41] averissimo commented on #332
can you create a pull request with the changes you have in mind for the readme?

multilanguage has been merged to 1.4.2 prerelease \o/ thanks for all the translations

I'm closing the issue! (although conversation can continue here, or via new issues)

[2017-01-11 11:41] #332 closed

[2017-01-11 13:02] davibe commented on #544
I had to revert the proposed fix, see pr for details

[2017-01-11 13:33] averissimo commented on #547
lol that is one strange element.

It should not have the `src` property and having conflicting initials is beyond me.

I'll probably ask you to test something soon

Thanks for reporting :)

[2017-01-11 13:56] klonamy commented on #111
I have the same trouble.

On the first login it is stuck at loading contacts.
On second start it is stuck at Connecting or says it can't connect and switching with connecting.

**OS:**
Windows 10 (64bit)

**Program-Version:**
yakyak 1.4.0 x64
yakyak 1.4.1 x64
yakyak 1.4.2 x64 *and* ia32

[2017-01-11 14:33] davibe commented on #535
i found where the actual video url is. The problem is that this url requires the user to be logged.

When using google services on the main browser one cam be logged with many accounts at once. When navigating to different google services the urls have an index to know which account you're using. For example `gmail.com/u/0/...` and `gmail.com/u/1/...`. The ids are actually indexes and depend on th

[2017-01-11 14:42] AndrewJDR commented on #330
@davibe I sent @averissimo screenshots of what the data structures look like inside of yakyak for SMS contacts about a month back or so. @averissimo you are welcome to share those images with other yak yak developers if it is helpful.

[2017-01-11 14:51] davibe commented on #535
The video url we get from google requires authentication but it redirects to an un-aunthenticated one. We could modify hangupsjs to add a method to perform the first authenticated http request for us and retrieve the final url it redirects to. Then the final url could be open in the external browser.

I had a look at hangupsjs apparently this needs to be implemented in the `ChatReq` and exposed at

[2017-01-11 16:42] averissimo commented on #111
@klonamy can you please open a new issue with that information?

[2017-01-11 17:39] balihoo-mthurston opened #551 "Error on launch - Ubuntu 14.04"
When launching the prebuilt 1.4.1 binary in ubuntu 14.04, I get a message "Possible Fatal Error on main process" notification in the main window.

If I launch from the command line, the following is displayed.
`hconnect
reconnecting 0
resolving proxy http://plus.google.com
resolving proxy https://plus.google.com
resolved proxy DIRECT
resolved proxy DIRECT
connected 0
Error on YakYak window:
 { col

[2017-01-11 20:40] refack commented on #543
I assume It a mix of unicode (®) ( 😍😍😍😘😘😘💖💖💖💕💕💕)  and Hebrew (?את הזמנת לי בורקס בבלו אפרון).
I'll try to trace/debug

[2017-01-11 22:10] refack commented on #543
Can I get a hint, as to what's the entry point to the client process?

[2017-01-11 23:52] NvrBst commented on #167
Also seeing this. The YakYak client is setting myself as "Invisible", so no one can see I am online. I'm using the latest YakYak Client (1.4.1). It seems to me that the client should show as "Available" or "Online" by default...

Everyone using YakYak is fine with never showing as online to anyone? This seems like a pretty big bug to me... I'm not too sure about anyone else, but assuming people ar

[2017-01-12 00:57] PSiAU commented on #547
Confirming that v1.4.2 has fixed the issue.
Many thanks guys and keep up the great work! :)

[2017-01-12 02:33] averissimo commented on #547
@davibe how did you find that it would solve the problem? I'm in awe

[2017-01-12 09:17] #535 closed

[2017-01-12 09:22] davibe commented on #535
I managed to workaround this on the client (renderer) side but i still think it the url-resolving logic should be implemented in hangupsjs at some point.

[2017-01-12 09:52] KusioST opened #552 "New lines in message disappears"
![yakyak](https://cloud.githubusercontent.com/assets/25057693/21884798/17020f0c-d8b5-11e6-90cb-26a04c25895a.jpg)
On left message in YakYak on right oryginal from gmail.

[2017-01-12 17:32] davibe commented on #541
We are doing this for fun in our spare time and it's working because of the fun part. Google can shut us out any time, which is fun too in it's own way. So far the community has been able to keep up with changes and there is no obvious reason to think otherwise.

Worrying is a stop-energy which can make things less fun which in this case means breaking them.. so the answer to the questiuon is: NO

[2017-01-12 17:35] davibe commented on #552
which version are you using ? i am using 1.4.2 pre-release and this is the same screenshot

<img width="268" alt="screenshot 2017-01-12 18 34 16" src="https://cloud.githubusercontent.com/assets/123929/21900895/e19885c6-d8f5-11e6-8504-15b37d64fc72.png">

[2017-01-12 17:46] #551 closed

[2017-01-12 17:48] davibe commented on #551
Wait 10 minutes after this comment so that the binaries get refreshed then try to download 1.4.2 pre-release and let us know if this still happens. Thank you!

[2017-01-12 17:52] davibe commented on #550
How do i fix the brew formula ?

[2017-01-12 18:24] clapeyre commented on #550
Oh well that's easy: replace the current sha256 checksum, which is:
`84ea0423d7262df947a3ae9162c75ba7f0d5d5451fd05e6e13bd8c921c76bacb`

by the accurate one:
`8a65fbb2b15d9805341571a2d7aed60f68e2839932b77706fb6363b9bfc1c5e9`

[2017-01-12 18:31] clapeyre commented on #550
Oh wait, that's probably not what you meant...
Apparently this should have solved the problem, but was done on the wrong tarball? caskroom/homebrew-cask#28726

[2017-01-12 19:36] davibe commented on #550
@averissimo this is why we should not swapping binaries once released. Next time we need to hotfix we create a new release number

[2017-01-12 21:07] davibe commented on #167
I see myself as logged in (green) when using desktop hangout website from another user.

<img width="192" alt="screenshot 2017-01-12 18 15 06" src="https://cloud.githubusercontent.com/assets/123929/21908292/6de5687e-d913-11e6-98b3-1b81d8066a90.png">

[2017-01-12 21:16] balihoo-mthurston commented on #551
This no longer occurs in 1.4.2 pre-release.
Thanks!

[2017-01-12 21:20] davibe commented on #547
I don't know. Some contents require authentication (cookies) and this may include user images. I fixed this for attachment (videos) and this got fixed too

[2017-01-12 21:25] davibe commented on #543
I have 2 users. If you can provide an exact sequnce to send from yakyak->hangouts and from thangouts->yakyak i can try.

I tried to copy-paste messages from your gist dump but was not lucky.

[2017-01-13 00:18] averissimo commented on #552
Can't replicate it either

![outa2byey9vyo](https://cloud.githubusercontent.com/assets/211358/21913687/d35c1736-d925-11e6-9ac7-7c5bd9d216bc.gif)

[2017-01-13 00:19] averissimo commented on #547
still the generation of initials and html element is not correct, I'm reopening it because of that

[2017-01-13 00:23] averissimo commented on #550
Ok!! good to know

[2017-01-13 06:59] davibe commented on #552
I also tried copy-paste of a text. I close this for now.

[2017-01-13 07:35] davibe commented on #550
I sent a PR. I close this in the meantime

[2017-01-13 07:35] #550 closed

[2017-01-13 07:36] davibe commented on #547
I think i wanted to close another one that was about images not bein fetched but I wrote the wrong number 🤣

[2017-01-13 09:21] #544 closed

[2017-01-14 04:43] NvrBst commented on #167
You may be logged into another Hangouts client (like on your phone or opened a gmail window).

Or you recently used some other client within the last 10 mins'ish, closed it, then the "Online Status" remains for a while.

Else if you start talking with someone on yakyak, it will change your status to online (i believe). But when you stop talking with someone, or keep yakyak minimised for a while (a

[2017-01-14 10:44] averissimo commented on #167
Yeah, that's because of "presence" timeout of 20 seconds I think everytime a message is sent.

I can confirm the issue in my setup.

Screenshot from gmail's web interface
![image](https://cloud.githubusercontent.com/assets/211358/21954358/3fa54db0-da46-11e6-80f5-cb50542f5e5f.png)

[2017-01-14 12:03] haluzpav opened #554 "Save zoom level"
There is an option to Zoom in and out the whole UI (not just font). It would be good, if the selected level was saved and then loaded on next program start.

It could also be automatically set based on Windows' global scale settings or just on display's DPI.

[2017-01-14 17:35] davibe commented on #167
Actually I logged off all clients, waited a few hours, and then tried. I will try again

[2017-01-14 17:37] davibe commented on #552
Find a way to help us reproduce the issue :)

[2017-01-15 02:33] NvrBst commented on #167
Yea, basically you didn't wait long enough (or you have mouse activity). So for me, if you make sure you are logged off all other clients. Only have yakyak logged in. And then keep it minimised or (minimised to tray - either or) for a while. Then open an "incognito window", and go to hangouts web on your other account, you will see your main account is "Offline".

Now you can open the YakYak windo

[2017-01-15 13:48] KusioST commented on #552
You say something like "it works at my pc" and close my issue. I don't think that is a good way for improving software quality.
I use Windows 8.1.  What else can by usefull for You?

[2017-01-15 17:30] that1communist opened #556 "A way to disable making alt toggle the menu."
I use a window manager on linux called i3, and as a result i'm having to push alt a lot, and every time i push it when the window is selected, it toggles the menu, which is slightly annoying, having a way to disable this functionality, rebind the key to reveal the menu, or just keep the menu permanently there, would be great.

Thank you for all the hard work!

[2017-01-15 19:39] klonamy opened #557 "Loading Contacts and Reconnecting"
ref: https://github.com/yakyak/yakyak/issues/111
I have the same trouble.

On the first login it is stuck at loading contacts.
On second start it is stuck at Connecting or says it can't connect and switching with connecting.

**OS:**
Windows 10 (64bit)

**Program-Version:**
yakyak 1.4.0 x64
yakyak 1.4.1 x64
yakyak 1.4.2 x64 _and_ ia32

So ist there a way to get a debug log?

[2017-01-16 06:55] davibe commented on #557
You can open the window inspector with alt+ctrl+i if the main window has been loaded

You can also launch yakyak from cmd (windows 10 command line) by dragging `yakyak.exe` in the `cmd` window and then pressing enter. This will give you some debug output in the cmd window.

Have you tried to remove the appdata yakyak folder ?
i.e.

<img width="1346" alt="screenshot 2017-01-16 07 54 42" src="https:

[2017-01-16 07:19] davibe commented on #543
Can you please check if you have some kind of exception on "replaceChild" when this happens ? Thank you

[2017-01-16 14:34] averissimo commented on #552
Can you provide a link to a zip of your compiled folder for me to try and replicate that in windows 7?

[2017-01-16 14:51] averissimo commented on #552
nevermind, I was able to reproduce the problem

__How to replicate:__ Send a message with newlines via the android Hangouts app

@davibe I've sent you one

[2017-01-16 15:21] averissimo commented on #552
@KusioST can you test the fix in #558 ?

[code]

[2017-01-16 16:08] KusioST commented on #552
Thanks for Your attention. I will test it when I will be next to the computer..

What should I do? Just pull this new data and overwritte files in my YakYak folder?

[2017-01-16 16:34] kjunggithub opened #559 "Match scollbar colour for Dark / Material theme"
After the 1.4.2. update, I noticed how the scrollbar is now visible for the left conversations panel. The default white scrollbar colour is rather off putting for the dark / material themes.

Most likely to do with this style?
[code]

Not sure if this was a design change or something left behind but I would love for it to be not visible and if you keep it visible, at least have the scrollbar match

[2017-01-16 16:57] averissimo commented on #552
this 2 commands will create a new branch called `averissimo-fix-line-breaks` from master and pull the pull request.

when you want to go back to master, just do `git checkout master`

[2017-01-16 16:59] averissimo commented on #559
can you show us a screenshot?

I don't really get the white scrollbar :)

![image](https://cloud.githubusercontent.com/assets/211358/21992101/09558496-dc0d-11e6-8c64-f81385a7b969.png)

[2017-01-16 17:02] averissimo commented on #554
When zooming in it also zooms the images, what else are would you like to be "zoomed"?

![image](https://cloud.githubusercontent.com/assets/211358/21992183/675bf1ba-dc0d-11e6-8f7c-1622074de2f7.png)

![image](https://cloud.githubusercontent.com/assets/211358/21992187/69f1a852-dc0d-11e6-9c16-c366557ab714.png)

[2017-01-16 17:03] averissimo commented on #554
however, it does not save the zoom level for the next startup. I didn't have time to support since making some changes in the menu to use default actions.

[2017-01-16 17:05] kjunggithub commented on #559
I forgot to mention, I am using the OS X build.

Here is what it looks like on mine.

![screen shot 2017-01-16 at 12 03 24 pm](https://cloud.githubusercontent.com/assets/2159304/21992353/1b4967d6-dbe4-11e6-8928-f6d9922a8631.png)

[2017-01-16 17:40] averissimo commented on #559
@davibe why the `.applayout:not(.osx)` in these two rules?

@kjunggithub how did it look before, no scrollbar in either left or right? or just the right scrollbar?

[code]

[2017-01-16 17:59] kjunggithub commented on #559
Before this version, I did not have a scrollbar on the left side but had one on the right.

[2017-01-16 19:31] stdavis commented on #402
FWIW I'm having the blank screen issue when trying to authenticate via two-factor. But I'm not sure that it's the out-of-the-box two-factor that google provides. It might be something that my org has implemented. Here's the workflow:
![image](https://cloud.githubusercontent.com/assets/1326248/21996398/48584e4c-dbe7-11e6-8775-23ff35c401d9.png)
![image](https://cloud.githubusercontent.com/assets/132

[2017-01-16 22:05] averissimo commented on #559
Can you try changing the 2 css rules I reference above by removing the `:not(.osx)` and see how it looks?

I believe this can be done in the inspector directly

[2017-01-17 02:00] kjunggithub commented on #559
Just a note, I am now trying 1.4.2 on a different OS X machine, and I don't have the scrollbar issue. I will try your fix tomorrow on a machine I was having issues with.

[2017-01-17 07:12] davibe commented on #559
There was no change about this in 1.4.2.

@averissimo I don't remember exactly but I remember we had to disable something because some rule was intefering with and changing the default osx behaviours. Osx used to hide/reveal/enlarge scrollbars based on keyboard/touchpad movements and focus also based on the presence of an external mouse. It is possible el capitan did something strange. I remember

[2017-01-17 08:22] KusioST commented on #552
OK. I got it, but I use windows version from this link:
https://github.com/yakyak/yakyak/releases/tag/v1.4.1

I don't know coffeescript. I just install SourceTree, download repo and try to execute commands from instruction:
$ npm install
$ npm run deploy
but nothing happens. Probably I need to install something before.

[2017-01-17 12:41] averissimo commented on #552
Ohh as you said you use the latest from github, I thought you were building from source.

Please try v1.4.2 (pre-release). It has the fix included

[2017-01-17 12:41] #552 closed

[2017-01-17 16:12] KusioST commented on #552
My bad. I download from here, but I donwloaded zip package for Windows.

Today I tested version with hotfix. Now new lines work correctly. I checked old conversation and do some new.

Thank You for resolve my problem.

[2017-01-17 19:35] averissimo commented on #552
You're welcome and this solves the problem for the whole community.

Again, thanks for reporting!

[2017-01-17 19:58] kjunggithub commented on #559
So I went and applied the CSS changes in the inspector for the El Capitan version and the scrollbars are still there.

[2017-01-18 01:09] averissimo commented on #559
I traced back to this commit

https://github.com/yakyak/yakyak/commit/d388f3096c5157444601896a16620d7ea50315af

That is tagged in 1.4.1 and 1.4.2

The reasoning behind this was to keep consistency in the ui and avoid a slight glitch.

- When the conversation is opened, few messages are retrieved
- a few seconds later the last 20 messages are fetched and creates a scroll back.
  - at this time the

[2017-01-18 22:10] austin-guevara commented on #324
Big want! If this is implemented, there should be 3 possible interactions to a notification:

**Primary:** Reply (opens reply window, doesn't require switching to app)
**Secondary:** Ignore (closes notification)
**Clicking on the notification, not the button:** activates the window, opens that conversation.

[2017-01-19 15:56] stdavis commented on #402
Here's what I have in that folder:
![image](https://cloud.githubusercontent.com/assets/1326248/22113910/0c8c4ee6-de25-11e6-8c56-0b231c951ee1.png)

I'd be interesting in helping get this working. I don't have a lot of time but if you point me in the right direction I can take a look.

[2017-01-20 17:58] averissimo commented on #402
It seems to be missing a `refreshtoken.txt`, which just confirms that google authentication stops at one point _(thus: the blank window)_

Anyway, I can't reproduce this unless you can create a test account in that provider _(or equivalent)_

[2017-01-21 10:16] uman242 opened #560 "can't logout"
After clicking "logout" Yakyak doesn't logout nor close. Can't send messages though.
But after "quit" next launch is logged in.
yakyak-1.4.2-win32-x64, win7 x64

[2017-01-21 23:20] ockle commented on #557
I have the same problem on macOS. Using 1.4.2. Can't get past "Loading contacts". Google do email me about a new sign in. The only thing that ever shows in the network monitor are two fonts being loaded. Only thing in console is the version message.

[2017-01-22 06:21] smkent opened #562 "The emoji for ":-)" / ":)" is mapped incorrectly and displays incorrectly"
In Google Hangouts, typing `:-)` or `:)` translates to this: ![smiley-correct](https://cloud.githubusercontent.com/assets/2831985/22180497/a1090836-e026-11e6-8a78-42baf4539556.png)

Here's that emoji in the Hangouts emoji list (in Gmail):

![gmail-hangouts](https://cloud.githubusercontent.com/assets/2831985/22180538/6c957962-e027-11e6-96ca-74350fdbfcd3.png)

In yakyak, typing `:-)` or `:)` in the

[2017-01-22 06:34] smkent opened #563 "Minimizing and then closing yakyak while the tray icon is active prevents yakyak from restoring"
Steps to reproduce:

* Enable the yakyak tray icon
* Right-click the yakyak tray icon and make sure "Close to tray" is enabled
* Minimize yakyak
* Close the yakyak window from the taskbar (right-click and select Close)
* Click the yakyak tray icon

Expected behavior: yakyak restores normally

Actual behavior: yakyak does not restore, and the yakyak tray icon is unresponsive. Right-clicking the tra

[2017-01-22 18:27] thecraw opened #564 "Any release for Lion"
By chance is there a version for OSX 10.7.5.

I installed Homebrew and compiled that but it creates a version that will not run on on Lion. I use this on another computer running El Capitain and really like it but my Mac Pro works fine and don't really want to get rid of it.

Also had gone and got xcode for this but not sure if you are using frameworks that don't exist back in 10.7 or what the iss

[2017-01-23 09:36] klonamy commented on #557
Okay I think i have the issue. I have 2fa active. (https://github.com/yakyak/yakyak/issues/402)
And btw. the deletion of the appdata folder of YakYak i had done many times.
I will close this for now.

[2017-01-23 09:36] #557 closed

[2017-01-23 16:15] refack commented on #543
Not exception in console. my current assumption is it's a parsing issue in
`hangupsjs`

On Mon, Jan 16, 2017 at 2:19 AM, Davide Bertola <notifications@github.com>
wrote:

[2017-01-23 23:02] pierrebeaucamp commented on #494
I'm actually really interested in having video and audio calls integrated in yakyak. I'm using Firefox as my primary browser and the plugin required to use Hangouts on Firefox is pretty much abandoned at this point (As of right now, you can only use Hangouts on 32-bit versions of Firefox before v52).  I don't want to install Chrome only to do video calls.

[2017-01-25 08:58] browseman commented on #439
IMHO - no, the menu is working normally, and the issue with change of languages is not present. I've been testing it for a few weeks with no troubles + the patch also work for the latest version from git.

[2017-01-25 15:45] averissimo commented on #562
The mapping is done in `emojishortcode.coffee`

[code]

It would be just a matter of changing :) to the "right" one.

The second problem you talk about is related to the font and not yakyak itself

Open http://getemoji.com/ in Chrome and you see the same thing happening with that emoji. I guess that is why the mapping is with ![image](https://cloud.githubusercontent.com/assets/211358/22297482/5205

[2017-01-25 15:48] averissimo commented on #564
Instead of installing via Homebrew, try the latest release from our Releases.

https://github.com/yakyak/yakyak/releases/

I don't see why it should not work, as YakYak is pretty self-contained

[2017-01-26 02:08] thecraw commented on #564
Will try it again. Pretty sure I tried it on 10.7 already and it came up with message and line through the icon saying it could not run on this release but will let you know.

[2017-01-26 06:36] davibe commented on #560
will test, thank you

[2017-01-26 15:14] refack commented on #543
seems like `ec1c6b4` with the `twemoji` fix resolved this, but I keep watching

[2017-01-26 15:14] #543 closed

[2017-01-26 15:18] refack opened #565 "Other users' presence not parsed right"
In ConvList avatars don't get green "online" marker.
Assumed depends on yakyak/hangupsjs#68

[2017-01-26 22:36] thecraw commented on #564
[image: Inline image 1]

this is what it gives you for both the latest and pre release version. Just
tried it

On Wed, Jan 25, 2017 at 8:48 AM, André Veríssimo <notifications@github.com>
wrote:

--
Regards

Tom Wilkinson 403 889-4441

[2017-01-27 08:50] davibe commented on #564
the image link does not work

[2017-01-27 08:50] #564 closed

[2017-01-27 08:53] davibe commented on #563
@averissimo it's  linux thing, it's yours :D

[2017-01-27 10:56] DarkAxi0m commented on #200
not sure if it helps but i'm on Ubuntu  and I had to run

to get

[2017-01-27 10:59] DarkAxi0m commented on #200
not sure if it helps but I’m on Ubuntu  and I had to install  nodejs-legacy to get  `npm install `and `npm run gulp` to finish successfully.

Git Tag, v1.4.1
node v4.2.6
Ubuntu 16.04.1 LTS

[2017-01-27 13:37] averissimo commented on #563
yeah I know :p already installed mate and I'll test it soon :)

[2017-01-27 13:38] averissimo commented on #564
Images through emails don't work. Please upload via the github interface

[2017-01-27 13:42] averissimo commented on #200
been using Node v6.9.1 without any problems

@DarkAxi0m what was the previous version of Node you were using?

[2017-01-27 14:54] averissimo commented on #565
This is a Yakyak related logging, whenever presence.available is set to `false`

@davibe did you forgot a `?` at the end?

https://github.com/yakyak/yakyak/blame/master/src/ui/dispatcher.coffee#L72

[2017-01-27 15:50] averissimo commented on #167
I would like to correct my previous comment, as I didn't have the option below set. If I tick that option true, then my user appears as online in YakYak immediately

![image](https://cloud.githubusercontent.com/assets/211358/22376747/26f17d0a-e4a7-11e6-9c8d-e8568d9387af.png)

I am logging out of a test account right now (gmail + yakyak) and will re-login via yakyak as soon as the 'green dot' disap

[2017-01-27 16:06] thecraw commented on #564
All the image says it is a finder dialog box and it says

You can’t use this version of the application YakYak with this version of Mac OS X

You have Mac OS X 10.7.5. The application requires Mac OS X 10.9  or later.

That is all the image said.

[2017-01-27 16:16] averissimo commented on #564
Sorry @thecraw , the framework that backs up YakYak requires 10.9

Here's the documentation

https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md

This is beyond our control just as support for Windows XP.

[2017-01-27 16:44] thecraw commented on #564
No problem that is why I was trying to do it via brew but no problem can use browser.

thanks

[2017-01-27 17:00] averissimo commented on #167
I did a test and reproduced what you said using Luís Castro account, description below.

@NvrBst I guess this is not a bug, but it was a design option.. Idle users show as not available even though YakYak is open.

Should presence be set every X minutes every time the app is open (or attached to some connection monitoring event)

Or should this be left alone and the available only set once the use

[2017-01-27 17:06] averissimo commented on #167
Maybe the phrasing in "Toggle minimise to tray" is not the best, the behaviour is as you described, immediatly minimizing to tray, or showing if it is minimized.

Can you propose something that better describes this behaviour? :)

[2017-01-27 19:43] averissimo commented on #563
Real bug from electron, submitted it there https://github.com/electron/electron/issues/8525

[2017-01-28 02:27] NvrBst commented on #167
I would take the word minimise out, as it describes actions involving the "minimise button", I would do something more like "**Show/Hide to tray**".
Then the "Close to tray" could be renamed to "**Toggle 'Close to tray'**" which describes more what that option is doing.

As for the idle users showing as offline. I would say it would be best to mimic what other official Hangout Clients do, (Gmail W

[2017-01-28 12:46] repros commented on #562
Hello smkent,

how did you make it to get those nice google emojis to yakyak emoji selector as shown in the picture above? I have only those awful ones coming from zip file and I am really not sure how to switch to these nice ones.

Please advise, otherwise I have to stop using YakYak. I want to have emojis same as when using hangouts in Chrome. I am running Windows 7 x64.

Thanks.

[2017-01-30 07:28] smkent commented on #562
I didn't modify yakyak's emoji selector. I'm using version 1.4.2 on Linux, does yours look different?

[2017-01-30 07:35] smkent commented on #562
@averissimo:

I believe the correct escape sequence for `emojishortcode.coffee` should be `\u263a`, which is what `:relaxed:` is currently set to. If I type `:relaxed:` in the message compose window, yakyak converts it to the regular smiley Unicode character and it shows up as the standard smile emoji in Google Hangouts (![smile-correct](https://cloud.githubusercontent.com/assets/2831985/22180497/

[2017-01-30 07:36] smkent commented on #563
I noticed that Slack on my work computer exhibits this same bug. I looked at Slack's about info and it says it also uses electron, so this being an electron bug seems plausible.

[2017-01-30 08:06] smkent commented on #432
I'm also experiencing this bug, using yakyak version 1.4.2 on Linux (both Linux Mint 17 and 18, binary compatible with Ubuntu 14.04/16.04, respectively).

If I have unread messages when I start yakyak, the tray icon is green and changes to gray when I read all of the unread messages (correct behavior).

If I have no unread messages when I start yakyak, the tray icon is gray (correct behavior).

If

[2017-01-30 13:10] repros commented on #562
@smkent

I am using latest release 1.4.1 (from [here](https://github.com/yakyak/yakyak/releases)) on W7 x64 and unfortunately I am having these very small and ugly ones:

![image](https://cloud.githubusercontent.com/assets/25402299/22423961/9e2e7bbc-e6f4-11e6-940d-b2b437b69a72.png)

I would really much prefer those you are having, but not for the price to switch to Linux :-) Is there a way please?

[2017-01-30 15:06] averissimo commented on #432
@smkent can you open a new bug with this information?

I believe I am also experiencing the same bug but this is a different issue __that will be closed due to lack of feedback__

[2017-01-30 15:06] #432 closed

[2017-01-30 15:08] averissimo commented on #563
I was able to reproduce it with a blank electron app as submitted in the electron's issue.

We'll have to wait for them to fix this :\

[2017-01-30 15:10] averissimo commented on #562
I think that due to a windows specific issue, twemoji is used directly

[2017-01-30 15:16] averissimo commented on #562
Twemoji was removed in a recent commit, can you try re-installing release v1.4.2 and test it out?

_note:_ install noto color emoji first from google https://www.google.com/get/noto/help/install/

[2017-01-30 15:22] averissimo commented on #562
Twemoji was removed in a recent commit, can you try re-installing release v1.4.2 and test it out?

_note:_ install noto color emoji first from google https://www.google.com/get/noto/help/install/

[2017-01-30 15:54] skawaii commented on #536
I'm seeing the same thing as @AndrewJDR. When sending an SMS to a Google Voice contact, the message remains light gray in YakYak. The message shows up in the the official Hangouts app/client. This took me a long time to figure out that the messages weren't actually being sent, because of this.

The `connecting` notification is not appearing in the top-right corner.

[2017-01-30 16:18] smkent opened #566 "Tray icon does not turn green when new messages arrive"
I'm using yakyak version 1.4.2 on Linux (both Linux Mint 17 and 18, binary compatible with Ubuntu 14.04/16.04, respectively).

If I have unread messages when I start yakyak, the tray icon is green and changes to gray when I read all of the unread messages (correct behavior).

If I have no unread messages when I start yakyak, the tray icon is gray (correct behavior).

If I receive a new message aft

[2017-01-30 16:18] smkent commented on #432
Filed as #566.

[2017-01-30 16:21] repros commented on #562
@averissimo thanks for hint. Unfortunately I have problem with installation of noto color emoji. In translation Windows says:

"Unable to install NotoColorEmoji.ttf" The file NotoColorEmoji.ttf most probably is not a valid font.

This happened when trying to right-click and Install on the TTF file. Same while dragging the file into Fonts in Control Panel. Only when I copied the file directly to C:

[2017-01-30 17:21] averissimo commented on #536
@skawaii sending sms is not fully supported, we need a developer that uses that functionality of hangouts to figure it out

[2017-01-30 17:27] skawaii commented on #536
@averissimo Understood. I just wanted to lend my voice to the issue.

[2017-01-30 17:39] averissimo commented on #330
Are sms messages in hangouts only supported for USA/Canada or can that functionality be used in other countries?

[2017-01-30 17:39] averissimo commented on #536
thumbs up!! I've been dodging this for a while, but I do have a question for sms users.

if you can please reply to my new comment in #330 (and move that issue discussion there)

[2017-01-30 17:40] averissimo commented on #562
@repros tried it in my windows 7 VM and it fails quite miserable :\

I was able to replicate your error message, and tried alternate solutions, but it seems like colored emojis are not supported (without hacks and as we use them in YakYak) until Windows 8.1

We might need to bring back twemoji as a fix __if we are supporting windows 7__

If we do that, I'd like first to hear from a windows 8.1 and

[2017-01-30 17:43] averissimo commented on #562
I think it would be better to create an exception for windows 7 and 8, instead of all windows versions (as it was until now)

[2017-01-30 17:59] averissimo commented on #566
Screenshot showing that tray icon is not being updated

![selection_00498](https://cloud.githubusercontent.com/assets/211358/22434863/bad25fba-e715-11e6-9b47-ed76b6b6d761.png)

[2017-01-30 19:14] bwiernik commented on #330
Only for US/Canada

On Jan 30, 2017, 18:39 +0100, André Veríssimo <notifications@github.com>, wrote:

[2017-01-30 19:25] averissimo commented on #566
should be solved in #567

[2017-01-30 19:28] averissimo opened #568 "Emojis are appearing black & white in windows 7"
YakYak: v1.4.2
OS: Windows 7

This continues (slight off-topic) discussion in #562

![image](https://cloud.githubusercontent.com/assets/25402299/22430947/29f39d42-e710-11e6-9d4d-c22583f2b51e.png)

@repros tried it in my windows 7 VM and it fails quite miserable :\

I was able to replicate your error message, and tried alternate solutions, but it seems like colored emojis are not supported (without

[2017-01-30 19:32] averissimo commented on #562
@repros let's move this discussion to #568

@smkent are you sure the new version has that updated emoji? I've also tried to update it, but it fails as you say

[2017-01-30 19:50] skawaii commented on #330
@averissimo Since the SMS messages are really going through Google Voice, I think it's only supported in the US.

Source: https://support.google.com/voice/answer/115061?hl=en&ref_topic=1707989

[2017-01-30 19:58] averissimo commented on #562
@smkent https://github.com/googlei18n/noto-emoji/issues/90

Compiled from source has the same output, although the image file exists

[2017-01-30 20:56] repros commented on #562
@averissimo thanks for your reply. it looks like I should wait for some solution/or next version of YakYak, right? or no way for me under W7? not sure what you mean under exception :-)

[2017-01-31 01:16] averissimo commented on #330
Do you guys think that YakYak should give some warning when opening SMS conversations stating that they are not fully supported?

[2017-01-31 01:24] AndrewJDR commented on #330
I'm in the US, and the OP's issue still happens to me just as described.

[2017-01-31 01:32] averissimo commented on #568
@repros we should fix this before the next release to maintain the status quo in Win7

Hopefully improving in Win 8.1 and 10 (supporting the Noto Color Emoji, out of the box)

Info to remind me later:

This could be achieved by adding twemoji support for win32 releases until 6.3 (where color emojis are supported)

https://msdn.microsoft.com/en-us/library/windows/desktop/ms724832(v=vs.85).aspx

[2017-01-31 11:57] averissimo commented on #562
@smkent the guys in noto-emoji were super helpful!!

check out the latest PR with the solution

[2017-01-31 15:21] averissimo commented on #167
#571 solves the presence issue

I don't like 'Show/Hide to tray', 'Show/Hide Window', should be better

But I'm not the best person to comment on this, I have a custom version that always brings window to focus

(the choice must be a good a definite one, as this will require a change in translations)

can you open a new issue if you feel strongly about this? (as this is somewhat offtopic for this

[2017-01-31 15:41] skawaii commented on #330
@averissimo Absolutely, yes.

[2017-01-31 17:45] averissimo commented on #562
closing it, as it will be merged soon

@smkent please reopen if you find any bug, and thanks for reporting!! :)

[2017-01-31 17:45] #562 closed

[2017-01-31 17:46] averissimo commented on #566
closing, as PR will be merged soon :)

again, thanks for reporting!! I was experiencing the same, but wasn't sure if it was my crazy build as it was not being reported

[2017-01-31 17:46] #566 closed

[2017-01-31 17:49] averissimo commented on #554
sorry, I misread your initial comment :)

ignore my screenshots

[2017-01-31 17:50] averissimo commented on #528
@NOTSOGEEKY ?

[2017-01-31 17:51] averissimo commented on #568
@msphair can you try current pre-release version in windows 10 and see if the Noto Color Emoji is being used? (i.e. hangouts style emojis)

[2017-01-31 18:38] Phantec commented on #290
👍

[2017-02-01 01:26] NvrBst commented on #167
Awesome! Thanks for fixing that. I see you just updated with a pre-release of 1.4.2 but this commit just missed getting in that pre-release! hehe. I'll have to wait but will test ASAP!. Thanks again.

Yea updating the translation may not be worth it. A lot of work. And once people figure out what the option does, it doesn't matter anymore. It's not a bit deal for now. If you do change it, I would

[2017-02-01 15:29] averissimo commented on #167
@NvrBst you're very welcome, waiting on another developer review to merge and update the pre-release, but as we are only 2 _(at the moment)_ it might take a few days :)

Just realised I should have checked those generic strings before asking for translations lol

I guess if anyone feels strong enough and creates a pull request they will change and eventually trickle down to all translations

And b

[2017-02-01 15:29] #167 closed

[2017-02-01 16:28] dragos commented on #536
This is definitely a problem. I have to restart YakYak every hour most days, or else my messages don't get delivered. Play hangout users, no SMS.

[2017-02-01 16:47] repros commented on #562
downloaded 1.4.2 today again, still black/white emoji. looks like i should wait :-)

[2017-02-01 17:32] averissimo commented on #562
@repros track issue #568 for more information

Also been discussing in the comments of the commit that removed twemoji: https://github.com/yakyak/yakyak/commit/ec1c6b41583e712d3c2316f9812f7c832feeca34

[2017-02-01 17:34] averissimo commented on #536
@dragos which version are you using? can you try v1.4.2 (pre-release)?

another thing, where is the first exception thrown? _(file and number, should be in the right side of the console)_

[2017-02-01 17:35] dragos commented on #536
I'm on 1.4.1, I'll give it a try tomorrow. Actually, the exception is always there after startup, even when the application works well.

[2017-02-01 18:53] averissimo commented on #536
try this 1.4.2 with extra logging for sending messages: https://github.com/averissimo/yakyak/releases/tag/v1.4.2-536

I would ask you to start yakyak from a command line.

Once YakYak stops sending messages I'd ask you to:

- Send one :)
- Open the inspector and see if these two lines are there

![image](https://cloud.githubusercontent.com/assets/211358/22520879/e965be50-e8ad-11e6-9df2-e6a44863a10